#### Part 1 – Key maintenance

In [1]:
### Extracting data
import pandas as pd
Ship = pd.read_csv('data/Ships.csv')
Trip = pd.read_csv('data/CLIWOC15.csv')

D:\00Tools\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,6,7,8,11,13,18,19,23,24,25,26,28,29,30,34,35,38,43,44,46,73,77,81,82,84,85,87,88,94,96,97,98,99,111,114,116,119,120,122,124,125,127,129,131,133,135,137,140) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
print("Ship: "+str(Ship.shape[0]) + " rows and " + str(Ship.shape[1]) + " columns.")
print("Trip: "+str(Trip.shape[0]) + " rows and " + str(Trip.shape[1]) + " columns.")

Ship: 1185 rows and 3 columns.
Trip: 280280 rows and 141 columns.

In [3]:
# drop_duplicates
DimShip = Ship.drop_duplicates()

In [4]:
DimShip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1174 entries, 0 to 1173
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ShipName     1174 non-null   object
 1   ShipType     770 non-null    object
 2   Nationality  1174 non-null   object
dtypes: object(3)
memory usage: 36.7+ KB

In [5]:
print("DimShip: "+str(DimShip.shape[0]) + " rows and " + str(DimShip.shape[1]) + " columns.")

DimShip: 1174 rows and 3 columns.

In [6]:
## The new records that need to be added to the titanicDimension can be found
## by merging the two and picking out those with only a Left Join 
joined = Trip[["ShipName", "ShipType", "Nationality"]].merge(DimShip, on=["ShipName", "ShipType", "Nationality"], how='left', indicator=True)
joined

          ShipName   ShipType Nationality _merge
0          LA ORBE    FRAGATA     Spanish   both
1       SAN CARLOS  PAQUEBOTE     Spanish   both
2       SAN CARLOS  PAQUEBOTE     Spanish   both
3       SAN CARLOS  PAQUEBOTE     Spanish   both
4       SAN CARLOS  PAQUEBOTE     Spanish   both
...            ...        ...         ...    ...
280275    Euryalus   5th Rate     British   both
280276    Euryalus   5th Rate     British   both
280277    Euryalus   5th Rate     British   both
280278    Euryalus   5th Rate     British   both
280279    Euryalus   5th Rate     British   both

[280280 rows x 4 columns]

In [7]:
filterd = joined[joined["_merge"] == "left_only"]
filterd = filterd.drop_duplicates()

In [8]:
filterd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 5829 to 274078
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ShipName     11 non-null     object
 1   ShipType     9 non-null      object
 2   Nationality  11 non-null     object
 3   _merge       11 non-null     category
dtypes: category(1), object(3)
memory usage: 467.0+ bytes

In [9]:
DimShip = DimShip.append(filterd[["ShipName", "ShipType", "Nationality"]],ignore_index=True)
DimShip

            ShipName   ShipType Nationality
0            LA ORBE    FRAGATA     Spanish
1         SAN CARLOS  PAQUEBOTE     Spanish
2     SANTA PERPETUA    FRAGATA     Spanish
3          LA LIEBRE    FRAGATA     Spanish
4        LA ATREVIDA    FRAGATA     Spanish
...              ...        ...         ...
1180       Newcastle        NaN     British
1181         Meermin       Brik       Dutch
1182       LA SUERTE  BERGANTÍN     Spanish
1183       Diligence      Sloop     British
1184  DESCONOCIDO-28      NAVÍO     Spanish

[1185 rows x 3 columns]

In [10]:
## Generating a surrogate key
DimShip['Id'] = DimShip.reset_index().index + 1
DimShip[:20]

                ShipName        ShipType Nationality  Id
0                LA ORBE         FRAGATA     Spanish   1
1             SAN CARLOS       PAQUEBOTE     Spanish   2
2         SANTA PERPETUA         FRAGATA     Spanish   3
3              LA LIEBRE         FRAGATA     Spanish   4
4            LA ATREVIDA         FRAGATA     Spanish   5
5            LA ATREVIDA         CORVETA     Spanish   6
6         DESCONOCIDO-04           NAVIO     Spanish   7
7          SANTA EULALIA       PAQUEBOTE     Spanish   8
8                SAN PIO         CORVETA     Spanish   9
9   SANTISIMO SACRAMENTO         FRAGATA     Spanish  10
10             EL PINZON       PAQUEBOTE     Spanish  11
11             EL CUERVO       PAQUEBOTE     Spanish  12
12    Na Sa DE LA PIEDAD       PAQUEBOTE     Spanish  13
13            LA INFANTA       PAQUEBOTE     Spanish  14
14              LA DIANA       PAQUEBOTE     Spanish  15
15          EL LANZAROTE       PAQUEBOTE     Spanish  16
16             EL QUIROS       PAQUEBOTE     Spanish  17
17          La Cantabria  Fragata correo     Spanish  18
18              La Diana  Fragata correo     Spanish  19
19         EL MAGALLANES       PAQUEBOTE     Spanish  20

In [11]:
TripExt = Trip.merge(DimShip, on=["ShipName", "ShipType", "Nationality"], how='left')
TripExt

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,...,ShipAndRig,ShipAndRigMemo,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem,Id
0,108,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 15",...,0,NaN,0,NaN,0,NaN,0,0,"LA FRAGATA BRETAÑA, DESPUES DE HABER CORRIDO U...",1
1,109,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,2
2,110,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,2
3,111,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,2
4,112,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280275,280276,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,0,NaN,0,NaN,0,NaN,0,0,NaN,1174
280276,280277,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,0,NaN,0,NaN,0,NaN,0,0,NaN,1174
280277,280278,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,0,NaN,0,NaN,0,NaN,0,0,NaN,1174
280278,280279,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,0,NaN,0,NaN,0,NaN,0,0,NaN,1174
280279,280280,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,0,NaN,0,NaN,0,NaN,0,0,NaN,1174

#### Part 2 – Limiting columns

In [12]:
FactTrip = TripExt[["RecID", "Id", "Year", "Month", "Day","LifeOnBoard","ShipAndRig","Illustrations"]]

In [13]:
FactTrip

         RecID    Id  Year  Month  Day  LifeOnBoard  ShipAndRig  Illustrations
0          108     1  1800      5    2            0           0              0
1          109     2  1790      4   11            0           0              0
2          110     2  1790      4   12            0           0              0
3          111     2  1790      4   13            0           0              0
4          112     2  1790      4   14            0           0              0
...        ...   ...   ...    ...  ...          ...         ...            ...
280275  280276  1174  1805      2    4            0           0              0
280276  280277  1174  1805      2    5            0           0              0
280277  280278  1174  1805      2    6            0           0              0
280278  280279  1174  1805      2    7            0           0              0
280279  280280  1174  1805      2    8            0           0              0

[280280 rows x 8 columns]

In [14]:
# 11.	Rename the Id column to DimShipId
FactTrip =FactTrip.rename(columns={'Id': 'DimShipId'})

In [15]:
FactTrip

,RecID,DimShipId,Year,Month,Day,LifeOnBoard,ShipAndRig,Illustrations
0,108,1,1800,5,2,0,0,0
1,109,2,1790,4,11,0,0,0
2,110,2,1790,4,12,0,0,0
3,111,2,1790,4,13,0,0,0
4,112,2,1790,4,14,0,0,0
...,...,...,...,...,...,...,...,...
280275,280276,1174,1805,2,4,0,0,0
280276,280277,1174,1805,2,5,0,0,0
280277,280278,1174,1805,2,6,0,0,0
280278,280279,1174,1805,2,7,0,0,0
280279,280280,1174,1805,2,8,0,0,0

In [16]:
# 12.	Add a surrogate key to the FactTrip dataframe like we did in step 7 for the DimShip dataframe
FactTrip['Id'] = FactTrip.reset_index().index + 1
FactTrip[:20]

,RecID,DimShipId,Year,Month,Day,LifeOnBoard,ShipAndRig,Illustrations,Id
0,108,1,1800,5,2,0,0,0,1
1,109,2,1790,4,11,0,0,0,2
2,110,2,1790,4,12,0,0,0,3
3,111,2,1790,4,13,0,0,0,4
4,112,2,1790,4,14,0,0,0,5
5,113,2,1790,4,15,0,0,0,6
6,114,1,1800,3,31,0,0,0,7
7,115,1,1800,4,1,0,0,0,8
8,116,1,1800,4,2,0,0,0,9
9,117,1,1800,4,3,0,0,0,10
10,118,1,1800,4,4,0,0,0,11
11,119,1,1800,4,5,0,0,0,12
12,120,3,1774,3,13,0,0,0,13
13,121,3,1774,3,14,0,0,0,14
14,122,3,1774,3,15,0,0,0,15
15,123,3,1774,3,16,0,0,0,16
16,124,3,1774,3,17,0,0,0,17
17,125,3,1774,3,18,0,0,0,18
18,126,3,1774,3,19,0,0,0,19
19,127,3,1774,3,20,0,0,0,20

#### Part 3 – Dates

In [17]:
### Transformation - Dates
TripMeasures = FactTrip
from datetime import datetime
for i, rec in TripMeasures.iterrows():
    dtstr = str(rec.Year) + '-' + str(rec.Month) + '-' + str(rec.Day)
    TripMeasures.at[i, "DateString"] = dtstr
    try:
        TripMeasures.at[i,"Date"] = datetime.strptime(dtstr, '%Y-%m-%d')
    except:
        pass    
TripMeasures.head(20)

,RecID,DimShipId,Year,Month,Day,LifeOnBoard,ShipAndRig,Illustrations,Id,DateString,Date
0,108,1,1800,5,2,0,0,0,1,1800-5-2,1800-05-02
1,109,2,1790,4,11,0,0,0,2,1790-4-11,1790-04-11
2,110,2,1790,4,12,0,0,0,3,1790-4-12,1790-04-12
3,111,2,1790,4,13,0,0,0,4,1790-4-13,1790-04-13
4,112,2,1790,4,14,0,0,0,5,1790-4-14,1790-04-14
5,113,2,1790,4,15,0,0,0,6,1790-4-15,1790-04-15
6,114,1,1800,3,31,0,0,0,7,1800-3-31,1800-03-31
7,115,1,1800,4,1,0,0,0,8,1800-4-1,1800-04-01
8,116,1,1800,4,2,0,0,0,9,1800-4-2,1800-04-02
9,117,1,1800,4,3,0,0,0,10,1800-4-3,1800-04-03
10,118,1,1800,4,4,0,0,0,11,1800-4-4,1800-04-04
11,119,1,1800,4,5,0,0,0,12,1800-4-5,1800-04-05
12,120,3,1774,3,13,0,0,0,13,1774-3-13,1774-03-13
13,121,3,1774,3,14,0,0,0,14,1774-3-14,1774-03-14
14,122,3,1774,3,15,0,0,0,15,1774-3-15,1774-03-15
15,123,3,1774,3,16,0,0,0,16,1774-3-16,1774-03-16
16,124,3,1774,3,17,0,0,0,17,1774-3-17,1774-03-17
17,125,3,1774,3,18,0,0,0,18,1774-3-18,1774-03-18
18,126,3,1774,3,19,0,0,0,19,1774-3-19,1774-03-19
19,127,3,1774,3,20,0,0,0,20,1774-3-20,1774-03-20

#### Part 4 – Load the database

In [20]:
#### Loading
import pyodbc

# conn = pyodbc.connect('Driver={SQL Server};'
#                      'Server=SCHOOLLAPTOP;'
#                      'Database=CS689;'
#                      'Trusted_Connection=yes;')
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=DESKTOP-78FTN47;DATABASE=CS689;Trusted_Connection=yes;')
cursor = conn.cursor();

In [29]:
#  create a table called Dim_Ship
cursor.execute("CREATE TABLE CS689.dbo.Dim_Ship(Id int,ShipName varchar(30), ShipType varchar(30), Nationality  varchar(30))")

In [30]:
conn.commit();

In [33]:
for i,row in DimShip.iterrows():
    sql = "INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (" + str(row.Id) + ",'" + str(row.ShipName).replace("'","''") + "', '" + str(row.ShipType).replace("'","''") + "','" + str(row.Nationality).replace("'","''") + "');"
    cursor.execute(sql)
    print(sql)

INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1,'LA ORBE', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (2,'SAN CARLOS', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (3,'SANTA PERPETUA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (4,'LA LIEBRE', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (5,'LA ATREVIDA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (6,'LA ATREVIDA', 'CORVETA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (7,'DESCONOCIDO-04', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (8,'SANTA EULALIA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (9,'SAN PIO', 'CORVETA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (10,'SANTISIMO SACRAMENTO', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (11,'EL PINZON', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (12,'EL CUERVO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (13,'Na Sa DE LA PIEDAD', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (14,'LA INFANTA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (15,'LA DIANA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (16,'EL LANZAROTE', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (17,'EL QUIROS', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (18,'La Cantabria', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (19,'La Diana', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (20,'EL MAGALLANES', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (21,'EL KAULIKAN', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (22,'EL DESPACHO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (23,'El Quiros', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (24,'San Pedro y San Pablo', 'Fragata Correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (25,'El Real Carlos', 'Paquebot','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (26,'SANTIAGO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (27,'EUROPA', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (28,'RESOLUCION Y AVENTURA', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (29,'MAGALLANES', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (30,'JACINTA', 'MISTICO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (31,'LABORDE', 'BERGANTIN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (32,'Greyhound', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (33,'Duke of Dorset', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (34,'Swallow', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (35,'Alert', 'Brig','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (36,'Thisbe', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (37,'Crown', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (38,'Lapwing', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (39,'Cyrene', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (40,'Centurian', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (41,'Admiral Vernon', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (42,'Marlborough', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (43,'Dragon', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (44,'Tartar', 'Frigate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (45,'Sandwich', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (46,'Griffin', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (47,'Griffin', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (48,'Royal George', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (49,'Ilchester', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (50,'Streatham', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (51,'Ruby', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (52,'Ruby', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (53,'Blandford', 'Frigate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (54,'Jason', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (55,'Saltash', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (56,'Falcon', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (57,'Jason', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (58,'Jamaica', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (59,'Lark', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (60,'Hector', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (61,'Lark', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (62,'Mercury', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (63,'Kent', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (64,'Mercury', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (65,'Mercury', 'Frigate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (66,'Renown', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (67,'Renown', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (68,'Renown', 'Frigate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (69,'Sheerness', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (70,'Badger', 'Snow','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (71,'Speedwell', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (72,'Sphinx', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (73,'Cumberland', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (74,'Prince Henry', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (75,'Assurance', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (76,'Glasgow', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (77,'Glasgow', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (78,'Glory', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (79,'Severn', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (80,'Spy', 'Cutter','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (81,'Assistance', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (82,'Gosport', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (83,'Kingfisher', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (84,'Success', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (85,'Tryal', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (86,'Tryal', 'Sloop (?)','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (87,'Crown', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (88,'Prince George', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (89,'Rainbow', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (90,'Salisbury', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (91,'Reliance', 'Armed Storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (92,'Endeavour', 'Bark','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (93,'Ajax', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (94,'Amazon', 'Frigate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (95,'Greenwich', 'Storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (96,'Dunkirk', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (97,'Colchester', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (98,'Greenwich', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (99,'Colchester', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (100,'Fairy', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (101,'Fairy', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (102,'Hector', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (103,'Dreadnought', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (104,'Surprise', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (105,'Prince Rupert', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (106,'Eltham', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (107,'Dedaigneuse', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (108,'Caroline', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (109,'Sceptre', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (110,'Phaeton', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (111,'Culloden', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (112,'Glatton', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (113,'Lancaster', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (114,'Concorde', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (115,'Saldanha', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (116,'Amazon', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (117,'Belle Isle', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (118,'Conqueror', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (119,'Decade', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (120,'Swiftsure', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (121,'Lord Walsingham', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (122,'Harrier', 'Brigsloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (123,'Earl Spencer', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (124,'Georgina', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (125,'Tremendous', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (126,'Sceptre', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (127,'Lancaster', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (128,'Surprise', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (129,'Scourge', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (130,'Amphitrite', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (131,'Concorde', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (132,'Stork', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (133,'Caroline', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (134,'Harrier', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (135,'Royal Admiral', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (136,'Rattlesnake', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (137,'Acasta', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (138,'Camel', 'storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (139,'Albatross', 'Brig','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (140,'Ambuscade', '5th Rate','British');

INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (141,'Andromache', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (142,'Argo', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (143,'Belmont', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (144,'Diana', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (145,'Earl of Mansfield', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (146,'Ganges', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (147,'Eliza', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (148,'Gorgon', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (149,'Greyhound', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (150,'Lansdown', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (151,'Marquis of Lansdowne', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (152,'Royal Charlotte', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (153,'Sans Parcil', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (154,'Scorpion', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (155,'Tremendous', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (156,'Castle Huntley', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (157,'Earl Talbot', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (158,'General Elliot', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (159,'Bellona', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (160,'Seine', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (161,'Lilly', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (162,'Hound', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (163,'Malabar', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (164,'Rattler', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (165,'Seahorse', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (166,'Laurel', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (167,'Malabar', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (168,'Townsend', 'Packet ship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (169,'Hermes', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (170,'Diadem', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (171,'Cumberland', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (172,'Chichester', 'Storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (173,'Cuffnells', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (174,'Alfred', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (175,'Lascelles', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (176,'Thames', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (177,'Travers', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (178,'Camel', 'Storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (179,'Cormorant', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (180,'Diana', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (181,'Falcon', 'brig sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (182,'Falcon', 'brig','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (183,'Thames', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (184,'True Briton', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (185,'General Coote', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (186,'Atalanta', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (187,'Kent', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (188,'Lord Anson', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (189,'Seahorse', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (190,'Britannia', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (191,'Ceres', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (192,'Coldstream', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (193,'Dunira', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (194,'Earl of Middlesex', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (195,'Emerald', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (196,'George IV', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (197,'King George III', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (198,'Macqueen', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (199,'Perseverence', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (200,'Poulette', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (201,'Prince Ernest', 'packet ship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (202,'Queen Charlotte', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (203,'Repulse', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (204,'St Vincent', 'packet ship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (205,'Tigris', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (206,'Acasta', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (207,'Neptune', '2nd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (208,'Nereide', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (209,'Saphire', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (210,'Stirling Castle', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (211,'Euphrates', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (212,'Warren', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (213,'Vulture', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (214,'Weymouth', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (215,'Walmer Castle', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (216,'Weymouth', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (217,'Warley', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (218,'Warley', 'nan','British ');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (219,'Windham', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (220,'Walpole', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (221,'Warren Hastings', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (222,'Calcutta', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (223,'Penelope', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (224,'Majestic', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (225,'Conway', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (226,'Ganges', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (227,'Spartiate', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (228,'Tweed', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (229,'SANTA CASILDA Y SANTA EULALIA', 'PAQUEBOTES','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (230,'Somerset', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (231,'Glasgow', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (232,'Elephant', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (233,'Pylades', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (234,'Ramilles', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (235,'Regulus', 'storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (236,'Superb', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (237,'EL TUCUMAN', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (238,'El Tucuman', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (239,'EL GALLEGO', 'BERGANTIN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (240,'EL GALLEGO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (241,'El Gallego', 'Paquebot','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (242,'EL REY', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (243,'El Rey', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (244,'AUDAZ', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (245,'DESCONOCIDO-01', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (246,'DESCONOCIDO-02', 'nan','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (247,'BUEN CONSEJO', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (248,'CORZO', 'FALUCHO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (249,'DESCONOCIDO-03', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (250,'CORTES', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (251,'CORTES', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (252,'EL PIZARRO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (253,'EL PIZARRO', 'Fragata Correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (254,'SAN JOSE EL PERUANO', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (255,'INFANTE', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (256,'Tenerife', 'Paquebot','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (257,'Diligencia', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (258,'Diligencia', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (259,'Diligencia', 'Fragata Correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (260,'Diligencia', 'nan','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (261,'PRINCIPE', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (262,'PRINCIPE', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (263,'Adamant', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (264,'Alligator', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (265,'Amphion', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (266,'Andromache', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (267,'Argo', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (268,'Atlas', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (269,'Aurora', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (270,'Beaver', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (271,'Bittern', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (272,'Blanche', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (273,'Blonde', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (274,'Boyne', '2nd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (275,'Bridgewater', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (276,'Bulldog', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (277,'Busbridge', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (278,'Calypso', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (279,'Charon', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (280,'Crescent', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (281,'Dadalus', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (282,'Daphne', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (283,'Defence', '3rd rate ','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (284,'Diomede', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (285,'Grampus', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (286,'Guardian', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (287,'Dromedary', 'Storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (288,'Druid', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (289,'Inconnu-1', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (290,'L''Indiscrette', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (291,'L''Ambition', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (292,'L''Aquillon', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (293,'Amphitrite', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (294,'La Belle Poule', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (295,'La Bergere', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (296,'L''Oiseau', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (297,'Sphynx', '6th rate  ','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (298,'Le Leopard', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (299,'La Tourterelle', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (300,'La Perle', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (301,'La Favorite', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (302,'La Favorite', 'Corvette','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (303,'La Diane', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (304,'Le Oiseau', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (305,'La Fleur de Lys', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (306,'La Pomone', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (307,'La Coulisse', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (308,'La Danaé', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (309,'La Dedaigneuse', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (310,'La Durance', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (311,'La Elourdie', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (312,'La Fortune', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (313,'La Loir', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (314,'La Lourde', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (315,'La Ménagére', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (316,'La Nourrice', 'nan','French');

INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (318,'La Poulette', 'Corvette','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (319,'La Terpsicore', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (320,'L''Actif', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (321,'L''actionnaire', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (322,'Le Amphitrite', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (323,'Le Danube', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (324,'Le Desiré', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (325,'Le Etoile', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (326,'Le Paquebot', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (327,'Le Rhóne', 'Gabarre','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (328,'Le Rossignol', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (329,'Le Saumon', 'Gabarre','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (330,'Le Serin', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (331,'Le Vaillans', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (332,'Le Zephir', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (333,'L''isis', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (334,'No. 3', 'Paquebot','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (335,'Enterprise', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (336,'Essex', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (337,'Europa', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (338,'Imperieuse', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (339,'Expedition', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (340,'Experiment', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (341,'Favourite', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (342,'Ferret', 'Brig','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (343,'Flora', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (344,'Fox', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (345,'Heroine', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (346,'Torrington', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (347,'Valentine', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (348,'Triton', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (349,'Garland', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (350,'Hebe', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (351,'Hector', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (352,'Heureux', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (353,'Hope', 'brig/sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (354,'Hornet', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (355,'Inspector', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (356,'L''Aimable', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (357,'Lapwing', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (358,'Laurel', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (359,'Leocadia', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (360,'Leviathan', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (361,'Lilly', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (362,'DESCONOCIDO-05', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (363,'SAN FRANCISCO XAVIER', 'BERGANTIN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (364,'DESCONOCIDO-06', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (365,'SAN FRANCISCO XAVIER', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (366,'EL ACTIVO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (367,'SANTA BIBIANA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (368,'Majestic', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (369,'VIVIANA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (370,'Mentor', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (371,'Maarsen', 'Oorlogsschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (372,'Neerlands Koning', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (373,'Sara Johanna', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (374,'Hecla', 'Steamer','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (375,'Soerabaya', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (376,'Palembang', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (377,'Rotterdam', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (378,'Maria', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (379,'Rotterdam', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (380,'Rhoon en Pendrecht', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (381,'Castor', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (382,'Boreas', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (383,'Nieuw Lekkerland', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (384,'Heldin', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (385,'Maria Elisabeth', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (386,'Scipio', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (387,'Menado', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (388,'Ambarawa', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (389,'Prins Hendrik', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (390,'Nehalennia', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (391,'Frankendaal', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (392,'Unknown-01', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (393,'Amicitia', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (394,'Koning Willem II', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (395,'Phoenix', 'Steamer','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (396,'Merapi', 'Steamer','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (397,'Pollux', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (398,'Celebes', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (399,'Cornelia Sara', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (400,'Wassenaar', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (401,'Prins Veldmaarschalk', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (402,'Princes Royal Frederique', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (403,'Valk', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (404,'Princes Louisa', 'Oorlogsschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (405,'Willem', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (406,'Zephyr', 'Oorlogssnauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (407,'Admiraal Evertsen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (408,'Sara Lydia', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (409,'Kemphaan', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (410,'Albrecht Beijling', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (411,'Princes Carolina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (412,'Pecering', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (413,'Cadmus', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (414,'Zephyr', 'oorlogssnauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (415,'Ajax', 'Korvet v Oorlog','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (416,'''s-Gravenhage', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (417,'Waterloo', 'Linieschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (418,'Komeet', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (419,'Watergeus', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (420,'Akerendam', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (421,'Princes Carolina', 'Oorlogsschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (422,'Ystroom', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (423,'Schiedam', 'Oorlogsschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (424,'Rotterdams Welvaren', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (425,'Ternate', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (426,'Rotterdams Welvaren', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (427,'Ternate', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (428,'Magdalena', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (429,'Orangezaal', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (430,'India', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (431,'Unknown-02', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (432,'Allarm', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (433,'Rhijn', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (434,'Scholtenburg', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (435,'Princes Maria Louisa', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (436,'Unknown-03', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (437,'Van Oldenbarneveld', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (438,'Sloterdijk', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (439,'Onverwagt', 'Whaler','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (440,'Straalen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (441,'Alkemade', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (442,'Amazone', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (443,'Hippomenes', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (444,'Iris', 'Corvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (445,'Landskroon', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (446,'Nehalennia', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (447,'Sirene', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (448,'Noordbeveland', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (449,'Schiedam', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (450,'Rupel', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (451,'Vlietlust', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (452,'Westerveld', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (453,'Vlieg', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (454,'Vrouwe Margaretha Maria', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (455,'Prins Frederik Hendrik', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (456,'Johanna', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (457,'Susanna', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (458,'Tempel', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (459,'Thetis', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (460,'Thetis', 'Frigate','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (461,'Utrecht', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (462,'Van der Werff', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (463,'Stad Utrecht', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (464,'Flores', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (465,'Javaan', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (466,'Postillon', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (467,'Wesel', 'Galjoot','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (468,'Jonge Lieve', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (469,'Vrouwe Cornelia Hillegonda', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (470,'Vreedenburg', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (471,'Mars', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (472,'Haarlemmerhout', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (473,'Oud Haarlem', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (474,'Theodora en Sara', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (475,'Zeeland', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (476,'Zwaluw', 'Snauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (477,'Kemphaan', 'Advijsjagt','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (478,'Admiraal de Ruyter', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (479,'Zephyr', 'Snaauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (480,'Africa', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (481,'Pollux', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (482,'L'' Esperance', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (483,'Maarseveen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (484,'Panther', 'Cotter','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (485,'Tromp', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (486,'Kemphaan', 'Kotter','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (487,'Stavenisse', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (488,'Arend', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (489,'De Ruijter', 'Linieschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (490,'Nassau-Weilburgh', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (491,'Pollux', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (492,'Maasnimph', 'Bargentijn','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (493,'Catharina Johanna', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (494,'Ajax', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (495,'Haarlemmerhout', 'Fregat','Dutch');

INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (538,'Star', 'Paketboot','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (539,'Unie', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (540,'Pollux', 'Corvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (541,'Windhond', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (542,'Van Speyk', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (543,'Javaan', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (544,'Dolphijn', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (545,'Elise', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (546,'Sirene', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (547,'Jason', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (548,'Lucipara''s', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (549,'Admiraal Jan Evertsen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (550,'Hercules', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (551,'Wolf', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (552,'Margaretha Simonette', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (553,'Jacoba', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (554,'Vliegende Visch', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (555,'Joan de Witt', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (556,'Vr. Elisabeth & Anna Catherina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (557,'Tromp', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (558,'Maas Nijmph', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (559,'Marij-Goddard', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (560,'Botland', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (561,'Welgeleegen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (562,'Merwede', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (563,'Eliza', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (564,'Mercuur', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (565,'Bellona', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (566,'Olivier van Noord', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (567,'Unknown-04', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (568,'Unknown-05', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (569,'Vrede', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (570,'Eensgezindheid', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (571,'Rembrandt van Rhijn', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (572,'Margaretha en Maria', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (573,'Unknown-06', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (574,'Echo', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (575,'Dordrecht', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (576,'China', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (577,'Pluto', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (578,'Prins van Oranje', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (579,'Proserpina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (580,'Oost-Indië Packet', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (581,'Snoek', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (582,'Spaarzaamheid', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (583,'Straat Bali', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (584,'Catharina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (585,'Westerveld', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (586,'Braave', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (587,'Serpent', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (588,'Unknown-07', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (589,'Soolo', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (590,'Prins Veldmaarschalk', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (591,'Iris', 'Transportschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (592,'Vrouwe Maria', 'Vrachtschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (593,'Iris', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (594,'Witte Cornelisz de Wit', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (595,'Willem Barendsz', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (596,'Gouverneur Generaal de Klerk', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (597,'Gouverneur Generaal De Klerk', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (598,'Lynx', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (599,'La Boussole', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (600,'Maria Reigersbergen', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (601,'Curacao', 'stoompacket','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (602,'Jacob Roggeveen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (603,'Rotterdams Welvaren', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (604,'Bato', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (605,'Spion', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (606,'Brutus', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (607,'TERRIBLE', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (608,'DESCONOCIDO-07', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (609,'Medusa', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (610,'DESCONOCIDO-07', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (611,'ASUNCIÓN', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (612,'DESCONOCIDO-09', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (613,'DESCONOCIDO-08', 'DESCONOCIDA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (614,'Melville Castle', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (615,'Nautilus', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (616,'Pomona', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (617,'Proserpine', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (618,'Raymond', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (619,'Regulus', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (620,'Resource', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (621,'Ruby', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (622,'Scorpion', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (623,'Seahorse', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (624,'Severn', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (625,'Dolfijn', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (626,'Gier', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (627,'Saparoea', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (628,'Loopuijt', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (629,'Oud Nederland', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (630,'Unknown-08', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (631,'Sumatra-Java', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (632,'Unknown-09', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (633,'Hendrika', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (634,'Anthony', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (635,'La Flore', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (636,'Pallas', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (637,'Kortenaer', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (638,'Nederwaard', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (639,'Cortgene', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (640,'Europa', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (641,'Euridice', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (642,'Euridice', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (643,'Proteus', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (644,'Doctrina et Amicitia', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (645,'Doctrina et Amicitia', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (646,'Java Koerier', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (647,'Gouverneur Elsevier', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (648,'Amphitrite', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (649,'Amphitrite', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (650,'Geertuijda en Christina', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (651,'Algiers', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (652,'Ceres', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (653,'Aurora', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (654,'Piet Heijn', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (655,'Adder', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (656,'Staatsraad Baud', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (657,'Haay', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (658,'Die Gebruder', 'nan','Hamburg');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (659,'Grenadier', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (660,'Nieuwe Hoop', 'Snauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (661,'Walvisch', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (662,'Argo', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (663,'Arend', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (664,'Unknown-10', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (665,'Argo', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (666,'Jonge Jan', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (667,'Jacoba Maurina', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (668,'Abel Tasman', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (669,'Ambon', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (670,'Aruba', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (671,'Atalante', 'Schoener','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (672,'Etna', 'Stoomschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (673,'Gedeh', 'Stoomschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (674,'Huzaar', 'Schoenerbrik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (675,'Irene', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (676,'Prins Frederik', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (677,'Nassau', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (678,'Geertruida', 'Oorlogsschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (679,'Twee Cornelissen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (680,'Twee Cornelissen', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (681,'EL COLON 2?', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (682,'EL COLON', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (683,'Augusta', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (684,'Syren', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (685,'Pelham', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (686,'Syren', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (687,'Vigilant', 'Ship o.t. Line','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (688,'Drie Gebroeders', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (689,'Prinses Marianne', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (690,'Standvastigheid', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (691,'Haast U Langzaam', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (692,'Henriette Clasina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (693,'Juno', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (694,'Zeeuw', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (695,'Atalante', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (696,'Havick', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (697,'Wilhelmina en Maria', 'Fregatschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (698,'Windhond', 'Brigantijn','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (699,'Prins Van Oranje', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (700,'Jacobus', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (701,'San Fernando', 'Paquebot','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (702,'EL PATAGON', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (703,'El Patagon', 'Paquebot','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (704,'Jan Daniel', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (705,'Prins Willem V', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (706,'Prins Willem V', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (707,'SAN JOSE', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (708,'EL GRIMALDI', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (709,'El Grimaldi', 'Paquebot','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (710,'Hornet', 'Snow','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (711,'Hind', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (712,'Otter', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (713,'Humber', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (714,'Penzance', '5th Rate','British');

INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (750,'Africaensche Galey', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (751,'Christina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (752,'Drie Gesusters', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (753,'Middelburgs Welvaren', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (754,'EFIGENIA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (755,'MERCURIO', 'CORBETA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (756,'LA DESCUBIERTA', 'CORBETA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (757,'LA DESCUBIERTA Y ATREVIDA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (758,'DESCONOCIDO-10', 'nan','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (759,'EL RELÁMPAGO', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (760,'SANTA ANA', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (761,'DESCONOCIDO-11', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (762,'Mercurius', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (763,'Mercurius', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (764,'Vrouwe Johanna Catharina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (765,'Suriname', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (766,'Welmeenende', 'Snauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (767,'Propatria', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (768,'Vrouwe Anthonetta Coenrardina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (769,'Zeepaard', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (770,'Veere', 'Pink','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (771,'Broederslust', 'Hoekerschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (772,'Goede Intentie', 'Hoekerschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (773,'Verwachting', 'Chialoup','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (774,'Veere', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (775,'Meermin', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (776,'Hoop', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (777,'Sambre', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (778,'Magnanime', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (779,'Medea', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (780,'Florida', 'storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (781,'Warwick', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (782,'LA ASTREA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (783,'LA JUNO', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (784,'EL RAYO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (785,'Na Sa DEL ROSARIO', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (786,'EL SEPTENTRIÓN', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (787,'DESCONOCIDO-13', 'nan','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (788,'DESCONOCIDO-12', 'DESCONOCIDA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (789,'VENUS', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (790,'VENUS', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (791,'SAN JOSEF', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (792,'MIÑO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (793,'EL FAMOSO SEVILLANO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (794,'SERIO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (795,'SAN JUAN BAUTISTA', 'POLACRA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (796,'Na Sa DEL CARMEN', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (797,'Na Sa DEL VALLE', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (798,'SANTO CRISTO DEL CALVARIO', 'POLACRA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (799,'Na Sa DEL ROSARIO, (LA PAZ)', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (800,'DESCONOCIDO-14', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (801,'DESCONOCIDO-14', 'nan','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (802,'DESCONOCIDO-15', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (803,'LOS TRES AMIGOS', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (804,'EL GALLARDO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (805,'GRANIZO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (806,'PERPETUA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (807,'SAN PASCUAL', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (808,'EL FÉNIX', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (809,'SAN JUSTO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (810,'EL MARLLORQUÍN', 'JABEQUE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (811,'DESCONOCIDO-16', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (812,'DESCONOCIDO-17', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (813,'DESCONOCIDO-18', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (814,'ATREVIDA Y DESCUBIERTA', 'CORBETAS','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (815,'Victor', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (816,'SANTA ELENA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (817,'SAN ISIDORO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (818,'DESCONOCIDO-19', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (819,'Sheerness', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (820,'Gibraltar', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (821,'Isis', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (822,'Isis', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (823,'Hunter', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (824,'Trusty', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (825,'Victorious', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (826,'Suffolk', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (827,'Active', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (828,'Active', '6th Rate Frigat','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (829,'Sybille', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (830,'LA VENUS', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (831,'SAN JOSEPH', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (832,'SAN JOSEPH', 'DESCONOCIDO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (833,'SANT JOSEPH', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (834,'LA FENIX', 'GOLETA GUARDA C','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (835,'LA DESCUBIERTA', 'DESCONOCIDO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (836,'DESCONOCIDO-21', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (837,'DESCONOCIDO-20', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (838,'DESCONOCIDO-22', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (839,'SAN PABLO (ALIAS LA FAVORITA)', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (840,'MARQUESA DE BALVUENA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (841,'EL CARMEN (ALIAS EL SALVADOR)', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (842,'EL JUPITER', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (843,'EL JUPITER', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (844,'Na Sa DE LOS DOLORES', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (845,'Na Sa DE LOS DOLORES', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (846,'SAN JAIME (EL VALENCIANO)', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (847,'SANTA TERESA DE JESÚS', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (848,'EL MONARCA', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (849,'EL MONARCA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (850,'EL ANDALUZ', 'CHAMBEQUÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (851,'Swift', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (852,'Bristol', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (853,'Naiade', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (854,'Anna', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (855,'Anna', 'Zeilschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (856,'Delphina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (857,'Philadelphia', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (858,'Mermaid', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (859,'Medway', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (860,'Hampshire', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (861,'Hampshire', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (862,'Norwich', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (863,'Woolwich', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (864,'Woolwich', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (865,'Woolwich', 'storeship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (866,'Gibraltar', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (867,'Namur', '2nd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (868,'Falkland', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (869,'Lively', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (870,'Grafton', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (871,'Dublin', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (872,'Queenborough', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (873,'Lowestoffe', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (874,'Falmouth', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (875,'Lynn', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (876,'Aurora', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (877,'Levant', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (878,'Panther', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (879,'Chesterfield', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (880,'Phoenix', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (881,'Snoek en Both', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (882,'Eenigheijt', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (883,'Eenigheijt', 'Snauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (884,'Vrouwe Johanna Cores', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (885,'Chatham', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (886,'Rose', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (887,'Rose', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (888,'Liverpool', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (889,'Alderney', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (890,'Baleine', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (891,'Terpsichore', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (892,'Terpsichore', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (893,'Terpsichore', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (894,'Argo', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (895,'Boston', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (896,'Manilla', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (897,'Swift', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (898,'Druid', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (899,'Arundel', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (900,'Perseus', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (901,'Shoreham', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (902,'Shannon', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (903,'Ludlow Castle', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (904,'Nisus', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (905,'Nisus', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (906,'Zanggodin', 'Snauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (907,'Zanggodin', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (908,'Vliegende Faam', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (909,'Vliegende Faam', 'Snauw','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (910,'Boreas', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (911,'Favourite', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (912,'Squirrel', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (913,'Martin', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (914,'Vansittart', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (915,'Merlin', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (916,'Guernsey', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (917,'Romney', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (918,'Romney', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (919,'Fowey', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (920,'Pearl', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (921,'Constellation', 'Brik','American');

INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (932,'DESCONOCIDO-23', 'DESCONOCIDA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (933,'SAN PEDRO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (934,'SANTA TERESA (ALIAS DRAGON)', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (935,'SAN PEDRO APOSTOL', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (936,'DESCONOCIDO-23', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (937,'SAN DÁMASO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (938,'SAN DÁMASO', 'nan','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (939,'SAN JOSEPH (PODEROSO)', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (940,'ANDALUZ', 'CHAMBEQUÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (941,'EL HOPP', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (942,'SANTO DOMINGO', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (943,'SANTO DOMINGO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (944,'SANTO DOMINGO', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (945,'SANTO DOMINGO', 'BUQUE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (946,'DESCONOCIDO-24', 'DESCONOCIDO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (947,'SAN GIL', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (948,'Maria Magdalena', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (949,'Maria Magdalena', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (950,'FENIX', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (951,'GALLARDO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (952,'MAGDALENA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (953,'SANTA MARIA MAGDALENA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (954,'SANTA MARIA MAGDALENA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (955,'DILIGENTE', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (956,'DILIGENTE', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (957,'SAN JULIAN', 'NAVÍO DE LA REA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (958,'SAN JULIAN', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (959,'DESCONOCIDO-25', 'nan','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (960,'SANTA BALVINA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (961,'SANTA BALVINA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (962,'SANTA LUCIA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (963,'NaSa DEL ROSARIO (LA NUMANCIA)', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (964,'LA LORETO', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (965,'Na Sa DE ARANZAZU', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (966,'SAN PEDRO DE ALCANTARA', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (967,'RL. CARLOS', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (968,'SANTA CLARA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (969,'LA SUERTE (SAN FCO JAVIER)', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (970,'LA PERLA', 'FRAGATA DE GUER','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (971,'LA PERLA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (972,'LA MOSCA', 'GOLETA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (973,'Na Sa DEL CARMEN (EL GRIEGO)', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (974,'HERCULES', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (975,'HERCULES', 'FALUCHO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (976,'Phoenix', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (977,'Niger', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (978,'Phoenix', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (979,'Guadaloupe', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (980,'Quebec', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (981,'Quebec', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (982,'Stag', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (983,'Stag', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (984,'Burford', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (985,'Trident', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (986,'Antelope', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (987,'Tweed', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (988,'Tweed', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (989,'Kennington', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (990,'Portland', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (991,'Lizard', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (992,'Alborough', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (993,'Weazle', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (994,'Montreal', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (995,'Alarm', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (996,'Alarm', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (997,'Cruizer', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (998,'Lynx', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (999,'Deal Castle', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1000,'Carysfort', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1001,'Carysfort', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1002,'Princess Amelia', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1003,'Racehorse', 'special vessel','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1004,'Raven', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1005,'Prothee', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1006,'Somerset', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1007,'Pallas', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1008,'Senegal', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1009,'Winchelsea', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1010,'Surpize', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1011,'Attelante', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1012,'Auguste', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1013,'Wilhelmina', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1014,'Wilhelmina', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1015,'Jan en Cornelis', 'Koopvaarder','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1016,'Vasco de Gama', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1017,'Valk', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1018,'Panter', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1019,'Koerier', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1020,'Koerier', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1021,'Star', 'Brig-Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1022,'Star', 'brig/sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1023,'Standard', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1024,'Standard', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1025,'Experiment', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1026,'Scarborough', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1027,'Preston', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1028,'Arethusa', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1029,'Hester', 'merchant brig','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1030,'Thetis', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1031,'Pluto', 'fireship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1032,'Eagle', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1033,'Atlanta', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1034,'Eagle', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1035,'Hannibal', 'Brig','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1036,'Hannibal', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1037,'Aolus', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1038,'Yarmouth', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1039,'Raisonable', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1040,'Raisonable', '3rd rate  ','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1041,'Raisonable', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1042,'Egmont', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1043,'Ramilles', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1044,'Hornet', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1045,'Janus', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1046,'Crocodile', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1047,'Jupiter', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1048,'Jupiter', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1049,'Morning Star', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1050,'Narcissus', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1051,'Narcissus', '7th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1052,'Narcissus', '8th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1053,'Caton', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1054,'Mediator', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1055,'Iphigenia', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1056,'Grampus', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1057,'York', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1058,'Vanguard', '3rd rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1059,'Triton', '6th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1060,'Tromp', '4th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1061,'Tromp', '4th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1062,'Unite', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1063,'Swan', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1064,'Ulysses', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1065,'Zeemercuur', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1066,'Nederlands Welvaren', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1067,'Candia', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1068,'Vergenoegen', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1069,'Rendier', 'O.I. Schip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1070,'Dregterlandt', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1071,'Kenau Hasselaar', 'nan','Dutch');

INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1072,'Revolutie', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1073,'Kroonprincesse Maria', 'nan','Danish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1074,'Friedrich', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1075,'Pegasus', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1076,'Zwaluw', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1077,'Maas', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1078,'Dordrecht', 'Transportschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1079,'Unknown-12', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1080,'Triton', 'Korvet','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1081,'Venus', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1082,'Formosa', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1083,'Batavia', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1084,'Batavia', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1085,'Batavia', 'Stoomschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1086,'Suriname', 'Stoomschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1087,'Mercator', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1088,'Bromo', 'Steamer','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1089,'Bromo', 'Stoomschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1090,'Lansier', 'Schoenerbrik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1091,'Estafette', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1092,'Cornelia', 'Bark','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1093,'Seaford', '6th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1094,'Ferret', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1095,'Montague', '3rd Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1096,'Minerva', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1097,'Magicienne', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1098,'Minerva', '5th rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1099,'PODEROSO', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1100,'PODEROSO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1101,'PODEROSO', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1102,'La Gironde', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1103,'Le Prothée', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1104,'Le Triton', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1105,'L''Heureux', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1106,'La Seine', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1107,'Le Chariot Royal', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1108,'Le Rhinoceros', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1109,'Le Rhinoceros', 'Fregatte','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1110,'Le Bizarre', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1111,'Le Parham', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1112,'Le Aigle', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1113,'Le Valeur', 'Fregate','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1114,'PURISIMA CONCEPCIÓN', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1115,'PURISIMA CONCEPCIÓN', 'DESCONOCIDO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1116,'Le Salomon', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1117,'La Petite Fortune', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1118,'Le Vicomte de Choiseuil', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1119,'L''aimable Marie Anne', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1120,'SANTA TERESA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1121,'SANTA MARÍA DE LA CAVEZA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1122,'SANTA MARÍA DE LA CAVEZA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1123,'La Belette', 'Corvette','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1124,'SANTA MARÍA DE LA CAVEZA', 'DESCONOCIDO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1125,'LA PRINCESA', 'Paquebot','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1126,'LA PRINCESA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1127,'LA PRINCESA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1128,'L''Etoile', 'Flute','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1129,'Le Furet', 'L''aviso','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1130,'La Desirée', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1131,'No. 12', 'Paquebot','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1132,'Freden', 'nan','Swedish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1133,'Götha Leijon', 'nan','Swedish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1134,'L''hipocrite', 'Corvette','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1135,'No. 8', 'Paquebot','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1136,'La Loire', 'Gabarre','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1137,'La Lamproie', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1138,'La Lamproye', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1139,'Le Barbeau', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1140,'L''Experiment', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1141,'La Graciense', 'Fregate','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1142,'La Capriciense', 'Fragate','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1143,'La Cassares', 'Brick','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1144,'Inconnu-2', 'nan','French');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1145,'DESCONOCIDO-26', 'DESCONOCIDO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1146,'Polanen', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1147,'SAN ANTONIO', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1148,'NaSa DEL ROSARIO,STMA TRINIDAD', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1149,'DESCONOCIDO-27 (RAYO)', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1150,'SAN VICENTE', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1151,'SANTA GERTRUDIS', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1152,'SAN RAFAEL', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1153,'SAN RAFAEL', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1154,'SAN RAFAEL', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1155,'SEPTENTRIÓN', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1156,'SAN LORENZO', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1157,'SAN LORENZO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1158,'SAN LORENZO', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1159,'ASTUTO', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1160,'ASTUTO', 'NAVIO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1161,'MARTE', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1162,'SANTA BÁRBARA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1163,'SANTA MARGARITA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1164,'SANTA ROSALÍA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1165,'SANTA ROSALÍA', 'FRAGATA DE GUER','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1166,'DESCONOCIDO-29', 'NAVÍO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1167,'EL AGUILA', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1168,'EL AGUILA', 'PAQUEBOTE','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1169,'EL AGUILA', 'Fragata Correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1170,'EL AGUILA', 'Fragata correo','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1171,'EL AGUILA', 'FRAGATA/ CORREO','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1172,'Amsterdam', 'nan','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1173,'Amsterdam', 'Stoomschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1174,'Euryalus', '5th Rate','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1175,'LA MASCANIN y LA CASTRIES', 'FRAGATA','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1176,'Dover Castle', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1177,'Regulus', 'troopship','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1178,'Brune', 'sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1179,'Zaan', 'Fregat','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1180,'Dordregt', 'Oorlogsschip','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1181,'Newcastle', 'nan','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1182,'Meermin', 'Brik','Dutch');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1183,'LA SUERTE', 'BERGANTÍN','Spanish');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1184,'Diligence', 'Sloop','British');
INSERT INTO CS689.dbo.Dim_Ship(Id, ShipName, ShipType, Nationality) values (1185,'DESCONOCIDO-28', 'NAVÍO','Spanish');

In [34]:
conn.commit()

In [25]:
# Create a table called Fact_Trip
cursor.execute("CREATE TABLE CS689.dbo.Fact_Trip(Id int,RecID int, DimShipId int, LifeOnBoard int, ShipAndRig int, Illustrations int, Date datetime)")

In [26]:
conn.commit();

In [27]:
for i,row in TripMeasures.iterrows():
    sql = "INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (" + str(row.Id) + ", " + str(row.RecID) + ", " + str(row.DimShipId) + ", " + str(row.LifeOnBoard) + ", " + str(row.ShipAndRig) + ", "+ str(row.Illustrations) + ", '" + str(row.Date) + "');"
    cursor.execute(sql)
    print(sql)

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1, 108, 1, 0, 0, 0, '1800-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2, 109, 2, 0, 0, 0, '1790-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3, 110, 2, 0, 0, 0, '1790-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4, 111, 2, 0, 0, 0, '1790-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5, 112, 2, 0, 0, 0, '1790-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6, 113, 2, 0, 0, 0, '1790-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (7, 114, 1, 0, 0, 0, '1800-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (8, 115, 1, 0, 0, 0, '1800-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (9, 116, 1, 0, 0, 0, '1800-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (10, 117, 1, 0, 0, 0, '1800-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (11, 118, 1, 0, 0, 0, '1800-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (12, 119, 1, 0, 0, 0, '1800-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (13, 120, 3, 0, 0, 0, '1774-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (14, 121, 3, 0, 0, 0, '1774-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (15, 122, 3, 0, 0, 0, '1774-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (16, 123, 3, 0, 0, 0, '1774-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (17, 124, 3, 0, 0, 0, '1774-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (18, 125, 3, 0, 0, 0, '1774-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (19, 126, 3, 0, 0, 0, '1774-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (20, 127, 3, 0, 0, 0, '1774-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (21, 128, 3, 0, 0, 0, '1774-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (22, 129, 3, 0, 0, 0, '1774-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (23, 130, 3, 0, 0, 0, '1774-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (24, 131, 3, 0, 0, 0, '1774-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (25, 83, 3, 0, 0, 0, '1774-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (26, 84, 3, 0, 0, 0, '1774-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (27, 85, 3, 0, 0, 0, '1774-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (28, 86, 3, 0, 0, 0, '1774-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (29, 87, 3, 0, 0, 0, '1774-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (30, 88, 3, 0, 0, 0, '1774-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (31, 89, 3, 0, 0, 0, '1774-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (32, 90, 3, 0, 0, 0, '1774-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (33, 91, 3, 0, 0, 0, '1774-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (34, 92, 3, 0, 0, 0, '1774-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (35, 93, 3, 0, 0, 0, '1774-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (36, 94, 3, 0, 0, 0, '1774-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (37, 95, 3, 0, 0, 0, '1774-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (38, 96, 3, 0, 0, 0, '1774-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (39, 97, 3, 0, 0, 0, '1774-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (40, 98, 3, 0, 0, 0, '1774-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (41, 99, 3, 0, 0, 0, '1774-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (42, 100, 2, 0, 0, 0, '1790-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (43, 101, 2, 0, 0, 0, '1790-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (44, 102, 2, 0, 0, 0, '1790-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (45, 103, 2, 0, 0, 0, '1790-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (46, 104, 2, 0, 0, 0, '1790-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (47, 105, 2, 0, 0, 0, '1790-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (48, 106, 2, 0, 0, 0, '1790-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (49, 107, 2, 0, 0, 0, '1790-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (50, 140, 3, 0, 0, 0, '1774-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (51, 141, 3, 0, 0, 0, '1774-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (52, 142, 3, 0, 0, 0, '1774-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (53, 143, 3, 0, 0, 0, '1774-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (54, 144, 3, 0, 0, 0, '1774-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (55, 145, 3, 0, 0, 0, '1774-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (56, 146, 3, 0, 0, 0, '1774-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (57, 147, 3, 0, 0, 0, '1774-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (58, 132, 3, 0, 0, 0, '1774-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (59, 133, 3, 0, 0, 0, '1774-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (60, 134, 3, 0, 0, 0, '1774-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (61, 135, 3, 0, 0, 0, '1774-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (62, 136, 3, 0, 0, 0, '1774-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (63, 137, 3, 0, 0, 0, '1774-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (64, 138, 3, 0, 0, 0, '1774-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (65, 139, 3, 0, 0, 0, '1774-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (66, 1, 3, 0, 0, 0, '1774-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (67, 2, 3, 0, 0, 0, '1774-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (68, 3, 3, 0, 0, 0, '1774-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (69, 4, 3, 0, 0, 0, '1774-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (70, 5, 3, 0, 0, 0, '1774-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (71, 6, 3, 0, 0, 0, '1774-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (72, 7, 3, 0, 0, 0, '1774-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (73, 8, 3, 0, 0, 0, '1774-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (74, 9, 3, 0, 0, 0, '1774-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (75, 10, 3, 0, 0, 0, '1774-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (76, 11, 3, 0, 0, 0, '1774-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (77, 12, 3, 0, 0, 0, '1774-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (78, 13, 3, 0, 0, 0, '1774-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (79, 14, 3, 0, 0, 0, '1774-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (80, 15, 3, 0, 0, 0, '1774-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (81, 16, 3, 0, 0, 0, '1774-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (82, 17, 3, 0, 0, 0, '1774-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (83, 18, 3, 0, 0, 0, '1774-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (84, 19, 3, 0, 0, 0, '1774-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (85, 20, 3, 0, 0, 0, '1774-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (86, 21, 3, 0, 0, 0, '1774-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (87, 22, 3, 0, 0, 0, '1774-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (88, 23, 3, 0, 0, 0, '1774-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (89, 24, 3, 0, 0, 0, '1774-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (90, 25, 3, 0, 0, 0, '1774-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (91, 26, 3, 0, 0, 0, '1774-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (92, 27, 3, 0, 0, 0, '1774-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (93, 28, 3, 0, 0, 0, '1774-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (94, 29, 3, 0, 0, 0, '1774-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (95, 30, 3, 0, 0, 0, '1774-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (96, 31, 3, 0, 0, 0, '1774-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (97, 32, 3, 0, 0, 0, '1774-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (98, 33, 2, 0, 0, 0, '1790-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (99, 34, 2, 0, 0, 0, '1790-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (100, 35, 2, 0, 0, 0, '1790-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (101, 36, 2, 0, 0, 0, '1790-04-23 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (102, 37, 2, 0, 0, 0, '1790-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (103, 38, 2, 0, 0, 0, '1790-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (104, 39, 2, 0, 0, 0, '1790-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (105, 40, 2, 0, 0, 0, '1790-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (106, 41, 2, 0, 0, 0, '1790-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (107, 42, 4, 0, 0, 0, '1790-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (108, 43, 4, 0, 0, 0, '1790-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (109, 44, 4, 0, 0, 0, '1790-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (110, 45, 4, 0, 0, 0, '1790-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (111, 46, 4, 0, 0, 0, '1790-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (112, 47, 4, 0, 0, 0, '1790-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (113, 48, 5, 0, 0, 0, '1790-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (114, 49, 5, 0, 0, 0, '1790-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (115, 50, 5, 0, 0, 0, '1790-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (116, 51, 2, 0, 0, 0, '1790-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (117, 52, 2, 0, 0, 0, '1790-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (118, 53, 2, 0, 0, 0, '1790-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (119, 54, 2, 0, 0, 0, '1790-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (120, 55, 2, 0, 0, 0, '1790-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (121, 56, 3, 0, 0, 0, '1774-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (122, 57, 3, 0, 0, 0, '1774-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (123, 58, 3, 0, 0, 0, '1774-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (124, 59, 3, 0, 0, 0, '1774-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (125, 60, 3, 0, 0, 0, '1774-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (126, 61, 3, 0, 0, 0, '1774-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (127, 62, 3, 0, 0, 0, '1774-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (128, 63, 3, 0, 0, 0, '1774-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (129, 64, 3, 0, 0, 0, '1774-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (130, 65, 3, 0, 0, 0, '1774-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (131, 66, 3, 0, 0, 0, '1774-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (132, 67, 3, 0, 0, 0, '1776-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (133, 68, 3, 0, 0, 0, '1776-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (134, 69, 3, 0, 0, 0, '1776-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (135, 70, 3, 0, 0, 0, '1776-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (136, 71, 3, 0, 0, 0, '1774-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (137, 72, 3, 0, 0, 0, '1774-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (138, 73, 3, 0, 0, 0, '1774-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (139, 74, 3, 0, 0, 0, '1774-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (140, 75, 3, 0, 0, 0, '1774-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (141, 76, 3, 0, 0, 0, '1774-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (142, 77, 3, 0, 0, 0, '1774-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (143, 78, 3, 0, 0, 0, '1774-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (144, 79, 3, 0, 0, 0, '1774-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (145, 80, 3, 0, 0, 0, '1774-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (146, 81, 3, 0, 0, 0, '1774-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (147, 82, 3, 0, 0, 0, '1774-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (148, 148, 3, 0, 0, 0, '1774-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (149, 149, 3, 0, 0, 0, '1774-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (150, 150, 3, 0, 0, 0, '1774-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (151, 151, 3, 0, 0, 0, '1776-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (152, 152, 3, 0, 0, 0, '1776-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (153, 153, 3, 0, 0, 0, '1776-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (154, 154, 3, 0, 0, 0, '1776-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (155, 155, 3, 0, 0, 0, '1776-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (156, 156, 3, 0, 0, 0, '1776-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (157, 157, 3, 0, 0, 0, '1776-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (158, 158, 3, 0, 0, 0, '1776-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (159, 159, 3, 0, 0, 0, '1776-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (160, 160, 3, 0, 0, 0, '1776-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (161, 161, 3, 0, 0, 0, '1776-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (162, 162, 3, 0, 0, 0, '1776-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (163, 163, 2, 0, 0, 0, '1790-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (164, 164, 2, 0, 0, 0, '1790-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (165, 165, 2, 0, 0, 0, '1790-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (166, 166, 2, 0, 0, 0, '1790-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (167, 167, 2, 0, 0, 0, '1790-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (168, 168, 2, 0, 0, 0, '1790-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (169, 169, 2, 0, 0, 0, '1790-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (170, 170, 5, 0, 0, 0, '1790-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (171, 171, 5, 0, 0, 0, '1790-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (172, 172, 5, 0, 0, 0, '1790-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (173, 173, 5, 0, 0, 0, '1790-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (174, 174, 5, 0, 0, 0, '1790-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (175, 175, 4, 0, 0, 0, '1790-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (176, 176, 4, 0, 0, 0, '1790-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (177, 177, 4, 0, 0, 0, '1790-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (178, 178, 4, 0, 0, 0, '1790-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (179, 179, 4, 0, 0, 0, '1790-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (180, 180, 4, 0, 0, 0, '1790-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (181, 181, 4, 0, 0, 0, '1790-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (182, 182, 4, 0, 0, 0, '1790-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (183, 183, 4, 0, 0, 0, '1790-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (184, 184, 4, 0, 0, 0, '1790-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (185, 185, 4, 0, 0, 0, '1790-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (186, 186, 4, 0, 0, 0, '1790-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (187, 187, 4, 0, 0, 0, '1790-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (188, 188, 4, 0, 0, 0, '1790-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (189, 189, 4, 0, 0, 0, '1790-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (190, 190, 4, 0, 0, 0, '1790-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (191, 191, 4, 0, 0, 0, '1790-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (192, 192, 4, 0, 0, 0, '1790-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (193, 193, 4, 0, 0, 0, '1790-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (194, 194, 4, 0, 0, 0, '1790-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (195, 195, 4, 0, 0, 0, '1790-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (196, 196, 4, 0, 0, 0, '1790-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (197, 197, 4, 0, 0, 0, '1790-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (198, 198, 4, 0, 0, 0, '1790-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (199, 199, 2, 0, 0, 0, '1790-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (200, 200, 2, 0, 0, 0, '1790-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (201, 335, 4, 0, 0, 0, '1790-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (202, 336, 4, 0, 0, 0, '1790-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (203, 337, 4, 0, 0, 0, '1790-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (204, 338, 4, 0, 0, 0, '1790-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (205, 339, 4, 0, 0, 0, '1790-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (206, 340, 4, 0, 0, 0, '1790-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (207, 341, 4, 0, 0, 0, '1790-06-12 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (208, 342, 4, 0, 0, 0, '1790-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (209, 343, 4, 0, 0, 0, '1790-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (210, 344, 4, 0, 0, 0, '1790-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (211, 345, 4, 0, 0, 0, '1790-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (212, 346, 4, 0, 0, 0, '1790-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (213, 347, 4, 0, 0, 0, '1790-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (214, 348, 4, 0, 0, 0, '1790-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (215, 349, 4, 0, 0, 0, '1790-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (216, 350, 4, 0, 0, 0, '1790-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (217, 351, 4, 0, 0, 0, '1790-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (218, 352, 4, 0, 0, 0, '1790-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (219, 353, 2, 0, 0, 0, '1790-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (220, 201, 2, 0, 0, 0, '1790-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (221, 202, 2, 0, 0, 0, '1790-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (222, 203, 2, 0, 0, 0, '1790-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (223, 204, 2, 0, 0, 0, '1790-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (224, 205, 2, 0, 0, 0, '1790-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (225, 206, 2, 0, 0, 0, '1790-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (226, 207, 2, 0, 0, 0, '1790-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (227, 208, 2, 0, 0, 0, '1790-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (228, 209, 2, 0, 0, 0, '1790-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (229, 210, 2, 0, 0, 0, '1790-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (230, 211, 2, 0, 0, 0, '1790-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (231, 212, 2, 0, 0, 0, '1790-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (232, 213, 2, 0, 0, 0, '1790-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (233, 214, 2, 0, 0, 0, '1790-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (234, 215, 2, 0, 0, 0, '1790-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (235, 216, 2, 0, 0, 0, '1790-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (236, 217, 1, 0, 0, 0, '1800-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (237, 218, 5, 0, 0, 0, '1790-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (238, 219, 5, 0, 0, 0, '1790-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (239, 220, 5, 0, 0, 0, '1790-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (240, 221, 5, 0, 0, 0, '1790-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (241, 222, 5, 0, 0, 0, '1790-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (242, 223, 5, 0, 0, 0, '1790-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (243, 224, 5, 0, 0, 0, '1790-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (244, 225, 5, 0, 0, 0, '1790-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (245, 226, 5, 0, 0, 0, '1790-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (246, 227, 5, 0, 0, 0, '1790-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (247, 228, 5, 0, 0, 0, '1790-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (248, 229, 5, 0, 0, 0, '1790-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (249, 230, 1, 0, 0, 0, '1800-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (250, 231, 1, 0, 0, 0, '1800-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (251, 232, 1, 0, 0, 0, '1800-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (252, 233, 1, 0, 0, 0, '1800-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (253, 234, 1, 0, 0, 0, '1800-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (254, 235, 1, 0, 0, 0, '1800-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (255, 236, 1, 0, 0, 0, '1800-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (256, 237, 1, 0, 0, 0, '1800-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (257, 238, 1, 0, 0, 0, '1800-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (258, 239, 1, 0, 0, 0, '1800-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (259, 240, 1, 0, 0, 0, '1800-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (260, 241, 1, 0, 0, 0, '1800-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (261, 242, 1, 0, 0, 0, '1800-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (262, 243, 4, 0, 0, 0, '1790-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (263, 244, 4, 0, 0, 0, '1790-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (264, 245, 4, 0, 0, 0, '1790-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (265, 246, 4, 0, 0, 0, '1790-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (266, 247, 2, 0, 0, 0, '1790-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (267, 248, 2, 0, 0, 0, '1790-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (268, 249, 2, 0, 0, 0, '1790-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (269, 250, 2, 0, 0, 0, '1790-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (270, 251, 2, 0, 0, 0, '1790-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (271, 252, 5, 0, 0, 0, '1790-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (272, 253, 5, 0, 0, 0, '1790-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (273, 254, 5, 0, 0, 0, '1790-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (274, 255, 5, 0, 0, 0, '1790-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (275, 256, 5, 0, 0, 0, '1790-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (276, 257, 5, 0, 0, 0, '1790-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (277, 258, 5, 0, 0, 0, '1790-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (278, 259, 5, 0, 0, 0, '1790-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (279, 260, 5, 0, 0, 0, '1790-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (280, 261, 5, 0, 0, 0, '1790-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (281, 262, 4, 0, 0, 0, '1790-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (282, 263, 4, 0, 0, 0, '1790-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (283, 264, 4, 0, 0, 0, '1790-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (284, 265, 4, 0, 0, 0, '1790-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (285, 266, 4, 0, 0, 0, '1790-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (286, 267, 4, 0, 0, 0, '1790-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (287, 268, 4, 0, 0, 0, '1790-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (288, 269, 2, 0, 0, 0, '1790-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (289, 270, 2, 0, 0, 0, '1790-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (290, 271, 2, 0, 0, 0, '1790-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (291, 272, 2, 0, 0, 0, '1790-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (292, 273, 2, 0, 0, 0, '1790-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (293, 274, 2, 0, 0, 0, '1790-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (294, 275, 2, 0, 0, 0, '1790-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (295, 276, 2, 0, 0, 0, '1790-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (296, 277, 2, 0, 0, 0, '1790-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (297, 278, 2, 0, 0, 0, '1790-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (298, 279, 2, 0, 0, 0, '1790-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (299, 280, 2, 0, 0, 0, '1790-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (300, 281, 4, 0, 0, 0, '1790-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (301, 282, 4, 0, 0, 0, '1790-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (302, 283, 4, 0, 0, 0, '1790-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (303, 284, 4, 0, 0, 0, '1790-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (304, 285, 4, 0, 0, 0, '1790-02-25 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (305, 286, 4, 0, 0, 0, '1790-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (306, 287, 4, 0, 0, 0, '1790-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (307, 288, 4, 0, 0, 0, '1790-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (308, 289, 4, 0, 0, 0, '1790-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (309, 290, 4, 0, 0, 0, '1790-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (310, 291, 4, 0, 0, 0, '1790-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (311, 292, 4, 0, 0, 0, '1790-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (312, 293, 4, 0, 0, 0, '1790-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (313, 294, 4, 0, 0, 0, '1790-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (314, 295, 1, 0, 0, 0, '1800-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (315, 296, 2, 0, 0, 0, '1790-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (316, 297, 6, 0, 0, 0, '1791-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (317, 298, 6, 0, 0, 0, '1791-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (318, 299, 6, 0, 0, 0, '1791-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (319, 300, 6, 0, 0, 0, '1791-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (320, 301, 6, 0, 0, 0, '1791-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (321, 302, 6, 0, 0, 0, '1791-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (322, 303, 6, 0, 0, 0, '1791-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (323, 304, 6, 0, 0, 0, '1791-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (324, 305, 6, 0, 0, 0, '1791-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (325, 306, 6, 0, 0, 0, '1791-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (326, 307, 6, 0, 0, 0, '1791-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (327, 308, 6, 0, 0, 0, '1791-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (328, 309, 6, 0, 0, 0, '1791-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (329, 310, 6, 0, 0, 0, '1791-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (330, 311, 6, 0, 0, 0, '1791-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (331, 312, 6, 0, 0, 0, '1791-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (332, 313, 6, 0, 0, 0, '1791-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (333, 314, 6, 0, 0, 0, '1791-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (334, 315, 6, 0, 0, 0, '1791-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (335, 316, 6, 0, 0, 0, '1791-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (336, 317, 4, 0, 0, 0, '1790-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (337, 318, 4, 0, 0, 0, '1790-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (338, 319, 4, 0, 0, 0, '1790-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (339, 320, 4, 0, 0, 0, '1790-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (340, 321, 4, 0, 0, 0, '1790-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (341, 322, 4, 0, 0, 0, '1790-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (342, 323, 4, 0, 0, 0, '1790-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (343, 324, 4, 0, 0, 0, '1790-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (344, 325, 4, 0, 0, 0, '1790-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (345, 326, 4, 0, 0, 0, '1790-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (346, 327, 4, 0, 0, 0, '1790-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (347, 328, 4, 0, 0, 0, '1790-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (348, 329, 4, 0, 0, 0, '1790-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (349, 330, 4, 0, 0, 0, '1790-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (350, 331, 4, 0, 0, 0, '1790-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (351, 332, 4, 0, 0, 0, '1790-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (352, 333, 4, 0, 0, 0, '1790-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (353, 334, 4, 0, 0, 0, '1790-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (354, 354, 2, 0, 0, 0, '1790-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (355, 355, 2, 0, 0, 0, '1790-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (356, 356, 2, 0, 0, 0, '1790-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (357, 357, 2, 0, 0, 0, '1790-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (358, 358, 2, 0, 0, 0, '1790-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (359, 359, 2, 0, 0, 0, '1790-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (360, 360, 2, 0, 0, 0, '1790-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (361, 361, 2, 0, 0, 0, '1790-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (362, 362, 2, 0, 0, 0, '1790-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (363, 363, 2, 0, 0, 0, '1790-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (364, 364, 4, 0, 0, 0, '1790-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (365, 365, 4, 0, 0, 0, '1790-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (366, 366, 4, 0, 0, 0, '1790-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (367, 367, 4, 0, 0, 0, '1790-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (368, 368, 4, 0, 0, 0, '1790-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (369, 369, 4, 0, 0, 0, '1790-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (370, 370, 4, 0, 0, 0, '1790-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (371, 371, 2, 0, 0, 0, '1790-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (372, 372, 2, 0, 0, 0, '1790-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (373, 373, 2, 0, 0, 0, '1790-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (374, 374, 4, 0, 0, 0, '1790-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (375, 375, 4, 0, 0, 0, '1790-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (376, 376, 4, 0, 0, 0, '1790-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (377, 377, 4, 0, 0, 0, '1790-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (378, 378, 4, 0, 0, 0, '1790-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (379, 379, 4, 0, 0, 0, '1790-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (380, 380, 4, 0, 0, 0, '1790-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (381, 381, 4, 0, 0, 0, '1790-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (382, 382, 4, 0, 0, 0, '1790-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (383, 383, 4, 0, 0, 0, '1790-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (384, 384, 4, 0, 0, 0, '1790-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (385, 385, 2, 0, 0, 0, '1790-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (386, 386, 2, 0, 0, 0, '1790-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (387, 387, 2, 0, 0, 0, '1790-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (388, 388, 2, 0, 0, 0, '1790-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (389, 389, 2, 0, 0, 0, '1790-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (390, 390, 2, 0, 0, 0, '1790-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (391, 391, 2, 0, 0, 0, '1790-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (392, 392, 2, 0, 0, 0, '1790-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (393, 393, 2, 0, 0, 0, '1790-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (394, 394, 2, 0, 0, 0, '1790-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (395, 395, 2, 0, 0, 0, '1790-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (396, 396, 2, 0, 0, 0, '1790-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (397, 397, 2, 0, 0, 0, '1790-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (398, 398, 2, 0, 0, 0, '1790-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (399, 399, 2, 0, 0, 0, '1790-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (400, 400, 2, 0, 0, 0, '1790-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (401, 401, 2, 0, 0, 0, '1790-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (402, 402, 1, 0, 0, 0, '1800-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (403, 403, 2, 0, 0, 0, '1790-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (404, 404, 2, 0, 0, 0, '1790-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (405, 405, 2, 0, 0, 0, '1790-07-21 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (406, 406, 2, 0, 0, 0, '1790-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (407, 407, 2, 0, 0, 0, '1790-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (408, 534, 7, 0, 0, 0, '1778-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (409, 535, 8, 0, 0, 0, '1789-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (410, 536, 8, 0, 0, 0, '1789-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (411, 537, 8, 0, 0, 0, '1789-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (412, 538, 8, 0, 0, 0, '1789-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (413, 539, 8, 0, 0, 0, '1789-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (414, 540, 8, 0, 0, 0, '1789-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (415, 541, 8, 0, 0, 0, '1789-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (416, 542, 8, 0, 0, 0, '1789-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (417, 543, 8, 0, 0, 0, '1789-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (418, 544, 8, 0, 0, 0, '1789-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (419, 545, 8, 0, 0, 0, '1788-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (420, 546, 8, 0, 0, 0, '1788-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (421, 547, 8, 0, 0, 0, '1788-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (422, 548, 8, 0, 0, 0, '1788-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (423, 672, 9, 0, 0, 0, '1792-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (424, 673, 9, 0, 0, 0, '1792-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (425, 674, 9, 0, 0, 0, '1792-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (426, 675, 9, 0, 0, 0, '1792-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (427, 408, 2, 0, 0, 0, '1790-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (428, 409, 2, 0, 0, 0, '1790-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (429, 410, 6, 0, 0, 0, '1791-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (430, 411, 6, 0, 0, 0, '1791-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (431, 412, 6, 0, 0, 0, '1791-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (432, 413, 2, 0, 0, 0, '1790-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (433, 414, 2, 0, 0, 0, '1790-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (434, 415, 2, 0, 0, 0, '1790-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (435, 416, 2, 0, 0, 0, '1790-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (436, 417, 1, 0, 0, 0, '1800-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (437, 418, 1, 0, 0, 0, '1800-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (438, 419, 2, 0, 0, 0, '1790-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (439, 420, 2, 0, 0, 0, '1790-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (440, 421, 2, 0, 0, 0, '1790-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (441, 422, 2, 0, 0, 0, '1790-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (442, 423, 6, 0, 0, 0, '1791-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (443, 424, 6, 0, 0, 0, '1791-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (444, 425, 6, 0, 0, 0, '1791-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (445, 426, 2, 0, 0, 0, '1790-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (446, 427, 6, 0, 0, 0, '1791-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (447, 428, 6, 0, 0, 0, '1791-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (448, 429, 6, 0, 0, 0, '1791-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (449, 430, 6, 0, 0, 0, '1791-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (450, 431, 6, 0, 0, 0, '1791-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (451, 432, 6, 0, 0, 0, '1791-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (452, 433, 6, 0, 0, 0, '1791-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (453, 434, 6, 0, 0, 0, '1791-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (454, 435, 6, 0, 0, 0, '1791-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (455, 436, 6, 0, 0, 0, '1791-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (456, 437, 6, 0, 0, 0, '1791-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (457, 438, 6, 0, 0, 0, '1791-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (458, 439, 6, 0, 0, 0, '1791-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (459, 440, 6, 0, 0, 0, '1791-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (460, 441, 6, 0, 0, 0, '1791-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (461, 442, 6, 0, 0, 0, '1791-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (462, 443, 6, 0, 0, 0, '1791-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (463, 444, 6, 0, 0, 0, '1791-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (464, 445, 6, 0, 0, 0, '1791-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (465, 446, 6, 0, 0, 0, '1791-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (466, 447, 2, 0, 0, 0, '1790-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (467, 448, 6, 0, 0, 0, '1791-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (468, 449, 6, 0, 0, 0, '1791-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (469, 450, 8, 0, 0, 0, '1789-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (470, 451, 8, 0, 0, 0, '1789-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (471, 452, 8, 0, 0, 0, '1789-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (472, 453, 8, 0, 0, 0, '1789-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (473, 454, 7, 0, 0, 0, '1778-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (474, 455, 7, 0, 0, 0, '1778-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (475, 456, 7, 0, 0, 0, '1778-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (476, 457, 7, 0, 0, 0, '1778-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (477, 458, 7, 0, 0, 0, '1778-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (478, 459, 7, 0, 0, 0, '1778-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (479, 460, 7, 0, 0, 0, '1778-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (480, 461, 7, 0, 0, 0, '1778-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (481, 462, 7, 0, 0, 0, '1778-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (482, 463, 7, 0, 0, 0, '1778-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (483, 464, 7, 0, 0, 0, '1778-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (484, 465, 7, 0, 0, 0, '1778-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (485, 466, 7, 0, 0, 0, '1778-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (486, 467, 8, 0, 0, 0, '1789-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (487, 468, 8, 0, 0, 0, '1789-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (488, 469, 8, 0, 0, 0, '1789-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (489, 470, 6, 0, 0, 0, '1791-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (490, 471, 6, 0, 0, 0, '1791-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (491, 472, 6, 0, 0, 0, '1791-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (492, 473, 6, 0, 0, 0, '1791-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (493, 474, 6, 0, 0, 0, '1791-01-13 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (494, 475, 6, 0, 0, 0, '1791-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (495, 476, 6, 0, 0, 0, '1791-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (496, 477, 6, 0, 0, 0, '1791-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (497, 478, 6, 0, 0, 0, '1791-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (498, 479, 6, 0, 0, 0, '1791-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (499, 480, 6, 0, 0, 0, '1791-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (500, 481, 6, 0, 0, 0, '1791-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (501, 482, 6, 0, 0, 0, '1791-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (502, 483, 6, 0, 0, 0, '1791-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (503, 484, 6, 0, 0, 0, '1791-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (504, 485, 6, 0, 0, 0, '1791-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (505, 486, 6, 0, 0, 0, '1791-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (506, 487, 6, 0, 0, 0, '1791-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (507, 488, 6, 0, 0, 0, '1791-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (508, 489, 6, 0, 0, 0, '1791-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (509, 490, 6, 0, 0, 0, '1791-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (510, 491, 6, 0, 0, 0, '1791-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (511, 492, 6, 0, 0, 0, '1791-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (512, 493, 6, 0, 0, 0, '1791-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (513, 494, 6, 0, 0, 0, '1791-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (514, 495, 6, 0, 0, 0, '1791-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (515, 496, 6, 0, 0, 0, '1791-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (516, 497, 6, 0, 0, 0, '1791-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (517, 498, 6, 0, 0, 0, '1791-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (518, 499, 8, 0, 0, 0, '1788-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (519, 500, 8, 0, 0, 0, '1788-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (520, 501, 7, 0, 0, 0, '1778-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (521, 502, 7, 0, 0, 0, '1778-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (522, 503, 8, 0, 0, 0, '1788-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (523, 504, 8, 0, 0, 0, '1788-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (524, 505, 8, 0, 0, 0, '1788-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (525, 506, 8, 0, 0, 0, '1789-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (526, 507, 8, 0, 0, 0, '1789-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (527, 508, 8, 0, 0, 0, '1789-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (528, 509, 8, 0, 0, 0, '1789-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (529, 510, 8, 0, 0, 0, '1789-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (530, 511, 8, 0, 0, 0, '1789-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (531, 512, 8, 0, 0, 0, '1789-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (532, 513, 8, 0, 0, 0, '1789-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (533, 514, 8, 0, 0, 0, '1789-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (534, 515, 8, 0, 0, 0, '1788-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (535, 516, 8, 0, 0, 0, '1789-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (536, 517, 8, 0, 0, 0, '1789-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (537, 518, 8, 0, 0, 0, '1789-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (538, 519, 8, 0, 0, 0, '1789-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (539, 520, 8, 0, 0, 0, '1789-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (540, 521, 8, 0, 0, 0, '1789-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (541, 522, 8, 0, 0, 0, '1789-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (542, 523, 8, 0, 0, 0, '1789-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (543, 524, 8, 0, 0, 0, '1789-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (544, 525, 7, 0, 0, 0, '1778-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (545, 526, 7, 0, 0, 0, '1778-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (546, 527, 7, 0, 0, 0, '1778-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (547, 528, 7, 0, 0, 0, '1778-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (548, 529, 7, 0, 0, 0, '1778-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (549, 530, 7, 0, 0, 0, '1778-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (550, 531, 7, 0, 0, 0, '1778-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (551, 532, 7, 0, 0, 0, '1778-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (552, 533, 7, 0, 0, 0, '1778-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (553, 549, 10, 0, 0, 0, '1782-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (554, 550, 10, 0, 0, 0, '1782-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (555, 551, 8, 0, 0, 0, '1788-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (556, 552, 8, 0, 0, 0, '1789-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (557, 553, 8, 0, 0, 0, '1789-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (558, 554, 8, 0, 0, 0, '1789-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (559, 555, 8, 0, 0, 0, '1789-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (560, 556, 8, 0, 0, 0, '1789-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (561, 557, 8, 0, 0, 0, '1789-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (562, 558, 8, 0, 0, 0, '1789-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (563, 559, 8, 0, 0, 0, '1789-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (564, 560, 8, 0, 0, 0, '1789-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (565, 561, 8, 0, 0, 0, '1789-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (566, 562, 8, 0, 0, 0, '1789-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (567, 563, 8, 0, 0, 0, '1789-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (568, 564, 8, 0, 0, 0, '1789-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (569, 565, 8, 0, 0, 0, '1789-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (570, 566, 8, 0, 0, 0, '1789-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (571, 567, 8, 0, 0, 0, '1789-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (572, 568, 8, 0, 0, 0, '1789-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (573, 569, 8, 0, 0, 0, '1789-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (574, 570, 8, 0, 0, 0, '1789-03-11 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (575, 571, 8, 0, 0, 0, '1789-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (576, 572, 8, 0, 0, 0, '1789-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (577, 573, 8, 0, 0, 0, '1789-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (578, 574, 8, 0, 0, 0, '1789-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (579, 575, 8, 0, 0, 0, '1789-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (580, 576, 8, 0, 0, 0, '1789-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (581, 577, 8, 0, 0, 0, '1789-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (582, 578, 8, 0, 0, 0, '1789-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (583, 579, 8, 0, 0, 0, '1789-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (584, 580, 8, 0, 0, 0, '1789-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (585, 581, 8, 0, 0, 0, '1789-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (586, 582, 8, 0, 0, 0, '1789-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (587, 583, 8, 0, 0, 0, '1789-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (588, 584, 8, 0, 0, 0, '1789-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (589, 585, 8, 0, 0, 0, '1789-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (590, 586, 7, 0, 0, 0, '1778-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (591, 587, 7, 0, 0, 0, '1778-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (592, 588, 7, 0, 0, 0, '1778-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (593, 589, 7, 0, 0, 0, '1778-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (594, 590, 7, 0, 0, 0, '1778-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (595, 591, 7, 0, 0, 0, '1778-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (596, 592, 7, 0, 0, 0, '1778-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (597, 593, 11, 0, 0, 0, '1789-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (598, 594, 11, 0, 0, 0, '1789-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (599, 595, 8, 0, 0, 0, '1789-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (600, 596, 8, 0, 0, 0, '1789-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (601, 597, 8, 0, 0, 0, '1789-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (602, 598, 8, 0, 0, 0, '1789-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (603, 599, 8, 0, 0, 0, '1789-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (604, 600, 8, 0, 0, 0, '1789-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (605, 601, 8, 0, 0, 0, '1789-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (606, 602, 8, 0, 0, 0, '1789-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (607, 603, 7, 0, 0, 0, '1778-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (608, 604, 8, 0, 0, 0, '1789-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (609, 605, 8, 0, 0, 0, '1789-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (610, 606, 8, 0, 0, 0, '1789-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (611, 607, 8, 0, 0, 0, '1789-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (612, 608, 7, 0, 0, 0, '1778-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (613, 609, 7, 0, 0, 0, '1778-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (614, 610, 7, 0, 0, 0, '1778-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (615, 611, 7, 0, 0, 0, '1778-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (616, 612, 7, 0, 0, 0, '1778-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (617, 613, 7, 0, 0, 0, '1778-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (618, 614, 7, 0, 0, 0, '1778-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (619, 615, 7, 0, 0, 0, '1778-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (620, 616, 8, 0, 0, 0, '1789-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (621, 617, 9, 0, 0, 0, '1792-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (622, 618, 9, 0, 0, 0, '1792-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (623, 619, 8, 0, 0, 0, '1789-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (624, 620, 8, 0, 0, 0, '1789-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (625, 621, 12, 0, 0, 0, '1797-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (626, 622, 12, 0, 0, 0, '1797-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (627, 623, 12, 0, 0, 0, '1797-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (628, 624, 12, 0, 0, 0, '1797-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (629, 625, 12, 0, 0, 0, '1797-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (630, 626, 12, 0, 0, 0, '1797-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (631, 627, 12, 0, 0, 0, '1797-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (632, 628, 12, 0, 0, 0, '1797-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (633, 629, 12, 0, 0, 0, '1797-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (634, 630, 12, 0, 0, 0, '1797-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (635, 631, 12, 0, 0, 0, '1797-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (636, 632, 12, 0, 0, 0, '1797-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (637, 633, 11, 0, 0, 0, '1790-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (638, 634, 11, 0, 0, 0, '1790-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (639, 635, 11, 0, 0, 0, '1790-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (640, 636, 11, 0, 0, 0, '1790-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (641, 637, 11, 0, 0, 0, '1790-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (642, 638, 8, 0, 0, 0, '1789-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (643, 639, 7, 0, 0, 0, '1778-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (644, 640, 8, 0, 0, 0, '1789-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (645, 641, 8, 0, 0, 0, '1789-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (646, 642, 8, 0, 0, 0, '1789-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (647, 643, 13, 0, 0, 0, '1782-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (648, 644, 9, 0, 0, 0, '1792-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (649, 645, 10, 0, 0, 0, '1782-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (650, 646, 10, 0, 0, 0, '1782-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (651, 647, 10, 0, 0, 0, '1782-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (652, 648, 10, 0, 0, 0, '1782-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (653, 649, 10, 0, 0, 0, '1782-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (654, 650, 9, 0, 0, 0, '1792-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (655, 651, 9, 0, 0, 0, '1792-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (656, 652, 8, 0, 0, 0, '1788-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (657, 653, 8, 0, 0, 0, '1788-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (658, 654, 8, 0, 0, 0, '1788-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (659, 655, 8, 0, 0, 0, '1788-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (660, 656, 10, 0, 0, 0, '1782-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (661, 657, 10, 0, 0, 0, '1782-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (662, 658, 10, 0, 0, 0, '1782-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (663, 659, 10, 0, 0, 0, '1782-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (664, 660, 10, 0, 0, 0, '1782-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (665, 661, 10, 0, 0, 0, '1782-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (666, 662, 10, 0, 0, 0, '1782-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (667, 663, 10, 0, 0, 0, '1782-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (668, 664, 10, 0, 0, 0, '1782-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (669, 665, 10, 0, 0, 0, '1782-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (670, 666, 10, 0, 0, 0, '1782-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (671, 667, 10, 0, 0, 0, '1782-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (672, 668, 9, 0, 0, 0, '1791-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (673, 669, 9, 0, 0, 0, '1791-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (674, 670, 9, 0, 0, 0, '1792-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (675, 671, 9, 0, 0, 0, '1792-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (676, 676, 9, 0, 0, 0, '1792-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (677, 677, 9, 0, 0, 0, '1792-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (678, 678, 12, 0, 0, 0, '1797-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (679, 679, 12, 0, 0, 0, '1797-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (680, 680, 12, 0, 0, 0, '1797-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (681, 681, 12, 0, 0, 0, '1797-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (682, 682, 12, 0, 0, 0, '1797-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (683, 683, 12, 0, 0, 0, '1797-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (684, 684, 12, 0, 0, 0, '1797-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (685, 685, 12, 0, 0, 0, '1797-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (686, 686, 12, 0, 0, 0, '1797-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (687, 687, 12, 0, 0, 0, '1797-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (688, 688, 12, 0, 0, 0, '1797-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (689, 689, 12, 0, 0, 0, '1797-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (690, 690, 10, 0, 0, 0, '1782-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (691, 691, 10, 0, 0, 0, '1782-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (692, 692, 10, 0, 0, 0, '1782-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (693, 693, 10, 0, 0, 0, '1782-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (694, 694, 10, 0, 0, 0, '1782-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (695, 695, 11, 0, 0, 0, '1790-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (696, 696, 11, 0, 0, 0, '1790-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (697, 697, 11, 0, 0, 0, '1790-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (698, 698, 11, 0, 0, 0, '1790-01-06 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (699, 699, 10, 0, 0, 0, '1782-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (700, 700, 10, 0, 0, 0, '1782-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (701, 701, 10, 0, 0, 0, '1782-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (702, 702, 10, 0, 0, 0, '1782-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (703, 703, 10, 0, 0, 0, '1782-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (704, 704, 9, 0, 0, 0, '1792-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (705, 705, 9, 0, 0, 0, '1792-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (706, 706, 8, 0, 0, 0, '1788-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (707, 707, 13, 0, 0, 0, '1782-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (708, 708, 13, 0, 0, 0, '1782-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (709, 709, 13, 0, 0, 0, '1782-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (710, 710, 13, 0, 0, 0, '1782-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (711, 711, 9, 0, 0, 0, '1792-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (712, 712, 9, 0, 0, 0, '1791-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (713, 713, 9, 0, 0, 0, '1792-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (714, 714, 9, 0, 0, 0, '1792-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (715, 715, 9, 0, 0, 0, '1792-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (716, 716, 9, 0, 0, 0, '1792-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (717, 717, 9, 0, 0, 0, '1792-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (718, 718, 9, 0, 0, 0, '1792-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (719, 719, 8, 0, 0, 0, '1789-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (720, 720, 7, 0, 0, 0, '1778-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (721, 721, 7, 0, 0, 0, '1778-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (722, 722, 8, 0, 0, 0, '1789-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (723, 723, 9, 0, 0, 0, '1792-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (724, 724, 8, 0, 0, 0, '1789-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (725, 848, 7, 0, 0, 0, '1778-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (726, 849, 7, 0, 0, 0, '1778-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (727, 850, 8, 0, 0, 0, '1789-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (728, 851, 8, 0, 0, 0, '1789-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (729, 852, 8, 0, 0, 0, '1789-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (730, 853, 8, 0, 0, 0, '1789-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (731, 854, 8, 0, 0, 0, '1789-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (732, 855, 8, 0, 0, 0, '1789-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (733, 856, 8, 0, 0, 0, '1789-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (734, 857, 8, 0, 0, 0, '1789-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (735, 858, 8, 0, 0, 0, '1789-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (736, 859, 8, 0, 0, 0, '1789-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (737, 860, 7, 0, 0, 0, '1778-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (738, 861, 7, 0, 0, 0, '1778-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (739, 862, 7, 0, 0, 0, '1778-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (740, 863, 7, 0, 0, 0, '1778-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (741, 864, 7, 0, 0, 0, '1778-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (742, 865, 14, 0, 0, 0, '1780-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (743, 725, 8, 0, 0, 0, '1789-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (744, 726, 8, 0, 0, 0, '1789-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (745, 727, 8, 0, 0, 0, '1789-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (746, 728, 8, 0, 0, 0, '1789-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (747, 729, 8, 0, 0, 0, '1789-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (748, 730, 8, 0, 0, 0, '1789-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (749, 731, 7, 0, 0, 0, '1778-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (750, 732, 7, 0, 0, 0, '1778-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (751, 733, 7, 0, 0, 0, '1778-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (752, 734, 7, 0, 0, 0, '1778-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (753, 735, 7, 0, 0, 0, '1778-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (754, 736, 8, 0, 0, 0, '1789-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (755, 737, 8, 0, 0, 0, '1789-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (756, 738, 8, 0, 0, 0, '1789-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (757, 739, 8, 0, 0, 0, '1789-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (758, 740, 8, 0, 0, 0, '1789-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (759, 741, 8, 0, 0, 0, '1789-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (760, 742, 7, 0, 0, 0, '1778-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (761, 743, 11, 0, 0, 0, '1790-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (762, 744, 11, 0, 0, 0, '1790-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (763, 745, 11, 0, 0, 0, '1790-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (764, 746, 11, 0, 0, 0, '1790-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (765, 747, 11, 0, 0, 0, '1790-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (766, 748, 8, 0, 0, 0, '1788-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (767, 749, 8, 0, 0, 0, '1788-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (768, 750, 8, 0, 0, 0, '1788-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (769, 751, 8, 0, 0, 0, '1788-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (770, 752, 8, 0, 0, 0, '1788-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (771, 753, 9, 0, 0, 0, '1791-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (772, 754, 9, 0, 0, 0, '1791-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (773, 755, 9, 0, 0, 0, '1791-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (774, 756, 9, 0, 0, 0, '1791-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (775, 757, 10, 0, 0, 0, '1782-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (776, 758, 10, 0, 0, 0, '1782-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (777, 759, 7, 0, 0, 0, '1778-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (778, 760, 7, 0, 0, 0, '1778-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (779, 761, 7, 0, 0, 0, '1778-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (780, 762, 7, 0, 0, 0, '1778-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (781, 763, 11, 0, 0, 0, '1789-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (782, 764, 11, 0, 0, 0, '1789-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (783, 765, 11, 0, 0, 0, '1789-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (784, 766, 11, 0, 0, 0, '1789-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (785, 767, 11, 0, 0, 0, '1789-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (786, 768, 11, 0, 0, 0, '1789-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (787, 769, 11, 0, 0, 0, '1789-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (788, 770, 11, 0, 0, 0, '1789-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (789, 771, 11, 0, 0, 0, '1789-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (790, 772, 11, 0, 0, 0, '1789-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (791, 773, 11, 0, 0, 0, '1789-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (792, 774, 11, 0, 0, 0, '1789-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (793, 775, 11, 0, 0, 0, '1789-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (794, 776, 11, 0, 0, 0, '1789-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (795, 777, 10, 0, 0, 0, '1782-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (796, 778, 7, 0, 0, 0, '1778-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (797, 779, 7, 0, 0, 0, '1778-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (798, 780, 7, 0, 0, 0, '1778-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (799, 781, 11, 0, 0, 0, '1789-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (800, 782, 11, 0, 0, 0, '1789-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (801, 783, 11, 0, 0, 0, '1789-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (802, 784, 11, 0, 0, 0, '1789-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (803, 785, 11, 0, 0, 0, '1789-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (804, 786, 11, 0, 0, 0, '1789-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (805, 787, 11, 0, 0, 0, '1789-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (806, 788, 8, 0, 0, 0, '1788-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (807, 789, 8, 0, 0, 0, '1788-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (808, 790, 11, 0, 0, 0, '1789-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (809, 791, 11, 0, 0, 0, '1789-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (810, 792, 11, 0, 0, 0, '1789-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (811, 793, 11, 0, 0, 0, '1789-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (812, 794, 11, 0, 0, 0, '1789-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (813, 795, 11, 0, 0, 0, '1789-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (814, 796, 13, 0, 0, 0, '1782-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (815, 797, 13, 0, 0, 0, '1782-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (816, 798, 13, 0, 0, 0, '1782-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (817, 799, 9, 0, 0, 0, '1792-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (818, 800, 9, 0, 0, 0, '1791-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (819, 801, 9, 0, 0, 0, '1792-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (820, 802, 12, 0, 0, 0, '1797-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (821, 803, 8, 0, 0, 0, '1788-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (822, 804, 8, 0, 0, 0, '1788-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (823, 805, 8, 0, 0, 0, '1788-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (824, 806, 8, 0, 0, 0, '1788-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (825, 807, 8, 0, 0, 0, '1788-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (826, 808, 8, 0, 0, 0, '1788-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (827, 809, 8, 0, 0, 0, '1788-11-22 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (830, 812, 8, 0, 0, 0, '1788-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (831, 813, 8, 0, 0, 0, '1788-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (832, 814, 9, 0, 0, 0, '1792-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (833, 815, 9, 0, 0, 0, '1792-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (834, 816, 9, 0, 0, 0, '1792-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (835, 817, 9, 0, 0, 0, '1792-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (836, 818, 9, 0, 0, 0, '1792-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (837, 819, 8, 0, 0, 0, '1789-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (838, 820, 8, 0, 0, 0, '1789-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (839, 821, 8, 0, 0, 0, '1789-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (840, 822, 8, 0, 0, 0, '1789-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (841, 823, 8, 0, 0, 0, '1789-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (842, 824, 8, 0, 0, 0, '1789-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (843, 825, 8, 0, 0, 0, '1789-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (844, 826, 8, 0, 0, 0, '1789-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (845, 827, 8, 0, 0, 0, '1789-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (846, 828, 8, 0, 0, 0, '1789-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (847, 829, 8, 0, 0, 0, '1789-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (848, 830, 8, 0, 0, 0, '1789-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (849, 831, 8, 0, 0, 0, '1789-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (850, 832, 8, 0, 0, 0, '1789-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (851, 833, 8, 0, 0, 0, '1789-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (852, 834, 7, 0, 0, 0, '1778-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (853, 835, 7, 0, 0, 0, '1778-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (854, 836, 8, 0, 0, 0, '1789-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (855, 837, 8, 0, 0, 0, '1789-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (856, 838, 8, 0, 0, 0, '1789-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (857, 839, 11, 0, 0, 0, '1789-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (858, 840, 11, 0, 0, 0, '1789-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (859, 841, 11, 0, 0, 0, '1789-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (860, 842, 11, 0, 0, 0, '1789-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (861, 843, 11, 0, 0, 0, '1789-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (862, 844, 11, 0, 0, 0, '1789-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (863, 845, 11, 0, 0, 0, '1789-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (864, 846, 11, 0, 0, 0, '1789-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (865, 847, 10, 0, 0, 0, '1782-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (866, 866, 14, 0, 0, 0, '1780-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (867, 867, 14, 0, 0, 0, '1780-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (868, 868, 14, 0, 0, 0, '1780-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (869, 869, 7, 0, 0, 0, '1778-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (870, 870, 7, 0, 0, 0, '1778-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (871, 871, 7, 0, 0, 0, '1778-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (872, 872, 7, 0, 0, 0, '1778-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (873, 873, 7, 0, 0, 0, '1778-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (874, 874, 7, 0, 0, 0, '1778-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (875, 875, 7, 0, 0, 0, '1778-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (876, 876, 7, 0, 0, 0, '1778-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (877, 877, 7, 0, 0, 0, '1778-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (878, 878, 7, 0, 0, 0, '1778-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (879, 879, 7, 0, 0, 0, '1778-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (880, 880, 7, 0, 0, 0, '1778-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (881, 881, 11, 0, 0, 0, '1789-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (882, 882, 11, 0, 0, 0, '1789-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (883, 883, 8, 0, 0, 0, '1788-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (884, 884, 8, 0, 0, 0, '1788-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (885, 885, 8, 0, 0, 0, '1788-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (886, 886, 13, 0, 0, 0, '1782-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (887, 887, 13, 0, 0, 0, '1782-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (888, 888, 8, 0, 0, 0, '1788-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (889, 889, 10, 0, 0, 0, '1782-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (890, 890, 10, 0, 0, 0, '1782-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (891, 891, 9, 0, 0, 0, '1792-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (892, 892, 7, 0, 0, 0, '1778-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (893, 893, 7, 0, 0, 0, '1778-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (894, 894, 7, 0, 0, 0, '1778-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (895, 895, 7, 0, 0, 0, '1778-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (896, 896, 7, 0, 0, 0, '1778-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (897, 897, 7, 0, 0, 0, '1778-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (898, 898, 7, 0, 0, 0, '1778-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (899, 899, 7, 0, 0, 0, '1778-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (900, 900, 8, 0, 0, 0, '1788-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (901, 901, 8, 0, 0, 0, '1788-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (902, 902, 8, 0, 0, 0, '1788-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (903, 903, 13, 0, 0, 0, '1782-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (904, 904, 13, 0, 0, 0, '1782-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (905, 905, 13, 0, 0, 0, '1782-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (906, 906, 13, 0, 0, 0, '1782-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (907, 907, 13, 0, 0, 0, '1782-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (908, 908, 13, 0, 0, 0, '1782-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (909, 909, 13, 0, 0, 0, '1782-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (910, 910, 13, 0, 0, 0, '1782-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (911, 911, 13, 0, 0, 0, '1782-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (912, 912, 13, 0, 0, 0, '1782-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (913, 913, 13, 0, 0, 0, '1782-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (914, 914, 13, 0, 0, 0, '1782-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (915, 915, 13, 0, 0, 0, '1782-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (916, 916, 13, 0, 0, 0, '1782-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (917, 917, 13, 0, 0, 0, '1782-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (918, 918, 13, 0, 0, 0, '1782-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (919, 919, 13, 0, 0, 0, '1782-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (920, 920, 13, 0, 0, 0, '1782-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (921, 921, 13, 0, 0, 0, '1782-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (922, 922, 13, 0, 0, 0, '1782-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (923, 923, 7, 0, 0, 0, '1778-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (924, 924, 7, 0, 0, 0, '1778-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (925, 925, 7, 0, 0, 0, '1778-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (926, 926, 7, 0, 0, 0, '1778-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (927, 927, 7, 0, 0, 0, '1778-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (928, 928, 7, 0, 0, 0, '1778-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (929, 929, 7, 0, 0, 0, '1778-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (930, 930, 7, 0, 0, 0, '1778-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (931, 931, 7, 0, 0, 0, '1778-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (932, 932, 7, 0, 0, 0, '1778-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (933, 933, 7, 0, 0, 0, '1778-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (934, 934, 7, 0, 0, 0, '1778-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (935, 935, 7, 0, 0, 0, '1778-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (936, 936, 10, 0, 0, 0, '1782-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (937, 937, 10, 0, 0, 0, '1782-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (938, 938, 10, 0, 0, 0, '1782-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (939, 939, 10, 0, 0, 0, '1782-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (940, 940, 10, 0, 0, 0, '1782-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (941, 941, 10, 0, 0, 0, '1782-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (942, 942, 10, 0, 0, 0, '1782-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (943, 943, 9, 0, 0, 0, '1792-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (944, 944, 9, 0, 0, 0, '1792-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (945, 945, 9, 0, 0, 0, '1792-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (946, 946, 9, 0, 0, 0, '1792-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (947, 947, 9, 0, 0, 0, '1792-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (948, 948, 12, 0, 0, 0, '1797-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (949, 949, 12, 0, 0, 0, '1797-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (950, 950, 12, 0, 0, 0, '1797-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (951, 951, 12, 0, 0, 0, '1797-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (952, 952, 12, 0, 0, 0, '1797-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (953, 953, 12, 0, 0, 0, '1797-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (954, 954, 12, 0, 0, 0, '1797-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (955, 955, 12, 0, 0, 0, '1797-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (956, 956, 12, 0, 0, 0, '1797-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (957, 957, 12, 0, 0, 0, '1797-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (958, 958, 12, 0, 0, 0, '1797-08-16 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1011, 1130, 3, 0, 0, 0, '1776-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1012, 1131, 3, 0, 0, 0, '1776-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1013, 1132, 3, 0, 0, 0, '1776-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1014, 1133, 16, 0, 0, 0, '1786-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1015, 1134, 16, 0, 0, 0, '1786-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1016, 1135, 16, 0, 0, 0, '1786-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1017, 1136, 16, 0, 0, 0, '1786-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1018, 1137, 16, 0, 0, 0, '1786-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1019, 1138, 16, 0, 0, 0, '1786-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1020, 1139, 16, 0, 0, 0, '1786-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1021, 1140, 16, 0, 0, 0, '1786-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1022, 1141, 16, 0, 0, 0, '1786-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1023, 1142, 16, 0, 0, 0, '1786-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1024, 1143, 16, 0, 0, 0, '1786-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1025, 1144, 16, 0, 0, 0, '1786-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1026, 1145, 3, 0, 0, 0, '1776-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1027, 1146, 3, 0, 0, 0, '1776-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1028, 1147, 3, 0, 0, 0, '1776-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1029, 1148, 3, 0, 0, 0, '1776-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1030, 1010, 16, 0, 0, 0, '1786-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1031, 1011, 16, 0, 0, 0, '1786-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1032, 1012, 16, 0, 0, 0, '1786-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1033, 1013, 16, 0, 0, 0, '1786-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1034, 1014, 16, 0, 0, 0, '1786-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1035, 1015, 16, 0, 0, 0, '1786-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1036, 1016, 16, 0, 0, 0, '1786-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1037, 1017, 16, 0, 0, 0, '1786-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1038, 1018, 16, 0, 0, 0, '1786-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1039, 1019, 16, 0, 0, 0, '1786-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1040, 1020, 8, 0, 0, 0, '1788-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1041, 1021, 8, 0, 0, 0, '1788-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1042, 1022, 8, 0, 0, 0, '1788-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1043, 1023, 8, 0, 0, 0, '1788-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1044, 1024, 8, 0, 0, 0, '1788-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1045, 1025, 8, 0, 0, 0, '1788-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1046, 1026, 8, 0, 0, 0, '1788-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1047, 1027, 9, 0, 0, 0, '1792-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1048, 1028, 9, 0, 0, 0, '1792-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1049, 1029, 9, 0, 0, 0, '1792-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1050, 1030, 9, 0, 0, 0, '1792-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1051, 1031, 12, 0, 0, 0, '1797-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1052, 1032, 12, 0, 0, 0, '1797-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1053, 1033, 12, 0, 0, 0, '1797-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1054, 1034, 12, 0, 0, 0, '1797-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1055, 1035, 12, 0, 0, 0, '1797-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1056, 1036, 12, 0, 0, 0, '1797-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1057, 1037, 12, 0, 0, 0, '1797-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1058, 1038, 12, 0, 0, 0, '1797-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1059, 1039, 12, 0, 0, 0, '1797-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1060, 1040, 12, 0, 0, 0, '1797-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1061, 1041, 12, 0, 0, 0, '1797-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1062, 1042, 12, 0, 0, 0, '1797-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1063, 1043, 10, 0, 0, 0, '1782-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1064, 1044, 10, 0, 0, 0, '1782-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1065, 1045, 10, 0, 0, 0, '1782-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1066, 1046, 9, 0, 0, 0, '1792-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1067, 1047, 9, 0, 0, 0, '1792-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1068, 1048, 9, 0, 0, 0, '1792-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1069, 1049, 9, 0, 0, 0, '1792-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1070, 1050, 9, 0, 0, 0, '1792-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1071, 1051, 9, 0, 0, 0, '1792-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1072, 1052, 13, 0, 0, 0, '1782-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1073, 1053, 8, 0, 0, 0, '1788-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1074, 1054, 8, 0, 0, 0, '1788-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1075, 1055, 8, 0, 0, 0, '1788-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1076, 1056, 10, 0, 0, 0, '1782-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1077, 1057, 10, 0, 0, 0, '1782-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1078, 1058, 10, 0, 0, 0, '1782-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1079, 1059, 8, 0, 0, 0, '1788-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1080, 1060, 8, 0, 0, 0, '1788-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1081, 1061, 8, 0, 0, 0, '1788-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1082, 1062, 8, 0, 0, 0, '1788-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1083, 1063, 8, 0, 0, 0, '1788-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1084, 1064, 8, 0, 0, 0, '1788-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1085, 1065, 8, 0, 0, 0, '1788-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1086, 1066, 8, 0, 0, 0, '1788-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1087, 1067, 8, 0, 0, 0, '1788-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1088, 1068, 8, 0, 0, 0, '1788-10-30 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1089, 1069, 8, 0, 0, 0, '1788-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1090, 1070, 8, 0, 0, 0, '1788-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1091, 1071, 8, 0, 0, 0, '1788-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1092, 1072, 8, 0, 0, 0, '1788-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1093, 1073, 8, 0, 0, 0, '1788-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1094, 1074, 8, 0, 0, 0, '1788-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1095, 1075, 8, 0, 0, 0, '1788-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1096, 1076, 8, 0, 0, 0, '1788-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1097, 1077, 8, 0, 0, 0, '1788-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1098, 1078, 8, 0, 0, 0, '1788-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1099, 1079, 4, 0, 0, 0, '1790-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1100, 1080, 4, 0, 0, 0, '1790-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1101, 1081, 4, 0, 0, 0, '1790-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1102, 1082, 3, 0, 0, 0, '1776-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1103, 1083, 3, 0, 0, 0, '1776-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1104, 1084, 3, 0, 0, 0, '1776-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1105, 1085, 3, 0, 0, 0, '1776-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1106, 1086, 3, 0, 0, 0, '1776-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1107, 1087, 3, 0, 0, 0, '1776-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1108, 1088, 3, 0, 0, 0, '1776-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1109, 1089, 3, 0, 0, 0, '1776-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1110, 1090, 3, 0, 0, 0, '1776-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1111, 1091, 3, 0, 0, 0, '1776-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1112, 1092, 3, 0, 0, 0, '1777-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1113, 1093, 3, 0, 0, 0, '1777-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1114, 1094, 3, 0, 0, 0, '1777-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1115, 1095, 8, 0, 0, 0, '1788-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1116, 1096, 8, 0, 0, 0, '1788-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1117, 1097, 9, 0, 0, 0, '1792-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1118, 1098, 8, 0, 0, 0, '1788-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1119, 1099, 8, 0, 0, 0, '1788-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1120, 1100, 8, 0, 0, 0, '1788-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1121, 1101, 15, 0, 0, 0, '1791-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1122, 1102, 16, 0, 0, 0, '1786-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1123, 1103, 16, 0, 0, 0, '1786-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1124, 1104, 16, 0, 0, 0, '1786-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1125, 1105, 16, 0, 0, 0, '1786-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1126, 1106, 14, 0, 0, 0, '1780-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1127, 1107, 14, 0, 0, 0, '1780-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1128, 1108, 15, 0, 0, 0, '1792-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1129, 1109, 15, 0, 0, 0, '1792-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1130, 1110, 15, 0, 0, 0, '1792-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1131, 1111, 15, 0, 0, 0, '1792-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1132, 1112, 15, 0, 0, 0, '1792-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1133, 1113, 14, 0, 0, 0, '1780-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1134, 1114, 14, 0, 0, 0, '1780-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1135, 1115, 14, 0, 0, 0, '1780-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1136, 1116, 14, 0, 0, 0, '1780-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1137, 1117, 14, 0, 0, 0, '1780-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1138, 1118, 14, 0, 0, 0, '1780-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1139, 1119, 3, 0, 0, 0, '1776-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1140, 1120, 3, 0, 0, 0, '1776-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1141, 1121, 3, 0, 0, 0, '1776-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1142, 1122, 3, 0, 0, 0, '1776-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1143, 1123, 3, 0, 0, 0, '1776-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1144, 1124, 3, 0, 0, 0, '1776-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1145, 1125, 3, 0, 0, 0, '1776-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1146, 1126, 3, 0, 0, 0, '1776-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1147, 1127, 3, 0, 0, 0, '1776-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1148, 1128, 3, 0, 0, 0, '1776-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1149, 1149, 3, 0, 0, 0, '1776-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1150, 1150, 3, 0, 0, 0, '1776-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1151, 1151, 3, 0, 0, 0, '1776-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1152, 1152, 4, 0, 0, 0, '1790-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1153, 1153, 4, 0, 0, 0, '1790-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1154, 1154, 4, 0, 0, 0, '1790-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1155, 1155, 4, 0, 0, 0, '1790-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1156, 1156, 4, 0, 0, 0, '1790-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1157, 1157, 4, 0, 0, 0, '1790-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1158, 1158, 4, 0, 0, 0, '1790-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1159, 1159, 4, 0, 0, 0, '1790-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1160, 1160, 4, 0, 0, 0, '1790-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1161, 1161, 4, 0, 0, 0, '1790-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1162, 1162, 4, 0, 0, 0, '1790-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1163, 1163, 4, 0, 0, 0, '1790-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1164, 1164, 4, 0, 0, 0, '1790-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1165, 1165, 4, 0, 0, 0, '1790-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1166, 1166, 4, 0, 0, 0, '1790-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1167, 1167, 4, 0, 0, 0, '1790-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1168, 1168, 4, 0, 0, 0, '1790-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1169, 1169, 4, 0, 0, 0, '1790-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1170, 1170, 4, 0, 0, 0, '1790-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1171, 1171, 4, 0, 0, 0, '1790-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1172, 1172, 4, 0, 0, 0, '1790-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1173, 1173, 4, 0, 0, 0, '1790-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1174, 1174, 4, 0, 0, 0, '1790-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1175, 1175, 4, 0, 0, 0, '1790-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1176, 1176, 4, 0, 0, 0, '1790-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1177, 1177, 4, 0, 0, 0, '1790-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1178, 1178, 4, 0, 0, 0, '1790-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1179, 1179, 4, 0, 0, 0, '1790-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1180, 1180, 4, 0, 0, 0, '1790-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1181, 1181, 3, 0, 0, 0, '1777-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1182, 1182, 3, 0, 0, 0, '1777-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1183, 1183, 3, 0, 0, 0, '1777-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1184, 1184, 3, 0, 0, 0, '1777-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1185, 1185, 3, 0, 0, 0, '1777-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1186, 1186, 3, 0, 0, 0, '1777-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1187, 1187, 3, 0, 0, 0, '1777-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1188, 1188, 3, 0, 0, 0, '1777-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1189, 1189, 3, 0, 0, 0, '1777-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1190, 1190, 17, 0, 0, 0, '1787-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1191, 1191, 17, 0, 0, 0, '1787-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1192, 1192, 17, 0, 0, 0, '1787-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1193, 1193, 17, 0, 0, 0, '1777-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1194, 1194, 17, 0, 0, 0, '1777-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1195, 1195, 17, 0, 0, 0, '1777-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1196, 1196, 17, 0, 0, 0, '1778-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1197, 1197, 17, 0, 0, 0, '1778-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1198, 1198, 17, 0, 0, 0, '1777-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1199, 1199, 17, 0, 0, 0, '1777-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1200, 1200, 17, 0, 0, 0, '1777-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1201, 1201, 17, 0, 0, 0, '1777-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1202, 1202, 17, 0, 0, 0, '1777-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1203, 1203, 17, 0, 0, 0, '1777-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1204, 1204, 17, 0, 0, 0, '1777-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1205, 1205, 17, 0, 0, 0, '1777-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1206, 1206, 17, 0, 0, 0, '1777-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1207, 1207, 17, 0, 0, 0, '1777-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1208, 1208, 17, 0, 0, 0, '1776-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1209, 1209, 17, 0, 0, 0, '1776-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1210, 1210, 17, 0, 0, 0, '1776-02-10 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1211, 1211, 17, 0, 0, 0, '1776-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1212, 1212, 17, 0, 0, 0, '1776-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1213, 1213, 17, 0, 0, 0, '1778-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1214, 1214, 17, 0, 0, 0, '1778-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1215, 1215, 17, 0, 0, 0, '1778-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1216, 1216, 17, 0, 0, 0, '1778-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1217, 1217, 17, 0, 0, 0, '1778-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1218, 1218, 17, 0, 0, 0, '1778-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1219, 1219, 17, 0, 0, 0, '1778-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1220, 1220, 17, 0, 0, 0, '1778-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1221, 1221, 17, 0, 0, 0, '1778-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1222, 1222, 17, 0, 0, 0, '1778-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1223, 1223, 17, 0, 0, 0, '1776-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1224, 1224, 17, 0, 0, 0, '1776-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1225, 1225, 17, 0, 0, 0, '1776-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1226, 1226, 17, 0, 0, 0, '1777-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1227, 1227, 17, 0, 0, 0, '1777-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1228, 1228, 17, 0, 0, 0, '1777-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1229, 1229, 17, 0, 0, 0, '1777-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1230, 1230, 17, 0, 0, 0, '1777-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1231, 1231, 17, 0, 0, 0, '1777-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1232, 1232, 17, 0, 0, 0, '1777-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1233, 1233, 17, 0, 0, 0, '1777-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1234, 1234, 17, 0, 0, 0, '1777-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1235, 1235, 17, 0, 0, 0, '1777-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1236, 1236, 17, 0, 0, 0, '1777-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1237, 1237, 17, 0, 0, 0, '1777-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1238, 1238, 17, 0, 0, 0, '1777-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1239, 1239, 17, 0, 0, 0, '1777-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1240, 1240, 17, 0, 0, 0, '1777-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1241, 1241, 17, 0, 0, 0, '1777-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1242, 1242, 17, 0, 0, 0, '1777-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1243, 1243, 17, 0, 0, 0, '1776-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1244, 1244, 17, 0, 0, 0, '1776-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1245, 1245, 17, 0, 0, 0, '1776-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1246, 1246, 17, 0, 0, 0, '1776-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1247, 1247, 17, 0, 0, 0, '1776-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1248, 1248, 17, 0, 0, 0, '1776-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1249, 1249, 17, 0, 0, 0, '1776-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1250, 1250, 17, 0, 0, 0, '1776-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1251, 1251, 17, 0, 0, 0, '1776-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1252, 1252, 17, 0, 0, 0, '1777-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1253, 1253, 17, 0, 0, 0, '1777-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1254, 1254, 17, 0, 0, 0, '1777-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1255, 1255, 17, 0, 0, 0, '1777-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1256, 1256, 17, 0, 0, 0, '1777-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1257, 1257, 17, 0, 0, 0, '1777-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1258, 1258, 17, 0, 0, 0, '1777-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1259, 1259, 17, 0, 0, 0, '1777-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1260, 1260, 17, 0, 0, 0, '1777-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1261, 1261, 17, 0, 0, 0, '1777-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1262, 1262, 17, 0, 0, 0, '1776-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1263, 1263, 17, 0, 0, 0, '1776-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1264, 1264, 17, 0, 0, 0, '1776-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1265, 1265, 17, 0, 0, 0, '1776-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1266, 1266, 17, 0, 0, 0, '1776-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1267, 1267, 17, 0, 0, 0, '1776-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1268, 1268, 17, 0, 0, 0, '1776-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1269, 1269, 17, 0, 0, 0, '1776-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1270, 1270, 17, 0, 0, 0, '1776-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1271, 1271, 17, 0, 0, 0, '1776-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1272, 1272, 17, 0, 0, 0, '1776-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1273, 1273, 17, 0, 0, 0, '1776-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1274, 1274, 17, 0, 0, 0, '1776-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1275, 1275, 17, 0, 0, 0, '1776-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1276, 1276, 17, 0, 0, 0, '1776-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1277, 1277, 17, 0, 0, 0, '1776-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1278, 1278, 17, 0, 0, 0, '1776-02-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1279, 1279, 17, 0, 0, 0, '1776-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1280, 1280, 17, 0, 0, 0, '1776-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1281, 1281, 17, 0, 0, 0, '1776-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1282, 1282, 17, 0, 0, 0, '1776-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1283, 1283, 17, 0, 0, 0, '1776-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1284, 1284, 17, 0, 0, 0, '1776-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1285, 1285, 17, 0, 0, 0, '1776-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1286, 1286, 17, 0, 0, 0, '1776-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1287, 1287, 17, 0, 0, 0, '1776-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1288, 1288, 17, 0, 0, 0, '1776-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1289, 1289, 17, 0, 0, 0, '1776-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1290, 1290, 17, 0, 0, 0, '1776-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1291, 1291, 17, 0, 0, 0, '1776-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1292, 1292, 17, 0, 0, 0, '1776-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1293, 1293, 17, 0, 0, 0, '1776-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1294, 1294, 17, 0, 0, 0, '1776-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1295, 1295, 17, 0, 0, 0, '1776-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1296, 1296, 17, 0, 0, 0, '1776-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1297, 1297, 17, 0, 0, 0, '1776-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1298, 1298, 17, 0, 0, 0, '1776-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1299, 1299, 17, 0, 0, 0, '1776-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1300, 1300, 17, 0, 0, 0, '1776-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1301, 1301, 17, 0, 0, 0, '1776-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1302, 1302, 17, 0, 0, 0, '1776-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1303, 1303, 17, 0, 0, 0, '1776-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1304, 1304, 17, 0, 0, 0, '1776-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1305, 1305, 17, 0, 0, 0, '1776-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1306, 1306, 17, 0, 0, 0, '1776-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1307, 1307, 17, 0, 0, 0, '1776-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1308, 1308, 17, 0, 0, 0, '1776-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1309, 1309, 17, 0, 0, 0, '1776-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1310, 1310, 18, 0, 0, 0, '1777-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1311, 1311, 18, 0, 0, 0, '1777-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1312, 1312, 18, 0, 0, 0, '1777-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1313, 1313, 18, 0, 0, 0, '1777-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1314, 1314, 18, 0, 0, 0, '1777-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1315, 1315, 18, 0, 0, 0, '1777-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1316, 1316, 18, 0, 0, 0, '1777-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1317, 1317, 18, 0, 0, 0, '1777-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1318, 1318, 18, 0, 0, 0, '1777-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1319, 1319, 18, 0, 0, 0, '1777-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1320, 1320, 18, 0, 0, 0, '1777-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1321, 1321, 18, 0, 0, 0, '1777-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1322, 1322, 18, 0, 0, 0, '1777-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1323, 1323, 18, 0, 0, 0, '1777-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1324, 1324, 18, 0, 0, 0, '1777-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1325, 1325, 18, 0, 0, 0, '1777-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1326, 1326, 18, 0, 0, 0, '1777-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1327, 1327, 18, 0, 0, 0, '1777-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1328, 1328, 18, 0, 0, 0, '1777-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1329, 1329, 18, 0, 0, 0, '1777-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1330, 1330, 18, 0, 0, 0, '1777-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1331, 1331, 18, 0, 0, 0, '1777-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1332, 1332, 18, 0, 0, 0, '1777-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1333, 1333, 18, 0, 0, 0, '1777-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1334, 1334, 18, 0, 0, 0, '1777-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1335, 1335, 18, 0, 0, 0, '1777-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1336, 1336, 18, 0, 0, 0, '1777-03-22 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1337, 1337, 18, 0, 0, 0, '1777-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1338, 1338, 18, 0, 0, 0, '1777-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1339, 1339, 18, 0, 0, 0, '1777-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1340, 1340, 18, 0, 0, 0, '1777-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1341, 1341, 18, 0, 0, 0, '1777-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1342, 1342, 18, 0, 0, 0, '1777-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1343, 1343, 18, 0, 0, 0, '1777-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1344, 1344, 18, 0, 0, 0, '1777-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1345, 1345, 18, 0, 0, 0, '1777-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1346, 1346, 19, 0, 0, 0, '1779-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1347, 1347, 17, 0, 0, 0, '1787-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1348, 1348, 17, 0, 0, 0, '1787-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1349, 1349, 17, 0, 0, 0, '1787-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1350, 1350, 17, 0, 0, 0, '1787-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1351, 1351, 17, 0, 0, 0, '1787-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1352, 1352, 17, 0, 0, 0, '1787-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1353, 1353, 17, 0, 0, 0, '1787-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1354, 1354, 17, 0, 0, 0, '1787-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1355, 1355, 17, 0, 0, 0, '1787-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1356, 1356, 17, 0, 0, 0, '1787-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1357, 1357, 17, 0, 0, 0, '1787-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1358, 1358, 17, 0, 0, 0, '1787-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1359, 1359, 17, 0, 0, 0, '1787-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1360, 1360, 17, 0, 0, 0, '1787-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1361, 1361, 17, 0, 0, 0, '1787-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1362, 1362, 17, 0, 0, 0, '1776-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1363, 1363, 17, 0, 0, 0, '1776-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1364, 1364, 17, 0, 0, 0, '1776-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1365, 1365, 17, 0, 0, 0, '1776-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1366, 1366, 17, 0, 0, 0, '1776-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1367, 1367, 17, 0, 0, 0, '1776-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1368, 1368, 17, 0, 0, 0, '1776-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1369, 1369, 17, 0, 0, 0, '1776-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1370, 1370, 17, 0, 0, 0, '1776-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1371, 1371, 17, 0, 0, 0, '1776-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1372, 1372, 17, 0, 0, 0, '1776-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1373, 1373, 17, 0, 0, 0, '1776-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1374, 1374, 17, 0, 0, 0, '1778-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1375, 1375, 17, 0, 0, 0, '1778-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1376, 1376, 17, 0, 0, 0, '1778-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1377, 1377, 17, 0, 0, 0, '1778-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1378, 1378, 17, 0, 0, 0, '1778-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1379, 1379, 17, 0, 0, 0, '1778-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1380, 1380, 17, 0, 0, 0, '1778-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1381, 1381, 17, 0, 0, 0, '1778-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1382, 1382, 17, 0, 0, 0, '1778-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1383, 1383, 17, 0, 0, 0, '1778-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1384, 1384, 17, 0, 0, 0, '1778-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1385, 1385, 17, 0, 0, 0, '1776-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1386, 1386, 17, 0, 0, 0, '1776-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1387, 1387, 17, 0, 0, 0, '1776-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1388, 1388, 17, 0, 0, 0, '1776-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1389, 1389, 17, 0, 0, 0, '1776-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1390, 1390, 17, 0, 0, 0, '1776-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1391, 1391, 17, 0, 0, 0, '1776-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1392, 1392, 17, 0, 0, 0, '1776-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1393, 1393, 17, 0, 0, 0, '1776-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1394, 1394, 17, 0, 0, 0, '1776-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1395, 1395, 17, 0, 0, 0, '1776-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1396, 1396, 17, 0, 0, 0, '1776-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1397, 1397, 17, 0, 0, 0, '1776-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1398, 1398, 17, 0, 0, 0, '1776-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1399, 1399, 17, 0, 0, 0, '1777-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1400, 1400, 17, 0, 0, 0, '1777-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1401, 1401, 17, 0, 0, 0, '1777-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1402, 1402, 17, 0, 0, 0, '1777-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1403, 1403, 17, 0, 0, 0, '1777-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1404, 1404, 17, 0, 0, 0, '1777-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1405, 1405, 17, 0, 0, 0, '1777-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1406, 1406, 17, 0, 0, 0, '1777-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1407, 1407, 17, 0, 0, 0, '1777-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1408, 1408, 17, 0, 0, 0, '1777-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1409, 1409, 17, 0, 0, 0, '1777-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1410, 1410, 17, 0, 0, 0, '1777-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1411, 1411, 17, 0, 0, 0, '1777-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1412, 1412, 17, 0, 0, 0, '1777-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1413, 1413, 17, 0, 0, 0, '1777-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1414, 1414, 17, 0, 0, 0, '1777-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1415, 1415, 17, 0, 0, 0, '1777-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1416, 1416, 17, 0, 0, 0, '1777-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1417, 1417, 17, 0, 0, 0, '1777-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1418, 1418, 17, 0, 0, 0, '1777-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1419, 1419, 17, 0, 0, 0, '1777-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1420, 1420, 17, 0, 0, 0, '1777-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1421, 1421, 17, 0, 0, 0, '1777-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1422, 1422, 17, 0, 0, 0, '1777-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1423, 1423, 17, 0, 0, 0, '1777-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1424, 1424, 17, 0, 0, 0, '1777-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1425, 1425, 17, 0, 0, 0, '1777-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1426, 1426, 17, 0, 0, 0, '1777-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1427, 1427, 17, 0, 0, 0, '1777-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1428, 1428, 17, 0, 0, 0, '1777-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1429, 1429, 17, 0, 0, 0, '1777-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1430, 1430, 17, 0, 0, 0, '1777-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1431, 1431, 17, 0, 0, 0, '1777-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1432, 1432, 17, 0, 0, 0, '1777-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1433, 1433, 17, 0, 0, 0, '1777-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1434, 1434, 17, 0, 0, 0, '1777-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1435, 1435, 17, 0, 0, 0, '1778-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1436, 1436, 17, 0, 0, 0, '1778-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1437, 1437, 17, 0, 0, 0, '1778-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1438, 1438, 17, 0, 0, 0, '1778-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1439, 1439, 17, 0, 0, 0, '1778-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1440, 1440, 17, 0, 0, 0, '1778-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1441, 1441, 17, 0, 0, 0, '1778-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1442, 1442, 17, 0, 0, 0, '1778-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1443, 1443, 17, 0, 0, 0, '1778-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1444, 1444, 17, 0, 0, 0, '1778-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1445, 1445, 17, 0, 0, 0, '1778-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1446, 1446, 17, 0, 0, 0, '1778-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1447, 1447, 17, 0, 0, 0, '1778-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1448, 1448, 17, 0, 0, 0, '1778-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1449, 1449, 17, 0, 0, 0, '1778-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1450, 1450, 17, 0, 0, 0, '1778-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1451, 1451, 17, 0, 0, 0, '1778-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1452, 1452, 17, 0, 0, 0, '1778-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1453, 1453, 17, 0, 0, 0, '1778-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1454, 1454, 17, 0, 0, 0, '1778-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1455, 1455, 17, 0, 0, 0, '1787-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1456, 1456, 17, 0, 0, 0, '1787-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1457, 1457, 17, 0, 0, 0, '1787-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1458, 1458, 17, 0, 0, 0, '1787-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1459, 1459, 17, 0, 0, 0, '1787-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1460, 1460, 17, 0, 0, 0, '1787-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1461, 1461, 17, 0, 0, 0, '1787-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1462, 1462, 17, 0, 0, 0, '1787-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1463, 1463, 17, 0, 0, 0, '1787-01-10 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1473, 1473, 17, 0, 0, 0, '1787-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1474, 1474, 15, 0, 0, 0, '1791-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1475, 1475, 15, 0, 0, 0, '1791-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1476, 1476, 15, 0, 0, 0, '1791-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1477, 1477, 15, 0, 0, 0, '1791-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1478, 1478, 15, 0, 0, 0, '1791-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1479, 1479, 15, 0, 0, 0, '1791-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1480, 1480, 15, 0, 0, 0, '1791-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1481, 1481, 15, 0, 0, 0, '1791-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1482, 1482, 15, 0, 0, 0, '1791-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1483, 1483, 15, 0, 0, 0, '1791-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1484, 1484, 15, 0, 0, 0, '1791-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1485, 1485, 15, 0, 0, 0, '1791-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1486, 1486, 15, 0, 0, 0, '1791-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1487, 1487, 14, 0, 0, 0, '1780-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1488, 1488, 14, 0, 0, 0, '1780-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1489, 1489, 14, 0, 0, 0, '1780-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1490, 1490, 14, 0, 0, 0, '1780-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1491, 1491, 14, 0, 0, 0, '1780-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1492, 1492, 14, 0, 0, 0, '1780-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1493, 1493, 14, 0, 0, 0, '1780-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1494, 1494, 14, 0, 0, 0, '1780-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1495, 1495, 14, 0, 0, 0, '1780-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1496, 1496, 14, 0, 0, 0, '1780-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1497, 1497, 14, 0, 0, 0, '1780-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1498, 1498, 14, 0, 0, 0, '1780-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1499, 1499, 14, 0, 0, 0, '1780-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1500, 1500, 14, 0, 0, 0, '1780-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1501, 1501, 14, 0, 0, 0, '1780-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1502, 1502, 15, 0, 0, 0, '1791-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1503, 1503, 15, 0, 0, 0, '1791-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1504, 1504, 15, 0, 0, 0, '1791-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1505, 1505, 15, 0, 0, 0, '1791-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1506, 1506, 15, 0, 0, 0, '1791-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1507, 1507, 15, 0, 0, 0, '1791-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1508, 1508, 15, 0, 0, 0, '1791-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1509, 1509, 15, 0, 0, 0, '1791-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1510, 1510, 15, 0, 0, 0, '1791-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1511, 1511, 15, 0, 0, 0, '1791-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1512, 1512, 15, 0, 0, 0, '1791-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1513, 1513, 15, 0, 0, 0, '1791-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1514, 1514, 15, 0, 0, 0, '1791-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1515, 1515, 15, 0, 0, 0, '1791-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1516, 1516, 15, 0, 0, 0, '1791-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1517, 1517, 15, 0, 0, 0, '1791-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1518, 1518, 15, 0, 0, 0, '1791-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1519, 1519, 15, 0, 0, 0, '1791-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1520, 1520, 15, 0, 0, 0, '1791-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1521, 1521, 15, 0, 0, 0, '1791-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1522, 1522, 15, 0, 0, 0, '1791-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1523, 1523, 15, 0, 0, 0, '1792-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1524, 1524, 15, 0, 0, 0, '1792-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1525, 1525, 15, 0, 0, 0, '1792-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1526, 1526, 15, 0, 0, 0, '1792-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1527, 1527, 15, 0, 0, 0, '1792-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1528, 1528, 15, 0, 0, 0, '1792-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1529, 1529, 15, 0, 0, 0, '1792-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1530, 1530, 15, 0, 0, 0, '1792-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1531, 1531, 15, 0, 0, 0, '1792-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1532, 1532, 15, 0, 0, 0, '1792-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1533, 1533, 15, 0, 0, 0, '1792-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1534, 1534, 15, 0, 0, 0, '1792-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1535, 1535, 15, 0, 0, 0, '1791-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1536, 1536, 15, 0, 0, 0, '1791-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1537, 1537, 14, 0, 0, 0, '1780-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1538, 1538, 14, 0, 0, 0, '1780-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1539, 1539, 14, 0, 0, 0, '1780-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1540, 1540, 14, 0, 0, 0, '1780-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1541, 1541, 14, 0, 0, 0, '1780-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1542, 1542, 14, 0, 0, 0, '1780-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1543, 1543, 14, 0, 0, 0, '1780-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1544, 1544, 14, 0, 0, 0, '1780-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1545, 1545, 14, 0, 0, 0, '1780-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1546, 1546, 14, 0, 0, 0, '1780-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1547, 1547, 14, 0, 0, 0, '1780-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1548, 1548, 15, 0, 0, 0, '1791-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1549, 1549, 15, 0, 0, 0, '1791-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1550, 1550, 15, 0, 0, 0, '1791-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1551, 1551, 15, 0, 0, 0, '1791-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1552, 1552, 14, 0, 0, 0, '1780-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1553, 1553, 16, 0, 0, 0, '1786-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1554, 1554, 16, 0, 0, 0, '1786-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1555, 1555, 16, 0, 0, 0, '1786-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1556, 1556, 16, 0, 0, 0, '1786-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1557, 1557, 16, 0, 0, 0, '1786-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1558, 1558, 16, 0, 0, 0, '1786-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1559, 1559, 16, 0, 0, 0, '1787-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1560, 1560, 20, 0, 0, 0, '1767-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1561, 1561, 20, 0, 0, 0, '1767-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1562, 1562, 20, 0, 0, 0, '1767-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1563, 1563, 20, 0, 0, 0, '1767-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1564, 1564, 20, 0, 0, 0, '1767-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1565, 1565, 20, 0, 0, 0, '1767-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1566, 1566, 20, 0, 0, 0, '1767-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1567, 1567, 20, 0, 0, 0, '1767-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1568, 1568, 20, 0, 0, 0, '1767-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1569, 1569, 20, 0, 0, 0, '1767-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1570, 1570, 20, 0, 0, 0, '1767-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1571, 1571, 20, 0, 0, 0, '1768-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1572, 1572, 20, 0, 0, 0, '1768-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1573, 1573, 20, 0, 0, 0, '1768-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1574, 1574, 20, 0, 0, 0, '1768-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1575, 1575, 20, 0, 0, 0, '1768-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1576, 1576, 20, 0, 0, 0, '1768-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1577, 1577, 20, 0, 0, 0, '1768-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1578, 1578, 20, 0, 0, 0, '1768-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1579, 1579, 20, 0, 0, 0, '1768-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1580, 1580, 20, 0, 0, 0, '1767-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1581, 1581, 14, 0, 0, 0, '1780-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1582, 1582, 14, 0, 0, 0, '1780-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1583, 1583, 14, 0, 0, 0, '1780-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1584, 1584, 14, 0, 0, 0, '1780-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1585, 1585, 14, 0, 0, 0, '1780-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1586, 1586, 14, 0, 0, 0, '1780-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1587, 1587, 14, 0, 0, 0, '1780-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1588, 1588, 14, 0, 0, 0, '1780-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1589, 1589, 14, 0, 0, 0, '1780-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1590, 1590, 14, 0, 0, 0, '1780-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1591, 1591, 15, 0, 0, 0, '1791-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1592, 1592, 15, 0, 0, 0, '1791-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1593, 1593, 15, 0, 0, 0, '1791-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1594, 1594, 15, 0, 0, 0, '1791-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1595, 1595, 15, 0, 0, 0, '1791-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1596, 1596, 15, 0, 0, 0, '1791-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1597, 1597, 15, 0, 0, 0, '1791-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1598, 1598, 15, 0, 0, 0, '1791-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1599, 1599, 14, 0, 0, 0, '1780-12-13 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1612, 1612, 15, 0, 0, 0, '1791-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1613, 1613, 15, 0, 0, 0, '1791-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1614, 1614, 15, 0, 0, 0, '1791-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1615, 1615, 15, 0, 0, 0, '1791-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1616, 1616, 15, 0, 0, 0, '1791-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1617, 1617, 15, 0, 0, 0, '1791-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1618, 1618, 15, 0, 0, 0, '1791-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1619, 1619, 15, 0, 0, 0, '1791-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1620, 1620, 15, 0, 0, 0, '1791-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1621, 1621, 15, 0, 0, 0, '1791-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1622, 1622, 15, 0, 0, 0, '1791-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1623, 1623, 15, 0, 0, 0, '1791-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1624, 1624, 14, 0, 0, 0, '1780-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1625, 1625, 14, 0, 0, 0, '1780-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1626, 1626, 14, 0, 0, 0, '1780-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1627, 1627, 14, 0, 0, 0, '1780-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1628, 1628, 15, 0, 0, 0, '1792-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1629, 1629, 14, 0, 0, 0, '1780-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1630, 1630, 14, 0, 0, 0, '1780-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1631, 1631, 14, 0, 0, 0, '1780-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1632, 1632, 14, 0, 0, 0, '1780-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1633, 1633, 14, 0, 0, 0, '1781-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1634, 1634, 14, 0, 0, 0, '1781-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1635, 1635, 14, 0, 0, 0, '1781-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1636, 1636, 14, 0, 0, 0, '1781-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1637, 1637, 14, 0, 0, 0, '1781-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1638, 1638, 14, 0, 0, 0, '1781-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1639, 1639, 14, 0, 0, 0, '1781-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1640, 1640, 14, 0, 0, 0, '1781-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1641, 1641, 14, 0, 0, 0, '1781-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1642, 1642, 14, 0, 0, 0, '1781-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1643, 1643, 14, 0, 0, 0, '1781-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1644, 1644, 14, 0, 0, 0, '1781-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1645, 1645, 14, 0, 0, 0, '1781-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1646, 1646, 14, 0, 0, 0, '1781-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1647, 1647, 14, 0, 0, 0, '1780-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1648, 1648, 14, 0, 0, 0, '1780-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1649, 1649, 14, 0, 0, 0, '1780-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1650, 1650, 14, 0, 0, 0, '1780-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1651, 1651, 14, 0, 0, 0, '1780-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1652, 1652, 14, 0, 0, 0, '1780-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1653, 1653, 14, 0, 0, 0, '1780-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1654, 1654, 14, 0, 0, 0, '1780-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1655, 1655, 14, 0, 0, 0, '1780-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1656, 1656, 14, 0, 0, 0, '1780-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1657, 1657, 14, 0, 0, 0, '1780-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1658, 1658, 14, 0, 0, 0, '1780-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1659, 1659, 14, 0, 0, 0, '1780-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1660, 1660, 14, 0, 0, 0, '1781-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1661, 1661, 14, 0, 0, 0, '1781-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1662, 1662, 14, 0, 0, 0, '1781-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1663, 1663, 14, 0, 0, 0, '1781-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1664, 1664, 14, 0, 0, 0, '1780-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1665, 1665, 14, 0, 0, 0, '1780-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1666, 1666, 14, 0, 0, 0, '1780-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1667, 1667, 14, 0, 0, 0, '1780-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1668, 1668, 15, 0, 0, 0, '1792-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1669, 1669, 15, 0, 0, 0, '1792-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1670, 1670, 15, 0, 0, 0, '1792-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1671, 1671, 15, 0, 0, 0, '1792-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1672, 1672, 15, 0, 0, 0, '1792-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1673, 1673, 15, 0, 0, 0, '1792-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1674, 1674, 15, 0, 0, 0, '1792-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1675, 1675, 15, 0, 0, 0, '1792-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1676, 1676, 15, 0, 0, 0, '1792-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1677, 1677, 15, 0, 0, 0, '1792-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1678, 1678, 15, 0, 0, 0, '1792-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1679, 1679, 15, 0, 0, 0, '1792-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1680, 1680, 15, 0, 0, 0, '1792-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1681, 1681, 15, 0, 0, 0, '1792-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1682, 1682, 15, 0, 0, 0, '1792-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1683, 1683, 15, 0, 0, 0, '1791-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1684, 1684, 15, 0, 0, 0, '1791-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1685, 1685, 15, 0, 0, 0, '1791-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1686, 1686, 15, 0, 0, 0, '1791-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1687, 1687, 15, 0, 0, 0, '1791-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1688, 1688, 15, 0, 0, 0, '1792-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1689, 1689, 15, 0, 0, 0, '1792-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1690, 1690, 15, 0, 0, 0, '1792-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1691, 1691, 15, 0, 0, 0, '1792-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1692, 1692, 15, 0, 0, 0, '1792-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1693, 1693, 15, 0, 0, 0, '1792-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1694, 1694, 14, 0, 0, 0, '1780-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1695, 1695, 15, 0, 0, 0, '1791-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1696, 1696, 15, 0, 0, 0, '1791-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1697, 1697, 15, 0, 0, 0, '1791-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1698, 1698, 15, 0, 0, 0, '1791-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1699, 1699, 15, 0, 0, 0, '1791-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1700, 1700, 14, 0, 0, 0, '1780-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1701, 1701, 14, 0, 0, 0, '1780-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1702, 1702, 14, 0, 0, 0, '1780-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1703, 1703, 14, 0, 0, 0, '1780-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1704, 1704, 14, 0, 0, 0, '1780-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1705, 1705, 20, 0, 0, 0, '1773-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1706, 1706, 20, 0, 0, 0, '1767-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1707, 1707, 20, 0, 0, 0, '1767-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1708, 1708, 20, 0, 0, 0, '1767-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1709, 1709, 20, 0, 0, 0, '1767-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1710, 1710, 20, 0, 0, 0, '1767-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1711, 1711, 20, 0, 0, 0, '1767-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1712, 1712, 20, 0, 0, 0, '1773-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1713, 1713, 20, 0, 0, 0, '1773-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1714, 1714, 20, 0, 0, 0, '1773-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1715, 1715, 20, 0, 0, 0, '1773-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1716, 1716, 16, 0, 0, 0, '1787-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1717, 1717, 16, 0, 0, 0, '1786-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1718, 1718, 16, 0, 0, 0, '1786-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1719, 1719, 16, 0, 0, 0, '1787-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1720, 1720, 16, 0, 0, 0, '1787-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1721, 1721, 16, 0, 0, 0, '1787-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1722, 1722, 16, 0, 0, 0, '1787-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1723, 1723, 16, 0, 0, 0, '1787-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1724, 1724, 16, 0, 0, 0, '1787-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1725, 1725, 16, 0, 0, 0, '1787-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1726, 1726, 16, 0, 0, 0, '1787-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1727, 1727, 20, 0, 0, 0, '1767-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1728, 1728, 20, 0, 0, 0, '1767-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1729, 1729, 20, 0, 0, 0, '1767-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1730, 1730, 20, 0, 0, 0, '1767-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1731, 1731, 20, 0, 0, 0, '1767-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1732, 1732, 20, 0, 0, 0, '1767-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1733, 1733, 20, 0, 0, 0, '1767-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1734, 1734, 20, 0, 0, 0, '1767-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1735, 1735, 20, 0, 0, 0, '1767-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1736, 1736, 20, 0, 0, 0, '1773-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1737, 1737, 20, 0, 0, 0, '1773-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1738, 1738, 20, 0, 0, 0, '1773-02-03 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1771, 1771, 20, 0, 0, 0, '1767-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1772, 1772, 20, 0, 0, 0, '1767-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1773, 1773, 20, 0, 0, 0, '1767-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1774, 1774, 16, 0, 0, 0, '1787-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1775, 1775, 16, 0, 0, 0, '1787-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1776, 1776, 16, 0, 0, 0, '1787-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1777, 1777, 16, 0, 0, 0, '1787-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1778, 1778, 16, 0, 0, 0, '1787-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1779, 1779, 16, 0, 0, 0, '1787-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1780, 1780, 16, 0, 0, 0, '1787-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1781, 1781, 20, 0, 0, 0, '1767-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1782, 1782, 20, 0, 0, 0, '1767-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1783, 1783, 20, 0, 0, 0, '1767-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1784, 1784, 20, 0, 0, 0, '1767-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1785, 1785, 20, 0, 0, 0, '1767-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1786, 1786, 20, 0, 0, 0, '1767-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1787, 1787, 20, 0, 0, 0, '1767-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1788, 1788, 20, 0, 0, 0, '1767-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1789, 1789, 20, 0, 0, 0, '1767-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1790, 1790, 20, 0, 0, 0, '1767-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1791, 1791, 20, 0, 0, 0, '1793-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1792, 1792, 20, 0, 0, 0, '1793-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1793, 1793, 20, 0, 0, 0, '1793-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1794, 1794, 20, 0, 0, 0, '1793-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1795, 1795, 20, 0, 0, 0, '1793-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1796, 1796, 20, 0, 0, 0, '1793-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1797, 1797, 20, 0, 0, 0, '1793-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1798, 1798, 20, 0, 0, 0, '1793-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1799, 1799, 20, 0, 0, 0, '1793-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1800, 1800, 20, 0, 0, 0, '1793-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1801, 1801, 20, 0, 0, 0, '1793-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1802, 1802, 20, 0, 0, 0, '1793-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1803, 1803, 20, 0, 0, 0, '1793-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1804, 1804, 20, 0, 0, 0, '1793-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1805, 1805, 20, 0, 0, 0, '1793-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1806, 1806, 20, 0, 0, 0, '1793-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1807, 1807, 20, 0, 0, 0, '1793-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1808, 1808, 21, 0, 0, 0, '1783-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1809, 1809, 21, 0, 0, 0, '1783-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1810, 1810, 21, 0, 0, 0, '1783-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1811, 1811, 21, 0, 0, 0, '1783-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1812, 1812, 21, 0, 0, 0, '1783-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1813, 1813, 21, 0, 0, 0, '1783-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1814, 1814, 21, 0, 0, 0, '1783-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1815, 1815, 21, 0, 0, 0, '1783-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1816, 1816, 21, 0, 0, 0, '1783-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1817, 1817, 21, 0, 0, 0, '1783-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1818, 1818, 21, 0, 0, 0, '1783-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1819, 1819, 21, 0, 0, 0, '1783-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1820, 1820, 16, 0, 0, 0, '1787-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1821, 1821, 20, 0, 0, 0, '1767-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1822, 1822, 20, 0, 0, 0, '1767-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1823, 1823, 20, 0, 0, 0, '1767-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1824, 1824, 20, 0, 0, 0, '1767-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1825, 1825, 20, 0, 0, 0, '1767-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1826, 1826, 20, 0, 0, 0, '1767-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1827, 1827, 16, 0, 0, 0, '1787-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1828, 1828, 16, 0, 0, 0, '1787-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1829, 1829, 16, 0, 0, 0, '1787-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1830, 1830, 16, 0, 0, 0, '1787-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1831, 1831, 16, 0, 0, 0, '1787-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1832, 1832, 16, 0, 0, 0, '1787-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1833, 1833, 16, 0, 0, 0, '1787-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1834, 1834, 16, 0, 0, 0, '1787-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1835, 1835, 16, 0, 0, 0, '1787-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1836, 1836, 20, 0, 0, 0, '1767-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1837, 1837, 20, 0, 0, 0, '1767-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1838, 1838, 20, 0, 0, 0, '1767-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1839, 1839, 20, 0, 0, 0, '1767-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1840, 1840, 20, 0, 0, 0, '1767-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1841, 1841, 20, 0, 0, 0, '1767-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1842, 1842, 20, 0, 0, 0, '1767-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1843, 1843, 20, 0, 0, 0, '1767-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1844, 1844, 20, 0, 0, 0, '1767-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1845, 1845, 20, 0, 0, 0, '1767-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1846, 1846, 20, 0, 0, 0, '1767-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1847, 1847, 20, 0, 0, 0, '1767-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1848, 1848, 16, 0, 0, 0, '1786-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1849, 1849, 16, 0, 0, 0, '1786-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1850, 1850, 16, 0, 0, 0, '1786-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1851, 1851, 16, 0, 0, 0, '1786-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1852, 1852, 16, 0, 0, 0, '1786-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1853, 1853, 16, 0, 0, 0, '1786-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1854, 1854, 16, 0, 0, 0, '1786-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1855, 1855, 16, 0, 0, 0, '1786-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1856, 1856, 16, 0, 0, 0, '1786-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1857, 1857, 16, 0, 0, 0, '1786-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1858, 1858, 16, 0, 0, 0, '1786-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1859, 1859, 16, 0, 0, 0, '1786-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1860, 1860, 16, 0, 0, 0, '1786-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1861, 1861, 20, 0, 0, 0, '1767-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1862, 1862, 20, 0, 0, 0, '1773-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1863, 1863, 20, 0, 0, 0, '1773-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1864, 1864, 20, 0, 0, 0, '1773-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1865, 1865, 20, 0, 0, 0, '1773-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1866, 1866, 20, 0, 0, 0, '1773-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1867, 1867, 20, 0, 0, 0, '1773-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1868, 1868, 20, 0, 0, 0, '1773-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1869, 1869, 20, 0, 0, 0, '1773-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1870, 1870, 20, 0, 0, 0, '1773-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1871, 1871, 20, 0, 0, 0, '1773-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1872, 1872, 20, 0, 0, 0, '1773-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1873, 1873, 20, 0, 0, 0, '1773-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1874, 1874, 20, 0, 0, 0, '1773-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1875, 1875, 20, 0, 0, 0, '1773-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1876, 1876, 20, 0, 0, 0, '1773-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1877, 1877, 20, 0, 0, 0, '1773-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1878, 1878, 20, 0, 0, 0, '1773-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1879, 1879, 20, 0, 0, 0, '1773-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1880, 1880, 20, 0, 0, 0, '1773-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1881, 1881, 20, 0, 0, 0, '1773-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1882, 1882, 20, 0, 0, 0, '1773-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1883, 1883, 20, 0, 0, 0, '1773-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1884, 1884, 20, 0, 0, 0, '1773-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1885, 1885, 20, 0, 0, 0, '1773-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1886, 1886, 20, 0, 0, 0, '1773-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1887, 1887, 20, 0, 0, 0, '1767-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1888, 1888, 20, 0, 0, 0, '1767-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1889, 1889, 20, 0, 0, 0, '1767-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1890, 1890, 20, 0, 0, 0, '1767-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1891, 1891, 20, 0, 0, 0, '1767-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1892, 1892, 20, 0, 0, 0, '1767-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1893, 1893, 20, 0, 0, 0, '1767-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1894, 1894, 20, 0, 0, 0, '1767-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1895, 1895, 20, 0, 0, 0, '1767-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1896, 1896, 20, 0, 0, 0, '1767-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1897, 1897, 20, 0, 0, 0, '1767-12-16 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1937, 2114, 21, 0, 0, 0, '1783-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1938, 2115, 21, 0, 0, 0, '1783-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1939, 2116, 21, 0, 0, 0, '1783-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1940, 1916, 20, 0, 0, 0, '1768-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1941, 1917, 20, 0, 0, 0, '1768-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1942, 1918, 20, 0, 0, 0, '1768-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1943, 1919, 20, 0, 0, 0, '1768-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1944, 1920, 20, 0, 0, 0, '1768-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1945, 1921, 20, 0, 0, 0, '1768-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1946, 1922, 20, 0, 0, 0, '1768-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1947, 1923, 20, 0, 0, 0, '1768-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1948, 1924, 20, 0, 0, 0, '1768-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1949, 1925, 22, 0, 0, 0, '1769-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1950, 1926, 22, 0, 0, 0, '1769-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1951, 1927, 22, 0, 0, 0, '1769-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1952, 1928, 22, 0, 0, 0, '1769-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1953, 1929, 22, 0, 0, 0, '1769-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1954, 1930, 22, 0, 0, 0, '1769-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1955, 1931, 22, 0, 0, 0, '1769-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1956, 1932, 22, 0, 0, 0, '1769-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1957, 1933, 22, 0, 0, 0, '1769-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1958, 1934, 22, 0, 0, 0, '1769-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1959, 1935, 22, 0, 0, 0, '1769-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1960, 1936, 22, 0, 0, 0, '1769-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1961, 1937, 22, 0, 0, 0, '1769-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1962, 1938, 22, 0, 0, 0, '1769-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1963, 1939, 22, 0, 0, 0, '1769-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1964, 1940, 22, 0, 0, 0, '1769-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1965, 1941, 22, 0, 0, 0, '1769-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1966, 1942, 22, 0, 0, 0, '1769-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1967, 1943, 22, 0, 0, 0, '1769-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1968, 1944, 22, 0, 0, 0, '1769-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1969, 1945, 22, 0, 0, 0, '1769-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1970, 1946, 22, 0, 0, 0, '1769-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1971, 1947, 22, 0, 0, 0, '1769-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1972, 1948, 22, 0, 0, 0, '1769-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1973, 1949, 22, 0, 0, 0, '1769-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1974, 1950, 22, 0, 0, 0, '1769-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1975, 1951, 22, 0, 0, 0, '1769-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1976, 1952, 22, 0, 0, 0, '1769-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1977, 1953, 22, 0, 0, 0, '1769-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1978, 1954, 22, 0, 0, 0, '1769-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1979, 1955, 22, 0, 0, 0, '1769-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1980, 1956, 22, 0, 0, 0, '1769-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1981, 1957, 22, 0, 0, 0, '1769-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1982, 1958, 22, 0, 0, 0, '1769-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1983, 1959, 22, 0, 0, 0, '1769-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1984, 1960, 22, 0, 0, 0, '1769-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1985, 1961, 22, 0, 0, 0, '1769-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1986, 1962, 22, 0, 0, 0, '1769-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1987, 1963, 22, 0, 0, 0, '1769-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1988, 1964, 22, 0, 0, 0, '1769-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1989, 1965, 16, 0, 0, 0, '1786-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1990, 1966, 16, 0, 0, 0, '1786-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1991, 1967, 16, 0, 0, 0, '1786-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1992, 1968, 21, 0, 0, 0, '1786-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1993, 1969, 21, 0, 0, 0, '1786-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1994, 1970, 21, 0, 0, 0, '1786-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1995, 1971, 21, 0, 0, 0, '1786-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1996, 1972, 21, 0, 0, 0, '1786-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1997, 1973, 16, 0, 0, 0, '1786-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1998, 1974, 16, 0, 0, 0, '1786-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (1999, 1975, 16, 0, 0, 0, '1786-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2000, 1976, 16, 0, 0, 0, '1786-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2001, 1977, 20, 0, 0, 0, '1768-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2002, 1978, 20, 0, 0, 0, '1768-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2003, 1979, 20, 0, 0, 0, '1768-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2004, 1980, 20, 0, 0, 0, '1768-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2005, 1981, 20, 0, 0, 0, '1768-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2006, 1982, 20, 0, 0, 0, '1768-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2007, 1983, 20, 0, 0, 0, '1768-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2008, 1984, 20, 0, 0, 0, '1773-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2009, 1985, 20, 0, 0, 0, '1773-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2010, 1986, 20, 0, 0, 0, '1773-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2011, 1987, 20, 0, 0, 0, '1793-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2012, 1988, 21, 0, 0, 0, '1786-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2013, 1989, 21, 0, 0, 0, '1786-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2014, 1990, 21, 0, 0, 0, '1786-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2015, 1991, 21, 0, 0, 0, '1786-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2016, 1992, 21, 0, 0, 0, '1786-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2017, 1993, 21, 0, 0, 0, '1786-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2018, 1994, 21, 0, 0, 0, '1786-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2019, 1995, 21, 0, 0, 0, '1786-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2020, 1996, 21, 0, 0, 0, '1786-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2021, 1997, 21, 0, 0, 0, '1786-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2022, 1998, 21, 0, 0, 0, '1786-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2023, 1999, 21, 0, 0, 0, '1786-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2024, 2000, 21, 0, 0, 0, '1786-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2025, 2001, 20, 0, 0, 0, '1793-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2026, 2002, 21, 0, 0, 0, '1784-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2027, 2003, 21, 0, 0, 0, '1784-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2028, 2004, 21, 0, 0, 0, '1784-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2029, 2005, 21, 0, 0, 0, '1784-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2030, 2006, 21, 0, 0, 0, '1784-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2031, 2007, 21, 0, 0, 0, '1786-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2032, 2008, 21, 0, 0, 0, '1786-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2033, 2009, 21, 0, 0, 0, '1786-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2034, 2010, 21, 0, 0, 0, '1786-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2035, 2011, 21, 0, 0, 0, '1786-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2036, 2012, 21, 0, 0, 0, '1786-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2037, 2013, 21, 0, 0, 0, '1786-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2038, 2014, 21, 0, 0, 0, '1786-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2039, 2015, 21, 0, 0, 0, '1786-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2040, 2016, 21, 0, 0, 0, '1786-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2041, 2017, 21, 0, 0, 0, '1786-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2042, 2018, 21, 0, 0, 0, '1786-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2043, 2019, 21, 0, 0, 0, '1786-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2044, 2020, 21, 0, 0, 0, '1786-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2045, 2021, 21, 0, 0, 0, '1786-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2046, 2022, 21, 0, 0, 0, '1786-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2047, 2023, 21, 0, 0, 0, '1786-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2048, 2024, 21, 0, 0, 0, '1786-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2049, 2025, 21, 0, 0, 0, '1786-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2050, 2026, 21, 0, 0, 0, '1786-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2051, 2027, 21, 0, 0, 0, '1786-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2052, 2028, 21, 0, 0, 0, '1786-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2053, 2029, 21, 0, 0, 0, '1786-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2054, 2030, 21, 0, 0, 0, '1786-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2055, 2031, 21, 0, 0, 0, '1786-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2056, 2032, 21, 0, 0, 0, '1786-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2057, 2033, 21, 0, 0, 0, '1786-08-06 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2058, 2034, 21, 0, 0, 0, '1786-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2059, 2035, 21, 0, 0, 0, '1786-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2060, 2036, 21, 0, 0, 0, '1786-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2061, 2037, 21, 0, 0, 0, '1786-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2062, 2038, 21, 0, 0, 0, '1786-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2063, 2039, 21, 0, 0, 0, '1786-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2064, 2040, 21, 0, 0, 0, '1786-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2065, 2041, 21, 0, 0, 0, '1786-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2066, 2042, 21, 0, 0, 0, '1786-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2067, 2043, 21, 0, 0, 0, '1786-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2068, 2044, 21, 0, 0, 0, '1786-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2069, 2045, 20, 0, 0, 0, '1793-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2070, 2046, 20, 0, 0, 0, '1793-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2071, 2047, 20, 0, 0, 0, '1793-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2072, 2048, 20, 0, 0, 0, '1793-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2073, 2049, 20, 0, 0, 0, '1793-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2074, 2050, 20, 0, 0, 0, '1793-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2075, 2051, 20, 0, 0, 0, '1793-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2076, 2052, 20, 0, 0, 0, '1793-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2077, 2053, 20, 0, 0, 0, '1793-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2078, 2054, 20, 0, 0, 0, '1793-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2079, 2055, 20, 0, 0, 0, '1793-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2080, 2056, 20, 0, 0, 0, '1793-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2081, 2057, 20, 0, 0, 0, '1793-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2082, 2058, 20, 0, 0, 0, '1793-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2083, 2059, 20, 0, 0, 0, '1793-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2084, 2060, 20, 0, 0, 0, '1793-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2085, 2061, 20, 0, 0, 0, '1793-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2086, 2062, 20, 0, 0, 0, '1793-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2087, 2063, 20, 0, 0, 0, '1793-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2088, 2064, 22, 0, 0, 0, '1769-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2089, 2065, 22, 0, 0, 0, '1769-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2090, 2066, 22, 0, 0, 0, '1769-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2091, 2067, 22, 0, 0, 0, '1769-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2092, 2068, 22, 0, 0, 0, '1769-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2093, 2069, 22, 0, 0, 0, '1769-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2094, 2070, 22, 0, 0, 0, '1769-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2095, 2071, 22, 0, 0, 0, '1769-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2096, 2072, 22, 0, 0, 0, '1769-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2097, 2073, 22, 0, 0, 0, '1769-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2098, 2074, 22, 0, 0, 0, '1769-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2099, 2075, 22, 0, 0, 0, '1769-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2100, 2076, 22, 0, 0, 0, '1769-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2101, 2077, 22, 0, 0, 0, '1769-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2102, 2078, 22, 0, 0, 0, '1769-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2103, 2079, 22, 0, 0, 0, '1769-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2104, 2080, 22, 0, 0, 0, '1769-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2105, 2081, 22, 0, 0, 0, '1769-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2106, 2082, 22, 0, 0, 0, '1769-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2107, 2083, 22, 0, 0, 0, '1769-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2108, 2084, 21, 0, 0, 0, '1783-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2109, 2085, 21, 0, 0, 0, '1783-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2110, 2086, 21, 0, 0, 0, '1783-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2111, 2087, 21, 0, 0, 0, '1783-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2112, 2088, 21, 0, 0, 0, '1783-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2113, 2089, 21, 0, 0, 0, '1783-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2114, 2090, 21, 0, 0, 0, '1783-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2115, 2091, 21, 0, 0, 0, '1783-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2116, 2092, 21, 0, 0, 0, '1783-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2117, 2117, 21, 0, 0, 0, '1783-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2118, 2118, 21, 0, 0, 0, '1783-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2119, 2119, 21, 0, 0, 0, '1783-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2120, 2120, 21, 0, 0, 0, '1783-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2121, 2121, 21, 0, 0, 0, '1783-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2122, 2122, 21, 0, 0, 0, '1783-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2123, 2123, 21, 0, 0, 0, '1783-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2124, 2124, 21, 0, 0, 0, '1783-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2125, 2125, 21, 0, 0, 0, '1783-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2126, 2126, 21, 0, 0, 0, '1784-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2127, 2127, 21, 0, 0, 0, '1784-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2128, 2128, 21, 0, 0, 0, '1784-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2129, 2129, 21, 0, 0, 0, '1784-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2130, 2130, 21, 0, 0, 0, '1784-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2131, 2131, 21, 0, 0, 0, '1784-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2132, 2132, 21, 0, 0, 0, '1784-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2133, 2133, 21, 0, 0, 0, '1784-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2134, 2134, 21, 0, 0, 0, '1784-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2135, 2135, 21, 0, 0, 0, '1784-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2136, 2136, 21, 0, 0, 0, '1784-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2137, 2137, 21, 0, 0, 0, '1784-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2138, 2138, 21, 0, 0, 0, '1784-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2139, 2139, 21, 0, 0, 0, '1784-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2140, 2140, 21, 0, 0, 0, '1784-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2141, 2141, 21, 0, 0, 0, '1784-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2142, 2142, 21, 0, 0, 0, '1784-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2143, 2143, 21, 0, 0, 0, '1784-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2144, 2144, 21, 0, 0, 0, '1784-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2145, 2145, 21, 0, 0, 0, '1784-02-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2146, 2146, 21, 0, 0, 0, '1784-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2147, 2147, 21, 0, 0, 0, '1784-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2148, 2148, 21, 0, 0, 0, '1784-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2149, 2149, 21, 0, 0, 0, '1784-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2150, 2150, 21, 0, 0, 0, '1784-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2151, 2151, 21, 0, 0, 0, '1784-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2152, 2152, 21, 0, 0, 0, '1784-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2153, 2153, 21, 0, 0, 0, '1784-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2154, 2154, 21, 0, 0, 0, '1784-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2155, 2155, 21, 0, 0, 0, '1784-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2156, 2156, 21, 0, 0, 0, '1784-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2157, 2157, 21, 0, 0, 0, '1784-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2158, 2158, 21, 0, 0, 0, '1784-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2159, 2159, 21, 0, 0, 0, '1786-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2160, 2160, 21, 0, 0, 0, '1786-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2161, 2161, 21, 0, 0, 0, '1786-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2162, 2162, 21, 0, 0, 0, '1786-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2163, 2163, 21, 0, 0, 0, '1786-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2164, 2164, 21, 0, 0, 0, '1786-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2165, 2165, 21, 0, 0, 0, '1786-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2166, 2166, 21, 0, 0, 0, '1786-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2167, 2167, 21, 0, 0, 0, '1786-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2168, 2168, 21, 0, 0, 0, '1786-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2169, 2169, 21, 0, 0, 0, '1786-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2170, 2170, 21, 0, 0, 0, '1786-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2171, 2171, 21, 0, 0, 0, '1786-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2172, 2172, 21, 0, 0, 0, '1786-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2173, 2173, 21, 0, 0, 0, '1786-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2174, 2174, 21, 0, 0, 0, '1786-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2175, 2175, 21, 0, 0, 0, '1786-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2176, 2176, 21, 0, 0, 0, '1786-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2177, 2177, 21, 0, 0, 0, '1786-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2178, 2178, 21, 0, 0, 0, '1786-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2179, 2179, 21, 0, 0, 0, '1786-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2180, 2180, 21, 0, 0, 0, '1786-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2181, 2181, 21, 0, 0, 0, '1786-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2182, 2182, 21, 0, 0, 0, '1786-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2183, 2183, 21, 0, 0, 0, '1786-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2184, 2184, 21, 0, 0, 0, '1786-03-19 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2229, 2229, 23, 0, 0, 0, '1776-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2230, 2230, 23, 0, 0, 0, '1776-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2231, 2231, 23, 0, 0, 0, '1776-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2232, 2232, 23, 0, 0, 0, '1776-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2233, 2233, 23, 0, 0, 0, '1776-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2234, 2234, 23, 0, 0, 0, '1776-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2235, 2235, 23, 0, 0, 0, '1776-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2236, 2236, 23, 0, 0, 0, '1776-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2237, 2237, 23, 0, 0, 0, '1776-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2238, 2238, 23, 0, 0, 0, '1776-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2239, 2239, 23, 0, 0, 0, '1776-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2240, 2240, 23, 0, 0, 0, '1776-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2241, 2241, 23, 0, 0, 0, '1776-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2242, 2242, 23, 0, 0, 0, '1776-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2243, 2243, 23, 0, 0, 0, '1776-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2244, 2244, 23, 0, 0, 0, '1776-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2245, 2245, 23, 0, 0, 0, '1776-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2246, 2246, 23, 0, 0, 0, '1776-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2247, 2247, 23, 0, 0, 0, '1776-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2248, 2248, 23, 0, 0, 0, '1776-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2249, 2249, 23, 0, 0, 0, '1776-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2250, 2250, 23, 0, 0, 0, '1776-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2251, 2251, 23, 0, 0, 0, '1776-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2252, 2252, 23, 0, 0, 0, '1776-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2253, 2253, 23, 0, 0, 0, '1776-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2254, 2254, 23, 0, 0, 0, '1776-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2255, 2255, 23, 0, 0, 0, '1776-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2256, 2256, 23, 0, 0, 0, '1776-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2257, 2257, 23, 0, 0, 0, '1776-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2258, 2258, 23, 0, 0, 0, '1776-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2259, 2259, 23, 0, 0, 0, '1776-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2260, 2260, 23, 0, 0, 0, '1776-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2261, 2261, 23, 0, 0, 0, '1776-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2262, 2262, 23, 0, 0, 0, '1776-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2263, 2263, 23, 0, 0, 0, '1776-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2264, 2264, 23, 0, 0, 0, '1776-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2265, 2265, 23, 0, 0, 0, '1776-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2266, 2266, 23, 0, 0, 0, '1776-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2267, 2267, 23, 0, 0, 0, '1776-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2268, 2268, 23, 0, 0, 0, '1776-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2269, 2269, 23, 0, 0, 0, '1776-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2270, 2270, 23, 0, 0, 0, '1776-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2271, 2271, 23, 0, 0, 0, '1776-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2272, 2272, 23, 0, 0, 0, '1776-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2273, 2273, 23, 0, 0, 0, '1776-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2274, 2274, 23, 0, 0, 0, '1776-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2275, 2275, 23, 0, 0, 0, '1776-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2276, 2276, 23, 0, 0, 0, '1776-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2277, 2277, 23, 0, 0, 0, '1776-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2278, 2278, 23, 0, 0, 0, '1776-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2279, 2279, 23, 0, 0, 0, '1776-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2280, 2280, 23, 0, 0, 0, '1776-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2281, 2281, 23, 0, 0, 0, '1776-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2282, 2282, 23, 0, 0, 0, '1776-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2283, 2283, 23, 0, 0, 0, '1776-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2284, 2284, 23, 0, 0, 0, '1776-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2285, 2285, 23, 0, 0, 0, '1776-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2286, 2286, 23, 0, 0, 0, '1776-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2287, 2287, 23, 0, 0, 0, '1776-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2288, 2288, 23, 0, 0, 0, '1776-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2289, 2289, 23, 0, 0, 0, '1776-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2290, 2290, 23, 0, 0, 0, '1776-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2291, 2291, 23, 0, 0, 0, '1776-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2292, 2292, 23, 0, 0, 0, '1776-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2293, 2293, 23, 0, 0, 0, '1776-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2294, 2294, 23, 0, 0, 0, '1776-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2295, 2295, 23, 0, 0, 0, '1776-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2296, 2296, 23, 0, 0, 0, '1776-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2297, 2297, 23, 0, 0, 0, '1776-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2298, 2298, 23, 0, 0, 0, '1776-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2299, 2299, 23, 0, 0, 0, '1776-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2300, 2300, 23, 0, 0, 0, '1776-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2301, 2301, 23, 0, 0, 0, '1776-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2302, 2302, 23, 0, 0, 0, '1776-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2303, 2303, 23, 0, 0, 0, '1776-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2304, 2304, 23, 0, 0, 0, '1776-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2305, 2305, 23, 0, 0, 0, '1776-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2306, 2306, 23, 0, 0, 0, '1776-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2307, 2307, 23, 0, 0, 0, '1776-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2308, 2308, 23, 0, 0, 0, '1776-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2309, 2309, 23, 0, 0, 0, '1776-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2310, 2310, 23, 0, 0, 0, '1776-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2311, 2311, 23, 0, 0, 0, '1776-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2312, 2312, 23, 0, 0, 0, '1776-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2313, 2313, 23, 0, 0, 0, '1776-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2314, 2314, 23, 0, 0, 0, '1776-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2315, 2315, 23, 0, 0, 0, '1776-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2316, 2316, 23, 0, 0, 0, '1776-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2317, 2317, 23, 0, 0, 0, '1776-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2318, 2318, 23, 0, 0, 0, '1776-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2319, 2319, 23, 0, 0, 0, '1776-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2320, 2320, 23, 0, 0, 0, '1776-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2321, 2321, 23, 0, 0, 0, '1776-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2322, 2322, 23, 0, 0, 0, '1776-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2323, 2323, 23, 0, 0, 0, '1776-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2324, 2324, 23, 0, 0, 0, '1776-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2325, 2325, 23, 0, 0, 0, '1776-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2326, 2326, 23, 0, 0, 0, '1776-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2327, 2327, 23, 0, 0, 0, '1776-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2328, 2328, 23, 0, 0, 0, '1776-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2329, 2329, 23, 0, 0, 0, '1776-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2330, 2330, 23, 0, 0, 0, '1776-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2331, 2331, 23, 0, 0, 0, '1776-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2332, 2332, 23, 0, 0, 0, '1776-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2333, 2333, 23, 0, 0, 0, '1776-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2334, 2334, 23, 0, 0, 0, '1776-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2335, 2335, 23, 0, 0, 0, '1776-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2336, 2336, 23, 0, 0, 0, '1776-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2337, 2337, 23, 0, 0, 0, '1776-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2338, 2338, 23, 0, 0, 0, '1776-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2339, 2339, 23, 0, 0, 0, '1776-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2340, 2340, 23, 0, 0, 0, '1776-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2341, 2341, 23, 0, 0, 0, '1776-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2342, 2342, 23, 0, 0, 0, '1776-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2343, 2343, 23, 0, 0, 0, '1776-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2344, 2344, 23, 0, 0, 0, '1776-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2345, 2345, 23, 0, 0, 0, '1776-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2346, 2346, 23, 0, 0, 0, '1776-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2347, 2347, 23, 0, 0, 0, '1776-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2348, 2348, 23, 0, 0, 0, '1776-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2349, 2349, 23, 0, 0, 0, '1776-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2350, 2350, 23, 0, 0, 0, '1776-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2351, 2351, 23, 0, 0, 0, '1776-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2352, 2352, 23, 0, 0, 0, '1776-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2353, 2353, 23, 0, 0, 0, '1776-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2354, 2354, 23, 0, 0, 0, '1776-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2355, 2355, 23, 0, 0, 0, '1776-09-10 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2412, 2412, 23, 0, 0, 0, '1776-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2413, 2413, 23, 0, 0, 0, '1776-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2414, 2414, 23, 0, 0, 0, '1776-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2415, 2415, 23, 0, 0, 0, '1776-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2416, 2416, 23, 0, 0, 0, '1776-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2417, 2417, 23, 0, 0, 0, '1776-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2418, 2418, 23, 0, 0, 0, '1776-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2419, 2419, 23, 0, 0, 0, '1776-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2420, 2420, 23, 0, 0, 0, '1776-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2421, 2421, 23, 0, 0, 0, '1776-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2422, 2422, 23, 0, 0, 0, '1776-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2423, 2423, 23, 0, 0, 0, '1776-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2424, 2424, 23, 0, 0, 0, '1776-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2425, 2425, 23, 0, 0, 0, '1776-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2426, 2426, 23, 0, 0, 0, '1776-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2427, 2427, 23, 0, 0, 0, '1776-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2428, 2428, 23, 0, 0, 0, '1776-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2429, 2429, 23, 0, 0, 0, '1776-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2430, 2430, 23, 0, 0, 0, '1776-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2431, 2431, 23, 0, 0, 0, '1776-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2432, 2432, 23, 0, 0, 0, '1776-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2433, 2433, 23, 0, 0, 0, '1776-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2434, 2434, 23, 0, 0, 0, '1776-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2435, 2435, 23, 0, 0, 0, '1776-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2436, 2436, 23, 0, 0, 0, '1776-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2437, 2437, 23, 0, 0, 0, '1776-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2438, 2438, 23, 0, 0, 0, '1776-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2439, 2439, 23, 0, 0, 0, '1776-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2440, 2440, 23, 0, 0, 0, '1776-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2441, 2441, 23, 0, 0, 0, '1776-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2442, 2442, 23, 0, 0, 0, '1776-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2443, 2443, 23, 0, 0, 0, '1776-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2444, 2444, 23, 0, 0, 0, '1776-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2445, 2445, 23, 0, 0, 0, '1776-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2446, 2446, 23, 0, 0, 0, '1776-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2447, 2447, 23, 0, 0, 0, '1776-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2448, 2448, 23, 0, 0, 0, '1776-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2449, 2449, 23, 0, 0, 0, '1776-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2450, 2450, 23, 0, 0, 0, '1776-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2451, 2451, 23, 0, 0, 0, '1776-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2452, 2452, 23, 0, 0, 0, '1776-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2453, 2453, 23, 0, 0, 0, '1776-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2454, 2454, 23, 0, 0, 0, '1776-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2455, 2455, 23, 0, 0, 0, '1776-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2456, 2456, 23, 0, 0, 0, '1776-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2457, 2457, 23, 0, 0, 0, '1776-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2458, 2458, 23, 0, 0, 0, '1776-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2459, 2459, 23, 0, 0, 0, '1776-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2460, 2460, 23, 0, 0, 0, '1776-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2461, 2461, 23, 0, 0, 0, '1776-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2462, 2462, 23, 0, 0, 0, '1776-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2463, 2463, 23, 0, 0, 0, '1776-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2464, 2464, 23, 0, 0, 0, '1776-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2465, 2465, 23, 0, 0, 0, '1776-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2466, 2466, 23, 0, 0, 0, '1776-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2467, 2467, 23, 0, 0, 0, '1776-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2468, 2468, 23, 0, 0, 0, '1776-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2469, 2469, 23, 0, 0, 0, '1776-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2470, 2470, 23, 0, 0, 0, '1776-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2471, 2471, 23, 0, 0, 0, '1776-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2472, 2472, 23, 0, 0, 0, '1776-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2473, 2473, 23, 0, 0, 0, '1776-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2474, 2474, 23, 0, 0, 0, '1776-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2475, 2475, 23, 0, 0, 0, '1776-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2476, 2476, 23, 0, 0, 0, '1776-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2477, 2477, 23, 0, 0, 0, '1776-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2478, 2478, 23, 0, 0, 0, '1776-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2479, 2479, 23, 0, 0, 0, '1776-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2480, 2480, 23, 0, 0, 0, '1776-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2481, 2481, 23, 0, 0, 0, '1776-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2482, 2482, 23, 0, 0, 0, '1776-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2483, 2483, 23, 0, 0, 0, '1776-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2484, 2484, 23, 0, 0, 0, '1776-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2485, 2485, 23, 0, 0, 0, '1776-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2486, 2486, 23, 0, 0, 0, '1776-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2487, 2487, 23, 0, 0, 0, '1776-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2488, 2488, 23, 0, 0, 0, '1776-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2489, 2489, 23, 0, 0, 0, '1776-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2490, 2490, 23, 0, 0, 0, '1776-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2491, 2491, 23, 0, 0, 0, '1776-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2492, 2492, 23, 0, 0, 0, '1776-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2493, 2493, 23, 0, 0, 0, '1776-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2494, 2494, 23, 0, 0, 0, '1776-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2495, 2495, 23, 0, 0, 0, '1776-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2496, 2496, 23, 0, 0, 0, '1776-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2497, 2497, 23, 0, 0, 0, '1776-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2498, 2498, 23, 0, 0, 0, '1776-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2499, 2499, 23, 0, 0, 0, '1776-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2500, 2500, 23, 0, 0, 0, '1776-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2501, 2501, 23, 0, 0, 0, '1776-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2502, 2502, 23, 0, 0, 0, '1776-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2503, 2503, 23, 0, 0, 0, '1776-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2504, 2504, 23, 0, 0, 0, '1776-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2505, 2505, 23, 0, 0, 0, '1776-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2506, 2506, 23, 0, 0, 0, '1776-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2507, 2507, 23, 0, 0, 0, '1776-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2508, 2508, 23, 0, 0, 0, '1776-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2509, 2509, 23, 0, 0, 0, '1776-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2510, 2510, 23, 0, 0, 0, '1776-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2511, 2511, 23, 0, 0, 0, '1776-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2512, 2512, 23, 0, 0, 0, '1776-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2513, 2513, 23, 0, 0, 0, '1776-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2514, 2514, 23, 0, 0, 0, '1776-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2515, 2515, 23, 0, 0, 0, '1777-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2516, 2516, 23, 0, 0, 0, '1777-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2517, 2517, 23, 0, 0, 0, '1777-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2518, 2518, 23, 0, 0, 0, '1777-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2519, 2519, 23, 0, 0, 0, '1777-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2520, 2520, 23, 0, 0, 0, '1777-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2521, 2521, 23, 0, 0, 0, '1777-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2522, 2522, 23, 0, 0, 0, '1777-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2523, 2523, 23, 0, 0, 0, '1777-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2524, 2524, 23, 0, 0, 0, '1777-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2525, 2525, 23, 0, 0, 0, '1777-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2526, 2526, 23, 0, 0, 0, '1777-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2527, 2527, 23, 0, 0, 0, '1777-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2528, 2528, 23, 0, 0, 0, '1777-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2529, 2529, 23, 0, 0, 0, '1777-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2530, 2530, 23, 0, 0, 0, '1777-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2531, 2531, 23, 0, 0, 0, '1777-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2532, 2532, 23, 0, 0, 0, '1777-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2533, 2533, 23, 0, 0, 0, '1777-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2534, 2534, 23, 0, 0, 0, '1777-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2535, 2535, 23, 0, 0, 0, '1777-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2536, 2536, 23, 0, 0, 0, '1777-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2537, 2537, 23, 0, 0, 0, '1777-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2538, 2538, 23, 0, 0, 0, '1777-01-08 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2581, 2581, 23, 0, 0, 0, '1777-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2582, 2582, 23, 0, 0, 0, '1777-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2583, 2583, 23, 0, 0, 0, '1777-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2584, 2584, 23, 0, 0, 0, '1777-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2585, 2585, 23, 0, 0, 0, '1777-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2586, 2586, 23, 0, 0, 0, '1777-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2587, 2587, 23, 0, 0, 0, '1777-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2588, 2588, 23, 0, 0, 0, '1777-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2589, 2589, 23, 0, 0, 0, '1777-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2590, 2590, 23, 0, 0, 0, '1777-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2591, 2591, 23, 0, 0, 0, '1777-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2592, 2592, 23, 0, 0, 0, '1777-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2593, 2593, 23, 0, 0, 0, '1777-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2594, 2594, 23, 0, 0, 0, '1777-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2595, 2595, 23, 0, 0, 0, '1777-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2596, 2596, 23, 0, 0, 0, '1777-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2597, 2597, 23, 0, 0, 0, '1777-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2598, 2598, 23, 0, 0, 0, '1777-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2599, 2599, 23, 0, 0, 0, '1777-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2600, 2600, 23, 0, 0, 0, '1777-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2601, 2601, 23, 0, 0, 0, '1777-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2602, 2602, 23, 0, 0, 0, '1777-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2603, 2603, 23, 0, 0, 0, '1777-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2604, 2604, 23, 0, 0, 0, '1777-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2605, 2605, 23, 0, 0, 0, '1777-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2606, 2606, 23, 0, 0, 0, '1777-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2607, 2607, 23, 0, 0, 0, '1777-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2608, 2608, 23, 0, 0, 0, '1777-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2609, 2609, 23, 0, 0, 0, '1777-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2610, 2610, 23, 0, 0, 0, '1777-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2611, 2611, 23, 0, 0, 0, '1777-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2612, 2612, 23, 0, 0, 0, '1777-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2613, 2613, 23, 0, 0, 0, '1777-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2614, 2614, 23, 0, 0, 0, '1777-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2615, 2615, 23, 0, 0, 0, '1777-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2616, 2616, 23, 0, 0, 0, '1777-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2617, 2617, 23, 0, 0, 0, '1777-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2618, 2618, 23, 0, 0, 0, '1777-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2619, 2619, 23, 0, 0, 0, '1777-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2620, 2620, 23, 0, 0, 0, '1777-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2621, 2621, 23, 0, 0, 0, '1777-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2622, 2622, 23, 0, 0, 0, '1777-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2623, 2623, 23, 0, 0, 0, '1777-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2624, 2624, 23, 0, 0, 0, '1777-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2625, 2625, 23, 0, 0, 0, '1777-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2626, 2626, 23, 0, 0, 0, '1777-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2627, 2627, 23, 0, 0, 0, '1777-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2628, 2628, 23, 0, 0, 0, '1777-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2629, 2629, 23, 0, 0, 0, '1777-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2630, 2630, 23, 0, 0, 0, '1777-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2631, 2631, 23, 0, 0, 0, '1777-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2632, 2632, 23, 0, 0, 0, '1777-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2633, 2633, 23, 0, 0, 0, '1777-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2634, 2634, 23, 0, 0, 0, '1777-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2635, 2635, 23, 0, 0, 0, '1777-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2636, 2636, 23, 0, 0, 0, '1777-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2637, 2637, 23, 0, 0, 0, '1777-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2638, 2638, 23, 0, 0, 0, '1777-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2639, 2639, 23, 0, 0, 0, '1777-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2640, 2640, 23, 0, 0, 0, '1777-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2641, 2641, 23, 0, 0, 0, '1777-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2642, 2642, 23, 0, 0, 0, '1777-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2643, 2643, 23, 0, 0, 0, '1777-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2644, 2644, 23, 0, 0, 0, '1777-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2645, 2645, 23, 0, 0, 0, '1777-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2646, 2646, 23, 0, 0, 0, '1777-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2647, 2647, 23, 0, 0, 0, '1777-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2648, 2648, 23, 0, 0, 0, '1777-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2649, 2649, 23, 0, 0, 0, '1777-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2650, 2650, 23, 0, 0, 0, '1777-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2651, 2651, 23, 0, 0, 0, '1777-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2652, 2652, 23, 0, 0, 0, '1777-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2653, 2653, 23, 0, 0, 0, '1777-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2654, 2654, 23, 0, 0, 0, '1777-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2655, 2655, 23, 0, 0, 0, '1777-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2656, 2656, 23, 0, 0, 0, '1777-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2657, 2657, 23, 0, 0, 0, '1777-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2658, 2658, 23, 0, 0, 0, '1777-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2659, 2659, 23, 0, 0, 0, '1777-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2660, 2660, 23, 0, 0, 0, '1777-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2661, 2661, 23, 0, 0, 0, '1777-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2662, 2662, 23, 0, 0, 0, '1777-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2663, 2663, 23, 0, 0, 0, '1777-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2664, 2664, 23, 0, 0, 0, '1777-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2665, 2665, 23, 0, 0, 0, '1777-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2666, 2666, 23, 0, 0, 0, '1777-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2667, 2667, 23, 0, 0, 0, '1777-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2668, 2668, 23, 0, 0, 0, '1777-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2669, 2669, 23, 0, 0, 0, '1777-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2670, 2670, 23, 0, 0, 0, '1777-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2671, 2671, 23, 0, 0, 0, '1777-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2672, 2672, 23, 0, 0, 0, '1777-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2673, 2673, 23, 0, 0, 0, '1777-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2674, 2674, 23, 0, 0, 0, '1777-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2675, 2675, 23, 0, 0, 0, '1777-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2676, 2676, 23, 0, 0, 0, '1777-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2677, 2677, 23, 0, 0, 0, '1777-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2678, 2678, 23, 0, 0, 0, '1777-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2679, 2679, 23, 0, 0, 0, '1777-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2680, 2680, 23, 0, 0, 0, '1777-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2681, 2681, 23, 0, 0, 0, '1777-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2682, 2682, 23, 0, 0, 0, '1777-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2683, 2683, 23, 0, 0, 0, '1777-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2684, 2684, 23, 0, 0, 0, '1777-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2685, 2685, 23, 0, 0, 0, '1777-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2686, 2686, 23, 0, 0, 0, '1777-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2687, 2687, 23, 0, 0, 0, '1777-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2688, 2688, 23, 0, 0, 0, '1777-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2689, 2689, 23, 0, 0, 0, '1777-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2690, 2690, 23, 0, 0, 0, '1777-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2691, 2691, 23, 0, 0, 0, '1777-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2692, 2692, 23, 0, 0, 0, '1777-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2693, 2693, 24, 0, 0, 0, '1781-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2694, 2694, 24, 0, 0, 0, '1781-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2695, 2695, 24, 0, 0, 0, '1781-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2696, 2696, 24, 0, 0, 0, '1781-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2697, 2697, 24, 0, 0, 0, '1781-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2698, 2698, 24, 0, 0, 0, '1781-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2699, 2699, 24, 0, 0, 0, '1781-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2700, 2700, 24, 0, 0, 0, '1781-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2701, 2701, 24, 0, 0, 0, '1781-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2702, 2702, 24, 0, 0, 0, '1781-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2703, 2703, 24, 0, 0, 0, '1781-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2704, 2704, 24, 0, 0, 0, '1781-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2705, 2705, 24, 0, 0, 0, '1781-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2706, 2706, 24, 0, 0, 0, '1781-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2707, 2707, 24, 0, 0, 0, '1781-07-30 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2754, 2754, 24, 0, 0, 0, '1781-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2755, 2755, 24, 0, 0, 0, '1781-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2756, 2756, 24, 0, 0, 0, '1781-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2757, 2757, 24, 0, 0, 0, '1781-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2758, 2758, 24, 0, 0, 0, '1781-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2759, 2759, 24, 0, 0, 0, '1781-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2760, 2760, 24, 0, 0, 0, '1781-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2761, 2761, 24, 0, 0, 0, '1781-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2762, 2762, 24, 0, 0, 0, '1781-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2763, 2763, 24, 0, 0, 0, '1781-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2764, 2764, 24, 0, 0, 0, '1781-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2765, 2765, 24, 0, 0, 0, '1781-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2766, 2766, 24, 0, 0, 0, '1781-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2767, 2767, 24, 0, 0, 0, '1781-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2768, 2768, 24, 0, 0, 0, '1782-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2769, 2769, 24, 0, 0, 0, '1782-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2770, 2770, 24, 0, 0, 0, '1782-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2771, 2771, 24, 0, 0, 0, '1782-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2772, 2772, 24, 0, 0, 0, '1782-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2773, 2773, 24, 0, 0, 0, '1782-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2774, 2774, 24, 0, 0, 0, '1782-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2775, 2775, 24, 0, 0, 0, '1782-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2776, 2776, 24, 0, 0, 0, '1782-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2777, 2777, 24, 0, 0, 0, '1782-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2778, 2778, 24, 0, 0, 0, '1782-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2779, 2779, 24, 0, 0, 0, '1782-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2780, 2780, 24, 0, 0, 0, '1782-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2781, 2781, 24, 0, 0, 0, '1782-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2782, 2782, 24, 0, 0, 0, '1782-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2783, 2783, 24, 0, 0, 0, '1782-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2784, 2784, 24, 0, 0, 0, '1782-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2785, 2785, 24, 0, 0, 0, '1782-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2786, 2786, 24, 0, 0, 0, '1782-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2787, 2787, 24, 0, 0, 0, '1782-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2788, 2788, 24, 0, 0, 0, '1782-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2789, 2789, 24, 0, 0, 0, '1782-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2790, 2790, 24, 0, 0, 0, '1782-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2791, 2791, 24, 0, 0, 0, '1782-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2792, 2792, 24, 0, 0, 0, '1782-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2793, 2793, 24, 0, 0, 0, '1782-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2794, 2794, 24, 0, 0, 0, '1782-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2795, 2795, 24, 0, 0, 0, '1782-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2796, 2796, 24, 0, 0, 0, '1782-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2797, 2797, 24, 0, 0, 0, '1782-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2798, 2798, 24, 0, 0, 0, '1782-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2799, 2799, 24, 0, 0, 0, '1782-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2800, 2800, 24, 0, 0, 0, '1782-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2801, 2801, 24, 0, 0, 0, '1782-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2802, 2802, 24, 0, 0, 0, '1782-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2803, 2803, 24, 0, 0, 0, '1782-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2804, 2804, 24, 0, 0, 0, '1782-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2805, 2805, 24, 0, 0, 0, '1782-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2806, 2806, 24, 0, 0, 0, '1782-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2807, 2807, 24, 0, 0, 0, '1782-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2808, 2808, 24, 0, 0, 0, '1782-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2809, 2809, 24, 0, 0, 0, '1782-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2810, 2810, 24, 0, 0, 0, '1782-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2811, 2811, 24, 0, 0, 0, '1782-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2812, 2812, 24, 0, 0, 0, '1782-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2813, 2813, 24, 0, 0, 0, '1782-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2814, 2814, 24, 0, 0, 0, '1782-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2815, 2815, 24, 0, 0, 0, '1782-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2816, 2816, 24, 0, 0, 0, '1782-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2817, 2817, 24, 0, 0, 0, '1782-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2818, 2818, 24, 0, 0, 0, '1782-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2819, 2819, 24, 0, 0, 0, '1782-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2820, 2820, 24, 0, 0, 0, '1782-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2821, 2821, 24, 0, 0, 0, '1782-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2822, 2822, 24, 0, 0, 0, '1782-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2823, 2823, 24, 0, 0, 0, '1782-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2824, 2824, 24, 0, 0, 0, '1782-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2825, 2825, 24, 0, 0, 0, '1782-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2826, 2826, 24, 0, 0, 0, '1782-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2827, 2827, 24, 0, 0, 0, '1782-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2828, 2828, 24, 0, 0, 0, '1782-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2829, 2829, 24, 0, 0, 0, '1782-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2830, 2830, 24, 0, 0, 0, '1782-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2831, 2831, 24, 0, 0, 0, '1782-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2832, 2832, 24, 0, 0, 0, '1782-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2833, 2833, 24, 0, 0, 0, '1782-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2834, 2834, 24, 0, 0, 0, '1782-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2835, 2835, 24, 0, 0, 0, '1782-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2836, 2836, 24, 0, 0, 0, '1782-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2837, 2837, 24, 0, 0, 0, '1782-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2838, 2838, 24, 0, 0, 0, '1782-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2839, 2839, 24, 0, 0, 0, '1782-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2840, 2840, 24, 0, 0, 0, '1782-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2841, 2841, 24, 0, 0, 0, '1782-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2842, 2842, 24, 0, 0, 0, '1782-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2843, 2843, 25, 0, 0, 0, '1780-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2844, 2844, 25, 0, 0, 0, '1780-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2845, 2845, 25, 0, 0, 0, '1780-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2846, 2846, 25, 0, 0, 0, '1780-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2847, 2847, 25, 0, 0, 0, '1780-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2848, 2848, 25, 0, 0, 0, '1780-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2849, 2849, 25, 0, 0, 0, '1780-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2850, 2850, 25, 0, 0, 0, '1780-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2851, 2851, 25, 0, 0, 0, '1780-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2852, 2852, 25, 0, 0, 0, '1780-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2853, 2853, 25, 0, 0, 0, '1780-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2854, 2854, 25, 0, 0, 0, '1780-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2855, 2855, 25, 0, 0, 0, '1780-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2856, 2856, 25, 0, 0, 0, '1780-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2857, 2857, 25, 0, 0, 0, '1780-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2858, 2858, 25, 0, 0, 0, '1780-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2859, 2859, 25, 0, 0, 0, '1780-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2860, 2860, 25, 0, 0, 0, '1780-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2861, 2861, 25, 0, 0, 0, '1780-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2862, 2862, 25, 0, 0, 0, '1780-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2863, 2863, 25, 0, 0, 0, '1780-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2864, 2864, 25, 0, 0, 0, '1780-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2865, 2865, 25, 0, 0, 0, '1780-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2866, 2866, 25, 0, 0, 0, '1780-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2867, 2867, 25, 0, 0, 0, '1780-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2868, 2868, 25, 0, 0, 0, '1780-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2869, 2869, 25, 0, 0, 0, '1780-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2870, 2870, 25, 0, 0, 0, '1780-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2871, 2871, 25, 0, 0, 0, '1780-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2872, 2872, 25, 0, 0, 0, '1780-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2873, 2873, 25, 0, 0, 0, '1780-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2874, 2874, 25, 0, 0, 0, '1780-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2875, 2875, 25, 0, 0, 0, '1780-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2876, 2876, 25, 0, 0, 0, '1780-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2877, 2877, 25, 0, 0, 0, '1780-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2878, 2878, 25, 0, 0, 0, '1780-06-28 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2879, 2879, 25, 0, 0, 0, '1780-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2880, 2880, 25, 0, 0, 0, '1780-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2881, 2881, 25, 0, 0, 0, '1780-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2882, 2882, 25, 0, 0, 0, '1780-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2883, 2883, 25, 0, 0, 0, '1780-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2884, 2884, 25, 0, 0, 0, '1780-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2885, 2885, 25, 0, 0, 0, '1780-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2886, 2886, 25, 0, 0, 0, '1780-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2887, 2887, 25, 0, 0, 0, '1780-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2888, 2888, 25, 0, 0, 0, '1780-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2889, 2889, 25, 0, 0, 0, '1780-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2890, 2890, 25, 0, 0, 0, '1780-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2891, 2891, 25, 0, 0, 0, '1780-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2892, 2892, 25, 0, 0, 0, '1780-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2893, 2893, 25, 0, 0, 0, '1780-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2894, 2894, 25, 0, 0, 0, '1780-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2895, 2895, 25, 0, 0, 0, '1780-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2896, 2896, 25, 0, 0, 0, '1780-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2897, 2897, 25, 0, 0, 0, '1780-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2898, 2898, 25, 0, 0, 0, '1780-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2899, 2899, 25, 0, 0, 0, '1780-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2900, 2900, 25, 0, 0, 0, '1780-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2901, 2901, 25, 0, 0, 0, '1780-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2902, 2902, 25, 0, 0, 0, '1780-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2903, 2903, 25, 0, 0, 0, '1780-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2904, 2904, 25, 0, 0, 0, '1780-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2905, 2905, 25, 0, 0, 0, '1780-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2906, 2906, 25, 0, 0, 0, '1780-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2907, 2907, 25, 0, 0, 0, '1780-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2908, 2908, 25, 0, 0, 0, '1780-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2909, 2909, 25, 0, 0, 0, '1780-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2910, 2910, 25, 0, 0, 0, '1780-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2911, 2911, 25, 0, 0, 0, '1780-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2912, 2912, 25, 0, 0, 0, '1780-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2913, 2913, 25, 0, 0, 0, '1780-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2914, 2914, 25, 0, 0, 0, '1780-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2915, 2915, 25, 0, 0, 0, '1780-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2916, 2916, 25, 0, 0, 0, '1780-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2917, 2917, 25, 0, 0, 0, '1780-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2918, 2918, 25, 0, 0, 0, '1780-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2919, 2919, 25, 0, 0, 0, '1780-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2920, 2920, 25, 0, 0, 0, '1780-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2921, 2921, 25, 0, 0, 0, '1780-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2922, 2922, 25, 0, 0, 0, '1780-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2923, 2923, 25, 0, 0, 0, '1780-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2924, 2924, 25, 0, 0, 0, '1780-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2925, 2925, 25, 0, 0, 0, '1780-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2926, 2926, 25, 0, 0, 0, '1780-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2927, 2927, 25, 0, 0, 0, '1780-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2928, 2928, 25, 0, 0, 0, '1780-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2929, 2929, 25, 0, 0, 0, '1780-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2930, 2930, 25, 0, 0, 0, '1780-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2931, 2931, 25, 0, 0, 0, '1780-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2932, 2932, 25, 0, 0, 0, '1780-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2933, 2933, 25, 0, 0, 0, '1780-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2934, 2934, 25, 0, 0, 0, '1780-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2935, 2935, 25, 0, 0, 0, '1780-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2936, 2936, 25, 0, 0, 0, '1780-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2937, 2937, 25, 0, 0, 0, '1780-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2938, 2938, 25, 0, 0, 0, '1780-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2939, 2939, 25, 0, 0, 0, '1780-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2940, 2940, 25, 0, 0, 0, '1780-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2941, 2941, 25, 0, 0, 0, '1780-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2942, 2942, 25, 0, 0, 0, '1780-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2943, 2943, 25, 0, 0, 0, '1780-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2944, 2944, 25, 0, 0, 0, '1780-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2945, 2945, 25, 0, 0, 0, '1780-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2946, 2946, 25, 0, 0, 0, '1780-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2947, 2947, 25, 0, 0, 0, '1780-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2948, 2948, 25, 0, 0, 0, '1780-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2949, 2949, 25, 0, 0, 0, '1780-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2950, 2950, 25, 0, 0, 0, '1780-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2951, 2951, 25, 0, 0, 0, '1780-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2952, 2952, 25, 0, 0, 0, '1780-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2953, 2953, 25, 0, 0, 0, '1780-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2954, 2954, 25, 0, 0, 0, '1780-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2955, 2955, 25, 0, 0, 0, '1780-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2956, 2956, 25, 0, 0, 0, '1780-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2957, 2957, 25, 0, 0, 0, '1780-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2958, 2958, 25, 0, 0, 0, '1780-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2959, 2959, 25, 0, 0, 0, '1780-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2960, 2960, 25, 0, 0, 0, '1780-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2961, 2961, 25, 0, 0, 0, '1780-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2962, 2962, 25, 0, 0, 0, '1780-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2963, 2963, 25, 0, 0, 0, '1780-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2964, 2964, 25, 0, 0, 0, '1780-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2965, 2965, 25, 0, 0, 0, '1780-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2966, 2966, 25, 0, 0, 0, '1780-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2967, 2967, 25, 0, 0, 0, '1780-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2968, 2968, 25, 0, 0, 0, '1780-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2969, 2969, 25, 0, 0, 0, '1780-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2970, 2970, 25, 0, 0, 0, '1780-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2971, 2971, 25, 0, 0, 0, '1780-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2972, 2972, 25, 0, 0, 0, '1780-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2973, 2973, 25, 0, 0, 0, '1780-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2974, 2974, 25, 0, 0, 0, '1780-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2975, 2975, 25, 0, 0, 0, '1780-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2976, 2976, 25, 0, 0, 0, '1780-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2977, 2977, 25, 0, 0, 0, '1780-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2978, 2978, 25, 0, 0, 0, '1780-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2979, 2979, 25, 0, 0, 0, '1780-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2980, 2980, 25, 0, 0, 0, '1780-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2981, 2981, 25, 0, 0, 0, '1780-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2982, 2982, 25, 0, 0, 0, '1780-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2983, 2983, 25, 0, 0, 0, '1780-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2984, 2984, 25, 0, 0, 0, '1781-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2985, 2985, 25, 0, 0, 0, '1781-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2986, 2986, 25, 0, 0, 0, '1781-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2987, 2987, 25, 0, 0, 0, '1781-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2988, 2988, 25, 0, 0, 0, '1781-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2989, 2989, 25, 0, 0, 0, '1781-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2990, 2990, 25, 0, 0, 0, '1781-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2991, 2991, 25, 0, 0, 0, '1781-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2992, 2992, 25, 0, 0, 0, '1781-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2993, 2993, 25, 0, 0, 0, '1781-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2994, 2994, 25, 0, 0, 0, '1781-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2995, 2995, 25, 0, 0, 0, '1781-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2996, 2996, 25, 0, 0, 0, '1781-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2997, 2997, 25, 0, 0, 0, '1781-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2998, 2998, 25, 0, 0, 0, '1781-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (2999, 2999, 25, 0, 0, 0, '1781-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3000, 3000, 25, 0, 0, 0, '1781-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3001, 3001, 25, 0, 0, 0, '1781-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3002, 3002, 18, 0, 0, 0, '1771-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3003, 3003, 18, 0, 0, 0, '1771-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3004, 3004, 18, 0, 0, 0, '1771-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3005, 3005, 18, 0, 0, 0, '1771-06-18 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3017, 3017, 18, 0, 0, 0, '1771-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3018, 3018, 18, 0, 0, 0, '1771-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3019, 3019, 18, 0, 0, 0, '1771-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3020, 3020, 18, 0, 0, 0, '1771-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3021, 3021, 18, 0, 0, 0, '1771-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3022, 3022, 18, 0, 0, 0, '1771-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3023, 3023, 18, 0, 0, 0, '1771-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3024, 3024, 18, 0, 0, 0, '1771-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3025, 3025, 18, 0, 0, 0, '1771-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3026, 3026, 18, 0, 0, 0, '1771-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3027, 3027, 18, 0, 0, 0, '1771-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3028, 3028, 18, 0, 0, 0, '1771-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3029, 3029, 18, 0, 0, 0, '1771-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3030, 3030, 18, 0, 0, 0, '1771-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3031, 3031, 18, 0, 0, 0, '1771-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3032, 3032, 18, 0, 0, 0, '1771-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3033, 3033, 18, 0, 0, 0, '1771-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3034, 3034, 18, 0, 0, 0, '1771-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3035, 3035, 18, 0, 0, 0, '1771-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3036, 3036, 18, 0, 0, 0, '1771-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3037, 3037, 18, 0, 0, 0, '1771-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3038, 3038, 18, 0, 0, 0, '1771-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3039, 3039, 18, 0, 0, 0, '1771-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3040, 3040, 18, 0, 0, 0, '1771-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3041, 3041, 18, 0, 0, 0, '1771-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3042, 3042, 18, 0, 0, 0, '1771-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3043, 3043, 18, 0, 0, 0, '1771-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3044, 3044, 18, 0, 0, 0, '1771-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3045, 3045, 18, 0, 0, 0, '1771-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3046, 3046, 18, 0, 0, 0, '1771-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3047, 3047, 18, 0, 0, 0, '1771-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3048, 3048, 18, 0, 0, 0, '1771-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3049, 3049, 18, 0, 0, 0, '1771-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3050, 3050, 18, 0, 0, 0, '1771-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3051, 3051, 18, 0, 0, 0, '1771-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3052, 3052, 18, 0, 0, 0, '1771-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3053, 3053, 18, 0, 0, 0, '1771-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3054, 3054, 18, 0, 0, 0, '1771-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3055, 3055, 18, 0, 0, 0, '1771-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3056, 3056, 18, 0, 0, 0, '1771-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3057, 3057, 18, 0, 0, 0, '1771-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3058, 3058, 18, 0, 0, 0, '1771-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3059, 3059, 18, 0, 0, 0, '1771-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3060, 3060, 18, 0, 0, 0, '1771-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3061, 3061, 18, 0, 0, 0, '1771-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3062, 3062, 18, 0, 0, 0, '1771-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3063, 3063, 18, 0, 0, 0, '1771-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3064, 3064, 18, 0, 0, 0, '1771-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3065, 3065, 18, 0, 0, 0, '1771-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3066, 3066, 18, 0, 0, 0, '1771-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3067, 3067, 18, 0, 0, 0, '1771-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3068, 3068, 18, 0, 0, 0, '1771-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3069, 3069, 18, 0, 0, 0, '1771-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3070, 3070, 18, 0, 0, 0, '1771-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3071, 3071, 18, 0, 0, 0, '1771-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3072, 3072, 18, 0, 0, 0, '1771-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3073, 3073, 18, 0, 0, 0, '1771-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3074, 3074, 18, 0, 0, 0, '1771-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3075, 3075, 18, 0, 0, 0, '1771-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3076, 3076, 18, 0, 0, 0, '1771-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3077, 3077, 18, 0, 0, 0, '1771-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3078, 3078, 18, 0, 0, 0, '1771-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3079, 3079, 18, 0, 0, 0, '1771-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3080, 3080, 18, 0, 0, 0, '1771-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3081, 3081, 18, 0, 0, 0, '1771-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3082, 3082, 18, 0, 0, 0, '1771-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3083, 3083, 18, 0, 0, 0, '1771-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3084, 3084, 18, 0, 0, 0, '1771-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3085, 3085, 18, 0, 0, 0, '1771-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3086, 3086, 18, 0, 0, 0, '1771-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3087, 3087, 18, 0, 0, 0, '1771-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3088, 3088, 18, 0, 0, 0, '1771-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3089, 3089, 18, 0, 0, 0, '1771-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3090, 3090, 18, 0, 0, 0, '1771-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3091, 3091, 18, 0, 0, 0, '1771-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3092, 3092, 18, 0, 0, 0, '1771-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3093, 3093, 18, 0, 0, 0, '1771-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3094, 3094, 18, 0, 0, 0, '1771-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3095, 3095, 18, 0, 0, 0, '1771-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3096, 3096, 18, 0, 0, 0, '1771-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3097, 3097, 18, 0, 0, 0, '1771-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3098, 3098, 18, 0, 0, 0, '1771-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3099, 3099, 18, 0, 0, 0, '1771-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3100, 3100, 18, 0, 0, 0, '1771-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3101, 3101, 18, 0, 0, 0, '1771-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3102, 3102, 18, 0, 0, 0, '1771-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3103, 3103, 18, 0, 0, 0, '1771-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3104, 3104, 18, 0, 0, 0, '1771-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3105, 3105, 18, 0, 0, 0, '1771-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3106, 3106, 18, 0, 0, 0, '1771-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3107, 3107, 18, 0, 0, 0, '1771-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3108, 3108, 18, 0, 0, 0, '1771-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3109, 3109, 18, 0, 0, 0, '1771-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3110, 3110, 18, 0, 0, 0, '1771-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3111, 3111, 18, 0, 0, 0, '1771-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3112, 3112, 18, 0, 0, 0, '1771-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3113, 3113, 18, 0, 0, 0, '1771-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3114, 3114, 18, 0, 0, 0, '1771-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3115, 3115, 18, 0, 0, 0, '1771-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3116, 3116, 18, 0, 0, 0, '1771-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3117, 3117, 18, 0, 0, 0, '1771-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3118, 3118, 18, 0, 0, 0, '1771-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3119, 3119, 18, 0, 0, 0, '1771-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3120, 3120, 18, 0, 0, 0, '1771-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3121, 3121, 18, 0, 0, 0, '1771-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3122, 3122, 18, 0, 0, 0, '1771-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3123, 3123, 18, 0, 0, 0, '1771-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3124, 3124, 18, 0, 0, 0, '1772-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3125, 3125, 18, 0, 0, 0, '1772-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3126, 3126, 18, 0, 0, 0, '1772-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3127, 3127, 18, 0, 0, 0, '1772-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3128, 3128, 18, 0, 0, 0, '1772-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3129, 3129, 18, 0, 0, 0, '1772-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3130, 3130, 18, 0, 0, 0, '1772-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3131, 3131, 18, 0, 0, 0, '1772-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3132, 3132, 18, 0, 0, 0, '1772-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3133, 3133, 18, 0, 0, 0, '1772-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3134, 3134, 18, 0, 0, 0, '1772-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3135, 3135, 18, 0, 0, 0, '1772-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3136, 3136, 18, 0, 0, 0, '1772-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3137, 3137, 18, 0, 0, 0, '1772-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3138, 3138, 18, 0, 0, 0, '1772-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3139, 3139, 18, 0, 0, 0, '1772-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3140, 3140, 18, 0, 0, 0, '1772-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3141, 3141, 18, 0, 0, 0, '1772-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3142, 3142, 18, 0, 0, 0, '1772-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3143, 3143, 18, 0, 0, 0, '1772-01-20 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3144, 3144, 18, 0, 0, 0, '1772-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3145, 3145, 18, 0, 0, 0, '1772-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3146, 3146, 18, 0, 0, 0, '1772-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3147, 3147, 18, 0, 0, 0, '1772-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3148, 3148, 18, 0, 0, 0, '1772-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3149, 3149, 18, 0, 0, 0, '1772-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3150, 3150, 18, 0, 0, 0, '1772-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3151, 3151, 18, 0, 0, 0, '1772-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3152, 3152, 18, 0, 0, 0, '1772-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3153, 3153, 18, 0, 0, 0, '1772-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3154, 3154, 18, 0, 0, 0, '1772-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3155, 3155, 18, 0, 0, 0, '1772-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3156, 3156, 18, 0, 0, 0, '1775-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3157, 3157, 18, 0, 0, 0, '1775-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3158, 3158, 18, 0, 0, 0, '1775-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3159, 3159, 18, 0, 0, 0, '1775-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3160, 3160, 18, 0, 0, 0, '1775-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3161, 3161, 18, 0, 0, 0, '1775-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3162, 3162, 18, 0, 0, 0, '1775-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3163, 3163, 18, 0, 0, 0, '1775-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3164, 3164, 18, 0, 0, 0, '1775-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3165, 3165, 18, 0, 0, 0, '1775-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3166, 3166, 18, 0, 0, 0, '1775-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3167, 3167, 18, 0, 0, 0, '1775-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3168, 3168, 18, 0, 0, 0, '1775-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3169, 3169, 18, 0, 0, 0, '1775-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3170, 3170, 18, 0, 0, 0, '1775-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3171, 3171, 18, 0, 0, 0, '1775-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3172, 3172, 18, 0, 0, 0, '1775-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3173, 3173, 18, 0, 0, 0, '1775-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3174, 3174, 18, 0, 0, 0, '1775-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3175, 3175, 18, 0, 0, 0, '1775-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3176, 3176, 18, 0, 0, 0, '1775-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3177, 3177, 18, 0, 0, 0, '1775-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3178, 3178, 18, 0, 0, 0, '1775-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3179, 3179, 18, 0, 0, 0, '1775-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3180, 3180, 18, 0, 0, 0, '1775-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3181, 3181, 18, 0, 0, 0, '1775-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3182, 3182, 18, 0, 0, 0, '1775-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3183, 3183, 18, 0, 0, 0, '1775-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3184, 3184, 18, 0, 0, 0, '1775-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3185, 3185, 18, 0, 0, 0, '1775-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3186, 3186, 18, 0, 0, 0, '1775-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3187, 3187, 18, 0, 0, 0, '1775-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3188, 3188, 18, 0, 0, 0, '1775-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3189, 3189, 18, 0, 0, 0, '1775-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3190, 3190, 18, 0, 0, 0, '1775-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3191, 3191, 18, 0, 0, 0, '1775-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3192, 3192, 18, 0, 0, 0, '1775-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3193, 3193, 18, 0, 0, 0, '1775-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3194, 3194, 18, 0, 0, 0, '1775-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3195, 3195, 18, 0, 0, 0, '1775-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3196, 3196, 18, 0, 0, 0, '1775-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3197, 3197, 18, 0, 0, 0, '1775-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3198, 3198, 18, 0, 0, 0, '1775-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3199, 3199, 18, 0, 0, 0, '1775-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3200, 3200, 18, 0, 0, 0, '1775-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3201, 3201, 18, 0, 0, 0, '1775-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3202, 3202, 18, 0, 0, 0, '1775-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3203, 3203, 18, 0, 0, 0, '1775-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3204, 3204, 18, 0, 0, 0, '1775-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3205, 3205, 18, 0, 0, 0, '1775-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3206, 3206, 18, 0, 0, 0, '1775-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3207, 3207, 18, 0, 0, 0, '1775-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3208, 3208, 18, 0, 0, 0, '1775-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3209, 3209, 18, 0, 0, 0, '1775-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3210, 3210, 18, 0, 0, 0, '1775-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3211, 3211, 18, 0, 0, 0, '1775-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3212, 3212, 18, 0, 0, 0, '1775-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3213, 3213, 18, 0, 0, 0, '1775-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3214, 3214, 18, 0, 0, 0, '1775-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3215, 3215, 18, 0, 0, 0, '1775-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3216, 3216, 18, 0, 0, 0, '1775-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3217, 3217, 18, 0, 0, 0, '1775-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3218, 3218, 18, 0, 0, 0, '1775-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3219, 3219, 18, 0, 0, 0, '1775-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3220, 3220, 18, 0, 0, 0, '1775-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3221, 3221, 18, 0, 0, 0, '1775-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3222, 3222, 18, 0, 0, 0, '1775-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3223, 3223, 18, 0, 0, 0, '1775-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3224, 3224, 18, 0, 0, 0, '1775-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3225, 3225, 18, 0, 0, 0, '1775-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3226, 3226, 18, 0, 0, 0, '1775-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3227, 3227, 18, 0, 0, 0, '1775-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3228, 3228, 18, 0, 0, 0, '1775-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3229, 3229, 18, 0, 0, 0, '1775-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3230, 3230, 18, 0, 0, 0, '1775-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3231, 3231, 18, 0, 0, 0, '1775-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3232, 3232, 18, 0, 0, 0, '1775-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3233, 3233, 18, 0, 0, 0, '1775-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3234, 3234, 18, 0, 0, 0, '1775-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3235, 3235, 18, 0, 0, 0, '1775-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3236, 3236, 18, 0, 0, 0, '1775-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3237, 3237, 18, 0, 0, 0, '1775-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3238, 3238, 18, 0, 0, 0, '1775-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3239, 3239, 18, 0, 0, 0, '1775-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3240, 3240, 18, 0, 0, 0, '1775-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3241, 3241, 18, 0, 0, 0, '1775-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3242, 3242, 18, 0, 0, 0, '1775-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3243, 3243, 18, 0, 0, 0, '1775-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3244, 3244, 18, 0, 0, 0, '1775-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3245, 3245, 18, 0, 0, 0, '1775-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3246, 3246, 18, 0, 0, 0, '1775-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3247, 3247, 18, 0, 0, 0, '1775-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3248, 3248, 18, 0, 0, 0, '1775-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3249, 3249, 18, 0, 0, 0, '1775-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3250, 3250, 18, 0, 0, 0, '1775-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3251, 3251, 18, 0, 0, 0, '1775-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3252, 3252, 18, 0, 0, 0, '1775-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3253, 3253, 18, 0, 0, 0, '1775-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3254, 3254, 18, 0, 0, 0, '1775-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3255, 3255, 18, 0, 0, 0, '1775-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3256, 3256, 18, 0, 0, 0, '1775-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3257, 3257, 18, 0, 0, 0, '1775-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3258, 3258, 18, 0, 0, 0, '1775-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3259, 3259, 18, 0, 0, 0, '1775-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3260, 3260, 18, 0, 0, 0, '1775-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3261, 3261, 18, 0, 0, 0, '1775-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3262, 3262, 18, 0, 0, 0, '1775-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3263, 3263, 18, 0, 0, 0, '1775-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3264, 3264, 18, 0, 0, 0, '1775-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3265, 3265, 18, 0, 0, 0, '1775-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3266, 3266, 18, 0, 0, 0, '1775-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3267, 3267, 18, 0, 0, 0, '1775-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3268, 3268, 18, 0, 0, 0, '1775-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3269, 3269, 18, 0, 0, 0, '1775-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3270, 3270, 18, 0, 0, 0, '1775-11-16 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3324, 3324, 18, 0, 0, 0, '1776-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3325, 3325, 18, 0, 0, 0, '1776-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3326, 3326, 18, 0, 0, 0, '1776-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3327, 3327, 18, 0, 0, 0, '1776-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3328, 3328, 18, 0, 0, 0, '1776-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3329, 3329, 18, 0, 0, 0, '1776-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3330, 3330, 18, 0, 0, 0, '1776-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3331, 3331, 18, 0, 0, 0, '1776-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3332, 3332, 18, 0, 0, 0, '1776-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3333, 3333, 18, 0, 0, 0, '1776-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3334, 3334, 18, 0, 0, 0, '1776-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3335, 3335, 18, 0, 0, 0, '1776-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3336, 3336, 18, 0, 0, 0, '1776-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3337, 3337, 18, 0, 0, 0, '1776-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3338, 3338, 18, 0, 0, 0, '1776-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3339, 3339, 18, 0, 0, 0, '1776-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3340, 3340, 18, 0, 0, 0, '1776-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3341, 3341, 18, 0, 0, 0, '1776-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3342, 3342, 18, 0, 0, 0, '1776-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3343, 3343, 18, 0, 0, 0, '1776-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3344, 3344, 18, 0, 0, 0, '1776-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3345, 3345, 18, 0, 0, 0, '1776-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3346, 3346, 18, 0, 0, 0, '1776-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3347, 3347, 18, 0, 0, 0, '1776-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3348, 3348, 18, 0, 0, 0, '1776-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3349, 3349, 18, 0, 0, 0, '1776-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3350, 3350, 18, 0, 0, 0, '1776-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3351, 3351, 18, 0, 0, 0, '1776-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3352, 3352, 18, 0, 0, 0, '1776-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3353, 3353, 18, 0, 0, 0, '1776-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3354, 3354, 18, 0, 0, 0, '1776-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3355, 3355, 18, 0, 0, 0, '1776-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3356, 3356, 18, 0, 0, 0, '1776-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3357, 3357, 18, 0, 0, 0, '1776-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3358, 3358, 18, 0, 0, 0, '1776-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3359, 3359, 18, 0, 0, 0, '1776-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3360, 3360, 18, 0, 0, 0, '1776-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3361, 3361, 18, 0, 0, 0, '1776-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3362, 3362, 18, 0, 0, 0, '1776-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3363, 3363, 18, 0, 0, 0, '1776-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3364, 3364, 18, 0, 0, 0, '1776-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3365, 3365, 18, 0, 0, 0, '1776-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3366, 3366, 18, 0, 0, 0, '1776-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3367, 3367, 18, 0, 0, 0, '1776-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3368, 3368, 18, 0, 0, 0, '1776-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3369, 3369, 18, 0, 0, 0, '1776-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3370, 3370, 18, 0, 0, 0, '1776-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3371, 3371, 18, 0, 0, 0, '1776-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3372, 3372, 18, 0, 0, 0, '1776-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3373, 3373, 18, 0, 0, 0, '1776-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3374, 3374, 18, 0, 0, 0, '1776-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3375, 3375, 18, 0, 0, 0, '1776-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3376, 3376, 18, 0, 0, 0, '1776-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3377, 3377, 18, 0, 0, 0, '1776-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3378, 3378, 18, 0, 0, 0, '1776-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3379, 3379, 18, 0, 0, 0, '1776-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3380, 3380, 18, 0, 0, 0, '1776-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3381, 3381, 18, 0, 0, 0, '1776-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3382, 3382, 18, 0, 0, 0, '1776-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3383, 3383, 18, 0, 0, 0, '1776-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3384, 3384, 18, 0, 0, 0, '1776-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3385, 3385, 18, 0, 0, 0, '1776-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3386, 3386, 18, 0, 0, 0, '1776-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3387, 3387, 18, 0, 0, 0, '1776-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3388, 3388, 18, 0, 0, 0, '1776-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3389, 3389, 18, 0, 0, 0, '1776-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3390, 3390, 18, 0, 0, 0, '1776-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3391, 3391, 18, 0, 0, 0, '1776-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3392, 3392, 18, 0, 0, 0, '1776-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3393, 3393, 18, 0, 0, 0, '1776-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3394, 3394, 18, 0, 0, 0, '1776-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3395, 3395, 18, 0, 0, 0, '1776-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3396, 3396, 18, 0, 0, 0, '1776-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3397, 3397, 18, 0, 0, 0, '1776-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3398, 3398, 18, 0, 0, 0, '1776-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3399, 3399, 18, 0, 0, 0, '1776-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3400, 3400, 18, 0, 0, 0, '1776-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3401, 3401, 18, 0, 0, 0, '1776-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3402, 3402, 18, 0, 0, 0, '1776-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3403, 3403, 18, 0, 0, 0, '1776-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3404, 3404, 18, 0, 0, 0, '1776-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3405, 3405, 18, 0, 0, 0, '1776-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3406, 3406, 18, 0, 0, 0, '1776-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3407, 3407, 18, 0, 0, 0, '1776-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3408, 3408, 18, 0, 0, 0, '1776-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3409, 3409, 18, 0, 0, 0, '1776-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3410, 3410, 18, 0, 0, 0, '1776-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3411, 3411, 18, 0, 0, 0, '1776-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3412, 3412, 18, 0, 0, 0, '1776-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3413, 3413, 18, 0, 0, 0, '1776-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3414, 3414, 18, 0, 0, 0, '1776-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3415, 3415, 18, 0, 0, 0, '1776-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3416, 3416, 18, 0, 0, 0, '1776-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3417, 3417, 18, 0, 0, 0, '1776-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3418, 3418, 18, 0, 0, 0, '1776-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3419, 3419, 18, 0, 0, 0, '1776-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3420, 3420, 18, 0, 0, 0, '1776-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3421, 3421, 18, 0, 0, 0, '1776-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3422, 3422, 18, 0, 0, 0, '1776-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3423, 3423, 18, 0, 0, 0, '1776-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3424, 3424, 18, 0, 0, 0, '1776-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3425, 3425, 18, 0, 0, 0, '1776-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3426, 3426, 18, 0, 0, 0, '1776-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3427, 3427, 18, 0, 0, 0, '1776-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3428, 3428, 18, 0, 0, 0, '1776-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3429, 3429, 18, 0, 0, 0, '1776-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3430, 3430, 18, 0, 0, 0, '1776-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3431, 3431, 18, 0, 0, 0, '1776-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3432, 3432, 18, 0, 0, 0, '1776-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3433, 3433, 18, 0, 0, 0, '1776-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3434, 3434, 18, 0, 0, 0, '1776-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3435, 3435, 18, 0, 0, 0, '1776-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3436, 3436, 18, 0, 0, 0, '1776-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3437, 3437, 18, 0, 0, 0, '1776-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3438, 3438, 18, 0, 0, 0, '1776-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3439, 3439, 18, 0, 0, 0, '1776-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3440, 3440, 18, 0, 0, 0, '1776-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3441, 3441, 18, 0, 0, 0, '1776-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3442, 3442, 18, 0, 0, 0, '1776-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3443, 3443, 18, 0, 0, 0, '1776-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3444, 3444, 18, 0, 0, 0, '1776-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3445, 3445, 18, 0, 0, 0, '1776-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3446, 3446, 18, 0, 0, 0, '1776-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3447, 3447, 18, 0, 0, 0, '1776-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3448, 3448, 18, 0, 0, 0, '1776-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3449, 3449, 18, 0, 0, 0, '1776-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3450, 3450, 18, 0, 0, 0, '1776-10-17 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3485, 3485, 18, 0, 0, 0, '1776-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3486, 3486, 18, 0, 0, 0, '1776-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3487, 3487, 18, 0, 0, 0, '1776-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3488, 3488, 18, 0, 0, 0, '1776-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3489, 3489, 18, 0, 0, 0, '1776-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3490, 3490, 18, 0, 0, 0, '1776-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3491, 3491, 18, 0, 0, 0, '1776-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3492, 3492, 18, 0, 0, 0, '1776-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3493, 3493, 18, 0, 0, 0, '1776-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3494, 3494, 18, 0, 0, 0, '1776-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3495, 3495, 18, 0, 0, 0, '1776-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3496, 3496, 18, 0, 0, 0, '1776-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3497, 3497, 18, 0, 0, 0, '1776-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3498, 3498, 18, 0, 0, 0, '1776-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3499, 3499, 18, 0, 0, 0, '1776-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3500, 3500, 18, 0, 0, 0, '1776-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3501, 3501, 18, 0, 0, 0, '1776-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3502, 3502, 18, 0, 0, 0, '1776-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3503, 3503, 18, 0, 0, 0, '1777-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3504, 3504, 18, 0, 0, 0, '1777-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3505, 3505, 18, 0, 0, 0, '1777-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3506, 3506, 18, 0, 0, 0, '1777-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3507, 3507, 18, 0, 0, 0, '1777-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3508, 3508, 18, 0, 0, 0, '1777-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3509, 3509, 18, 0, 0, 0, '1777-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3510, 3510, 18, 0, 0, 0, '1777-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3511, 3511, 18, 0, 0, 0, '1777-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3512, 3512, 18, 0, 0, 0, '1777-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3513, 3513, 18, 0, 0, 0, '1777-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3514, 3514, 18, 0, 0, 0, '1777-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3515, 3515, 18, 0, 0, 0, '1777-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3516, 3516, 18, 0, 0, 0, '1777-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3517, 3517, 18, 0, 0, 0, '1777-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3518, 3518, 18, 0, 0, 0, '1777-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3519, 3519, 18, 0, 0, 0, '1777-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3520, 3520, 18, 0, 0, 0, '1777-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3521, 3521, 18, 0, 0, 0, '1777-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3522, 3522, 18, 0, 0, 0, '1777-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3523, 3523, 18, 0, 0, 0, '1777-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3524, 3524, 18, 0, 0, 0, '1777-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3525, 3525, 18, 0, 0, 0, '1777-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3526, 3526, 18, 0, 0, 0, '1777-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3527, 3527, 18, 0, 0, 0, '1777-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3528, 3528, 18, 0, 0, 0, '1777-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3529, 3529, 18, 0, 0, 0, '1777-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3530, 3530, 18, 0, 0, 0, '1777-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3531, 3531, 18, 0, 0, 0, '1777-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3532, 3532, 18, 0, 0, 0, '1777-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3533, 3533, 18, 0, 0, 0, '1777-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3534, 3534, 18, 0, 0, 0, '1777-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3535, 3535, 18, 0, 0, 0, '1777-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3536, 3536, 18, 0, 0, 0, '1777-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3537, 3537, 18, 0, 0, 0, '1777-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3538, 3538, 18, 0, 0, 0, '1777-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3539, 3539, 18, 0, 0, 0, '1777-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3540, 3540, 18, 0, 0, 0, '1777-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3541, 3541, 18, 0, 0, 0, '1777-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3542, 3542, 18, 0, 0, 0, '1777-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3543, 3543, 18, 0, 0, 0, '1777-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3544, 3544, 18, 0, 0, 0, '1777-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3545, 3545, 18, 0, 0, 0, '1777-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3546, 3546, 18, 0, 0, 0, '1777-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3547, 3547, 18, 0, 0, 0, '1777-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3548, 3548, 18, 0, 0, 0, '1777-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3549, 3549, 18, 0, 0, 0, '1777-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3550, 3550, 18, 0, 0, 0, '1777-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3551, 3551, 18, 0, 0, 0, '1777-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3552, 3552, 18, 0, 0, 0, '1777-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3553, 3553, 18, 0, 0, 0, '1777-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3554, 3554, 18, 0, 0, 0, '1777-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3555, 3555, 18, 0, 0, 0, '1777-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3556, 3556, 18, 0, 0, 0, '1777-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3557, 3557, 18, 0, 0, 0, '1777-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3558, 3558, 18, 0, 0, 0, '1777-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3559, 3559, 18, 0, 0, 0, '1777-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3560, 3560, 18, 0, 0, 0, '1777-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3561, 3561, 18, 0, 0, 0, '1777-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3562, 3562, 18, 0, 0, 0, '1777-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3563, 3563, 18, 0, 0, 0, '1777-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3564, 3564, 18, 0, 0, 0, '1777-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3565, 3565, 18, 0, 0, 0, '1777-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3566, 3566, 18, 0, 0, 0, '1777-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3567, 3567, 18, 0, 0, 0, '1777-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3568, 3568, 18, 0, 0, 0, '1777-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3569, 3569, 18, 0, 0, 0, '1777-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3570, 3570, 18, 0, 0, 0, '1777-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3571, 3571, 18, 0, 0, 0, '1777-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3572, 3572, 18, 0, 0, 0, '1777-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3573, 3573, 18, 0, 0, 0, '1777-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3574, 3574, 18, 0, 0, 0, '1777-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3575, 3575, 18, 0, 0, 0, '1777-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3576, 3576, 18, 0, 0, 0, '1777-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3577, 3577, 18, 0, 0, 0, '1777-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3578, 3578, 18, 0, 0, 0, '1777-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3579, 3579, 18, 0, 0, 0, '1777-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3580, 3580, 18, 0, 0, 0, '1777-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3581, 3581, 18, 0, 0, 0, '1777-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3582, 3582, 18, 0, 0, 0, '1777-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3583, 3583, 18, 0, 0, 0, '1777-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3584, 3584, 18, 0, 0, 0, '1777-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3585, 3585, 18, 0, 0, 0, '1777-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3586, 3586, 18, 0, 0, 0, '1777-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3587, 3587, 18, 0, 0, 0, '1777-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3588, 3588, 18, 0, 0, 0, '1777-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3589, 3589, 18, 0, 0, 0, '1777-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3590, 3590, 18, 0, 0, 0, '1777-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3591, 3591, 18, 0, 0, 0, '1777-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3592, 3592, 18, 0, 0, 0, '1777-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3593, 3593, 18, 0, 0, 0, '1777-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3594, 3594, 18, 0, 0, 0, '1777-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3595, 3595, 18, 0, 0, 0, '1777-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3596, 3596, 18, 0, 0, 0, '1777-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3597, 3597, 18, 0, 0, 0, '1777-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3598, 3598, 18, 0, 0, 0, '1777-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3599, 3599, 18, 0, 0, 0, '1777-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3600, 3600, 18, 0, 0, 0, '1777-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3601, 3601, 18, 0, 0, 0, '1777-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3602, 3602, 18, 0, 0, 0, '1777-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3603, 3603, 18, 0, 0, 0, '1777-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3604, 3604, 18, 0, 0, 0, '1777-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3605, 3605, 18, 0, 0, 0, '1777-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3606, 3606, 18, 0, 0, 0, '1777-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3607, 3607, 18, 0, 0, 0, '1777-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3608, 3608, 18, 0, 0, 0, '1777-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3609, 3609, 18, 0, 0, 0, '1777-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3610, 3610, 18, 0, 0, 0, '1777-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3611, 3611, 18, 0, 0, 0, '1777-11-03 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3664, 3664, 18, 0, 0, 0, '1778-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3665, 3665, 18, 0, 0, 0, '1778-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3666, 3666, 18, 0, 0, 0, '1778-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3667, 3667, 18, 0, 0, 0, '1778-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3668, 3668, 18, 0, 0, 0, '1778-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3669, 3669, 18, 0, 0, 0, '1778-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3670, 3670, 18, 0, 0, 0, '1778-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3671, 3671, 18, 0, 0, 0, '1778-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3672, 3672, 18, 0, 0, 0, '1778-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3673, 3673, 18, 0, 0, 0, '1778-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3674, 3674, 18, 0, 0, 0, '1778-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3675, 3675, 18, 0, 0, 0, '1778-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3676, 3676, 18, 0, 0, 0, '1778-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3677, 3677, 18, 0, 0, 0, '1778-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3678, 3678, 18, 0, 0, 0, '1778-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3679, 3679, 18, 0, 0, 0, '1778-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3680, 3680, 18, 0, 0, 0, '1778-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3681, 3681, 18, 0, 0, 0, '1778-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3682, 3682, 18, 0, 0, 0, '1778-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3683, 3683, 18, 0, 0, 0, '1778-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3684, 3684, 18, 0, 0, 0, '1778-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3685, 3685, 18, 0, 0, 0, '1778-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3686, 3686, 18, 0, 0, 0, '1778-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3687, 3687, 18, 0, 0, 0, '1778-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3688, 3688, 18, 0, 0, 0, '1778-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3689, 3689, 18, 0, 0, 0, '1778-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3690, 3690, 18, 0, 0, 0, '1778-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3691, 3691, 18, 0, 0, 0, '1778-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3692, 3692, 18, 0, 0, 0, '1778-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3693, 3693, 18, 0, 0, 0, '1778-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3694, 3694, 18, 0, 0, 0, '1778-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3695, 3695, 18, 0, 0, 0, '1778-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3696, 3696, 18, 0, 0, 0, '1778-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3697, 3697, 18, 0, 0, 0, '1778-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3698, 3698, 18, 0, 0, 0, '1778-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3699, 3699, 18, 0, 0, 0, '1778-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3700, 3700, 18, 0, 0, 0, '1778-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3701, 3701, 18, 0, 0, 0, '1778-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3702, 3702, 18, 0, 0, 0, '1778-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3703, 3703, 18, 0, 0, 0, '1778-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3704, 3704, 18, 0, 0, 0, '1778-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3705, 3705, 18, 0, 0, 0, '1778-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3706, 3706, 18, 0, 0, 0, '1778-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3707, 3707, 18, 0, 0, 0, '1778-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3708, 3708, 18, 0, 0, 0, '1778-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3709, 3709, 18, 0, 0, 0, '1778-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3710, 3710, 18, 0, 0, 0, '1778-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3711, 3711, 18, 0, 0, 0, '1778-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3712, 3712, 18, 0, 0, 0, '1778-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3713, 3713, 18, 0, 0, 0, '1778-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3714, 3714, 18, 0, 0, 0, '1778-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3715, 3715, 18, 0, 0, 0, '1778-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3716, 3716, 18, 0, 0, 0, '1778-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3717, 3717, 18, 0, 0, 0, '1778-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3718, 3718, 18, 0, 0, 0, '1778-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3719, 3719, 18, 0, 0, 0, '1778-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3720, 3720, 18, 0, 0, 0, '1778-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3721, 3721, 18, 0, 0, 0, '1778-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3722, 3722, 18, 0, 0, 0, '1778-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3723, 3723, 18, 0, 0, 0, '1778-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3724, 3724, 18, 0, 0, 0, '1778-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3725, 3725, 18, 0, 0, 0, '1778-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3726, 3726, 18, 0, 0, 0, '1778-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3727, 3727, 18, 0, 0, 0, '1778-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3728, 3728, 18, 0, 0, 0, '1778-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3729, 3729, 18, 0, 0, 0, '1778-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3730, 3730, 18, 0, 0, 0, '1778-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3731, 3731, 18, 0, 0, 0, '1778-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3732, 3732, 18, 0, 0, 0, '1778-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3733, 3733, 18, 0, 0, 0, '1778-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3734, 3734, 18, 0, 0, 0, '1778-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3735, 3735, 18, 0, 0, 0, '1778-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3736, 3736, 18, 0, 0, 0, '1778-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3737, 3737, 18, 0, 0, 0, '1778-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3738, 3738, 18, 0, 0, 0, '1778-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3739, 3739, 18, 0, 0, 0, '1778-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3740, 3740, 18, 0, 0, 0, '1778-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3741, 3741, 18, 0, 0, 0, '1778-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3742, 3742, 18, 0, 0, 0, '1778-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3743, 3743, 18, 0, 0, 0, '1778-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3744, 3744, 18, 0, 0, 0, '1778-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3745, 3745, 18, 0, 0, 0, '1778-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3746, 3746, 18, 0, 0, 0, '1778-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3747, 3747, 18, 0, 0, 0, '1778-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3748, 3748, 18, 0, 0, 0, '1778-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3749, 3749, 18, 0, 0, 0, '1778-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3750, 3750, 18, 0, 0, 0, '1778-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3751, 3751, 18, 0, 0, 0, '1778-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3752, 3752, 18, 0, 0, 0, '1778-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3753, 3753, 18, 0, 0, 0, '1778-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3754, 3754, 18, 0, 0, 0, '1778-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3755, 3755, 18, 0, 0, 0, '1778-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3756, 3756, 18, 0, 0, 0, '1778-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3757, 3757, 18, 0, 0, 0, '1778-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3758, 3758, 18, 0, 0, 0, '1778-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3759, 3759, 18, 0, 0, 0, '1778-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3760, 3760, 18, 0, 0, 0, '1778-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3761, 3761, 18, 0, 0, 0, '1778-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3762, 3762, 18, 0, 0, 0, '1778-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3763, 3763, 18, 0, 0, 0, '1778-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3764, 3764, 18, 0, 0, 0, '1778-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3765, 3765, 18, 0, 0, 0, '1778-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3766, 3766, 18, 0, 0, 0, '1778-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3767, 3767, 18, 0, 0, 0, '1778-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3768, 3768, 18, 0, 0, 0, '1778-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3769, 3769, 18, 0, 0, 0, '1778-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3770, 3770, 18, 0, 0, 0, '1778-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3771, 3771, 18, 0, 0, 0, '1778-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3772, 3772, 18, 0, 0, 0, '1778-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3773, 3773, 18, 0, 0, 0, '1778-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3774, 3774, 18, 0, 0, 0, '1779-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3775, 3775, 18, 0, 0, 0, '1779-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3776, 3776, 18, 0, 0, 0, '1779-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3777, 3777, 18, 0, 0, 0, '1779-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3778, 3778, 18, 0, 0, 0, '1779-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3779, 3779, 18, 0, 0, 0, '1779-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3780, 3780, 18, 0, 0, 0, '1779-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3781, 3781, 18, 0, 0, 0, '1779-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3782, 3782, 18, 0, 0, 0, '1779-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3783, 3783, 18, 0, 0, 0, '1779-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3784, 3784, 18, 0, 0, 0, '1779-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3785, 3785, 18, 0, 0, 0, '1779-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3786, 3786, 18, 0, 0, 0, '1779-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3787, 3787, 18, 0, 0, 0, '1779-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3788, 3788, 18, 0, 0, 0, '1779-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3789, 3789, 18, 0, 0, 0, '1779-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3790, 3790, 18, 0, 0, 0, '1779-05-06 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3820, 3820, 18, 0, 0, 0, '1779-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3821, 3821, 18, 0, 0, 0, '1779-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3822, 3822, 18, 0, 0, 0, '1779-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3823, 3823, 18, 0, 0, 0, '1779-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3824, 3824, 18, 0, 0, 0, '1779-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3825, 3825, 18, 0, 0, 0, '1779-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3826, 3826, 18, 0, 0, 0, '1779-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3827, 3827, 18, 0, 0, 0, '1779-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3828, 3828, 18, 0, 0, 0, '1779-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3829, 3829, 18, 0, 0, 0, '1779-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3830, 3830, 18, 0, 0, 0, '1779-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3831, 3831, 18, 0, 0, 0, '1779-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3832, 3832, 18, 0, 0, 0, '1779-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3833, 3833, 18, 0, 0, 0, '1779-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3834, 3834, 18, 0, 0, 0, '1779-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3835, 3835, 18, 0, 0, 0, '1779-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3836, 3836, 18, 0, 0, 0, '1779-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3837, 3837, 18, 0, 0, 0, '1779-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3838, 3838, 18, 0, 0, 0, '1779-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3839, 3839, 18, 0, 0, 0, '1779-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3840, 3840, 18, 0, 0, 0, '1779-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3841, 3841, 18, 0, 0, 0, '1779-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3842, 3842, 18, 0, 0, 0, '1779-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3843, 3843, 18, 0, 0, 0, '1779-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3844, 3844, 18, 0, 0, 0, '1779-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3845, 3845, 18, 0, 0, 0, '1779-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3846, 3846, 18, 0, 0, 0, '1779-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3847, 3847, 18, 0, 0, 0, '1779-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3848, 3848, 18, 0, 0, 0, '1779-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3849, 3849, 18, 0, 0, 0, '1779-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3850, 3850, 18, 0, 0, 0, '1779-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3851, 3851, 18, 0, 0, 0, '1779-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3852, 3852, 18, 0, 0, 0, '1779-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3853, 3853, 18, 0, 0, 0, '1779-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3854, 3854, 18, 0, 0, 0, '1779-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3855, 3855, 18, 0, 0, 0, '1786-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3856, 3856, 18, 0, 0, 0, '1786-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3857, 3857, 18, 0, 0, 0, '1786-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3858, 3858, 18, 0, 0, 0, '1786-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3859, 3859, 18, 0, 0, 0, '1786-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3860, 3860, 18, 0, 0, 0, '1786-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3861, 3861, 18, 0, 0, 0, '1786-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3862, 3862, 18, 0, 0, 0, '1786-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3863, 3863, 18, 0, 0, 0, '1786-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3864, 3864, 18, 0, 0, 0, '1786-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3865, 3865, 18, 0, 0, 0, '1786-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3866, 3866, 18, 0, 0, 0, '1786-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3867, 3867, 18, 0, 0, 0, '1786-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3868, 3868, 18, 0, 0, 0, '1786-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3869, 3869, 18, 0, 0, 0, '1786-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3870, 3870, 18, 0, 0, 0, '1786-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3871, 3871, 18, 0, 0, 0, '1786-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3872, 3872, 18, 0, 0, 0, '1786-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3873, 3873, 18, 0, 0, 0, '1786-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3874, 3874, 18, 0, 0, 0, '1786-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3875, 3875, 18, 0, 0, 0, '1786-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3876, 3876, 18, 0, 0, 0, '1786-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3877, 3877, 18, 0, 0, 0, '1786-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3878, 3878, 18, 0, 0, 0, '1786-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3879, 3879, 18, 0, 0, 0, '1786-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3880, 3880, 18, 0, 0, 0, '1786-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3881, 3881, 18, 0, 0, 0, '1786-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3882, 3882, 18, 0, 0, 0, '1786-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3883, 3883, 18, 0, 0, 0, '1786-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3884, 3884, 18, 0, 0, 0, '1786-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3885, 3885, 18, 0, 0, 0, '1786-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3886, 3886, 18, 0, 0, 0, '1786-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3887, 3887, 18, 0, 0, 0, '1786-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3888, 3888, 18, 0, 0, 0, '1786-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3889, 3889, 18, 0, 0, 0, '1786-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3890, 3890, 18, 0, 0, 0, '1786-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3891, 3891, 18, 0, 0, 0, '1779-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3892, 3892, 18, 0, 0, 0, '1779-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3893, 3893, 18, 0, 0, 0, '1779-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3894, 3894, 18, 0, 0, 0, '1779-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3895, 3895, 18, 0, 0, 0, '1779-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3896, 3896, 18, 0, 0, 0, '1779-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3897, 3897, 18, 0, 0, 0, '1779-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3898, 3898, 18, 0, 0, 0, '1779-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3899, 3899, 18, 0, 0, 0, '1779-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3900, 3900, 18, 0, 0, 0, '1779-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3901, 3901, 18, 0, 0, 0, '1779-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3902, 3902, 18, 0, 0, 0, '1779-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3903, 3903, 18, 0, 0, 0, '1779-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3904, 3904, 18, 0, 0, 0, '1779-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3905, 3905, 18, 0, 0, 0, '1779-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3906, 3906, 18, 0, 0, 0, '1779-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3907, 3907, 18, 0, 0, 0, '1779-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3908, 3908, 18, 0, 0, 0, '1779-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3909, 3909, 18, 0, 0, 0, '1779-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3910, 3910, 18, 0, 0, 0, '1779-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3911, 3911, 18, 0, 0, 0, '1779-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3912, 3912, 18, 0, 0, 0, '1779-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3913, 3913, 18, 0, 0, 0, '1779-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3914, 3914, 18, 0, 0, 0, '1779-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3915, 3915, 18, 0, 0, 0, '1779-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3916, 3916, 18, 0, 0, 0, '1779-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3917, 3917, 18, 0, 0, 0, '1779-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3918, 3918, 18, 0, 0, 0, '1779-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3919, 3919, 18, 0, 0, 0, '1779-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3920, 3920, 18, 0, 0, 0, '1779-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3921, 3921, 18, 0, 0, 0, '1779-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3922, 3922, 18, 0, 0, 0, '1779-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3923, 3923, 18, 0, 0, 0, '1779-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3924, 3924, 18, 0, 0, 0, '1779-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3925, 3925, 18, 0, 0, 0, '1779-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3926, 3926, 18, 0, 0, 0, '1779-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3927, 3927, 18, 0, 0, 0, '1779-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3928, 3928, 18, 0, 0, 0, '1779-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3929, 3929, 18, 0, 0, 0, '1779-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3930, 3930, 18, 0, 0, 0, '1779-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3931, 3931, 18, 0, 0, 0, '1779-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3932, 3932, 18, 0, 0, 0, '1779-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3933, 3933, 18, 0, 0, 0, '1779-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3934, 3934, 18, 0, 0, 0, '1779-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3935, 3935, 18, 0, 0, 0, '1779-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3936, 3936, 18, 0, 0, 0, '1779-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3937, 3937, 18, 0, 0, 0, '1779-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3938, 3938, 18, 0, 0, 0, '1779-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3939, 3939, 18, 0, 0, 0, '1779-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3940, 3940, 18, 0, 0, 0, '1779-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3941, 3941, 18, 0, 0, 0, '1779-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3942, 3942, 18, 0, 0, 0, '1779-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3943, 3943, 18, 0, 0, 0, '1779-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3944, 3944, 18, 0, 0, 0, '1779-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3945, 3945, 18, 0, 0, 0, '1779-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3946, 3946, 18, 0, 0, 0, '1779-12-29 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3983, 3983, 18, 0, 0, 0, '1785-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3984, 3984, 18, 0, 0, 0, '1785-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3985, 3985, 18, 0, 0, 0, '1785-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3986, 3986, 18, 0, 0, 0, '1785-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3987, 3987, 18, 0, 0, 0, '1785-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3988, 3988, 18, 0, 0, 0, '1785-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3989, 3989, 18, 0, 0, 0, '1785-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3990, 3990, 18, 0, 0, 0, '1785-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3991, 3991, 18, 0, 0, 0, '1785-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3992, 3992, 18, 0, 0, 0, '1785-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3993, 3993, 18, 0, 0, 0, '1785-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3994, 3994, 18, 0, 0, 0, '1785-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3995, 3995, 18, 0, 0, 0, '1785-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3996, 3996, 18, 0, 0, 0, '1785-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3997, 3997, 18, 0, 0, 0, '1785-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3998, 3998, 18, 0, 0, 0, '1785-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (3999, 3999, 18, 0, 0, 0, '1785-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4000, 4000, 18, 0, 0, 0, '1785-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4001, 4001, 18, 0, 0, 0, '1785-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4002, 4002, 18, 0, 0, 0, '1785-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4003, 4003, 18, 0, 0, 0, '1785-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4004, 4004, 18, 0, 0, 0, '1785-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4005, 4005, 18, 0, 0, 0, '1785-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4006, 4006, 18, 0, 0, 0, '1785-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4007, 4007, 18, 0, 0, 0, '1785-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4008, 4008, 18, 0, 0, 0, '1785-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4009, 4009, 18, 0, 0, 0, '1785-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4010, 4010, 18, 0, 0, 0, '1785-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4011, 4011, 18, 0, 0, 0, '1785-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4012, 4012, 18, 0, 0, 0, '1785-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4013, 4013, 18, 0, 0, 0, '1785-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4014, 4014, 18, 0, 0, 0, '1785-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4015, 4015, 18, 0, 0, 0, '1785-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4016, 4016, 18, 0, 0, 0, '1785-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4017, 4017, 18, 0, 0, 0, '1785-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4018, 4018, 18, 0, 0, 0, '1785-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4019, 4019, 18, 0, 0, 0, '1785-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4020, 4020, 18, 0, 0, 0, '1785-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4021, 4021, 18, 0, 0, 0, '1785-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4022, 4022, 18, 0, 0, 0, '1785-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4023, 4023, 18, 0, 0, 0, '1785-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4024, 4024, 18, 0, 0, 0, '1785-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4025, 4025, 18, 0, 0, 0, '1785-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4026, 4026, 18, 0, 0, 0, '1785-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4027, 4027, 18, 0, 0, 0, '1785-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4028, 4028, 18, 0, 0, 0, '1785-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4029, 4029, 18, 0, 0, 0, '1785-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4030, 4030, 18, 0, 0, 0, '1785-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4031, 4031, 18, 0, 0, 0, '1785-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4032, 4032, 18, 0, 0, 0, '1785-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4033, 4033, 18, 0, 0, 0, '1785-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4034, 4034, 18, 0, 0, 0, '1785-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4035, 4035, 18, 0, 0, 0, '1785-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4036, 4036, 18, 0, 0, 0, '1785-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4037, 4037, 18, 0, 0, 0, '1785-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4038, 4038, 18, 0, 0, 0, '1785-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4039, 4039, 18, 0, 0, 0, '1785-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4040, 4040, 18, 0, 0, 0, '1785-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4041, 4041, 18, 0, 0, 0, '1785-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4042, 4042, 18, 0, 0, 0, '1785-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4043, 4043, 18, 0, 0, 0, '1785-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4044, 4044, 18, 0, 0, 0, '1786-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4045, 4045, 18, 0, 0, 0, '1786-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4046, 4046, 18, 0, 0, 0, '1786-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4047, 4047, 18, 0, 0, 0, '1786-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4048, 4048, 18, 0, 0, 0, '1786-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4049, 4049, 18, 0, 0, 0, '1786-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4050, 4050, 18, 0, 0, 0, '1786-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4051, 4051, 18, 0, 0, 0, '1786-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4052, 4052, 18, 0, 0, 0, '1786-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4053, 4053, 18, 0, 0, 0, '1786-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4054, 4054, 18, 0, 0, 0, '1786-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4055, 4055, 18, 0, 0, 0, '1786-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4056, 4056, 18, 0, 0, 0, '1786-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4057, 4057, 18, 0, 0, 0, '1786-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4058, 4058, 18, 0, 0, 0, '1786-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4059, 4059, 18, 0, 0, 0, '1786-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4060, 4060, 18, 0, 0, 0, '1786-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4061, 4061, 18, 0, 0, 0, '1786-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4062, 4062, 18, 0, 0, 0, '1786-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4063, 4063, 18, 0, 0, 0, '1786-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4064, 4064, 18, 0, 0, 0, '1786-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4065, 4065, 18, 0, 0, 0, '1786-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4066, 4066, 18, 0, 0, 0, '1786-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4067, 4067, 18, 0, 0, 0, '1786-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4068, 4068, 18, 0, 0, 0, '1786-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4069, 4069, 18, 0, 0, 0, '1786-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4070, 4070, 18, 0, 0, 0, '1786-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4071, 4071, 18, 0, 0, 0, '1786-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4072, 4072, 18, 0, 0, 0, '1786-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4073, 4073, 18, 0, 0, 0, '1786-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4074, 4074, 18, 0, 0, 0, '1786-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4075, 4075, 18, 0, 0, 0, '1786-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4076, 4076, 18, 0, 0, 0, '1786-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4077, 4077, 18, 0, 0, 0, '1786-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4078, 4078, 18, 0, 0, 0, '1786-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4079, 4079, 18, 0, 0, 0, '1786-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4080, 4080, 18, 0, 0, 0, '1786-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4081, 4081, 18, 0, 0, 0, '1786-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4082, 4082, 18, 0, 0, 0, '1786-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4083, 4083, 18, 0, 0, 0, '1786-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4084, 4084, 18, 0, 0, 0, '1786-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4085, 4085, 18, 0, 0, 0, '1786-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4086, 4086, 18, 0, 0, 0, '1786-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4087, 4087, 18, 0, 0, 0, '1786-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4088, 4088, 18, 0, 0, 0, '1786-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4089, 4089, 18, 0, 0, 0, '1786-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4090, 4090, 18, 0, 0, 0, '1786-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4091, 4091, 18, 0, 0, 0, '1786-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4092, 4092, 18, 0, 0, 0, '1786-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4093, 4093, 18, 0, 0, 0, '1786-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4094, 4094, 18, 0, 0, 0, '1786-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4095, 4095, 18, 0, 0, 0, '1786-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4096, 4096, 18, 0, 0, 0, '1786-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4097, 4097, 18, 0, 0, 0, '1786-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4098, 4098, 18, 0, 0, 0, '1786-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4099, 4099, 18, 0, 0, 0, '1786-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4100, 4100, 18, 0, 0, 0, '1786-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4101, 4101, 18, 0, 0, 0, '1786-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4102, 4102, 18, 0, 0, 0, '1786-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4103, 4103, 18, 0, 0, 0, '1786-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4104, 4104, 18, 0, 0, 0, '1786-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4105, 4105, 18, 0, 0, 0, '1786-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4106, 4106, 18, 0, 0, 0, '1786-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4107, 4107, 18, 0, 0, 0, '1786-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4108, 4108, 18, 0, 0, 0, '1786-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4109, 4109, 18, 0, 0, 0, '1786-11-16 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4132, 4132, 18, 0, 0, 0, '1786-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4133, 4133, 18, 0, 0, 0, '1786-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4134, 4134, 18, 0, 0, 0, '1786-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4135, 4135, 18, 0, 0, 0, '1786-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4136, 4136, 18, 0, 0, 0, '1786-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4137, 4137, 18, 0, 0, 0, '1786-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4138, 4138, 18, 0, 0, 0, '1786-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4139, 4139, 18, 0, 0, 0, '1786-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4140, 4140, 18, 0, 0, 0, '1786-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4141, 4141, 18, 0, 0, 0, '1786-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4142, 4142, 18, 0, 0, 0, '1786-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4143, 4143, 18, 0, 0, 0, '1787-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4144, 4144, 18, 0, 0, 0, '1787-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4145, 4145, 18, 0, 0, 0, '1787-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4146, 4146, 18, 0, 0, 0, '1787-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4147, 4147, 18, 0, 0, 0, '1787-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4148, 4148, 18, 0, 0, 0, '1787-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4149, 4149, 18, 0, 0, 0, '1788-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4150, 4150, 18, 0, 0, 0, '1788-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4151, 4151, 18, 0, 0, 0, '1788-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4152, 4152, 18, 0, 0, 0, '1788-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4153, 4153, 18, 0, 0, 0, '1788-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4154, 4154, 18, 0, 0, 0, '1788-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4155, 4155, 18, 0, 0, 0, '1788-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4156, 4156, 18, 0, 0, 0, '1788-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4157, 4157, 18, 0, 0, 0, '1788-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4158, 4158, 18, 0, 0, 0, '1788-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4159, 4159, 18, 0, 0, 0, '1788-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4160, 4160, 18, 0, 0, 0, '1788-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4161, 4161, 18, 0, 0, 0, '1788-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4162, 4162, 18, 0, 0, 0, '1788-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4163, 4163, 18, 0, 0, 0, '1788-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4164, 4164, 18, 0, 0, 0, '1788-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4165, 4165, 18, 0, 0, 0, '1788-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4166, 4166, 18, 0, 0, 0, '1788-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4167, 4167, 18, 0, 0, 0, '1788-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4168, 4168, 18, 0, 0, 0, '1788-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4169, 4169, 18, 0, 0, 0, '1788-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4170, 4170, 18, 0, 0, 0, '1788-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4171, 4171, 18, 0, 0, 0, '1788-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4172, 4172, 18, 0, 0, 0, '1788-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4173, 4173, 18, 0, 0, 0, '1788-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4174, 4174, 18, 0, 0, 0, '1788-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4175, 4175, 18, 0, 0, 0, '1788-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4176, 4176, 18, 0, 0, 0, '1788-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4177, 4177, 18, 0, 0, 0, '1788-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4178, 4178, 18, 0, 0, 0, '1788-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4179, 4179, 18, 0, 0, 0, '1788-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4180, 4180, 18, 0, 0, 0, '1788-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4181, 4181, 18, 0, 0, 0, '1788-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4182, 4182, 18, 0, 0, 0, '1788-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4183, 4183, 18, 0, 0, 0, '1788-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4184, 4184, 18, 0, 0, 0, '1788-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4185, 4185, 18, 0, 0, 0, '1788-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4186, 4186, 18, 0, 0, 0, '1788-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4187, 4187, 18, 0, 0, 0, '1788-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4188, 4188, 18, 0, 0, 0, '1788-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4189, 4189, 18, 0, 0, 0, '1788-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4190, 4190, 18, 0, 0, 0, '1788-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4191, 4191, 18, 0, 0, 0, '1788-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4192, 4192, 18, 0, 0, 0, '1788-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4193, 4193, 18, 0, 0, 0, '1788-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4194, 4194, 18, 0, 0, 0, '1788-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4195, 4195, 18, 0, 0, 0, '1788-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4196, 4196, 18, 0, 0, 0, '1788-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4197, 4197, 18, 0, 0, 0, '1788-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4198, 4198, 18, 0, 0, 0, '1788-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4199, 4199, 18, 0, 0, 0, '1788-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4200, 4200, 18, 0, 0, 0, '1788-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4201, 4201, 18, 0, 0, 0, '1788-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4202, 4202, 18, 0, 0, 0, '1788-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4203, 4203, 18, 0, 0, 0, '1788-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4204, 4204, 18, 0, 0, 0, '1788-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4205, 4205, 18, 0, 0, 0, '1788-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4206, 4206, 18, 0, 0, 0, '1788-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4207, 4207, 18, 0, 0, 0, '1788-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4208, 4208, 18, 0, 0, 0, '1788-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4209, 4209, 18, 0, 0, 0, '1788-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4210, 4210, 18, 0, 0, 0, '1788-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4211, 4211, 18, 0, 0, 0, '1788-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4212, 4212, 18, 0, 0, 0, '1788-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4213, 4213, 18, 0, 0, 0, '1788-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4214, 4214, 18, 0, 0, 0, '1788-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4215, 4215, 18, 0, 0, 0, '1788-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4216, 4216, 18, 0, 0, 0, '1788-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4217, 4217, 18, 0, 0, 0, '1788-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4218, 4218, 18, 0, 0, 0, '1788-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4219, 4219, 18, 0, 0, 0, '1788-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4220, 4220, 18, 0, 0, 0, '1788-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4221, 4221, 18, 0, 0, 0, '1788-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4222, 4222, 18, 0, 0, 0, '1788-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4223, 4223, 18, 0, 0, 0, '1788-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4224, 4224, 18, 0, 0, 0, '1788-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4225, 4225, 18, 0, 0, 0, '1788-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4226, 4226, 18, 0, 0, 0, '1788-02-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4227, 4227, 18, 0, 0, 0, '1788-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4228, 4228, 18, 0, 0, 0, '1788-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4229, 4229, 18, 0, 0, 0, '1788-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4230, 4230, 18, 0, 0, 0, '1788-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4231, 4231, 18, 0, 0, 0, '1788-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4232, 4232, 18, 0, 0, 0, '1788-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4233, 4233, 18, 0, 0, 0, '1788-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4234, 4234, 18, 0, 0, 0, '1788-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4235, 4235, 18, 0, 0, 0, '1788-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4236, 4236, 18, 0, 0, 0, '1788-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4237, 4237, 18, 0, 0, 0, '1788-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4238, 4238, 18, 0, 0, 0, '1788-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4239, 4239, 18, 0, 0, 0, '1788-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4240, 4240, 18, 0, 0, 0, '1788-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4241, 4241, 18, 0, 0, 0, '1788-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4242, 4242, 18, 0, 0, 0, '1788-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4243, 4243, 18, 0, 0, 0, '1788-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4244, 4244, 18, 0, 0, 0, '1788-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4245, 4245, 18, 0, 0, 0, '1788-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4246, 4246, 18, 0, 0, 0, '1788-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4247, 4247, 18, 0, 0, 0, '1788-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4248, 4248, 18, 0, 0, 0, '1788-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4249, 4249, 18, 0, 0, 0, '1788-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4250, 4250, 18, 0, 0, 0, '1788-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4251, 4251, 18, 0, 0, 0, '1788-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4252, 4252, 18, 0, 0, 0, '1788-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4253, 4253, 18, 0, 0, 0, '1788-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4254, 4254, 18, 0, 0, 0, '1788-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4255, 4255, 18, 0, 0, 0, '1788-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4256, 4256, 18, 0, 0, 0, '1788-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4257, 4257, 18, 0, 0, 0, '1788-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4258, 4258, 18, 0, 0, 0, '1788-06-30 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4270, 4270, 18, 0, 0, 0, '1788-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4271, 4271, 18, 0, 0, 0, '1788-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4272, 4272, 18, 0, 0, 0, '1788-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4273, 4273, 18, 0, 0, 0, '1788-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4274, 4274, 18, 0, 0, 0, '1788-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4275, 4275, 18, 0, 0, 0, '1789-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4276, 4276, 18, 0, 0, 0, '1789-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4277, 4277, 18, 0, 0, 0, '1789-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4278, 4278, 18, 0, 0, 0, '1789-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4279, 4279, 18, 0, 0, 0, '1789-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4280, 4280, 18, 0, 0, 0, '1789-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4281, 4281, 18, 0, 0, 0, '1789-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4282, 4282, 18, 0, 0, 0, '1789-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4283, 4283, 18, 0, 0, 0, '1789-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4284, 4284, 18, 0, 0, 0, '1789-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4285, 4285, 18, 0, 0, 0, '1789-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4286, 4286, 18, 0, 0, 0, '1789-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4287, 4287, 18, 0, 0, 0, '1789-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4288, 4288, 18, 0, 0, 0, '1789-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4289, 4289, 18, 0, 0, 0, '1789-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4290, 4290, 18, 0, 0, 0, '1789-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4291, 4291, 18, 0, 0, 0, '1789-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4292, 4292, 18, 0, 0, 0, '1789-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4293, 4293, 18, 0, 0, 0, '1789-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4294, 4294, 18, 0, 0, 0, '1789-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4295, 4295, 18, 0, 0, 0, '1789-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4296, 4296, 18, 0, 0, 0, '1789-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4297, 4297, 18, 0, 0, 0, '1789-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4298, 4298, 18, 0, 0, 0, '1789-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4299, 4299, 18, 0, 0, 0, '1789-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4300, 4300, 18, 0, 0, 0, '1789-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4301, 4301, 18, 0, 0, 0, '1789-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4302, 4302, 18, 0, 0, 0, '1789-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4303, 4303, 18, 0, 0, 0, '1789-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4304, 4304, 18, 0, 0, 0, '1789-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4305, 4305, 18, 0, 0, 0, '1789-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4306, 4306, 18, 0, 0, 0, '1789-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4307, 4307, 18, 0, 0, 0, '1789-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4308, 4308, 18, 0, 0, 0, '1789-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4309, 4309, 18, 0, 0, 0, '1789-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4310, 4310, 18, 0, 0, 0, '1789-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4311, 4311, 18, 0, 0, 0, '1789-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4312, 4312, 18, 0, 0, 0, '1789-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4313, 4313, 18, 0, 0, 0, '1789-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4314, 4314, 18, 0, 0, 0, '1789-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4315, 4315, 18, 0, 0, 0, '1789-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4316, 4316, 18, 0, 0, 0, '1789-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4317, 4317, 18, 0, 0, 0, '1789-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4318, 4318, 18, 0, 0, 0, '1789-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4319, 4319, 18, 0, 0, 0, '1789-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4320, 4320, 18, 0, 0, 0, '1789-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4321, 4321, 18, 0, 0, 0, '1789-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4322, 4322, 18, 0, 0, 0, '1789-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4323, 4323, 18, 0, 0, 0, '1789-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4324, 4324, 18, 0, 0, 0, '1789-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4325, 4325, 18, 0, 0, 0, '1789-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4326, 4326, 18, 0, 0, 0, '1789-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4327, 4327, 18, 0, 0, 0, '1789-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4328, 4328, 18, 0, 0, 0, '1789-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4329, 4329, 18, 0, 0, 0, '1789-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4330, 4330, 18, 0, 0, 0, '1789-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4331, 4331, 18, 0, 0, 0, '1789-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4332, 4332, 18, 0, 0, 0, '1789-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4333, 4333, 18, 0, 0, 0, '1789-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4334, 4334, 18, 0, 0, 0, '1789-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4335, 4335, 18, 0, 0, 0, '1790-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4336, 4336, 18, 0, 0, 0, '1790-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4337, 4337, 18, 0, 0, 0, '1790-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4338, 4338, 18, 0, 0, 0, '1790-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4339, 4339, 18, 0, 0, 0, '1790-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4340, 4340, 18, 0, 0, 0, '1790-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4341, 4341, 18, 0, 0, 0, '1790-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4342, 4342, 18, 0, 0, 0, '1790-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4343, 4343, 18, 0, 0, 0, '1790-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4344, 4344, 18, 0, 0, 0, '1790-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4345, 4345, 18, 0, 0, 0, '1790-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4346, 4346, 18, 0, 0, 0, '1790-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4347, 4347, 18, 0, 0, 0, '1790-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4348, 4348, 18, 0, 0, 0, '1790-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4349, 4349, 18, 0, 0, 0, '1790-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4350, 4350, 18, 0, 0, 0, '1790-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4351, 4351, 18, 0, 0, 0, '1790-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4352, 4352, 18, 0, 0, 0, '1790-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4353, 4353, 18, 0, 0, 0, '1790-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4354, 4354, 18, 0, 0, 0, '1790-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4355, 4355, 18, 0, 0, 0, '1790-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4356, 4356, 18, 0, 0, 0, '1790-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4357, 4357, 18, 0, 0, 0, '1790-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4358, 4358, 18, 0, 0, 0, '1790-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4359, 4359, 18, 0, 0, 0, '1790-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4360, 4360, 18, 0, 0, 0, '1790-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4361, 4361, 18, 0, 0, 0, '1790-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4362, 4362, 18, 0, 0, 0, '1790-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4363, 4363, 18, 0, 0, 0, '1790-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4364, 4364, 18, 0, 0, 0, '1790-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4365, 4365, 18, 0, 0, 0, '1790-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4366, 4366, 18, 0, 0, 0, '1790-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4367, 4367, 18, 0, 0, 0, '1790-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4368, 4368, 18, 0, 0, 0, '1790-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4369, 4369, 18, 0, 0, 0, '1790-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4370, 4370, 18, 0, 0, 0, '1790-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4371, 4371, 18, 0, 0, 0, '1790-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4372, 4372, 18, 0, 0, 0, '1790-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4373, 4373, 18, 0, 0, 0, '1790-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4374, 4374, 18, 0, 0, 0, '1790-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4375, 4375, 18, 0, 0, 0, '1790-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4376, 4376, 18, 0, 0, 0, '1790-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4377, 4377, 18, 0, 0, 0, '1790-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4378, 4378, 18, 0, 0, 0, '1790-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4379, 4379, 18, 0, 0, 0, '1790-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4380, 4380, 18, 0, 0, 0, '1790-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4381, 4381, 18, 0, 0, 0, '1790-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4382, 4382, 18, 0, 0, 0, '1790-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4383, 4383, 18, 0, 0, 0, '1790-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4384, 4384, 18, 0, 0, 0, '1790-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4385, 4385, 18, 0, 0, 0, '1790-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4386, 4386, 18, 0, 0, 0, '1790-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4387, 4387, 18, 0, 0, 0, '1790-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4388, 4388, 18, 0, 0, 0, '1790-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4389, 4389, 18, 0, 0, 0, '1790-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4390, 4390, 18, 0, 0, 0, '1790-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4391, 4391, 18, 0, 0, 0, '1790-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4392, 4392, 18, 0, 0, 0, '1790-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4393, 4393, 18, 0, 0, 0, '1790-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4394, 4394, 18, 0, 0, 0, '1790-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4395, 4395, 18, 0, 0, 0, '1790-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4396, 4396, 18, 0, 0, 0, '1790-06-15 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4427, 4565, 18, 0, 0, 0, '1797-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4428, 4566, 18, 0, 0, 0, '1797-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4429, 4567, 18, 0, 0, 0, '1797-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4430, 4568, 18, 0, 0, 0, '1797-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4431, 4569, 18, 0, 0, 0, '1797-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4432, 4570, 18, 0, 0, 0, '1797-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4433, 4571, 18, 0, 0, 0, '1797-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4434, 4572, 18, 0, 0, 0, '1797-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4435, 4573, 18, 0, 0, 0, '1797-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4436, 4574, 18, 0, 0, 0, '1797-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4437, 4575, 18, 0, 0, 0, '1797-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4438, 4576, 18, 0, 0, 0, '1797-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4439, 4577, 18, 0, 0, 0, '1797-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4440, 4578, 18, 0, 0, 0, '1797-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4441, 4579, 18, 0, 0, 0, '1797-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4442, 4580, 18, 0, 0, 0, '1797-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4443, 4581, 18, 0, 0, 0, '1797-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4444, 4582, 19, 0, 0, 0, '1772-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4445, 4583, 19, 0, 0, 0, '1772-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4446, 4584, 19, 0, 0, 0, '1772-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4447, 4585, 19, 0, 0, 0, '1772-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4448, 4586, 19, 0, 0, 0, '1772-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4449, 4587, 19, 0, 0, 0, '1772-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4450, 4588, 19, 0, 0, 0, '1772-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4451, 4589, 19, 0, 0, 0, '1772-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4452, 4590, 19, 0, 0, 0, '1772-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4453, 4591, 19, 0, 0, 0, '1772-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4454, 4592, 19, 0, 0, 0, '1772-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4455, 4593, 19, 0, 0, 0, '1773-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4456, 4594, 19, 0, 0, 0, '1773-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4457, 4595, 19, 0, 0, 0, '1773-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4458, 4596, 19, 0, 0, 0, '1773-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4459, 4597, 19, 0, 0, 0, '1773-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4460, 4598, 19, 0, 0, 0, '1772-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4461, 4599, 19, 0, 0, 0, '1772-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4462, 4600, 19, 0, 0, 0, '1772-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4463, 4425, 18, 0, 0, 0, '1796-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4464, 4426, 18, 0, 0, 0, '1796-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4465, 4427, 18, 0, 0, 0, '1796-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4466, 4428, 18, 0, 0, 0, '1796-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4467, 4429, 18, 0, 0, 0, '1796-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4468, 4430, 18, 0, 0, 0, '1796-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4469, 4431, 18, 0, 0, 0, '1796-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4470, 4432, 18, 0, 0, 0, '1796-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4471, 4433, 18, 0, 0, 0, '1796-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4472, 4434, 18, 0, 0, 0, '1796-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4473, 4435, 18, 0, 0, 0, '1796-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4474, 4436, 18, 0, 0, 0, '1796-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4475, 4437, 18, 0, 0, 0, '1796-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4476, 4438, 18, 0, 0, 0, '1796-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4477, 4439, 18, 0, 0, 0, '1796-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4478, 4440, 18, 0, 0, 0, '1796-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4479, 4441, 18, 0, 0, 0, '1796-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4480, 4442, 18, 0, 0, 0, '1796-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4481, 4443, 18, 0, 0, 0, '1796-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4482, 4444, 18, 0, 0, 0, '1796-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4483, 4445, 18, 0, 0, 0, '1796-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4484, 4446, 18, 0, 0, 0, '1796-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4485, 4447, 18, 0, 0, 0, '1796-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4486, 4448, 18, 0, 0, 0, '1796-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4487, 4449, 18, 0, 0, 0, '1796-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4488, 4450, 18, 0, 0, 0, '1796-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4489, 4451, 18, 0, 0, 0, '1796-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4490, 4452, 18, 0, 0, 0, '1796-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4491, 4453, 18, 0, 0, 0, '1796-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4492, 4454, 18, 0, 0, 0, '1796-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4493, 4455, 18, 0, 0, 0, '1796-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4494, 4456, 18, 0, 0, 0, '1796-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4495, 4457, 18, 0, 0, 0, '1796-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4496, 4458, 18, 0, 0, 0, '1796-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4497, 4459, 18, 0, 0, 0, '1796-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4498, 4460, 18, 0, 0, 0, '1796-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4499, 4461, 18, 0, 0, 0, '1796-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4500, 4462, 18, 0, 0, 0, '1796-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4501, 4463, 18, 0, 0, 0, '1796-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4502, 4464, 18, 0, 0, 0, '1796-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4503, 4465, 18, 0, 0, 0, '1796-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4504, 4466, 18, 0, 0, 0, '1796-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4505, 4467, 18, 0, 0, 0, '1796-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4506, 4468, 18, 0, 0, 0, '1796-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4507, 4469, 18, 0, 0, 0, '1796-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4508, 4470, 18, 0, 0, 0, '1796-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4509, 4471, 18, 0, 0, 0, '1796-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4510, 4472, 18, 0, 0, 0, '1796-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4511, 4473, 18, 0, 0, 0, '1796-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4512, 4474, 18, 0, 0, 0, '1796-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4513, 4475, 18, 0, 0, 0, '1796-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4514, 4476, 18, 0, 0, 0, '1796-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4515, 4477, 18, 0, 0, 0, '1796-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4516, 4478, 18, 0, 0, 0, '1796-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4517, 4479, 18, 0, 0, 0, '1796-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4518, 4480, 18, 0, 0, 0, '1796-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4519, 4481, 18, 0, 0, 0, '1796-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4520, 4482, 18, 0, 0, 0, '1796-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4521, 4483, 18, 0, 0, 0, '1796-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4522, 4484, 18, 0, 0, 0, '1796-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4523, 4485, 18, 0, 0, 0, '1796-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4524, 4486, 18, 0, 0, 0, '1796-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4525, 4487, 18, 0, 0, 0, '1796-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4526, 4488, 18, 0, 0, 0, '1796-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4527, 4489, 18, 0, 0, 0, '1796-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4528, 4490, 18, 0, 0, 0, '1796-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4529, 4491, 18, 0, 0, 0, '1796-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4530, 4492, 18, 0, 0, 0, '1796-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4531, 4493, 18, 0, 0, 0, '1796-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4532, 4494, 18, 0, 0, 0, '1796-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4533, 4495, 18, 0, 0, 0, '1796-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4534, 4496, 18, 0, 0, 0, '1796-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4535, 4497, 18, 0, 0, 0, '1796-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4536, 4498, 18, 0, 0, 0, '1796-11-06 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4537, 4499, 18, 0, 0, 0, '1796-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4538, 4500, 18, 0, 0, 0, '1796-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4539, 4501, 18, 0, 0, 0, '1796-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4540, 4502, 18, 0, 0, 0, '1796-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4541, 4503, 18, 0, 0, 0, '1796-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4542, 4504, 18, 0, 0, 0, '1796-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4543, 4505, 18, 0, 0, 0, '1796-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4544, 4506, 18, 0, 0, 0, '1796-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4545, 4507, 18, 0, 0, 0, '1796-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4546, 4508, 18, 0, 0, 0, '1796-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4547, 4509, 18, 0, 0, 0, '1796-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4548, 4510, 18, 0, 0, 0, '1796-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4549, 4511, 18, 0, 0, 0, '1796-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4550, 4512, 18, 0, 0, 0, '1796-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4551, 4513, 18, 0, 0, 0, '1796-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4552, 4514, 18, 0, 0, 0, '1796-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4553, 4515, 18, 0, 0, 0, '1796-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4554, 4516, 18, 0, 0, 0, '1796-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4555, 4517, 18, 0, 0, 0, '1796-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4556, 4518, 18, 0, 0, 0, '1796-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4557, 4519, 18, 0, 0, 0, '1796-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4558, 4520, 18, 0, 0, 0, '1796-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4559, 4521, 18, 0, 0, 0, '1796-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4560, 4522, 18, 0, 0, 0, '1796-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4561, 4523, 18, 0, 0, 0, '1796-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4562, 4524, 18, 0, 0, 0, '1796-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4563, 4525, 18, 0, 0, 0, '1796-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4564, 4526, 18, 0, 0, 0, '1796-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4565, 4527, 18, 0, 0, 0, '1796-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4566, 4528, 18, 0, 0, 0, '1796-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4567, 4529, 18, 0, 0, 0, '1796-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4568, 4530, 18, 0, 0, 0, '1796-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4569, 4531, 18, 0, 0, 0, '1796-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4570, 4532, 18, 0, 0, 0, '1796-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4571, 4533, 18, 0, 0, 0, '1796-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4572, 4534, 18, 0, 0, 0, '1796-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4573, 4535, 18, 0, 0, 0, '1796-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4574, 4536, 18, 0, 0, 0, '1796-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4575, 4537, 18, 0, 0, 0, '1796-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4576, 4538, 18, 0, 0, 0, '1796-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4577, 4539, 18, 0, 0, 0, '1796-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4578, 4540, 18, 0, 0, 0, '1796-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4579, 4541, 18, 0, 0, 0, '1796-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4580, 4542, 18, 0, 0, 0, '1796-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4581, 4543, 18, 0, 0, 0, '1796-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4582, 4544, 18, 0, 0, 0, '1796-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4583, 4545, 18, 0, 0, 0, '1796-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4584, 4546, 18, 0, 0, 0, '1796-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4585, 4547, 18, 0, 0, 0, '1796-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4586, 4548, 18, 0, 0, 0, '1796-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4587, 4549, 18, 0, 0, 0, '1796-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4588, 4550, 18, 0, 0, 0, '1796-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4589, 4551, 18, 0, 0, 0, '1796-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4590, 4552, 18, 0, 0, 0, '1796-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4591, 4553, 18, 0, 0, 0, '1796-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4592, 4554, 18, 0, 0, 0, '1797-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4593, 4555, 18, 0, 0, 0, '1797-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4594, 4556, 18, 0, 0, 0, '1797-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4595, 4557, 18, 0, 0, 0, '1797-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4596, 4558, 18, 0, 0, 0, '1797-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4597, 4559, 18, 0, 0, 0, '1797-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4598, 4560, 18, 0, 0, 0, '1797-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4599, 4561, 18, 0, 0, 0, '1797-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4600, 4562, 18, 0, 0, 0, '1797-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4601, 4601, 19, 0, 0, 0, '1772-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4602, 4602, 19, 0, 0, 0, '1772-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4603, 4603, 19, 0, 0, 0, '1772-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4604, 4604, 19, 0, 0, 0, '1772-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4605, 4605, 19, 0, 0, 0, '1772-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4606, 4606, 19, 0, 0, 0, '1772-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4607, 4607, 19, 0, 0, 0, '1772-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4608, 4608, 19, 0, 0, 0, '1772-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4609, 4609, 19, 0, 0, 0, '1772-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4610, 4610, 19, 0, 0, 0, '1772-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4611, 4611, 19, 0, 0, 0, '1772-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4612, 4612, 19, 0, 0, 0, '1772-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4613, 4613, 19, 0, 0, 0, '1772-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4614, 4614, 19, 0, 0, 0, '1772-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4615, 4615, 19, 0, 0, 0, '1772-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4616, 4616, 19, 0, 0, 0, '1772-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4617, 4617, 19, 0, 0, 0, '1772-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4618, 4618, 19, 0, 0, 0, '1772-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4619, 4619, 19, 0, 0, 0, '1772-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4620, 4620, 19, 0, 0, 0, '1772-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4621, 4621, 19, 0, 0, 0, '1772-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4622, 4622, 19, 0, 0, 0, '1772-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4623, 4623, 19, 0, 0, 0, '1772-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4624, 4624, 19, 0, 0, 0, '1772-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4625, 4625, 19, 0, 0, 0, '1772-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4626, 4626, 19, 0, 0, 0, '1772-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4627, 4627, 19, 0, 0, 0, '1772-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4628, 4628, 19, 0, 0, 0, '1772-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4629, 4629, 19, 0, 0, 0, '1772-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4630, 4630, 19, 0, 0, 0, '1772-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4631, 4631, 19, 0, 0, 0, '1772-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4632, 4632, 19, 0, 0, 0, '1772-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4633, 4633, 19, 0, 0, 0, '1772-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4634, 4634, 19, 0, 0, 0, '1772-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4635, 4635, 19, 0, 0, 0, '1772-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4636, 4636, 19, 0, 0, 0, '1772-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4637, 4637, 19, 0, 0, 0, '1772-05-16 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4638, 4638, 19, 0, 0, 0, '1772-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4639, 4639, 19, 0, 0, 0, '1772-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4640, 4640, 19, 0, 0, 0, '1772-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4641, 4641, 19, 0, 0, 0, '1772-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4642, 4642, 19, 0, 0, 0, '1772-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4643, 4643, 19, 0, 0, 0, '1772-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4644, 4644, 19, 0, 0, 0, '1772-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4645, 4645, 19, 0, 0, 0, '1772-05-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4646, 4646, 19, 0, 0, 0, '1772-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4647, 4647, 19, 0, 0, 0, '1772-05-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4648, 4648, 19, 0, 0, 0, '1772-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4649, 4649, 19, 0, 0, 0, '1772-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4650, 4650, 19, 0, 0, 0, '1772-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4651, 4651, 19, 0, 0, 0, '1772-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4652, 4652, 19, 0, 0, 0, '1772-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4653, 4653, 19, 0, 0, 0, '1772-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4654, 4654, 19, 0, 0, 0, '1772-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4655, 4655, 19, 0, 0, 0, '1772-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4656, 4656, 19, 0, 0, 0, '1772-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4657, 4657, 19, 0, 0, 0, '1772-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4658, 4658, 19, 0, 0, 0, '1772-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4659, 4659, 19, 0, 0, 0, '1772-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4660, 4660, 19, 0, 0, 0, '1772-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4661, 4661, 19, 0, 0, 0, '1772-06-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4662, 4662, 19, 0, 0, 0, '1772-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4663, 4663, 19, 0, 0, 0, '1772-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4664, 4664, 19, 0, 0, 0, '1772-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4665, 4665, 19, 0, 0, 0, '1772-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4666, 4666, 19, 0, 0, 0, '1772-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4667, 4667, 19, 0, 0, 0, '1772-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4668, 4668, 19, 0, 0, 0, '1772-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4669, 4669, 19, 0, 0, 0, '1772-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4670, 4670, 19, 0, 0, 0, '1772-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4671, 4671, 19, 0, 0, 0, '1772-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4672, 4672, 19, 0, 0, 0, '1772-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4673, 4673, 19, 0, 0, 0, '1772-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4674, 4674, 19, 0, 0, 0, '1772-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4675, 4675, 19, 0, 0, 0, '1772-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4676, 4676, 19, 0, 0, 0, '1772-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4677, 4677, 19, 0, 0, 0, '1772-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4678, 4678, 19, 0, 0, 0, '1772-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4679, 4679, 19, 0, 0, 0, '1772-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4680, 4680, 19, 0, 0, 0, '1772-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4681, 4681, 19, 0, 0, 0, '1772-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4682, 4682, 19, 0, 0, 0, '1772-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4683, 4683, 19, 0, 0, 0, '1772-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4684, 4684, 19, 0, 0, 0, '1772-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4685, 4685, 19, 0, 0, 0, '1772-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4686, 4686, 19, 0, 0, 0, '1772-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4687, 4687, 19, 0, 0, 0, '1772-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4688, 4688, 19, 0, 0, 0, '1772-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4689, 4689, 19, 0, 0, 0, '1772-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4690, 4690, 19, 0, 0, 0, '1772-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4691, 4691, 19, 0, 0, 0, '1772-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4692, 4692, 19, 0, 0, 0, '1772-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4693, 4693, 19, 0, 0, 0, '1772-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4694, 4694, 19, 0, 0, 0, '1772-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4695, 4695, 19, 0, 0, 0, '1772-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4696, 4696, 19, 0, 0, 0, '1772-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4697, 4697, 19, 0, 0, 0, '1772-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4698, 4698, 19, 0, 0, 0, '1772-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4699, 4699, 19, 0, 0, 0, '1772-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4700, 4700, 19, 0, 0, 0, '1772-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4701, 4701, 19, 0, 0, 0, '1772-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4702, 4702, 19, 0, 0, 0, '1772-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4703, 4703, 19, 0, 0, 0, '1772-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4704, 4704, 19, 0, 0, 0, '1772-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4705, 4705, 19, 0, 0, 0, '1772-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4706, 4706, 19, 0, 0, 0, '1772-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4707, 4707, 19, 0, 0, 0, '1772-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4708, 4708, 19, 0, 0, 0, '1772-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4709, 4709, 19, 0, 0, 0, '1772-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4710, 4710, 19, 0, 0, 0, '1772-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4711, 4711, 19, 0, 0, 0, '1772-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4712, 4712, 19, 0, 0, 0, '1772-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4713, 4713, 19, 0, 0, 0, '1772-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4714, 4714, 19, 0, 0, 0, '1772-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4715, 4715, 19, 0, 0, 0, '1772-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4716, 4716, 19, 0, 0, 0, '1772-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4717, 4717, 19, 0, 0, 0, '1772-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4718, 4718, 19, 0, 0, 0, '1772-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4719, 4719, 19, 0, 0, 0, '1772-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4720, 4720, 19, 0, 0, 0, '1772-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4721, 4721, 19, 0, 0, 0, '1772-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4722, 4722, 19, 0, 0, 0, '1772-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4723, 4723, 19, 0, 0, 0, '1772-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4724, 4724, 19, 0, 0, 0, '1772-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4725, 4725, 19, 0, 0, 0, '1772-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4726, 4726, 19, 0, 0, 0, '1772-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4727, 4727, 19, 0, 0, 0, '1772-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4728, 4728, 19, 0, 0, 0, '1772-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4729, 4729, 19, 0, 0, 0, '1772-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4730, 4730, 19, 0, 0, 0, '1772-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4731, 4731, 19, 0, 0, 0, '1772-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4732, 4732, 19, 0, 0, 0, '1772-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4733, 4733, 19, 0, 0, 0, '1772-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4734, 4734, 19, 0, 0, 0, '1772-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4735, 4735, 19, 0, 0, 0, '1772-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4736, 4736, 19, 0, 0, 0, '1773-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4737, 4737, 19, 0, 0, 0, '1773-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4738, 4738, 19, 0, 0, 0, '1773-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4739, 4739, 19, 0, 0, 0, '1773-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4740, 4740, 19, 0, 0, 0, '1773-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4741, 4741, 19, 0, 0, 0, '1773-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4742, 4742, 19, 0, 0, 0, '1773-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4743, 4743, 19, 0, 0, 0, '1773-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4744, 4744, 19, 0, 0, 0, '1773-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4745, 4745, 19, 0, 0, 0, '1773-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4746, 4746, 19, 0, 0, 0, '1773-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4747, 4747, 19, 0, 0, 0, '1773-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4748, 4748, 19, 0, 0, 0, '1773-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4749, 4749, 19, 0, 0, 0, '1773-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4750, 4750, 19, 0, 0, 0, '1773-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4751, 4751, 19, 0, 0, 0, '1773-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4752, 4752, 19, 0, 0, 0, '1773-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4753, 4753, 19, 0, 0, 0, '1773-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4754, 4754, 19, 0, 0, 0, '1773-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4755, 4755, 19, 0, 0, 0, '1773-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4756, 4756, 19, 0, 0, 0, '1773-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4757, 4757, 19, 0, 0, 0, '1773-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4758, 4758, 19, 0, 0, 0, '1773-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4759, 4759, 19, 0, 0, 0, '1773-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4760, 4760, 19, 0, 0, 0, '1773-03-09 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4761, 4761, 19, 0, 0, 0, '1773-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4762, 4762, 19, 0, 0, 0, '1773-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4763, 4763, 19, 0, 0, 0, '1773-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4764, 4764, 19, 0, 0, 0, '1773-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4765, 4765, 19, 0, 0, 0, '1773-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4766, 4766, 19, 0, 0, 0, '1773-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4767, 4767, 19, 0, 0, 0, '1773-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4768, 4768, 19, 0, 0, 0, '1773-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4769, 4769, 19, 0, 0, 0, '1773-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4770, 4770, 19, 0, 0, 0, '1773-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4771, 4771, 19, 0, 0, 0, '1773-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4772, 4772, 19, 0, 0, 0, '1773-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4773, 4773, 19, 0, 0, 0, '1773-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4774, 4774, 19, 0, 0, 0, '1773-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4775, 4775, 19, 0, 0, 0, '1773-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4776, 4776, 19, 0, 0, 0, '1773-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4777, 4777, 19, 0, 0, 0, '1773-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4778, 4778, 19, 0, 0, 0, '1773-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4779, 4779, 19, 0, 0, 0, '1773-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4780, 4780, 19, 0, 0, 0, '1773-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4781, 4781, 19, 0, 0, 0, '1773-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4782, 4782, 19, 0, 0, 0, '1773-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4783, 4783, 19, 0, 0, 0, '1773-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4784, 4784, 19, 0, 0, 0, '1773-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4785, 4785, 19, 0, 0, 0, '1773-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4786, 4786, 19, 0, 0, 0, '1773-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4787, 4787, 19, 0, 0, 0, '1773-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4788, 4788, 19, 0, 0, 0, '1773-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4789, 4789, 19, 0, 0, 0, '1773-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4790, 4790, 19, 0, 0, 0, '1773-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4791, 4791, 19, 0, 0, 0, '1773-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4792, 4792, 19, 0, 0, 0, '1773-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4793, 4793, 19, 0, 0, 0, '1773-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4794, 4794, 19, 0, 0, 0, '1773-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4795, 4795, 19, 0, 0, 0, '1773-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4796, 4796, 19, 0, 0, 0, '1773-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4797, 4797, 19, 0, 0, 0, '1773-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4798, 4798, 19, 0, 0, 0, '1773-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4799, 4799, 19, 0, 0, 0, '1773-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4800, 4800, 19, 0, 0, 0, '1773-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4801, 4801, 19, 0, 0, 0, '1773-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4802, 4802, 19, 0, 0, 0, '1773-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4803, 4803, 19, 0, 0, 0, '1773-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4804, 4804, 19, 0, 0, 0, '1773-04-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4805, 4805, 19, 0, 0, 0, '1773-04-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4806, 4806, 19, 0, 0, 0, '1773-04-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4807, 4807, 19, 0, 0, 0, '1773-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4808, 4808, 19, 0, 0, 0, '1773-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4809, 4809, 19, 0, 0, 0, '1773-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4810, 4810, 19, 0, 0, 0, '1773-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4811, 4811, 19, 0, 0, 0, '1773-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4812, 4812, 19, 0, 0, 0, '1773-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4813, 4813, 19, 0, 0, 0, '1773-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4814, 4814, 19, 0, 0, 0, '1773-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4815, 4815, 19, 0, 0, 0, '1773-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4816, 4816, 19, 0, 0, 0, '1773-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4817, 4817, 19, 0, 0, 0, '1773-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4818, 4818, 19, 0, 0, 0, '1773-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4819, 4819, 19, 0, 0, 0, '1773-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4820, 4820, 19, 0, 0, 0, '1773-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4821, 4821, 19, 0, 0, 0, '1773-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4822, 4822, 19, 0, 0, 0, '1773-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4823, 4823, 19, 0, 0, 0, '1773-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4824, 4824, 19, 0, 0, 0, '1773-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4825, 4825, 19, 0, 0, 0, '1773-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4826, 4826, 19, 0, 0, 0, '1773-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4827, 4827, 19, 0, 0, 0, '1773-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4828, 4828, 19, 0, 0, 0, '1773-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4829, 4829, 19, 0, 0, 0, '1773-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4830, 4830, 19, 0, 0, 0, '1773-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4831, 4831, 19, 0, 0, 0, '1773-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4832, 4832, 19, 0, 0, 0, '1773-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4833, 4833, 19, 0, 0, 0, '1773-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4834, 4834, 19, 0, 0, 0, '1773-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4835, 4835, 19, 0, 0, 0, '1773-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4836, 4836, 19, 0, 0, 0, '1773-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4837, 4837, 19, 0, 0, 0, '1773-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4838, 4838, 19, 0, 0, 0, '1773-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4839, 4839, 19, 0, 0, 0, '1773-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4840, 4840, 19, 0, 0, 0, '1773-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4841, 4841, 19, 0, 0, 0, '1773-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4842, 4842, 19, 0, 0, 0, '1773-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4843, 4843, 19, 0, 0, 0, '1773-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4844, 4844, 19, 0, 0, 0, '1773-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4845, 4845, 19, 0, 0, 0, '1773-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4846, 4846, 19, 0, 0, 0, '1773-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4847, 4847, 19, 0, 0, 0, '1773-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4848, 4848, 19, 0, 0, 0, '1773-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4849, 4849, 19, 0, 0, 0, '1773-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4850, 4850, 19, 0, 0, 0, '1773-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4851, 4851, 19, 0, 0, 0, '1773-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4852, 4852, 19, 0, 0, 0, '1773-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4853, 4853, 19, 0, 0, 0, '1773-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4854, 4854, 19, 0, 0, 0, '1773-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4855, 4855, 19, 0, 0, 0, '1773-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4856, 4856, 19, 0, 0, 0, '1773-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4857, 4857, 19, 0, 0, 0, '1773-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4858, 4858, 19, 0, 0, 0, '1773-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4859, 4859, 19, 0, 0, 0, '1773-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4860, 4860, 19, 0, 0, 0, '1773-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4861, 4861, 19, 0, 0, 0, '1773-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4862, 4862, 19, 0, 0, 0, '1773-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4863, 4863, 19, 0, 0, 0, '1773-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4864, 4864, 19, 0, 0, 0, '1773-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4865, 4865, 19, 0, 0, 0, '1773-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4866, 4866, 19, 0, 0, 0, '1773-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4867, 4867, 19, 0, 0, 0, '1773-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4868, 4868, 19, 0, 0, 0, '1773-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4869, 4869, 19, 0, 0, 0, '1773-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4870, 4870, 19, 0, 0, 0, '1773-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4871, 4871, 19, 0, 0, 0, '1773-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4872, 4872, 19, 0, 0, 0, '1773-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4873, 4873, 19, 0, 0, 0, '1773-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4874, 4874, 19, 0, 0, 0, '1773-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4875, 4875, 19, 0, 0, 0, '1773-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4876, 4876, 19, 0, 0, 0, '1773-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4877, 4877, 19, 0, 0, 0, '1773-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4878, 4878, 19, 0, 0, 0, '1773-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4879, 4879, 19, 0, 0, 0, '1773-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4880, 4880, 19, 0, 0, 0, '1773-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4881, 4881, 19, 0, 0, 0, '1773-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4882, 4882, 19, 0, 0, 0, '1773-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4883, 4883, 19, 0, 0, 0, '1773-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4884, 4884, 19, 0, 0, 0, '1773-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4885, 4885, 19, 0, 0, 0, '1773-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4886, 4886, 19, 0, 0, 0, '1773-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4887, 4887, 19, 0, 0, 0, '1773-10-22 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4902, 4902, 19, 0, 0, 0, '1774-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4903, 4903, 19, 0, 0, 0, '1774-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4904, 4904, 19, 0, 0, 0, '1774-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4905, 4905, 19, 0, 0, 0, '1774-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4906, 4906, 19, 0, 0, 0, '1774-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4907, 4907, 19, 0, 0, 0, '1774-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4908, 4908, 19, 0, 0, 0, '1774-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4909, 4909, 19, 0, 0, 0, '1774-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4910, 4910, 19, 0, 0, 0, '1774-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4911, 4911, 19, 0, 0, 0, '1774-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4912, 4912, 19, 0, 0, 0, '1774-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4913, 4913, 19, 0, 0, 0, '1774-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4914, 4914, 19, 0, 0, 0, '1774-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4915, 4915, 19, 0, 0, 0, '1774-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4916, 4916, 19, 0, 0, 0, '1774-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4917, 4917, 19, 0, 0, 0, '1774-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4918, 4918, 19, 0, 0, 0, '1774-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4919, 4919, 19, 0, 0, 0, '1774-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4920, 4920, 19, 0, 0, 0, '1774-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4921, 4921, 19, 0, 0, 0, '1774-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4922, 4922, 19, 0, 0, 0, '1774-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4923, 4923, 19, 0, 0, 0, '1774-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4924, 4924, 19, 0, 0, 0, '1774-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4925, 4925, 19, 0, 0, 0, '1774-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4926, 4926, 19, 0, 0, 0, '1774-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4927, 4927, 19, 0, 0, 0, '1774-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4928, 4928, 19, 0, 0, 0, '1774-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4929, 4929, 19, 0, 0, 0, '1774-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4930, 4930, 19, 0, 0, 0, '1774-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4931, 4931, 19, 0, 0, 0, '1774-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4932, 4932, 19, 0, 0, 0, '1774-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4933, 4933, 19, 0, 0, 0, '1774-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4934, 4934, 19, 0, 0, 0, '1774-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4935, 4935, 19, 0, 0, 0, '1774-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4936, 4936, 19, 0, 0, 0, '1774-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4937, 4937, 19, 0, 0, 0, '1774-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4938, 4938, 19, 0, 0, 0, '1774-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4939, 4939, 19, 0, 0, 0, '1774-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4940, 4940, 19, 0, 0, 0, '1774-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4941, 4941, 19, 0, 0, 0, '1774-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4942, 4942, 19, 0, 0, 0, '1774-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4943, 4943, 19, 0, 0, 0, '1774-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4944, 4944, 19, 0, 0, 0, '1774-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4945, 4945, 19, 0, 0, 0, '1774-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4946, 4946, 19, 0, 0, 0, '1774-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4947, 4947, 19, 0, 0, 0, '1774-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4948, 4948, 19, 0, 0, 0, '1774-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4949, 4949, 19, 0, 0, 0, '1774-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4950, 4950, 19, 0, 0, 0, '1774-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4951, 4951, 19, 0, 0, 0, '1774-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4952, 4952, 19, 0, 0, 0, '1774-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4953, 4953, 19, 0, 0, 0, '1774-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4954, 4954, 19, 0, 0, 0, '1774-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4955, 4955, 19, 0, 0, 0, '1774-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4956, 4956, 19, 0, 0, 0, '1774-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4957, 4957, 19, 0, 0, 0, '1774-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4958, 4958, 19, 0, 0, 0, '1774-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4959, 4959, 19, 0, 0, 0, '1774-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4960, 4960, 19, 0, 0, 0, '1774-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4961, 4961, 19, 0, 0, 0, '1774-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4962, 4962, 19, 0, 0, 0, '1774-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4963, 4963, 19, 0, 0, 0, '1774-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4964, 4964, 19, 0, 0, 0, '1774-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4965, 4965, 19, 0, 0, 0, '1774-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4966, 4966, 19, 0, 0, 0, '1774-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4967, 4967, 19, 0, 0, 0, '1774-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4968, 4968, 19, 0, 0, 0, '1774-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4969, 4969, 19, 0, 0, 0, '1774-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4970, 4970, 19, 0, 0, 0, '1774-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4971, 4971, 19, 0, 0, 0, '1774-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4972, 4972, 19, 0, 0, 0, '1774-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4973, 4973, 19, 0, 0, 0, '1774-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4974, 4974, 19, 0, 0, 0, '1774-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4975, 4975, 19, 0, 0, 0, '1774-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4976, 4976, 19, 0, 0, 0, '1774-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4977, 4977, 19, 0, 0, 0, '1774-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4978, 4978, 19, 0, 0, 0, '1774-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4979, 4979, 19, 0, 0, 0, '1774-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4980, 4980, 19, 0, 0, 0, '1774-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4981, 4981, 19, 0, 0, 0, '1774-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4982, 4982, 19, 0, 0, 0, '1774-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4983, 4983, 19, 0, 0, 0, '1774-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4984, 4984, 19, 0, 0, 0, '1774-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4985, 4985, 19, 0, 0, 0, '1774-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4986, 4986, 19, 0, 0, 0, '1774-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4987, 4987, 19, 0, 0, 0, '1774-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4988, 4988, 19, 0, 0, 0, '1774-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4989, 4989, 19, 0, 0, 0, '1774-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4990, 4990, 19, 0, 0, 0, '1774-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4991, 4991, 19, 0, 0, 0, '1774-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4992, 4992, 19, 0, 0, 0, '1774-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4993, 4993, 19, 0, 0, 0, '1774-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4994, 4994, 19, 0, 0, 0, '1774-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4995, 4995, 19, 0, 0, 0, '1774-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4996, 4996, 19, 0, 0, 0, '1774-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4997, 4997, 19, 0, 0, 0, '1774-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4998, 4998, 19, 0, 0, 0, '1774-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (4999, 4999, 19, 0, 0, 0, '1774-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5000, 5000, 19, 0, 0, 0, '1774-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5001, 5001, 19, 0, 0, 0, '1774-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5002, 5002, 19, 0, 0, 0, '1774-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5003, 5003, 19, 0, 0, 0, '1774-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5004, 5004, 19, 0, 0, 0, '1774-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5005, 5005, 19, 0, 0, 0, '1774-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5006, 5006, 19, 0, 0, 0, '1774-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5007, 5007, 19, 0, 0, 0, '1774-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5008, 5008, 19, 0, 0, 0, '1774-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5009, 5009, 19, 0, 0, 0, '1774-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5010, 5010, 19, 0, 0, 0, '1774-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5011, 5011, 19, 0, 0, 0, '1774-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5012, 5012, 19, 0, 0, 0, '1774-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5013, 5013, 19, 0, 0, 0, '1774-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5014, 5014, 19, 0, 0, 0, '1774-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5015, 5015, 19, 0, 0, 0, '1774-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5016, 5016, 19, 0, 0, 0, '1774-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5017, 5017, 19, 0, 0, 0, '1774-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5018, 5018, 19, 0, 0, 0, '1774-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5019, 5019, 19, 0, 0, 0, '1774-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5020, 5020, 19, 0, 0, 0, '1774-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5021, 5021, 19, 0, 0, 0, '1774-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5022, 5022, 19, 0, 0, 0, '1774-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5023, 5023, 19, 0, 0, 0, '1774-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5024, 5024, 19, 0, 0, 0, '1774-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5025, 5025, 19, 0, 0, 0, '1774-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5026, 5026, 19, 0, 0, 0, '1774-10-03 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5027, 5027, 19, 0, 0, 0, '1774-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5028, 5028, 19, 0, 0, 0, '1774-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5029, 5029, 19, 0, 0, 0, '1774-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5030, 5030, 19, 0, 0, 0, '1774-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5031, 5031, 19, 0, 0, 0, '1774-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5032, 5032, 19, 0, 0, 0, '1774-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5033, 5033, 19, 0, 0, 0, '1774-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5034, 5034, 19, 0, 0, 0, '1774-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5035, 5035, 19, 0, 0, 0, '1774-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5036, 5036, 19, 0, 0, 0, '1774-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5037, 5037, 19, 0, 0, 0, '1774-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5038, 5038, 19, 0, 0, 0, '1774-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5039, 5039, 19, 0, 0, 0, '1774-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5040, 5040, 19, 0, 0, 0, '1774-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5041, 5041, 19, 0, 0, 0, '1774-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5042, 5042, 19, 0, 0, 0, '1774-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5043, 5043, 19, 0, 0, 0, '1774-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5044, 5044, 19, 0, 0, 0, '1774-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5045, 5045, 19, 0, 0, 0, '1774-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5046, 5046, 19, 0, 0, 0, '1774-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5047, 5047, 19, 0, 0, 0, '1774-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5048, 5048, 19, 0, 0, 0, '1774-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5049, 5049, 19, 0, 0, 0, '1774-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5050, 5050, 19, 0, 0, 0, '1774-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5051, 5051, 19, 0, 0, 0, '1774-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5052, 5052, 19, 0, 0, 0, '1774-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5053, 5053, 19, 0, 0, 0, '1774-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5054, 5054, 19, 0, 0, 0, '1774-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5055, 5055, 19, 0, 0, 0, '1775-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5056, 5056, 19, 0, 0, 0, '1775-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5057, 5057, 19, 0, 0, 0, '1775-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5058, 5058, 19, 0, 0, 0, '1775-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5059, 5059, 19, 0, 0, 0, '1775-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5060, 5060, 19, 0, 0, 0, '1775-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5061, 5061, 19, 0, 0, 0, '1775-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5062, 5062, 19, 0, 0, 0, '1775-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5063, 5063, 19, 0, 0, 0, '1775-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5064, 5064, 19, 0, 0, 0, '1775-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5065, 5065, 19, 0, 0, 0, '1775-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5066, 5066, 19, 0, 0, 0, '1775-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5067, 5067, 19, 0, 0, 0, '1775-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5068, 5068, 19, 0, 0, 0, '1775-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5069, 5069, 19, 0, 0, 0, '1775-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5070, 5070, 19, 0, 0, 0, '1775-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5071, 5071, 19, 0, 0, 0, '1775-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5072, 5072, 19, 0, 0, 0, '1775-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5073, 5073, 19, 0, 0, 0, '1775-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5074, 5074, 19, 0, 0, 0, '1775-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5075, 5075, 19, 0, 0, 0, '1775-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5076, 5076, 19, 0, 0, 0, '1775-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5077, 5077, 19, 0, 0, 0, '1775-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5078, 5078, 19, 0, 0, 0, '1775-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5079, 5079, 19, 0, 0, 0, '1775-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5080, 5080, 19, 0, 0, 0, '1775-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5081, 5081, 19, 0, 0, 0, '1775-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5082, 5082, 19, 0, 0, 0, '1775-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5083, 5083, 19, 0, 0, 0, '1775-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5084, 5084, 19, 0, 0, 0, '1775-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5085, 5085, 19, 0, 0, 0, '1775-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5086, 5086, 19, 0, 0, 0, '1775-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5087, 5087, 19, 0, 0, 0, '1775-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5088, 5088, 19, 0, 0, 0, '1775-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5089, 5089, 19, 0, 0, 0, '1775-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5090, 5090, 19, 0, 0, 0, '1775-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5091, 5091, 19, 0, 0, 0, '1775-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5092, 5092, 19, 0, 0, 0, '1775-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5093, 5093, 19, 0, 0, 0, '1775-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5094, 5094, 19, 0, 0, 0, '1775-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5095, 5095, 19, 0, 0, 0, '1775-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5096, 5096, 19, 0, 0, 0, '1775-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5097, 5097, 19, 0, 0, 0, '1775-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5098, 5098, 19, 0, 0, 0, '1775-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5099, 5099, 19, 0, 0, 0, '1775-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5100, 5100, 19, 0, 0, 0, '1775-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5101, 5101, 19, 0, 0, 0, '1775-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5102, 5102, 19, 0, 0, 0, '1775-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5103, 5103, 19, 0, 0, 0, '1775-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5104, 5104, 19, 0, 0, 0, '1775-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5105, 5105, 19, 0, 0, 0, '1775-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5106, 5106, 19, 0, 0, 0, '1775-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5107, 5107, 19, 0, 0, 0, '1775-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5108, 5108, 19, 0, 0, 0, '1775-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5109, 5109, 19, 0, 0, 0, '1775-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5110, 5110, 19, 0, 0, 0, '1775-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5111, 5111, 19, 0, 0, 0, '1775-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5112, 5112, 19, 0, 0, 0, '1775-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5113, 5113, 19, 0, 0, 0, '1775-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5114, 5114, 19, 0, 0, 0, '1775-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5115, 5115, 19, 0, 0, 0, '1775-03-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5116, 5116, 19, 0, 0, 0, '1775-03-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5117, 5117, 19, 0, 0, 0, '1775-03-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5118, 5118, 19, 0, 0, 0, '1775-03-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5119, 5119, 19, 0, 0, 0, '1775-03-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5120, 5120, 19, 0, 0, 0, '1775-03-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5121, 5121, 19, 0, 0, 0, '1775-03-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5122, 5122, 19, 0, 0, 0, '1775-03-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5123, 5123, 19, 0, 0, 0, '1775-03-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5124, 5124, 19, 0, 0, 0, '1775-03-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5125, 5125, 19, 0, 0, 0, '1775-03-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5126, 5126, 19, 0, 0, 0, '1775-03-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5127, 5127, 19, 0, 0, 0, '1775-04-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5128, 5128, 19, 0, 0, 0, '1775-04-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5129, 5129, 19, 0, 0, 0, '1775-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5130, 5130, 19, 0, 0, 0, '1775-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5131, 5131, 19, 0, 0, 0, '1775-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5132, 5132, 19, 0, 0, 0, '1775-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5133, 5133, 19, 0, 0, 0, '1775-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5134, 5134, 19, 0, 0, 0, '1775-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5135, 5135, 19, 0, 0, 0, '1775-04-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5136, 5136, 19, 0, 0, 0, '1775-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5137, 5137, 19, 0, 0, 0, '1775-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5138, 5138, 19, 0, 0, 0, '1775-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5139, 5139, 19, 0, 0, 0, '1775-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5140, 5140, 19, 0, 0, 0, '1775-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5141, 5141, 19, 0, 0, 0, '1775-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5142, 5142, 19, 0, 0, 0, '1775-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5143, 5143, 19, 0, 0, 0, '1775-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5144, 5144, 19, 0, 0, 0, '1775-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5145, 5145, 19, 0, 0, 0, '1775-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5146, 5146, 19, 0, 0, 0, '1775-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5147, 5147, 19, 0, 0, 0, '1775-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5148, 5148, 19, 0, 0, 0, '1775-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5149, 5149, 19, 0, 0, 0, '1775-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5150, 5150, 19, 0, 0, 0, '1775-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5151, 5151, 19, 0, 0, 0, '1776-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5152, 5152, 19, 0, 0, 0, '1776-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5153, 5153, 19, 0, 0, 0, '1776-06-20 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5176, 5176, 19, 0, 0, 0, '1775-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5177, 5177, 19, 0, 0, 0, '1775-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5178, 5178, 19, 0, 0, 0, '1775-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5179, 5179, 19, 0, 0, 0, '1775-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5180, 5180, 19, 0, 0, 0, '1775-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5181, 5181, 19, 0, 0, 0, '1775-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5182, 5182, 19, 0, 0, 0, '1775-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5183, 5183, 19, 0, 0, 0, '1775-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5184, 5184, 19, 0, 0, 0, '1775-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5185, 5185, 19, 0, 0, 0, '1775-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5186, 5186, 19, 0, 0, 0, '1775-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5187, 5187, 19, 0, 0, 0, '1775-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5188, 5188, 19, 0, 0, 0, '1775-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5189, 5189, 19, 0, 0, 0, '1775-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5190, 5190, 19, 0, 0, 0, '1775-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5191, 5191, 19, 0, 0, 0, '1775-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5192, 5192, 19, 0, 0, 0, '1775-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5193, 5193, 19, 0, 0, 0, '1775-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5194, 5194, 19, 0, 0, 0, '1775-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5195, 5195, 19, 0, 0, 0, '1775-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5196, 5196, 19, 0, 0, 0, '1775-09-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5197, 5197, 19, 0, 0, 0, '1775-09-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5198, 5198, 19, 0, 0, 0, '1775-09-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5199, 5199, 19, 0, 0, 0, '1775-09-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5200, 5200, 19, 0, 0, 0, '1775-09-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5201, 5201, 19, 0, 0, 0, '1775-09-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5202, 5202, 19, 0, 0, 0, '1775-09-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5203, 5203, 19, 0, 0, 0, '1775-09-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5204, 5204, 19, 0, 0, 0, '1775-09-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5205, 5205, 19, 0, 0, 0, '1775-09-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5206, 5206, 19, 0, 0, 0, '1775-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5207, 5207, 19, 0, 0, 0, '1775-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5208, 5208, 19, 0, 0, 0, '1775-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5209, 5209, 19, 0, 0, 0, '1775-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5210, 5210, 19, 0, 0, 0, '1775-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5211, 5211, 19, 0, 0, 0, '1775-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5212, 5212, 19, 0, 0, 0, '1775-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5213, 5213, 19, 0, 0, 0, '1775-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5214, 5214, 19, 0, 0, 0, '1775-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5215, 5215, 19, 0, 0, 0, '1775-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5216, 5216, 19, 0, 0, 0, '1775-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5217, 5217, 19, 0, 0, 0, '1775-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5218, 5218, 19, 0, 0, 0, '1775-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5219, 5219, 19, 0, 0, 0, '1775-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5220, 5220, 19, 0, 0, 0, '1775-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5221, 5221, 19, 0, 0, 0, '1775-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5222, 5222, 19, 0, 0, 0, '1775-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5223, 5223, 19, 0, 0, 0, '1775-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5224, 5224, 19, 0, 0, 0, '1775-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5225, 5225, 19, 0, 0, 0, '1775-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5226, 5226, 19, 0, 0, 0, '1775-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5227, 5227, 19, 0, 0, 0, '1775-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5228, 5228, 19, 0, 0, 0, '1776-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5229, 5229, 19, 0, 0, 0, '1776-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5230, 5230, 19, 0, 0, 0, '1776-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5231, 5231, 19, 0, 0, 0, '1776-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5232, 5232, 19, 0, 0, 0, '1776-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5233, 5233, 19, 0, 0, 0, '1776-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5234, 5234, 19, 0, 0, 0, '1776-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5235, 5235, 19, 0, 0, 0, '1776-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5236, 5236, 19, 0, 0, 0, '1776-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5237, 5237, 19, 0, 0, 0, '1776-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5238, 5238, 19, 0, 0, 0, '1776-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5239, 5239, 19, 0, 0, 0, '1776-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5240, 5240, 19, 0, 0, 0, '1776-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5241, 5241, 19, 0, 0, 0, '1776-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5242, 5242, 19, 0, 0, 0, '1776-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5243, 5243, 19, 0, 0, 0, '1776-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5244, 5244, 19, 0, 0, 0, '1776-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5245, 5245, 19, 0, 0, 0, '1776-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5246, 5246, 19, 0, 0, 0, '1776-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5247, 5247, 19, 0, 0, 0, '1776-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5248, 5248, 19, 0, 0, 0, '1776-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5249, 5249, 19, 0, 0, 0, '1776-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5250, 5250, 19, 0, 0, 0, '1776-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5251, 5251, 19, 0, 0, 0, '1776-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5252, 5252, 19, 0, 0, 0, '1776-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5253, 5253, 19, 0, 0, 0, '1776-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5254, 5254, 19, 0, 0, 0, '1776-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5255, 5255, 19, 0, 0, 0, '1776-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5256, 5256, 19, 0, 0, 0, '1776-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5257, 5257, 19, 0, 0, 0, '1776-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5258, 5258, 19, 0, 0, 0, '1776-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5259, 5259, 19, 0, 0, 0, '1776-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5260, 5260, 19, 0, 0, 0, '1776-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5261, 5261, 19, 0, 0, 0, '1776-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5262, 5262, 19, 0, 0, 0, '1776-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5263, 5263, 19, 0, 0, 0, '1776-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5264, 5264, 19, 0, 0, 0, '1776-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5265, 5265, 19, 0, 0, 0, '1776-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5266, 5266, 19, 0, 0, 0, '1776-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5267, 5267, 19, 0, 0, 0, '1776-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5268, 5268, 19, 0, 0, 0, '1776-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5269, 5269, 19, 0, 0, 0, '1776-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5270, 5270, 19, 0, 0, 0, '1776-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5271, 5271, 19, 0, 0, 0, '1776-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5272, 5272, 19, 0, 0, 0, '1776-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5273, 5273, 19, 0, 0, 0, '1776-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5274, 5274, 19, 0, 0, 0, '1776-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5275, 5275, 19, 0, 0, 0, '1776-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5276, 5276, 19, 0, 0, 0, '1776-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5277, 5277, 19, 0, 0, 0, '1776-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5278, 5278, 19, 0, 0, 0, '1776-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5279, 5279, 19, 0, 0, 0, '1776-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5280, 5280, 19, 0, 0, 0, '1776-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5281, 5281, 19, 0, 0, 0, '1776-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5282, 5282, 19, 0, 0, 0, '1776-02-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5283, 5283, 19, 0, 0, 0, '1776-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5284, 5284, 19, 0, 0, 0, '1776-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5285, 5285, 19, 0, 0, 0, '1776-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5286, 5286, 19, 0, 0, 0, '1776-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5287, 5287, 19, 0, 0, 0, '1776-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5288, 5288, 19, 0, 0, 0, '1776-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5289, 5289, 19, 0, 0, 0, '1776-03-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5290, 5290, 19, 0, 0, 0, '1776-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5291, 5291, 19, 0, 0, 0, '1776-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5292, 5292, 19, 0, 0, 0, '1776-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5293, 5293, 19, 0, 0, 0, '1776-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5294, 5294, 19, 0, 0, 0, '1776-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5295, 5295, 19, 0, 0, 0, '1776-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5296, 5296, 19, 0, 0, 0, '1776-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5297, 5297, 19, 0, 0, 0, '1776-03-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5298, 5298, 19, 0, 0, 0, '1776-03-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5299, 5299, 19, 0, 0, 0, '1776-03-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5300, 5300, 19, 0, 0, 0, '1776-03-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5301, 5301, 19, 0, 0, 0, '1776-03-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5302, 5302, 19, 0, 0, 0, '1776-03-20 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5332, 5332, 19, 0, 0, 0, '1776-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5333, 5333, 19, 0, 0, 0, '1776-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5334, 5334, 19, 0, 0, 0, '1776-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5335, 5335, 19, 0, 0, 0, '1776-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5336, 5336, 19, 0, 0, 0, '1776-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5337, 5337, 19, 0, 0, 0, '1776-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5338, 5338, 19, 0, 0, 0, '1776-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5339, 5339, 19, 0, 0, 0, '1776-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5340, 5340, 19, 0, 0, 0, '1776-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5341, 5341, 19, 0, 0, 0, '1776-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5342, 5342, 19, 0, 0, 0, '1776-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5343, 5343, 19, 0, 0, 0, '1776-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5344, 5344, 19, 0, 0, 0, '1776-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5345, 5345, 19, 0, 0, 0, '1776-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5346, 5346, 19, 0, 0, 0, '1776-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5347, 5347, 19, 0, 0, 0, '1776-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5348, 5348, 19, 0, 0, 0, '1776-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5349, 5349, 19, 0, 0, 0, '1776-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5350, 5350, 19, 0, 0, 0, '1776-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5351, 5351, 19, 0, 0, 0, '1776-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5352, 5352, 19, 0, 0, 0, '1776-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5353, 5353, 19, 0, 0, 0, '1776-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5354, 5354, 19, 0, 0, 0, '1776-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5355, 5355, 19, 0, 0, 0, '1776-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5356, 5356, 19, 0, 0, 0, '1776-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5357, 5357, 19, 0, 0, 0, '1776-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5358, 5358, 19, 0, 0, 0, '1776-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5359, 5359, 19, 0, 0, 0, '1776-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5360, 5360, 19, 0, 0, 0, '1776-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5361, 5361, 19, 0, 0, 0, '1776-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5362, 5362, 19, 0, 0, 0, '1776-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5363, 5363, 19, 0, 0, 0, '1776-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5364, 5364, 19, 0, 0, 0, '1776-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5365, 5365, 19, 0, 0, 0, '1776-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5366, 5366, 19, 0, 0, 0, '1776-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5367, 5367, 19, 0, 0, 0, '1776-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5368, 5368, 19, 0, 0, 0, '1776-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5369, 5369, 19, 0, 0, 0, '1776-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5370, 5370, 19, 0, 0, 0, '1776-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5371, 5371, 19, 0, 0, 0, '1776-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5372, 5372, 19, 0, 0, 0, '1776-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5373, 5373, 19, 0, 0, 0, '1776-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5374, 5374, 19, 0, 0, 0, '1776-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5375, 5375, 19, 0, 0, 0, '1776-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5376, 5376, 19, 0, 0, 0, '1776-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5377, 5377, 19, 0, 0, 0, '1776-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5378, 5378, 19, 0, 0, 0, '1776-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5379, 5379, 19, 0, 0, 0, '1776-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5380, 5380, 19, 0, 0, 0, '1776-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5381, 5381, 19, 0, 0, 0, '1776-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5382, 5382, 19, 0, 0, 0, '1776-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5383, 5383, 19, 0, 0, 0, '1776-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5384, 5384, 19, 0, 0, 0, '1776-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5385, 5385, 19, 0, 0, 0, '1776-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5386, 5386, 19, 0, 0, 0, '1776-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5387, 5387, 19, 0, 0, 0, '1776-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5388, 5388, 19, 0, 0, 0, '1776-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5389, 5389, 19, 0, 0, 0, '1776-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5390, 5390, 19, 0, 0, 0, '1776-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5391, 5391, 19, 0, 0, 0, '1777-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5392, 5392, 19, 0, 0, 0, '1777-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5393, 5393, 19, 0, 0, 0, '1777-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5394, 5394, 19, 0, 0, 0, '1777-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5395, 5395, 19, 0, 0, 0, '1777-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5396, 5396, 19, 0, 0, 0, '1777-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5397, 5397, 19, 0, 0, 0, '1777-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5398, 5398, 19, 0, 0, 0, '1777-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5399, 5399, 19, 0, 0, 0, '1777-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5400, 5400, 19, 0, 0, 0, '1777-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5401, 5401, 19, 0, 0, 0, '1777-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5402, 5402, 19, 0, 0, 0, '1777-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5403, 5403, 19, 0, 0, 0, '1777-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5404, 5404, 19, 0, 0, 0, '1777-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5405, 5405, 19, 0, 0, 0, '1777-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5406, 5406, 19, 0, 0, 0, '1777-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5407, 5407, 19, 0, 0, 0, '1777-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5408, 5408, 19, 0, 0, 0, '1777-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5409, 5409, 19, 0, 0, 0, '1777-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5410, 5410, 19, 0, 0, 0, '1777-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5411, 5411, 19, 0, 0, 0, '1777-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5412, 5412, 19, 0, 0, 0, '1777-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5413, 5413, 19, 0, 0, 0, '1777-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5414, 5414, 19, 0, 0, 0, '1777-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5415, 5415, 19, 0, 0, 0, '1777-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5416, 5416, 19, 0, 0, 0, '1777-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5417, 5417, 19, 0, 0, 0, '1777-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5418, 5418, 19, 0, 0, 0, '1777-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5419, 5419, 19, 0, 0, 0, '1777-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5420, 5420, 19, 0, 0, 0, '1777-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5421, 5421, 19, 0, 0, 0, '1777-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5422, 5422, 19, 0, 0, 0, '1777-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5423, 5423, 19, 0, 0, 0, '1777-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5424, 5424, 19, 0, 0, 0, '1777-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5425, 5425, 19, 0, 0, 0, '1777-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5426, 5426, 19, 0, 0, 0, '1777-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5427, 5427, 19, 0, 0, 0, '1777-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5428, 5428, 19, 0, 0, 0, '1777-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5429, 5429, 19, 0, 0, 0, '1777-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5430, 5430, 19, 0, 0, 0, '1777-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5431, 5431, 19, 0, 0, 0, '1777-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5432, 5432, 19, 0, 0, 0, '1777-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5433, 5433, 19, 0, 0, 0, '1777-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5434, 5434, 19, 0, 0, 0, '1777-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5435, 5435, 19, 0, 0, 0, '1777-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5436, 5436, 19, 0, 0, 0, '1777-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5437, 5437, 19, 0, 0, 0, '1777-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5438, 5438, 19, 0, 0, 0, '1777-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5439, 5439, 19, 0, 0, 0, '1777-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5440, 5440, 19, 0, 0, 0, '1777-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5441, 5441, 19, 0, 0, 0, '1777-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5442, 5442, 19, 0, 0, 0, '1777-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5443, 5443, 19, 0, 0, 0, '1777-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5444, 5444, 19, 0, 0, 0, '1777-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5445, 5445, 19, 0, 0, 0, '1777-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5446, 5446, 19, 0, 0, 0, '1777-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5447, 5447, 19, 0, 0, 0, '1777-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5448, 5448, 19, 0, 0, 0, '1777-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5449, 5449, 19, 0, 0, 0, '1777-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5450, 5450, 19, 0, 0, 0, '1777-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5451, 5451, 19, 0, 0, 0, '1777-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5452, 5452, 19, 0, 0, 0, '1777-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5453, 5453, 19, 0, 0, 0, '1777-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5454, 5454, 19, 0, 0, 0, '1777-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5455, 5455, 19, 0, 0, 0, '1777-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5456, 5456, 19, 0, 0, 0, '1777-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5457, 5457, 19, 0, 0, 0, '1777-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5458, 5458, 19, 0, 0, 0, '1777-08-04 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5479, 5479, 19, 0, 0, 0, '1777-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5480, 5480, 19, 0, 0, 0, '1777-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5481, 5481, 19, 0, 0, 0, '1777-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5482, 5482, 19, 0, 0, 0, '1777-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5483, 5483, 19, 0, 0, 0, '1777-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5484, 5484, 19, 0, 0, 0, '1777-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5485, 5485, 19, 0, 0, 0, '1777-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5486, 5486, 19, 0, 0, 0, '1777-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5487, 5487, 19, 0, 0, 0, '1777-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5488, 5488, 19, 0, 0, 0, '1777-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5489, 5489, 19, 0, 0, 0, '1777-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5490, 5490, 19, 0, 0, 0, '1777-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5491, 5491, 19, 0, 0, 0, '1777-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5492, 5492, 19, 0, 0, 0, '1777-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5493, 5493, 19, 0, 0, 0, '1777-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5494, 5494, 19, 0, 0, 0, '1777-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5495, 5495, 19, 0, 0, 0, '1777-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5496, 5496, 19, 0, 0, 0, '1777-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5497, 5497, 19, 0, 0, 0, '1777-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5498, 5498, 19, 0, 0, 0, '1777-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5499, 5499, 19, 0, 0, 0, '1777-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5500, 5500, 19, 0, 0, 0, '1777-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5501, 5501, 19, 0, 0, 0, '1777-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5502, 5502, 19, 0, 0, 0, '1777-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5503, 5503, 19, 0, 0, 0, '1777-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5504, 5504, 19, 0, 0, 0, '1778-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5505, 5505, 19, 0, 0, 0, '1778-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5506, 5506, 19, 0, 0, 0, '1778-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5507, 5507, 19, 0, 0, 0, '1778-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5508, 5508, 19, 0, 0, 0, '1778-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5509, 5509, 19, 0, 0, 0, '1778-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5510, 5510, 19, 0, 0, 0, '1778-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5511, 5511, 19, 0, 0, 0, '1778-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5512, 5512, 19, 0, 0, 0, '1778-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5513, 5513, 19, 0, 0, 0, '1778-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5514, 5514, 19, 0, 0, 0, '1778-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5515, 5515, 19, 0, 0, 0, '1778-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5516, 5516, 19, 0, 0, 0, '1778-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5517, 5517, 19, 0, 0, 0, '1778-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5518, 5518, 19, 0, 0, 0, '1778-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5519, 5519, 19, 0, 0, 0, '1778-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5520, 5520, 19, 0, 0, 0, '1778-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5521, 5521, 19, 0, 0, 0, '1778-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5522, 5522, 19, 0, 0, 0, '1778-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5523, 5523, 19, 0, 0, 0, '1778-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5524, 5524, 19, 0, 0, 0, '1778-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5525, 5525, 19, 0, 0, 0, '1778-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5526, 5526, 19, 0, 0, 0, '1778-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5527, 5527, 19, 0, 0, 0, '1778-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5528, 5528, 19, 0, 0, 0, '1778-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5529, 5529, 19, 0, 0, 0, '1778-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5530, 5530, 19, 0, 0, 0, '1778-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5531, 5531, 19, 0, 0, 0, '1778-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5532, 5532, 19, 0, 0, 0, '1778-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5533, 5533, 19, 0, 0, 0, '1778-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5534, 5534, 19, 0, 0, 0, '1778-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5535, 5535, 19, 0, 0, 0, '1778-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5536, 5536, 19, 0, 0, 0, '1778-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5537, 5537, 19, 0, 0, 0, '1778-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5538, 5538, 19, 0, 0, 0, '1778-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5539, 5539, 19, 0, 0, 0, '1778-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5540, 5540, 19, 0, 0, 0, '1778-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5541, 5541, 19, 0, 0, 0, '1778-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5542, 5542, 19, 0, 0, 0, '1778-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5543, 5543, 19, 0, 0, 0, '1778-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5544, 5544, 19, 0, 0, 0, '1778-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5545, 5545, 19, 0, 0, 0, '1778-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5546, 5546, 19, 0, 0, 0, '1778-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5547, 5547, 19, 0, 0, 0, '1778-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5548, 5548, 19, 0, 0, 0, '1778-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5549, 5549, 19, 0, 0, 0, '1778-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5550, 5550, 19, 0, 0, 0, '1778-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5551, 5551, 19, 0, 0, 0, '1778-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5552, 5552, 19, 0, 0, 0, '1778-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5553, 5553, 19, 0, 0, 0, '1778-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5554, 5554, 19, 0, 0, 0, '1778-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5555, 5555, 19, 0, 0, 0, '1778-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5556, 5556, 19, 0, 0, 0, '1778-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5557, 5557, 19, 0, 0, 0, '1778-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5558, 5558, 19, 0, 0, 0, '1778-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5559, 5559, 19, 0, 0, 0, '1778-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5560, 5560, 19, 0, 0, 0, '1778-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5561, 5561, 19, 0, 0, 0, '1778-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5562, 5562, 19, 0, 0, 0, '1778-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5563, 5563, 19, 0, 0, 0, '1778-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5564, 5564, 19, 0, 0, 0, '1778-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5565, 5565, 19, 0, 0, 0, '1778-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5566, 5566, 19, 0, 0, 0, '1778-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5567, 5567, 19, 0, 0, 0, '1778-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5568, 5568, 19, 0, 0, 0, '1778-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5569, 5569, 19, 0, 0, 0, '1778-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5570, 5570, 19, 0, 0, 0, '1778-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5571, 5571, 19, 0, 0, 0, '1778-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5572, 5572, 19, 0, 0, 0, '1778-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5573, 5573, 19, 0, 0, 0, '1778-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5574, 5574, 19, 0, 0, 0, '1778-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5575, 5575, 19, 0, 0, 0, '1778-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5576, 5576, 19, 0, 0, 0, '1778-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5577, 5577, 19, 0, 0, 0, '1778-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5578, 5578, 19, 0, 0, 0, '1778-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5579, 5579, 19, 0, 0, 0, '1778-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5580, 5580, 19, 0, 0, 0, '1778-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5581, 5581, 19, 0, 0, 0, '1778-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5582, 5582, 19, 0, 0, 0, '1778-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5583, 5583, 19, 0, 0, 0, '1778-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5584, 5584, 19, 0, 0, 0, '1778-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5585, 5585, 19, 0, 0, 0, '1778-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5586, 5586, 19, 0, 0, 0, '1778-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5587, 5587, 19, 0, 0, 0, '1778-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5588, 5588, 19, 0, 0, 0, '1778-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5589, 5589, 19, 0, 0, 0, '1778-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5590, 5590, 19, 0, 0, 0, '1778-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5591, 5591, 19, 0, 0, 0, '1778-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5592, 5592, 19, 0, 0, 0, '1778-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5593, 5593, 19, 0, 0, 0, '1778-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5594, 5594, 19, 0, 0, 0, '1778-07-27 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5595, 5595, 19, 0, 0, 0, '1778-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5596, 5596, 19, 0, 0, 0, '1778-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5597, 5597, 19, 0, 0, 0, '1778-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5598, 5598, 19, 0, 0, 0, '1778-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5599, 5599, 19, 0, 0, 0, '1778-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5600, 5600, 19, 0, 0, 0, '1778-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5601, 5601, 19, 0, 0, 0, '1778-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5602, 5602, 19, 0, 0, 0, '1778-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5603, 5603, 19, 0, 0, 0, '1778-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5604, 5604, 19, 0, 0, 0, '1778-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5605, 5605, 19, 0, 0, 0, '1778-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5606, 5606, 19, 0, 0, 0, '1778-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5607, 5607, 19, 0, 0, 0, '1778-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5608, 5608, 19, 0, 0, 0, '1778-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5609, 5609, 19, 0, 0, 0, '1778-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5610, 5610, 19, 0, 0, 0, '1778-08-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5611, 5611, 19, 0, 0, 0, '1778-08-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5612, 5612, 19, 0, 0, 0, '1778-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5613, 5613, 19, 0, 0, 0, '1778-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5614, 5614, 19, 0, 0, 0, '1778-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5615, 5615, 19, 0, 0, 0, '1778-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5616, 5616, 19, 0, 0, 0, '1778-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5617, 5617, 19, 0, 0, 0, '1778-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5618, 5618, 19, 0, 0, 0, '1778-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5619, 5619, 19, 0, 0, 0, '1778-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5620, 5620, 19, 0, 0, 0, '1778-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5621, 5621, 19, 0, 0, 0, '1778-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5622, 5622, 19, 0, 0, 0, '1778-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5623, 5623, 19, 0, 0, 0, '1778-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5624, 5624, 19, 0, 0, 0, '1778-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5625, 5625, 19, 0, 0, 0, '1778-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5626, 5626, 19, 0, 0, 0, '1778-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5627, 5627, 19, 0, 0, 0, '1778-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5628, 5628, 19, 0, 0, 0, '1778-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5629, 5629, 19, 0, 0, 0, '1778-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5630, 5630, 19, 0, 0, 0, '1778-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5631, 5631, 19, 0, 0, 0, '1778-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5632, 5632, 19, 0, 0, 0, '1778-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5633, 5633, 19, 0, 0, 0, '1778-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5634, 5634, 19, 0, 0, 0, '1778-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5635, 5635, 19, 0, 0, 0, '1778-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5636, 5636, 19, 0, 0, 0, '1778-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5637, 5637, 19, 0, 0, 0, '1778-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5638, 5638, 19, 0, 0, 0, '1778-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5639, 5639, 19, 0, 0, 0, '1778-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5640, 5640, 19, 0, 0, 0, '1778-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5641, 5641, 19, 0, 0, 0, '1778-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5642, 5642, 19, 0, 0, 0, '1778-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5643, 5643, 19, 0, 0, 0, '1778-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5644, 5644, 19, 0, 0, 0, '1778-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5645, 5645, 19, 0, 0, 0, '1778-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5646, 5646, 19, 0, 0, 0, '1779-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5647, 5647, 19, 0, 0, 0, '1779-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5648, 5648, 19, 0, 0, 0, '1779-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5649, 5649, 19, 0, 0, 0, '1779-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5650, 5650, 19, 0, 0, 0, '1779-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5651, 5651, 19, 0, 0, 0, '1779-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5652, 5652, 19, 0, 0, 0, '1779-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5653, 5653, 19, 0, 0, 0, '1779-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5654, 5654, 19, 0, 0, 0, '1779-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5655, 5655, 19, 0, 0, 0, '1779-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5656, 5656, 19, 0, 0, 0, '1779-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5657, 5657, 19, 0, 0, 0, '1779-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5658, 5658, 19, 0, 0, 0, '1779-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5659, 5659, 19, 0, 0, 0, '1779-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5660, 5660, 19, 0, 0, 0, '1779-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5661, 5661, 19, 0, 0, 0, '1779-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5662, 5662, 19, 0, 0, 0, '1779-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5663, 5663, 19, 0, 0, 0, '1779-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5664, 5664, 19, 0, 0, 0, '1779-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5665, 5665, 19, 0, 0, 0, '1779-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5666, 5666, 19, 0, 0, 0, '1779-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5667, 5667, 19, 0, 0, 0, '1779-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5668, 5668, 19, 0, 0, 0, '1779-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5669, 5669, 19, 0, 0, 0, '1779-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5670, 5670, 19, 0, 0, 0, '1779-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5671, 5671, 19, 0, 0, 0, '1779-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5672, 5672, 19, 0, 0, 0, '1779-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5673, 5673, 19, 0, 0, 0, '1779-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5674, 5674, 19, 0, 0, 0, '1779-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5675, 5675, 19, 0, 0, 0, '1779-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5676, 5676, 19, 0, 0, 0, '1779-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5677, 5677, 19, 0, 0, 0, '1779-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5678, 5678, 19, 0, 0, 0, '1779-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5679, 5679, 19, 0, 0, 0, '1779-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5680, 5680, 19, 0, 0, 0, '1779-02-04 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5681, 5681, 19, 0, 0, 0, '1779-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5682, 5682, 19, 0, 0, 0, '1779-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5683, 5683, 19, 0, 0, 0, '1779-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5684, 5684, 19, 0, 0, 0, '1779-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5685, 5685, 19, 0, 0, 0, '1779-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5686, 5686, 19, 0, 0, 0, '1779-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5687, 5687, 19, 0, 0, 0, '1779-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5688, 5688, 19, 0, 0, 0, '1779-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5689, 5689, 19, 0, 0, 0, '1779-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5690, 5690, 19, 0, 0, 0, '1779-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5691, 5691, 19, 0, 0, 0, '1779-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5692, 5692, 19, 0, 0, 0, '1779-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5693, 5693, 19, 0, 0, 0, '1779-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5694, 5694, 19, 0, 0, 0, '1779-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5695, 5695, 19, 0, 0, 0, '1779-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5696, 5696, 19, 0, 0, 0, '1779-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5697, 5697, 19, 0, 0, 0, '1779-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5698, 5698, 19, 0, 0, 0, '1779-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5699, 5699, 19, 0, 0, 0, '1779-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5700, 5700, 19, 0, 0, 0, '1789-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5701, 5701, 19, 0, 0, 0, '1789-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5702, 5702, 19, 0, 0, 0, '1789-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5703, 5703, 19, 0, 0, 0, '1789-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5704, 5704, 19, 0, 0, 0, '1789-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5705, 5705, 19, 0, 0, 0, '1789-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5706, 5706, 19, 0, 0, 0, '1789-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5707, 5707, 19, 0, 0, 0, '1789-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5708, 5708, 19, 0, 0, 0, '1789-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5709, 5709, 19, 0, 0, 0, '1789-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5710, 5710, 19, 0, 0, 0, '1789-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5711, 5711, 19, 0, 0, 0, '1790-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5712, 5712, 19, 0, 0, 0, '1790-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5713, 5713, 19, 0, 0, 0, '1790-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5714, 5714, 19, 0, 0, 0, '1790-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5715, 5715, 19, 0, 0, 0, '1790-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5716, 5716, 19, 0, 0, 0, '1790-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5717, 5717, 19, 0, 0, 0, '1790-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5718, 5718, 19, 0, 0, 0, '1790-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5719, 5719, 19, 0, 0, 0, '1790-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5720, 5720, 19, 0, 0, 0, '1790-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5721, 5721, 19, 0, 0, 0, '1790-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5722, 5722, 19, 0, 0, 0, '1790-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5723, 5723, 19, 0, 0, 0, '1790-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5724, 5724, 19, 0, 0, 0, '1790-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5725, 5725, 19, 0, 0, 0, '1790-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5726, 5726, 19, 0, 0, 0, '1790-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5727, 5727, 19, 0, 0, 0, '1790-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5728, 5728, 19, 0, 0, 0, '1790-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5729, 5729, 19, 0, 0, 0, '1790-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5730, 5730, 19, 0, 0, 0, '1790-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5731, 5731, 19, 0, 0, 0, '1790-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5732, 5732, 19, 0, 0, 0, '1790-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5733, 5733, 19, 0, 0, 0, '1790-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5734, 5734, 19, 0, 0, 0, '1790-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5735, 5735, 19, 0, 0, 0, '1790-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5736, 5736, 19, 0, 0, 0, '1790-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5737, 5737, 19, 0, 0, 0, '1790-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5738, 5738, 19, 0, 0, 0, '1790-01-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5739, 5739, 19, 0, 0, 0, '1790-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5740, 5740, 19, 0, 0, 0, '1790-01-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5741, 5741, 19, 0, 0, 0, '1790-01-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5742, 5742, 19, 0, 0, 0, '1790-02-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5743, 5743, 19, 0, 0, 0, '1790-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5744, 5744, 19, 0, 0, 0, '1790-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5745, 5745, 19, 0, 0, 0, '1790-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5746, 5746, 19, 0, 0, 0, '1790-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5747, 5747, 19, 0, 0, 0, '1790-02-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5748, 5748, 19, 0, 0, 0, '1790-02-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5749, 5749, 19, 0, 0, 0, '1790-02-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5750, 5750, 19, 0, 0, 0, '1790-02-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5751, 5751, 19, 0, 0, 0, '1790-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5752, 5752, 19, 0, 0, 0, '1790-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5753, 5753, 19, 0, 0, 0, '1790-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5754, 5754, 19, 0, 0, 0, '1790-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5755, 5755, 19, 0, 0, 0, '1790-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5756, 5756, 19, 0, 0, 0, '1790-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5757, 5757, 19, 0, 0, 0, '1790-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5758, 5758, 19, 0, 0, 0, '1790-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5759, 5759, 19, 0, 0, 0, '1790-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5760, 5760, 19, 0, 0, 0, '1790-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5761, 5761, 19, 0, 0, 0, '1790-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5762, 5762, 19, 0, 0, 0, '1790-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5763, 5763, 19, 0, 0, 0, '1790-06-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5764, 5764, 19, 0, 0, 0, '1790-06-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5765, 5765, 19, 0, 0, 0, '1790-06-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5766, 5766, 19, 0, 0, 0, '1790-06-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5767, 5767, 19, 0, 0, 0, '1790-06-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5768, 5768, 19, 0, 0, 0, '1790-06-09 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5769, 5769, 19, 0, 0, 0, '1790-06-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5770, 5770, 19, 0, 0, 0, '1790-06-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5771, 5771, 19, 0, 0, 0, '1790-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5772, 5772, 19, 0, 0, 0, '1790-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5773, 5773, 19, 0, 0, 0, '1790-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5774, 5774, 19, 0, 0, 0, '1790-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5775, 5775, 19, 0, 0, 0, '1790-06-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5776, 5776, 19, 0, 0, 0, '1790-06-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5777, 5777, 19, 0, 0, 0, '1790-06-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5778, 5778, 19, 0, 0, 0, '1790-06-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5779, 5779, 19, 0, 0, 0, '1790-06-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5780, 5780, 19, 0, 0, 0, '1790-06-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5781, 5781, 19, 0, 0, 0, '1790-06-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5782, 5782, 19, 0, 0, 0, '1790-06-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5783, 5783, 19, 0, 0, 0, '1790-06-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5784, 5784, 19, 0, 0, 0, '1790-06-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5785, 5785, 19, 0, 0, 0, '1790-06-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5786, 5786, 19, 0, 0, 0, '1790-06-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5787, 5787, 19, 0, 0, 0, '1790-06-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5788, 5788, 19, 0, 0, 0, '1790-06-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5789, 5789, 19, 0, 0, 0, '1790-06-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5790, 5790, 19, 0, 0, 0, '1790-07-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5791, 5791, 19, 0, 0, 0, '1790-07-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5792, 5792, 19, 0, 0, 0, '1790-07-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5793, 5793, 19, 0, 0, 0, '1790-07-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5794, 5794, 19, 0, 0, 0, '1790-07-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5795, 5795, 19, 0, 0, 0, '1790-07-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5796, 5796, 19, 0, 0, 0, '1790-07-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5797, 5797, 19, 0, 0, 0, '1790-07-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5798, 5798, 19, 0, 0, 0, '1790-07-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5799, 5799, 19, 0, 0, 0, '1790-07-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5800, 5800, 19, 0, 0, 0, '1790-07-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5801, 5801, 19, 0, 0, 0, '1790-07-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5802, 5802, 19, 0, 0, 0, '1790-07-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5803, 5803, 19, 0, 0, 0, '1790-07-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5804, 5804, 19, 0, 0, 0, '1790-07-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5805, 5805, 19, 0, 0, 0, '1790-07-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5806, 5806, 19, 0, 0, 0, '1790-07-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5807, 5807, 19, 0, 0, 0, '1790-07-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5808, 5808, 19, 0, 0, 0, '1790-07-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5809, 5809, 19, 0, 0, 0, '1790-07-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5810, 5810, 19, 0, 0, 0, '1790-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5811, 5811, 19, 0, 0, 0, '1790-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5812, 5812, 19, 0, 0, 0, '1790-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5813, 5813, 19, 0, 0, 0, '1790-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5814, 5814, 19, 0, 0, 0, '1790-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5815, 5815, 19, 0, 0, 0, '1790-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5816, 5816, 19, 0, 0, 0, '1790-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5817, 5817, 19, 0, 0, 0, '1790-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5818, 5818, 19, 0, 0, 0, '1790-07-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5819, 5819, 19, 0, 0, 0, '1790-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5820, 5820, 19, 0, 0, 0, '1790-08-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5821, 5821, 19, 0, 0, 0, '1790-08-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5822, 5822, 19, 0, 0, 0, '1790-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5823, 5823, 19, 0, 0, 0, '1790-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5824, 5824, 19, 0, 0, 0, '1790-08-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5825, 5825, 19, 0, 0, 0, '1790-08-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5826, 5826, 19, 0, 0, 0, '1790-08-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5827, 5827, 19, 0, 0, 0, '1790-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5828, 5828, 19, 0, 0, 0, '1790-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5829, 5829, 19, 0, 0, 0, '1790-08-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5830, 5830, 1175, 0, 0, 0, '1772-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5831, 5831, 1175, 0, 0, 0, '1772-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5832, 5832, 1175, 0, 0, 0, '1772-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5833, 5833, 26, 0, 0, 0, '1778-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5834, 5834, 26, 0, 0, 0, '1778-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5835, 5835, 26, 0, 0, 0, '1778-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5836, 5836, 26, 0, 0, 0, '1778-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5837, 5837, 26, 0, 0, 0, '1778-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5838, 5838, 26, 0, 0, 0, '1778-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5839, 5839, 26, 0, 0, 0, '1778-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5840, 5840, 26, 0, 0, 0, '1778-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5841, 5841, 26, 0, 0, 0, '1778-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5842, 5842, 26, 0, 0, 0, '1778-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5843, 5843, 26, 0, 0, 0, '1778-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5844, 5844, 26, 0, 0, 0, '1778-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5845, 5845, 26, 0, 0, 0, '1778-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5846, 5846, 26, 0, 0, 0, '1778-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5847, 5847, 26, 0, 0, 0, '1778-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5848, 5848, 1175, 0, 0, 0, '1772-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5849, 5849, 1175, 0, 0, 0, '1772-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5850, 5850, 1175, 0, 0, 0, '1772-01-23 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5851, 5851, 1175, 0, 0, 0, '1772-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5852, 5852, 1175, 0, 0, 0, '1772-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5853, 5853, 27, 0, 0, 0, '1796-02-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5854, 5854, 27, 0, 0, 0, '1796-02-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5855, 5855, 27, 0, 0, 0, '1796-02-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5856, 5856, 27, 0, 0, 0, '1796-02-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5857, 5857, 27, 0, 0, 0, '1796-02-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5858, 5858, 27, 0, 0, 0, '1796-02-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5859, 5859, 27, 0, 0, 0, '1796-02-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5860, 5860, 27, 0, 0, 0, '1796-02-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5861, 5861, 27, 0, 0, 0, '1796-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5862, 5862, 27, 0, 0, 0, '1796-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5863, 5863, 27, 0, 0, 0, '1796-03-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5864, 5864, 27, 0, 0, 0, '1796-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5865, 5865, 28, 0, 0, 0, '1773-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5866, 5866, 28, 0, 0, 0, '1773-03-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5867, 5867, 28, 0, 0, 0, '1773-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5868, 5868, 28, 0, 0, 0, '1772-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5869, 5869, 28, 0, 0, 0, '1772-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5870, 5870, 28, 0, 0, 0, '1772-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5871, 5871, 28, 0, 0, 0, '1772-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5872, 5872, 28, 0, 0, 0, '1772-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5873, 5873, 28, 0, 0, 0, '1772-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5874, 5874, 28, 0, 0, 0, '1772-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5875, 5875, 28, 0, 0, 0, '1772-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5876, 5876, 28, 0, 0, 0, '1772-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5877, 5877, 1175, 0, 0, 0, '1772-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5878, 5878, 29, 0, 0, 0, '1797-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5879, 5879, 29, 0, 0, 0, '1797-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5880, 5880, 29, 0, 0, 0, '1797-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5881, 5881, 29, 0, 0, 0, '1797-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5882, 5882, 29, 0, 0, 0, '1797-10-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5883, 5883, 29, 0, 0, 0, '1797-10-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5884, 5884, 29, 0, 0, 0, '1797-10-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5885, 5885, 29, 0, 0, 0, '1797-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5886, 5886, 29, 0, 0, 0, '1797-10-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5887, 5887, 29, 0, 0, 0, '1797-10-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5888, 5888, 29, 0, 0, 0, '1797-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5889, 5889, 29, 0, 0, 0, '1797-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5890, 5890, 29, 0, 0, 0, '1797-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5891, 5891, 29, 0, 0, 0, '1797-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5892, 5892, 29, 0, 0, 0, '1797-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5893, 5893, 29, 0, 0, 0, '1797-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5894, 5894, 29, 0, 0, 0, '1797-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5895, 5895, 29, 0, 0, 0, '1797-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5896, 5896, 29, 0, 0, 0, '1797-10-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5897, 5897, 29, 0, 0, 0, '1797-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5898, 5898, 29, 0, 0, 0, '1797-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5899, 5899, 29, 0, 0, 0, '1797-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5900, 5900, 29, 0, 0, 0, '1797-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5901, 5901, 29, 0, 0, 0, '1797-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5902, 5902, 29, 0, 0, 0, '1797-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5903, 5903, 29, 0, 0, 0, '1797-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5904, 5904, 29, 0, 0, 0, '1797-11-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5905, 5905, 29, 0, 0, 0, '1797-11-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5906, 5906, 27, 0, 0, 0, '1796-02-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5907, 5907, 27, 0, 0, 0, '1796-02-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5908, 5908, 27, 0, 0, 0, '1796-02-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5909, 5909, 27, 0, 0, 0, '1796-02-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5910, 5910, 1175, 0, 0, 0, '1772-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5911, 5911, 1175, 0, 0, 0, '1771-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5912, 5912, 1175, 0, 0, 0, '1772-04-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5913, 5913, 1175, 0, 0, 0, '1772-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5914, 5914, 1175, 0, 0, 0, '1772-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5915, 5915, 1175, 0, 0, 0, '1772-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5916, 5916, 1175, 0, 0, 0, '1772-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5917, 5917, 1175, 0, 0, 0, '1772-04-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5918, 5918, 27, 0, 0, 0, '1796-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5919, 5919, 27, 0, 0, 0, '1796-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5920, 5920, 27, 0, 0, 0, '1796-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5921, 5921, 27, 0, 0, 0, '1796-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5922, 5922, 27, 0, 0, 0, '1796-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5923, 5923, 27, 0, 0, 0, '1796-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5924, 5924, 1175, 0, 0, 0, '1772-04-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5925, 5925, 27, 0, 0, 0, '1795-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5926, 5926, 27, 0, 0, 0, '1795-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5927, 5927, 27, 0, 0, 0, '1795-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5928, 5928, 27, 0, 0, 0, '1795-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5929, 5929, 27, 0, 0, 0, '1795-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5930, 5930, 27, 0, 0, 0, '1795-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5931, 5931, 27, 0, 0, 0, '1795-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5932, 5932, 27, 0, 0, 0, '1795-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5933, 5933, 27, 0, 0, 0, '1795-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5934, 5934, 1175, 0, 0, 0, '1772-04-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5935, 5935, 1175, 0, 0, 0, '1772-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5936, 5936, 1175, 0, 0, 0, '1772-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5937, 5937, 27, 0, 0, 0, '1795-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5938, 5938, 27, 0, 0, 0, '1795-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5939, 5939, 27, 0, 0, 0, '1795-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5940, 5940, 27, 0, 0, 0, '1795-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5941, 5941, 27, 0, 0, 0, '1795-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5942, 5942, 27, 0, 0, 0, '1795-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5943, 5943, 27, 0, 0, 0, '1795-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5944, 5944, 27, 0, 0, 0, '1795-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5945, 5945, 27, 0, 0, 0, '1795-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5946, 5946, 27, 0, 0, 0, '1795-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5947, 5947, 27, 0, 0, 0, '1795-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5948, 5948, 27, 0, 0, 0, '1795-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5949, 5949, 27, 0, 0, 0, '1795-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5950, 5950, 27, 0, 0, 0, '1795-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5951, 5951, 27, 0, 0, 0, '1795-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5952, 5952, 27, 0, 0, 0, '1795-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5953, 5953, 27, 0, 0, 0, '1795-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5954, 5954, 27, 0, 0, 0, '1795-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5955, 5955, 27, 0, 0, 0, '1796-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5956, 5956, 27, 0, 0, 0, '1796-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5957, 5957, 1175, 0, 0, 0, '1772-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5958, 5958, 1175, 0, 0, 0, '1772-06-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5959, 5959, 1175, 0, 0, 0, '1772-06-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5960, 5960, 27, 0, 0, 0, '1795-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5961, 5961, 27, 0, 0, 0, '1795-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5962, 5962, 27, 0, 0, 0, '1795-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5963, 5963, 27, 0, 0, 0, '1795-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5964, 5964, 27, 0, 0, 0, '1795-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5965, 5965, 27, 0, 0, 0, '1795-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5966, 5966, 27, 0, 0, 0, '1795-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5967, 5967, 27, 0, 0, 0, '1795-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5968, 5968, 27, 0, 0, 0, '1795-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5969, 5969, 27, 0, 0, 0, '1795-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5970, 5970, 27, 0, 0, 0, '1795-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5971, 5971, 27, 0, 0, 0, '1795-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5972, 5972, 27, 0, 0, 0, '1795-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5973, 5973, 27, 0, 0, 0, '1796-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5974, 5974, 27, 0, 0, 0, '1796-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5975, 5975, 27, 0, 0, 0, '1796-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5976, 5976, 27, 0, 0, 0, '1796-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5977, 5977, 27, 0, 0, 0, '1796-01-28 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5986, 6093, 26, 0, 0, 0, '1778-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5987, 6094, 26, 0, 0, 0, '1778-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5988, 6095, 26, 0, 0, 0, '1778-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5989, 6096, 26, 0, 0, 0, '1778-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5990, 6097, 26, 0, 0, 0, '1778-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5991, 6098, 26, 0, 0, 0, '1778-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5992, 6099, 26, 0, 0, 0, '1778-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5993, 6100, 26, 0, 0, 0, '1778-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5994, 6101, 26, 0, 0, 0, '1778-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5995, 6102, 26, 0, 0, 0, '1778-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5996, 6103, 26, 0, 0, 0, '1778-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5997, 6104, 26, 0, 0, 0, '1778-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5998, 6105, 26, 0, 0, 0, '1778-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (5999, 6106, 26, 0, 0, 0, '1778-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6000, 6107, 26, 0, 0, 0, '1778-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6001, 6108, 26, 0, 0, 0, '1778-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6002, 6109, 26, 0, 0, 0, '1778-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6003, 6110, 26, 0, 0, 0, '1778-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6004, 6111, 26, 0, 0, 0, '1778-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6005, 6112, 26, 0, 0, 0, '1778-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6006, 6113, 26, 0, 0, 0, '1778-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6007, 6114, 26, 0, 0, 0, '1778-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6008, 6115, 26, 0, 0, 0, '1778-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6009, 6116, 26, 0, 0, 0, '1778-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6010, 6117, 26, 0, 0, 0, '1778-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6011, 6118, 26, 0, 0, 0, '1778-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6012, 6119, 26, 0, 0, 0, '1778-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6013, 5983, 27, 0, 0, 0, '1796-02-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6014, 5984, 27, 0, 0, 0, '1796-02-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6015, 5985, 27, 0, 0, 0, '1796-02-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6016, 5986, 27, 0, 0, 0, '1796-02-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6017, 5987, 27, 0, 0, 0, '1796-02-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6018, 5988, 27, 0, 0, 0, '1796-02-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6019, 5989, 27, 0, 0, 0, '1796-02-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6020, 5990, 27, 0, 0, 0, '1796-02-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6021, 5991, 27, 0, 0, 0, '1796-02-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6022, 5992, 27, 0, 0, 0, '1796-02-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6023, 5993, 27, 0, 0, 0, '1796-02-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6024, 5994, 27, 0, 0, 0, '1796-03-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6025, 5995, 29, 0, 0, 0, '1797-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6026, 5996, 29, 0, 0, 0, '1797-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6027, 5997, 29, 0, 0, 0, '1797-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6028, 5998, 29, 0, 0, 0, '1797-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6029, 5999, 29, 0, 0, 0, '1797-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6030, 6000, 29, 0, 0, 0, '1797-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6031, 6001, 29, 0, 0, 0, '1797-11-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6032, 6002, 1175, 0, 0, 0, '1771-10-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6033, 6003, 29, 0, 0, 0, '1797-11-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6034, 6004, 29, 0, 0, 0, '1797-11-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6035, 6005, 29, 0, 0, 0, '1797-11-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6036, 6006, 29, 0, 0, 0, '1797-11-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6037, 6007, 29, 0, 0, 0, '1797-11-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6038, 6008, 29, 0, 0, 0, '1797-11-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6039, 6009, 29, 0, 0, 0, '1797-11-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6040, 6010, 29, 0, 0, 0, '1797-11-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6041, 6011, 29, 0, 0, 0, '1797-11-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6042, 6012, 29, 0, 0, 0, '1797-11-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6043, 6013, 29, 0, 0, 0, '1797-11-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6044, 6014, 29, 0, 0, 0, '1797-11-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6045, 6015, 29, 0, 0, 0, '1797-11-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6046, 6016, 29, 0, 0, 0, '1797-11-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6047, 6017, 29, 0, 0, 0, '1797-11-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6048, 6018, 29, 0, 0, 0, '1797-11-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6049, 6019, 29, 0, 0, 0, '1797-11-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6050, 6020, 29, 0, 0, 0, '1797-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6051, 6021, 29, 0, 0, 0, '1797-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6052, 6022, 29, 0, 0, 0, '1797-11-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6053, 6023, 29, 0, 0, 0, '1797-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6054, 6024, 29, 0, 0, 0, '1797-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6055, 6025, 29, 0, 0, 0, '1797-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6056, 6026, 29, 0, 0, 0, '1797-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6057, 6027, 29, 0, 0, 0, '1797-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6058, 6028, 29, 0, 0, 0, '1797-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6059, 6029, 29, 0, 0, 0, '1797-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6060, 6030, 29, 0, 0, 0, '1797-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6061, 6031, 29, 0, 0, 0, '1797-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6062, 6032, 29, 0, 0, 0, '1797-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6063, 6033, 29, 0, 0, 0, '1797-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6064, 6034, 29, 0, 0, 0, '1797-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6065, 6035, 29, 0, 0, 0, '1797-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6066, 6036, 29, 0, 0, 0, '1797-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6067, 6037, 29, 0, 0, 0, '1797-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6068, 6038, 29, 0, 0, 0, '1797-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6069, 6039, 29, 0, 0, 0, '1797-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6070, 6040, 29, 0, 0, 0, '1797-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6071, 6041, 29, 0, 0, 0, '1797-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6072, 6042, 29, 0, 0, 0, '1797-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6073, 6043, 29, 0, 0, 0, '1797-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6074, 6044, 29, 0, 0, 0, '1797-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6075, 6045, 29, 0, 0, 0, '1797-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6076, 6046, 29, 0, 0, 0, '1797-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6077, 6047, 29, 0, 0, 0, '1797-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6078, 6048, 29, 0, 0, 0, '1797-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6079, 6049, 29, 0, 0, 0, '1797-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6080, 6050, 29, 0, 0, 0, '1797-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6081, 6051, 29, 0, 0, 0, '1797-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6082, 6052, 29, 0, 0, 0, '1797-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6083, 6053, 29, 0, 0, 0, '1797-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6084, 6054, 29, 0, 0, 0, '1797-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6085, 6055, 29, 0, 0, 0, '1797-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6086, 6056, 29, 0, 0, 0, '1798-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6087, 6057, 29, 0, 0, 0, '1798-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6088, 6058, 29, 0, 0, 0, '1798-01-03 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6089, 6059, 29, 0, 0, 0, '1798-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6090, 6060, 29, 0, 0, 0, '1798-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6091, 6061, 29, 0, 0, 0, '1798-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6092, 6062, 29, 0, 0, 0, '1798-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6093, 6063, 29, 0, 0, 0, '1798-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6094, 6064, 29, 0, 0, 0, '1798-01-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6095, 6065, 29, 0, 0, 0, '1798-01-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6096, 6066, 26, 0, 0, 0, '1778-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6097, 6067, 26, 0, 0, 0, '1778-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6098, 6068, 26, 0, 0, 0, '1778-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6099, 6069, 26, 0, 0, 0, '1778-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6100, 6070, 26, 0, 0, 0, '1778-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6101, 6071, 26, 0, 0, 0, '1778-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6102, 6072, 26, 0, 0, 0, '1778-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6103, 6073, 26, 0, 0, 0, '1778-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6104, 6074, 26, 0, 0, 0, '1778-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6105, 6075, 26, 0, 0, 0, '1778-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6106, 6076, 26, 0, 0, 0, '1778-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6107, 6077, 26, 0, 0, 0, '1778-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6108, 6078, 26, 0, 0, 0, '1778-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6109, 6079, 26, 0, 0, 0, '1778-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6110, 6080, 26, 0, 0, 0, '1778-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6111, 6081, 26, 0, 0, 0, '1778-10-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6112, 6082, 26, 0, 0, 0, '1778-10-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6113, 6083, 26, 0, 0, 0, '1778-10-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6114, 6084, 26, 0, 0, 0, '1778-10-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6115, 6085, 26, 0, 0, 0, '1778-11-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6116, 6086, 26, 0, 0, 0, '1778-11-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6117, 6087, 26, 0, 0, 0, '1778-11-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6118, 6088, 26, 0, 0, 0, '1778-11-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6119, 6089, 26, 0, 0, 0, '1778-11-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6120, 6120, 26, 0, 0, 0, '1778-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6121, 6121, 26, 0, 0, 0, '1778-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6122, 6122, 26, 0, 0, 0, '1778-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6123, 6123, 26, 0, 0, 0, '1778-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6124, 6124, 26, 0, 0, 0, '1778-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6125, 6125, 26, 0, 0, 0, '1778-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6126, 6126, 26, 0, 0, 0, '1778-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6127, 6127, 26, 0, 0, 0, '1778-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6128, 6128, 26, 0, 0, 0, '1778-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6129, 6129, 26, 0, 0, 0, '1778-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6130, 6130, 26, 0, 0, 0, '1778-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6131, 6131, 26, 0, 0, 0, '1778-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6132, 6132, 26, 0, 0, 0, '1778-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6133, 6133, 26, 0, 0, 0, '1778-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6134, 6134, 26, 0, 0, 0, '1778-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6135, 6135, 26, 0, 0, 0, '1778-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6136, 6136, 26, 0, 0, 0, '1778-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6137, 6137, 26, 0, 0, 0, '1778-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6138, 6138, 26, 0, 0, 0, '1778-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6139, 6139, 26, 0, 0, 0, '1778-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6140, 6140, 26, 0, 0, 0, '1778-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6141, 6141, 26, 0, 0, 0, '1778-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6142, 6142, 26, 0, 0, 0, '1778-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6143, 6143, 26, 0, 0, 0, '1778-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6144, 6144, 26, 0, 0, 0, '1778-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6145, 6145, 26, 0, 0, 0, '1778-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6146, 6146, 26, 0, 0, 0, '1779-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6147, 6147, 28, 0, 0, 0, '1773-01-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6148, 6148, 28, 0, 0, 0, '1772-08-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6149, 6149, 28, 0, 0, 0, '1772-08-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6150, 6150, 28, 0, 0, 0, '1772-08-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6151, 6151, 28, 0, 0, 0, '1772-08-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6152, 6152, 28, 0, 0, 0, '1772-08-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6153, 6153, 28, 0, 0, 0, '1772-08-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6154, 6154, 30, 0, 0, 0, '1847-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6155, 6155, 30, 0, 0, 0, '1847-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6156, 6156, 30, 0, 0, 0, '1847-06-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6157, 6157, 30, 0, 0, 0, '1847-06-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6158, 6158, 30, 0, 0, 0, '1847-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6159, 6159, 30, 0, 0, 0, '1847-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6160, 6160, 30, 0, 0, 0, '1848-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6161, 6161, 30, 0, 0, 0, '1848-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6162, 6162, 28, 0, 0, 0, '1772-12-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6163, 6163, 28, 0, 0, 0, '1772-12-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6164, 6164, 28, 0, 0, 0, '1773-01-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6165, 6165, 28, 0, 0, 0, '1773-01-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6166, 6166, 28, 0, 0, 0, '1773-01-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6167, 6167, 28, 0, 0, 0, '1773-01-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6168, 6168, 28, 0, 0, 0, '1773-01-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6169, 6169, 28, 0, 0, 0, '1773-01-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6170, 6170, 28, 0, 0, 0, '1773-01-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6171, 6171, 28, 0, 0, 0, '1773-01-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6172, 6172, 28, 0, 0, 0, '1773-01-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6173, 6397, 30, 0, 0, 0, '1849-07-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6174, 6398, 30, 0, 0, 0, '1849-07-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6175, 6399, 30, 0, 0, 0, '1849-07-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6176, 6400, 30, 0, 0, 0, '1849-07-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6177, 6401, 30, 0, 0, 0, '1849-07-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6178, 6402, 30, 0, 0, 0, '1849-07-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6179, 6403, 30, 0, 0, 0, '1849-07-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6180, 6404, 30, 0, 0, 0, '1849-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6181, 6405, 30, 0, 0, 0, '1849-07-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6182, 6406, 31, 0, 0, 0, '1849-03-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6183, 6407, 31, 0, 0, 0, '1849-03-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6184, 6408, 31, 0, 0, 0, '1849-03-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6185, 6409, 31, 0, 0, 0, '1849-03-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6186, 6410, 31, 0, 0, 0, '1849-03-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6187, 6411, 31, 0, 0, 0, '1849-03-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6188, 6412, 31, 0, 0, 0, '1849-03-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6189, 6413, 31, 0, 0, 0, '1849-03-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6190, 6414, 31, 0, 0, 0, '1849-04-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6191, 6415, 31, 0, 0, 0, '1849-04-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6192, 6416, 31, 0, 0, 0, '1849-04-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6193, 6417, 31, 0, 0, 0, '1849-04-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6194, 6418, 31, 0, 0, 0, '1849-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6195, 6419, 31, 0, 0, 0, '1849-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6196, 6420, 31, 0, 0, 0, '1849-05-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6197, 6421, 31, 0, 0, 0, '1849-05-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6198, 6422, 31, 0, 0, 0, '1849-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6199, 6423, 31, 0, 0, 0, '1849-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6200, 6424, 31, 0, 0, 0, '1849-05-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6201, 6425, 31, 0, 0, 0, '1849-05-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6202, 6173, 28, 0, 0, 0, '1773-01-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6203, 6174, 28, 0, 0, 0, '1773-01-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6204, 6175, 28, 0, 0, 0, '1773-01-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6205, 6176, 28, 0, 0, 0, '1773-01-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6206, 6177, 28, 0, 0, 0, '1773-01-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6207, 6178, 28, 0, 0, 0, '1773-01-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6208, 6179, 28, 0, 0, 0, '1773-01-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6209, 6180, 28, 0, 0, 0, '1773-01-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6210, 6181, 28, 0, 0, 0, '1773-03-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6211, 6182, 28, 0, 0, 0, '1773-03-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6212, 6183, 31, 0, 0, 0, '1849-05-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6213, 6184, 31, 0, 0, 0, '1849-04-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6214, 6185, 31, 0, 0, 0, '1849-04-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6215, 6186, 31, 0, 0, 0, '1849-04-09 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6250, 6221, 28, 0, 0, 0, '1772-07-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6251, 6222, 28, 0, 0, 0, '1772-08-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6252, 6223, 28, 0, 0, 0, '1772-08-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6253, 6224, 28, 0, 0, 0, '1772-08-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6254, 6225, 28, 0, 0, 0, '1772-08-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6255, 6226, 28, 0, 0, 0, '1772-08-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6256, 6227, 28, 0, 0, 0, '1772-08-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6257, 6228, 28, 0, 0, 0, '1772-08-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6258, 6229, 28, 0, 0, 0, '1772-08-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6259, 6230, 28, 0, 0, 0, '1772-08-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6260, 6231, 28, 0, 0, 0, '1772-08-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6261, 6232, 28, 0, 0, 0, '1772-08-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6262, 6233, 28, 0, 0, 0, '1772-08-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6263, 6234, 28, 0, 0, 0, '1772-08-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6264, 6235, 28, 0, 0, 0, '1772-08-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6265, 6236, 28, 0, 0, 0, '1772-08-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6266, 6237, 28, 0, 0, 0, '1772-08-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6267, 6238, 28, 0, 0, 0, '1772-08-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6268, 6239, 28, 0, 0, 0, '1772-09-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6269, 6240, 28, 0, 0, 0, '1772-09-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6270, 6241, 28, 0, 0, 0, '1772-09-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6271, 6242, 28, 0, 0, 0, '1772-09-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6272, 6243, 28, 0, 0, 0, '1772-09-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6273, 6244, 28, 0, 0, 0, '1772-09-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6274, 6245, 28, 0, 0, 0, '1772-09-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6275, 6246, 28, 0, 0, 0, '1772-09-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6276, 6247, 28, 0, 0, 0, '1772-09-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6277, 6248, 28, 0, 0, 0, '1772-09-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6278, 6249, 28, 0, 0, 0, '1772-09-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6279, 6250, 28, 0, 0, 0, '1772-09-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6280, 6251, 28, 0, 0, 0, '1772-09-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6281, 6252, 28, 0, 0, 0, '1772-09-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6282, 6253, 28, 0, 0, 0, '1772-09-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6283, 6254, 28, 0, 0, 0, '1772-09-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6284, 6255, 28, 0, 0, 0, '1772-09-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6285, 6256, 28, 0, 0, 0, '1772-09-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6286, 6257, 28, 0, 0, 0, '1772-09-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6287, 6258, 28, 0, 0, 0, '1772-09-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6288, 6259, 28, 0, 0, 0, '1772-10-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6289, 6260, 28, 0, 0, 0, '1772-10-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6290, 6261, 28, 0, 0, 0, '1772-10-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6291, 6262, 28, 0, 0, 0, '1772-10-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6292, 6263, 28, 0, 0, 0, '1772-10-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6293, 6264, 28, 0, 0, 0, '1772-10-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6294, 6265, 28, 0, 0, 0, '1772-10-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6295, 6266, 28, 0, 0, 0, '1772-10-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6296, 6267, 28, 0, 0, 0, '1772-10-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6297, 6268, 28, 0, 0, 0, '1772-10-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6298, 6269, 28, 0, 0, 0, '1772-10-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6299, 6270, 28, 0, 0, 0, '1772-10-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6300, 6271, 28, 0, 0, 0, '1772-10-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6301, 6272, 28, 0, 0, 0, '1772-10-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6302, 6273, 28, 0, 0, 0, '1772-10-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6303, 6274, 28, 0, 0, 0, '1772-10-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6304, 6275, 28, 0, 0, 0, '1772-10-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6305, 6276, 28, 0, 0, 0, '1772-10-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6306, 6277, 28, 0, 0, 0, '1772-10-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6307, 6278, 28, 0, 0, 0, '1772-10-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6308, 6279, 28, 0, 0, 0, '1772-12-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6309, 6280, 28, 0, 0, 0, '1772-12-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6310, 6281, 28, 0, 0, 0, '1772-12-24 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6311, 6282, 28, 0, 0, 0, '1772-12-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6312, 6283, 28, 0, 0, 0, '1772-12-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6313, 6284, 28, 0, 0, 0, '1772-12-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6314, 6285, 28, 0, 0, 0, '1772-12-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6315, 6286, 28, 0, 0, 0, '1772-12-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6316, 6287, 28, 0, 0, 0, '1772-11-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6317, 6288, 28, 0, 0, 0, '1772-11-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6318, 6289, 28, 0, 0, 0, '1772-12-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6319, 6290, 28, 0, 0, 0, '1772-12-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6320, 6291, 28, 0, 0, 0, '1772-12-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6321, 6292, 28, 0, 0, 0, '1772-12-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6322, 6293, 28, 0, 0, 0, '1772-12-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6323, 6294, 28, 0, 0, 0, '1772-12-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6324, 6295, 28, 0, 0, 0, '1772-12-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6325, 6296, 28, 0, 0, 0, '1772-12-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6326, 6297, 28, 0, 0, 0, '1772-12-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6327, 6298, 28, 0, 0, 0, '1772-12-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6328, 6299, 31, 0, 0, 0, '1849-05-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6329, 6300, 31, 0, 0, 0, '1849-04-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6330, 6301, 31, 0, 0, 0, '1849-04-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6331, 6302, 31, 0, 0, 0, '1849-04-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6332, 6303, 31, 0, 0, 0, '1849-04-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6333, 6304, 31, 0, 0, 0, '1849-04-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6334, 6305, 31, 0, 0, 0, '1849-04-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6335, 6306, 31, 0, 0, 0, '1849-04-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6336, 6307, 31, 0, 0, 0, '1849-04-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6337, 6308, 31, 0, 0, 0, '1849-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6338, 6309, 31, 0, 0, 0, '1849-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6339, 6310, 31, 0, 0, 0, '1849-05-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6340, 6311, 31, 0, 0, 0, '1849-05-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6341, 6312, 31, 0, 0, 0, '1849-05-04 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6342, 6313, 31, 0, 0, 0, '1849-05-05 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6343, 6314, 31, 0, 0, 0, '1849-05-06 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6344, 6315, 31, 0, 0, 0, '1849-05-07 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6345, 6316, 31, 0, 0, 0, '1849-05-08 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6346, 6317, 31, 0, 0, 0, '1849-05-09 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6347, 6318, 31, 0, 0, 0, '1849-05-10 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6348, 6319, 31, 0, 0, 0, '1849-05-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6349, 6320, 31, 0, 0, 0, '1849-05-22 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6350, 6321, 31, 0, 0, 0, '1849-05-23 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6351, 6322, 31, 0, 0, 0, '1849-04-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6352, 6323, 31, 0, 0, 0, '1849-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6353, 6324, 31, 0, 0, 0, '1849-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6354, 6325, 31, 0, 0, 0, '1849-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6355, 6326, 31, 0, 0, 0, '1849-05-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6356, 6327, 31, 0, 0, 0, '1849-05-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6357, 6328, 28, 0, 0, 0, '1772-12-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6358, 6329, 28, 0, 0, 0, '1772-12-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6359, 6330, 28, 0, 0, 0, '1772-12-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6360, 6331, 28, 0, 0, 0, '1772-12-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6361, 6332, 28, 0, 0, 0, '1772-12-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6362, 6333, 28, 0, 0, 0, '1772-12-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6363, 6334, 28, 0, 0, 0, '1772-12-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6364, 6335, 28, 0, 0, 0, '1772-12-18 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6365, 6336, 28, 0, 0, 0, '1773-01-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6366, 6337, 28, 0, 0, 0, '1773-01-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6367, 6338, 28, 0, 0, 0, '1773-01-14 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6368, 6339, 28, 0, 0, 0, '1773-01-15 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6369, 6340, 28, 0, 0, 0, '1772-12-19 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6370, 6341, 28, 0, 0, 0, '1772-12-20 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6371, 6342, 28, 0, 0, 0, '1772-12-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6372, 6343, 28, 0, 0, 0, '1773-01-11 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6373, 6344, 28, 0, 0, 0, '1773-01-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6374, 6345, 28, 0, 0, 0, '1773-01-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6375, 6346, 28, 0, 0, 0, '1773-01-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6376, 6347, 28, 0, 0, 0, '1773-01-28 00:00:00');

INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6410, 6381, 30, 0, 0, 0, '1847-04-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6411, 6382, 30, 0, 0, 0, '1847-04-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6412, 6383, 30, 0, 0, 0, '1847-04-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6413, 6384, 30, 0, 0, 0, '1847-04-29 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6414, 6385, 30, 0, 0, 0, '1847-04-30 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6415, 6386, 30, 0, 0, 0, '1847-05-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6416, 6387, 30, 0, 0, 0, '1847-05-25 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6417, 6388, 30, 0, 0, 0, '1847-05-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6418, 6389, 30, 0, 0, 0, '1847-05-28 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6419, 6390, 30, 0, 0, 0, '1848-11-26 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6420, 6391, 30, 0, 0, 0, '1848-11-27 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6421, 6392, 30, 0, 0, 0, '1849-05-12 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6422, 6393, 30, 0, 0, 0, '1849-05-13 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6423, 6394, 30, 0, 0, 0, '1849-05-16 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6424, 6395, 30, 0, 0, 0, '1849-05-17 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6425, 6396, 30, 0, 0, 0, '1849-07-21 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6426, 6426, 31, 0, 0, 0, '1849-05-31 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6427, 6427, 31, 0, 0, 0, '1849-06-01 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6428, 6428, 31, 0, 0, 0, '1849-06-02 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6429, 6429, 31, 0, 0, 0, '1849-06-03 00:00:00');
INSERT INTO CS689.dbo.Fact_Trip(Id, RecID, DimShipId, LifeOnBoard, ShipAndRig, Illustrations, Date) values (6430, 6430, 31, 0, 0, 0, '1849-06-04 00:00:00');

DataError: ('22007', '[22007] [Microsoft][ODBC SQL Server Driver][SQL Server]从 varchar 数据类型到 datetime 数据类型的转换产生一个超出范围的值。 (242) (SQLExecDirectW); [22007] [Microsoft][ODBC SQL Server Driver][SQL Server]语句已终止。 (3621)')

In [28]:
conn.commit()

#### Extra Credit - Extending the dimension

In [ ]:
#  Name1 and Rank1.  Add two columns to the DimShip dataframe and populate them with the corresponding values found in the Trip dataframe
Trip[['Name1','Rank1']]

In [ ]:
#### Adding columns to a dimension table
## copying column data from Trip 'Name1','Rank1'column to DimShip
#TripExt = Trip.merge(DimShip, on=["ShipName", "ShipType", "Nationality"], how='left')
name1Rank1Info = Trip.loc[:,["ShipName", "ShipType", "Nationality","Name1","Rank1"]]
name1Rank1Info.drop_duplicates(subset=["ShipName", "ShipType", "Nationality"], keep="first", inplace=True)
# This is what a merge would look like ... we will use it to add the Cabin column to the titanicDim dataframe
DimShip.merge(name1Rank1Info, on=["ShipName", "ShipType", "Nationality"], how='left', indicator=True)

In [ ]:
# Populating the 'Name1','Rank1' field
DimShip["Name1"]=DimShip.merge(name1Rank1Info, on=["ShipName", "ShipType", "Nationality"], how='left', indicator=True)["Name1"]
DimShip["Rank1"]=DimShip.merge(name1Rank1Info, on=["ShipName", "ShipType", "Nationality"], how='left', indicator=True)["Rank1"]
DimShip.head(20)