# final report

In [1]:
import pandas as pd

# Design the ETL Processing

## Extraction

### Look up the dataset infomartion

In [2]:
VaersVax=pd.read_csv("2021VAERSVAX.csv")
print("VaersVax: "+str(VaersVax.shape[0]) + " rows and " + str(VaersVax.shape[1]) + " columns.")

VaersVax: 445358 rows and 8 columns.

In [3]:
# VaersVax.info

In [4]:
VaersVax.head(5)

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,916600,COVID19,MODERNA,037K20A,1,IM,LA,COVID19 (COVID19 (MODERNA))
1,916601,COVID19,MODERNA,025L20A,1,IM,RA,COVID19 (COVID19 (MODERNA))
2,916602,COVID19,PFIZER\BIONTECH,EL1284,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,COVID19,MODERNA,unknown,UNK,NaN,NaN,COVID19 (COVID19 (MODERNA))
4,916604,COVID19,MODERNA,NaN,1,IM,LA,COVID19 (COVID19 (MODERNA))

In [5]:
VaersSymptoms=pd.read_csv("2021VAERSSYMPTOMS.csv")
print("VaersSymptoms: "+str(VaersSymptoms.shape[0]) + " rows and " + str(VaersSymptoms.shape[1]) + " columns.")

VaersSymptoms: 575022 rows and 11 columns.

In [6]:
# VaersSymptoms.info

In [7]:
VaersSymptoms.head(5)

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN

In [8]:
VaersData=pd.read_csv("2021VAERSDATA.csv",error_bad_lines=False)
print("VaersData: "+str(VaersData.shape[0]) + " rows and " + str(VaersData.shape[1]) + " columns.")

b'Skipping line 355: expected 35 fields, saw 38\nSkipping line 6926: expected 35 fields, saw 36\nSkipping line 6984: expected 35 fields, saw 39\nSkipping line 11916: expected 35 fields, saw 40\nSkipping line 12759: expected 35 fields, saw 39\nSkipping line 13142: expected 35 fields, saw 42\nSkipping line 13380: expected 35 fields, saw 38\nSkipping line 13557: expected 35 fields, saw 63\nSkipping line 13813: expected 35 fields, saw 40\n'
b'Skipping line 19392: expected 35 fields, saw 42\nSkipping line 21092: expected 35 fields, saw 38\nSkipping line 32631: expected 35 fields, saw 50\n'
b'Skipping line 51900: expected 35 fields, saw 52\n'
b'Skipping line 72563: expected 35 fields, saw 37\nSkipping line 72701: expected 35 fields, saw 37\nSkipping line 76931: expected 35 fields, saw 36\n'
b'Skipping line 85325: expected 35 fields, saw 65\nSkipping line 86905: expected 35 fields, saw 51\nSkipping line 90334: expected 35 fields, saw 55\nSkipping line 90562: expected 35 fields, saw 37\n'
b'Skipping line 103077: expected 35 fields, saw 39\nSkipping line 111265: expected 35 fields, saw 56\nSkipping line 111519: expected 35 fields, saw 37\nSkipping line 112185: expected 35 fields, saw 36\n'
b'Skipping line 161264: expected 35 fields, saw 36\n'
b'Skipping line 166492: expected 35 fields, saw 45\n'
b'Skipping line 214318: expected 35 fields, saw 53\n'
b'Skipping line 256125: expected 35 fields, saw 41\n'
b'Skipping line 372876: expected 35 fields, saw 43\n'
b'Skipping line 426535: expected 35 fields, saw 37\n'
D:\00Tools\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7,12,14,20,23,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

VaersData: 428425 rows and 35 columns.

In [9]:
# VaersData.info

VaersData.head(5)

## Transformation

### Data cleansing

####  Remove duplicates records of the dataset

In [10]:
VaersVax.drop_duplicates()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,916600,COVID19,MODERNA,037K20A,1,IM,LA,COVID19 (COVID19 (MODERNA))
1,916601,COVID19,MODERNA,025L20A,1,IM,RA,COVID19 (COVID19 (MODERNA))
2,916602,COVID19,PFIZER\BIONTECH,EL1284,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,COVID19,MODERNA,unknown,UNK,NaN,NaN,COVID19 (COVID19 (MODERNA))
4,916604,COVID19,MODERNA,NaN,1,IM,LA,COVID19 (COVID19 (MODERNA))
...,...,...,...,...,...,...,...,...
445353,1497722,COVID19,PFIZER\BIONTECH,EW0170,2,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
445354,1497724,COVID19,PFIZER\BIONTECH,EW0196,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
445355,1497725,COVID19,PFIZER\BIONTECH,EW0198,1,IM,RA,COVID19 (COVID19 (PFIZER-BIONTECH))
445356,1497726,COVID19,MODERNA,054c21a,1,IM,LA,COVID19 (COVID19 (MODERNA))
445357,1497727,COVID19,PFIZER\BIONTECH,ew0196,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))

In [11]:
VaersSymptoms.drop_duplicates()

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
575017,1497725,Loss of consciousness,24.0,Pallor,24.0,Presyncope,24.0,Syncope,24.0,Tremor,24.0
575018,1497725,Unresponsive to stimuli,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575019,1497726,Flushing,24.0,Hyperhidrosis,24.0,Hypotension,24.0,Syncope,24.0,Unresponsive to stimuli,24.0
575020,1497727,Dizziness,24.0,Feeling abnormal,24.0,Flushing,24.0,Head discomfort,24.0,Headache,24.0
575021,1497727,Hyperhidrosis,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
VaersData.drop_duplicates()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,01/01/2021,TX,33.0,33.0,NaN,F,NaN,Right side of epiglottis swelled up and hinder...,NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,Y,NaN,Pcn and bee venom
1,916601,01/01/2021,CA,73.0,73.0,NaN,F,NaN,Approximately 30 min post vaccination administ...,NaN,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,NaN,2,01/01/2021,NaN,Y,NaN,"""Dairy"""
2,916602,01/01/2021,WA,23.0,23.0,NaN,F,NaN,"About 15 minutes after receiving the vaccine, ...",NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,NaN,Y,Shellfish
3,916603,01/01/2021,WA,58.0,58.0,NaN,F,NaN,"extreme fatigue, dizziness,. could not lift my...",NaN,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",NaN,2,01/01/2021,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,01/01/2021,TX,47.0,47.0,NaN,F,NaN,"Injection site swelling, redness, warm to the ...",NaN,...,Na,NaN,NaN,NaN,2,01/01/2021,NaN,NaN,NaN,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428420,1497722,07/23/2021,NJ,49.0,49.0,NaN,M,NaN,"Systemic: Dizziness / Lightheadness-Mild, Addi...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428421,1497724,07/23/2021,PA,21.0,21.0,NaN,F,NaN,"Systemic: Hyperventilation-Mild, Systemic: Num...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428422,1497725,07/23/2021,GA,15.0,15.0,NaN,F,NaN,"Systemic: Confusion-Medium, Systemic: Dizzines...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428423,1497726,07/23/2021,CO,33.0,33.0,NaN,M,NaN,"Systemic: Fainting / Unresponsive-Mild, System...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428424,1497727,07/23/2021,AL,35.0,35.0,NaN,F,NaN,"Systemic: Dizziness / Lightheadness-Mild, Syst...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN

#### Checking whether all columns of dataset are null values that shouldn't be null

In [13]:
VaersSymptoms=VaersSymptoms.dropna(how='all')
VaersSymptoms

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
575017,1497725,Loss of consciousness,24.0,Pallor,24.0,Presyncope,24.0,Syncope,24.0,Tremor,24.0
575018,1497725,Unresponsive to stimuli,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575019,1497726,Flushing,24.0,Hyperhidrosis,24.0,Hypotension,24.0,Syncope,24.0,Unresponsive to stimuli,24.0
575020,1497727,Dizziness,24.0,Feeling abnormal,24.0,Flushing,24.0,Head discomfort,24.0,Headache,24.0
575021,1497727,Hyperhidrosis,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
VaersData=VaersData.dropna(how='all')
VaersData

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,01/01/2021,TX,33.0,33.0,NaN,F,NaN,Right side of epiglottis swelled up and hinder...,NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,Y,NaN,Pcn and bee venom
1,916601,01/01/2021,CA,73.0,73.0,NaN,F,NaN,Approximately 30 min post vaccination administ...,NaN,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,NaN,2,01/01/2021,NaN,Y,NaN,"""Dairy"""
2,916602,01/01/2021,WA,23.0,23.0,NaN,F,NaN,"About 15 minutes after receiving the vaccine, ...",NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,NaN,Y,Shellfish
3,916603,01/01/2021,WA,58.0,58.0,NaN,F,NaN,"extreme fatigue, dizziness,. could not lift my...",NaN,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",NaN,2,01/01/2021,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,01/01/2021,TX,47.0,47.0,NaN,F,NaN,"Injection site swelling, redness, warm to the ...",NaN,...,Na,NaN,NaN,NaN,2,01/01/2021,NaN,NaN,NaN,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428420,1497722,07/23/2021,NJ,49.0,49.0,NaN,M,NaN,"Systemic: Dizziness / Lightheadness-Mild, Addi...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428421,1497724,07/23/2021,PA,21.0,21.0,NaN,F,NaN,"Systemic: Hyperventilation-Mild, Systemic: Num...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428422,1497725,07/23/2021,GA,15.0,15.0,NaN,F,NaN,"Systemic: Confusion-Medium, Systemic: Dizzines...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428423,1497726,07/23/2021,CO,33.0,33.0,NaN,M,NaN,"Systemic: Fainting / Unresponsive-Mild, System...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN
428424,1497727,07/23/2021,AL,35.0,35.0,NaN,F,NaN,"Systemic: Dizziness / Lightheadness-Mild, Syst...",NaN,...,NaN,NaN,NaN,NaN,2,07/23/2021,NaN,NaN,NaN,NaN

In [15]:
VaersVax=VaersVax.dropna(how='all')
VaersVax

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,916600,COVID19,MODERNA,037K20A,1,IM,LA,COVID19 (COVID19 (MODERNA))
1,916601,COVID19,MODERNA,025L20A,1,IM,RA,COVID19 (COVID19 (MODERNA))
2,916602,COVID19,PFIZER\BIONTECH,EL1284,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,COVID19,MODERNA,unknown,UNK,NaN,NaN,COVID19 (COVID19 (MODERNA))
4,916604,COVID19,MODERNA,NaN,1,IM,LA,COVID19 (COVID19 (MODERNA))
...,...,...,...,...,...,...,...,...
445353,1497722,COVID19,PFIZER\BIONTECH,EW0170,2,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
445354,1497724,COVID19,PFIZER\BIONTECH,EW0196,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
445355,1497725,COVID19,PFIZER\BIONTECH,EW0198,1,IM,RA,COVID19 (COVID19 (PFIZER-BIONTECH))
445356,1497726,COVID19,MODERNA,054c21a,1,IM,LA,COVID19 (COVID19 (MODERNA))
445357,1497727,COVID19,PFIZER\BIONTECH,ew0196,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))

#### filtering of missing or inconsistent data

#### check missing/wrong/duplicated values of dataset VAERSVAX, VAERSSYPMTOMS, VAERSDATA

In [16]:
# check whether VAERS_ID is duplicated in dataset VAERSVAX

df=VaersVax.groupby(by='VAERS_ID').agg({'VAERS_ID':'count'})
display(df[df['VAERS_ID']>1])

          VAERS_ID
VAERS_ID
916918           4
917087           2
917138           3
917217           2
917372           2
...            ...
1496698          2
1497413          2
1497415          2
1497575          2
1497703          2

[16075 rows x 1 columns]

In [17]:
# check whether VAERS_ID is duplicated in dataset VAERSSYMPTOMS

df=VaersVax.groupby(by='VAERS_ID').agg({'VAERS_ID':'count'})
display(df[df['VAERS_ID']>1])

          VAERS_ID
VAERS_ID
916918           4
917087           2
917138           3
917217           2
917372           2
...            ...
1496698          2
1497413          2
1497415          2
1497575          2
1497703          2

[16075 rows x 1 columns]

In [18]:
# check whether VAERS_ID is duplicated in dataset VAERSDATA
# VaersData.duplicated('VAERS_ID')
df=VaersSymptoms.groupby(by='VAERS_ID').agg({'VAERS_ID':'count'})
display(df[df['VAERS_ID']>1])

          VAERS_ID
VAERS_ID
916605           2
916611           5
916620           2
916622           2
916625           2
...            ...
1497710          2
1497713          2
1497720          2
1497725          3
1497727          2

[110924 rows x 1 columns]

#### Using temp tables to cleansing dataset, checking misssing/wrong/duplicated values

In [19]:
%load_ext sql

In [20]:
# %sql postgresql://postgres:psql@localhost:5433/final_proj

In [21]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:psql@localhost:5433/final_proj', echo=False)

In [22]:
engine.execute("drop table if exists vaers_symptoms")
engine.execute("drop table if exists vaers_data")
engine.execute("drop table if exists vaers_vax")

In [23]:
VaersData.to_sql('vaers_data', con=engine, index=False)

In [24]:
VaersVax.to_sql('vaers_vax', con=engine,index=False)

In [25]:
VaersSymptoms.to_sql('vaers_symptoms', con=engine, index=False)

#### checking inconsistant data

In [26]:
pd.read_sql('select "VAERS_ID", count(*) from vaers_data group by "VAERS_ID" having count(*)>1',con=engine)

Empty DataFrame
Columns: [VAERS_ID, count]
Index: []

In [27]:
pd.read_sql('select "VAERS_ID", count(*) from vaers_vax group by "VAERS_ID" having count(*)>1',con=engine)

       VAERS_ID  count
0        916918      4
1        917087      2
2        917138      3
3        917217      2
4        917372      2
...         ...    ...
16070   1496698      2
16071   1497413      2
16072   1497415      2
16073   1497575      2
16074   1497703      2

[16075 rows x 2 columns]

In [28]:
pd.read_sql('select "VAERS_ID", count(*) from vaers_symptoms group by "VAERS_ID" having count(*)>1',con=engine)

        VAERS_ID  count
0         916605      2
1         916611      5
2         916620      2
3         916622      2
4         916625      2
...          ...    ...
110919   1497710      2
110920   1497713      2
110921   1497720      2
110922   1497725      3
110923   1497727      2

[110924 rows x 2 columns]

In [29]:
engine.execute('''delete from vaers_data where "VAERS_ID" in 
(select "VAERS_ID" from vaers_vax group by "VAERS_ID" having count(*)>1
union
select "VAERS_ID" from vaers_symptoms group by "VAERS_ID" having count(*)>1
)
''', con=engine)

In [30]:
engine.execute('''delete from vaers_vax where "VAERS_ID" in 
(select "VAERS_ID" from vaers_vax group by "VAERS_ID" having count(*)>1)
''', con=engine)

In [31]:
engine.execute('''delete from vaers_symptoms where "VAERS_ID" in 
(select "VAERS_ID" from vaers_symptoms group by "VAERS_ID" having count(*)>1)
''', con=engine)

In [32]:
engine.execute('''delete from vaers_data where "VAERS_ID" in 
(select "VAERS_ID" from vaers_vax group by "VAERS_ID" having count(*)>1
union
select "VAERS_ID" from vaers_symptoms group by "VAERS_ID" having count(*)>1
)
''', con=engine)

#### deal with wrong data

In [33]:
pd.read_sql('''select * from vaers_data where "AGE_YRS"!="CAGE_YR"
''', con=engine).head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,978056,01/09/2021,None,56.0,55.0,NaN,M,None,Dizziness,None,...,None,None,None,None,2,01/06/2021,None,None,None,None
1,916661,01/01/2021,FL,59.0,0.0,0.0,F,None,"headache, chills, right pain .",None,...,None,None,None,None,2,01/01/2021,None,None,None,None
2,916920,01/01/2021,VT,28.0,0.0,0.0,F,None,"Headsache,vertigo, and nausea",None,...,non e,hypothyroidism,None,None,2,01/01/2021,None,None,None,nka
3,929289,01/06/2021,None,37.0,36.0,NaN,F,None,NauseaVomiting severe back pain that causes na...,None,...,None,None,None,None,2,01/06/2021,None,None,None,None
4,918694,01/01/2021,AK,23.0,25.0,NaN,F,None,"12/24/2020 chills body aches headache, fever ...",None,...,None,None,None,None,2,None,None,None,Y,None

In [34]:
engine.execute('''update vaers_data set "CAGE_YR"="AGE_YRS" where "CAGE_YR"=0 or "CAGE_YR" is null''', con=engine)
engine.execute('''update vaers_data set "AGE_YRS"="CAGE_YR" where "AGE_YRS"=0 or "AGE_YRS" is null''', con=engine)

#### deal with missing values

In [35]:
pd.read_sql('''select * from vaers_data where "STATE" is null or "STATE"=''
''', con=engine).head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916624,01/01/2021,None,27.0,27.0,NaN,F,None,"Swelling, warmth, induration, itchy. All about...",None,...,None,None,None,None,2,01/01/2021,None,None,None,None
1,978056,01/09/2021,None,56.0,55.0,NaN,M,None,Dizziness,None,...,None,None,None,None,2,01/06/2021,None,None,None,None
2,916681,01/01/2021,None,33.0,33.0,NaN,F,None,Post vaccination day 8 developed three small r...,None,...,None,None,None,None,2,01/01/2021,None,Y,None,Macrobid- difficulty breathing ceclor (as a b...
3,916695,01/01/2021,None,34.0,34.0,NaN,F,None,"Headache, chills, joint pain, fatigue and feve...",None,...,COVID + on 12/11/2020,None,None,None,2,01/01/2021,None,None,None,NKA
4,916749,01/01/2021,None,33.0,33.0,NaN,M,None,"Arm soreness at injection site, fatigue, body ...",None,...,None,None,"Fever, 18, meningitis vaccination",None,2,01/01/2021,None,None,None,None

In [36]:
pd.read_sql('''select * from vaers_data where "AGE_YRS" is null or "CAGE_YR" is null
''', con=engine)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,917033,01/01/2021,KS,None,None,NaN,F,None,Loss of fine motor control (typing is difficul...,None,...,None,None,None,None,2,01/01/2021,None,None,None,None
1,917480,01/02/2021,PA,None,None,NaN,U,None,Left hand pain increased from normal arthritis...,None,...,None,None,None,None,2,01/02/2021,None,None,None,None
2,918771,01/02/2021,NY,None,None,NaN,M,None,Severe reaction to influenza vaccine (FLU *20-...,None,...,None,None,None,None,2,10/27/2020,None,None,None,None
3,918805,01/02/2021,FL,None,None,NaN,M,None,Received second of two doses of Shingrix on 12...,None,...,None,"Hypertension, hyperlipidemia, overweight",None,None,2,12/15/2020,None,None,None,No know allergies
4,918831,01/02/2021,None,None,None,NaN,F,None,vaccine reaction,None,...,None,None,None,None,2,12/17/2020,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24060,1497690,07/23/2021,NJ,None,None,NaN,M,None,SUSPECTED CLINICAL VACCINATION FAILURE; SUSPEC...,None,...,None,None,None,USJNJFOC20210735691,2,07/23/2021,None,None,None,None
24061,1497691,07/23/2021,None,None,None,NaN,M,None,UNSPECIFIED SIDE EFFECTS; This spontaneous rep...,None,...,None,None,None,USJNJFOC20210740887,2,07/23/2021,None,None,None,None
24062,1497692,07/23/2021,None,None,None,NaN,U,None,DEATH; STROKE; This spontaneous report receive...,Y,...,None,None,None,USJNJFOC20210741198,2,07/23/2021,None,None,None,None
24063,1497693,07/23/2021,None,None,None,NaN,M,None,SUSPECTED VACCINE FAILURE; SUSPECTED COVID 19;...,None,...,None,Medical History/Concurrent Conditions: Hernia ...,None,USJNJFOC20210742023,2,07/23/2021,None,None,None,None
24064,1497694,07/23/2021,None,None,None,NaN,U,None,SEVERE NERVE DAMAGE IN UPPER EXTREMITIES; This...,None,...,None,None,None,USJNJFOC20210744528,2,07/23/2021,None,None,None,None

In [37]:
engine.execute('''update vaers_data set "AGE_YRS"=(select avg("AGE_YRS") from vaers_data) where "AGE_YRS" is null''',con=engine)
engine.execute('''update vaers_data set "CAGE_YR"=(select avg("CAGE_YR") from vaers_data) where "CAGE_YR" is null''',con=engine)

In [38]:
pd.read_sql('''select * from vaers_data where "SEX" is null or "SEX"='' or "SEX" not in ('F','M','U')
''', con=engine)

Empty DataFrame
Columns: [VAERS_ID, RECVDATE, STATE, AGE_YRS, CAGE_YR, CAGE_MO, SEX, RPT_DATE, SYMPTOM_TEXT, DIED, DATEDIED, L_THREAT, ER_VISIT, HOSPITAL, HOSPDAYS, X_STAY, DISABLE, RECOVD, VAX_DATE, ONSET_DATE, NUMDAYS, LAB_DATA, V_ADMINBY, V_FUNDBY, OTHER_MEDS, CUR_ILL, HISTORY, PRIOR_VAX, SPLTTYPE, FORM_VERS, TODAYS_DATE, BIRTH_DEFECT, OFC_VISIT, ER_ED_VISIT, ALLERGIES]
Index: []

[0 rows x 35 columns]

In [39]:
pd.read_sql('''select * from vaers_data where "DIED" is null or "DIED"='' or "DIED" not in ('Y','N','U')
''', con=engine).head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,01/01/2021,TX,33.0,33.0,NaN,F,None,Right side of epiglottis swelled up and hinder...,None,...,None,None,None,None,2,01/01/2021,None,Y,None,Pcn and bee venom
1,916601,01/01/2021,CA,73.0,73.0,NaN,F,None,Approximately 30 min post vaccination administ...,None,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,None,None,2,01/01/2021,None,Y,None,"""Dairy"""
2,916602,01/01/2021,WA,23.0,23.0,NaN,F,None,"About 15 minutes after receiving the vaccine, ...",None,...,None,None,None,None,2,01/01/2021,None,None,Y,Shellfish
3,916603,01/01/2021,WA,58.0,58.0,NaN,F,None,"extreme fatigue, dizziness,. could not lift my...",None,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",None,2,01/01/2021,None,None,None,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,01/01/2021,TX,47.0,47.0,NaN,F,None,"Injection site swelling, redness, warm to the ...",None,...,Na,None,None,None,2,01/01/2021,None,None,None,Na

In [40]:
engine.execute('''update vaers_data set "DIED"='U' where "DIED" is null  or "DIED"='' or "DIED" not in ('Y','N','U')''',con=engine)

In [41]:
pd.read_sql('''select * from vaers_data where "RECOVD" is null or "RECOVD"='' or "RECOVD" not in ('Y','N','U')
''', con=engine).head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916608,01/01/2021,OH,33.0,33.0,NaN,M,None,Nasal congestion and diarrhea,U,...,None,None,None,None,2,01/01/2021,None,None,None,None
1,916624,01/01/2021,None,27.0,27.0,NaN,F,None,"Swelling, warmth, induration, itchy. All about...",U,...,None,None,None,None,2,01/01/2021,None,None,None,None
2,916626,01/01/2021,NJ,63.0,63.0,NaN,F,None,Redness and itching to hands and forearms. als...,U,...,none,None,None,None,2,01/01/2021,None,None,None,none
3,916665,01/01/2021,KS,45.0,45.0,NaN,F,None,None stated.,U,...,None,None,None,None,2,01/01/2021,None,None,None,Trees Dust Mites Mold Latex
4,916669,01/01/2021,NE,58.0,58.0,NaN,F,None,"Chills, fever and headache",U,...,none,none,None,None,2,01/01/2021,None,None,None,none

In [42]:
engine.execute('''update vaers_data set "RECOVD"='U' where "RECOVD" is null or "RECOVD"='' or "RECOVD"  not in ('Y','N','U')''',con=engine)

In [68]:
pd.read_sql('''select * from vaers_data where "DISABLE" is null or "DISABLE"='' or "DISABLE" not in ('Y','N','U')
''', con=engine).head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,975316,2021-01-26,CA,59.0,59.0,NaN,M,None,MAJOR SORENESS IN KNEE AREA,U,...,heartburn,none,None,None,2,2021-01-26,None,None,None,none
1,975321,2021-01-26,AZ,48.0,48.0,NaN,F,None,skin rash; possible shingles,U,...,None,None,None,None,2,2021-01-26,None,Y,None,None
2,975322,2021-01-26,None,42.0,42.0,NaN,M,None,"diffuse rash appearing to be urticaria. fever,...",U,...,None,None,None,None,2,2021-01-26,None,None,None,None
3,975323,2021-01-26,OH,76.0,76.0,NaN,F,None,temporary loss of consciousness few second eve...,U,...,unknown,unknown,None,None,2,2021-01-26,None,Y,None,none
4,975324,2021-01-26,TX,31.0,31.0,NaN,F,None,Redness at injection site - about 2 inches acr...,U,...,None,"Asthma, thalassemia minor, polycystic ovarian ...",Pain throughout arm and shoulder following TDa...,None,2,2021-01-26,None,None,None,"Bactrim, casein, cane sugar, egg"

In [69]:
engine.execute('''update vaers_data set "DISABLE"='U' where "DISABLE" is null or "DISABLE"='' or "DISABLE"  not in ('Y','N','U')''',con=engine)

In [70]:
pd.read_sql('''select * from vaers_data where "L_THREAT" is null or "L_THREAT"='' or "L_THREAT" not in ('Y','N','U')
''', con=engine).head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,975316,2021-01-26,CA,59.0,59.0,NaN,M,None,MAJOR SORENESS IN KNEE AREA,U,...,heartburn,none,None,None,2,2021-01-26,None,None,None,none
1,975321,2021-01-26,AZ,48.0,48.0,NaN,F,None,skin rash; possible shingles,U,...,None,None,None,None,2,2021-01-26,None,Y,None,None
2,975322,2021-01-26,None,42.0,42.0,NaN,M,None,"diffuse rash appearing to be urticaria. fever,...",U,...,None,None,None,None,2,2021-01-26,None,None,None,None
3,975323,2021-01-26,OH,76.0,76.0,NaN,F,None,temporary loss of consciousness few second eve...,U,...,unknown,unknown,None,None,2,2021-01-26,None,Y,None,none
4,975499,2021-01-26,None,54.0,54.0,NaN,M,None,"Flu Sx, fatigue",U,...,None,None,None,None,2,2021-01-26,None,None,None,None

In [71]:
engine.execute('''update vaers_data set "L_THREAT"='U' where "L_THREAT" is null or "L_THREAT"='' or "L_THREAT"  not in ('Y','N','U')''',con=engine)

In [72]:
pd.read_sql('''select * from vaers_data where"NUMDAYS" is null or "NUMDAYS" !~'\d'
''', con=engine).head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,1286612,2021-05-04,IN,49.0,49.0,None,F,None,"Very sore arm, feeling crummy, low grade tempe...",U,...,05/04/2021,None,None,None,Sulfa drugs,None,None,None,None,None
1,975409,2021-01-26,AZ,44.0,44.0,None,F,None,Shortness of breath 1/26/21 @7:30am Headache 1...,U,...,Asthma arthritis and Migraine,None,None,2,01/26/2021,None,None,None,"Codeine, adhesive, teslon perls",None

In [74]:
engine.execute('''delete from vaers_data where"NUMDAYS" is null or "NUMDAYS" !~'\d' ''')

In [45]:
pd.read_sql('''select * from vaers_data where"NUMDAYS" is null''', con=engine)

Empty DataFrame
Columns: [VAERS_ID, RECVDATE, STATE, AGE_YRS, CAGE_YR, CAGE_MO, SEX, RPT_DATE, SYMPTOM_TEXT, DIED, DATEDIED, L_THREAT, ER_VISIT, HOSPITAL, HOSPDAYS, X_STAY, DISABLE, RECOVD, VAX_DATE, ONSET_DATE, NUMDAYS, LAB_DATA, V_ADMINBY, V_FUNDBY, OTHER_MEDS, CUR_ILL, HISTORY, PRIOR_VAX, SPLTTYPE, FORM_VERS, TODAYS_DATE, BIRTH_DEFECT, OFC_VISIT, ER_ED_VISIT, ALLERGIES]
Index: []

[0 rows x 35 columns]

In [46]:
pd.read_sql('''select * from vaers_data where "TODAYS_DATE" !~ '^\d{2}/\d{2}/\d{4}$' and "VAX_DATE" is not null  ''',con=engine)

Empty DataFrame
Columns: [VAERS_ID, RECVDATE, STATE, AGE_YRS, CAGE_YR, CAGE_MO, SEX, RPT_DATE, SYMPTOM_TEXT, DIED, DATEDIED, L_THREAT, ER_VISIT, HOSPITAL, HOSPDAYS, X_STAY, DISABLE, RECOVD, VAX_DATE, ONSET_DATE, NUMDAYS, LAB_DATA, V_ADMINBY, V_FUNDBY, OTHER_MEDS, CUR_ILL, HISTORY, PRIOR_VAX, SPLTTYPE, FORM_VERS, TODAYS_DATE, BIRTH_DEFECT, OFC_VISIT, ER_ED_VISIT, ALLERGIES]
Index: []

[0 rows x 35 columns]

In [47]:
engine.execute("""update vaers_data set "TODAYS_DATE"=null where "TODAYS_DATE" !~ '^\d{2}/\d{2}/\d{4}$'  """)

In [48]:
pd.read_sql('''select "VAX_DATE" from vaers_data where "VAX_DATE" !~ '^\d{2}/\d{2}/\d{4}$' and "VAX_DATE" is not null ''',con=engine)

     VAX_DATE
0   ibuprofen

In [49]:
engine.execute("""update vaers_data set "VAX_DATE"=null where "VAX_DATE" !~ '^\d{2}/\d{2}/\d{4}$'  """)

In [50]:
pd.read_sql('''select "RECVDATE" from vaers_data where "RECVDATE" !~ '^\d{2}/\d{2}/\d{4}$' and "RECVDATE" is not null ''',con=engine)

Empty DataFrame
Columns: [RECVDATE]
Index: []

In [51]:
engine.execute("""update vaers_data set "RECVDATE"=null where "RECVDATE" !~ '^\d{2}/\d{2}/\d{4}$'  """)

In [52]:
pd.read_sql('''select "ONSET_DATE" from vaers_data where "ONSET_DATE" !~ '^\d{2}/\d{2}/\d{4}$' and "ONSET_DATE" is not null ''',con=engine)

  ONSET_DATE
0          1
1   tylenol"

In [53]:
engine.execute("""update vaers_data set "ONSET_DATE"=null where "ONSET_DATE" !~ '^\d{2}/\d{2}/\d{4}$'  """)

#### data type conversion

In [ ]:
engine.execute('''alter table vaers_data alter "NUMDAYS" type numeric using "NUMDAYS"::numeric''')

In [55]:
engine.execute('''update vaers_data set "RECVDATE"=right("RECVDATE",4)||'-'||left("RECVDATE",2)||'-'||right(left("RECVDATE",5),2)''',con=engine)

engine.execute('''alter table vaers_data alter "RECVDATE" type date using "RECVDATE"::date''',con=engine)
pd.read_sql('''select distinct "RECVDATE" from vaers_data limit 5''',con=engine).head(5)

     RECVDATE
0  2021-07-06
1  2021-05-03
2  2021-02-25
3  2021-03-09
4  2021-07-13

In [56]:
engine.execute('''update vaers_data set "VAX_DATE"=right("VAX_DATE",4)||'-'||left("VAX_DATE",2)||'-'||right(left("VAX_DATE",5),2)''',con=engine)

engine.execute('''alter table vaers_data alter "VAX_DATE" type date using "VAX_DATE"::date''',con=engine)
pd.read_sql('''select distinct "VAX_DATE" from vaers_data limit 5''',con=engine).head(5)

     VAX_DATE
0  2021-03-09
1        None
2  2021-07-13
3  1921-02-17
4  1949-08-15

In [57]:
engine.execute('''update vaers_data set "ONSET_DATE"=right("ONSET_DATE",4)||'-'||left("ONSET_DATE",2)||'-'||right(left("ONSET_DATE",5),2)''',con=engine)

engine.execute('''alter table vaers_data alter "ONSET_DATE" type date using "ONSET_DATE"::date''',con=engine)
pd.read_sql('''select distinct "ONSET_DATE" from vaers_data limit 5''',con=engine).head(5)

   ONSET_DATE
0  2020-12-15
1  2020-03-25
2  2011-01-01
3  2020-12-12
4  2021-03-09

In [58]:
engine.execute('''update vaers_data set "TODAYS_DATE"=right("TODAYS_DATE",4)||'-'||left("TODAYS_DATE",2)||'-'||right(left("TODAYS_DATE",5),2)''',con=engine)

engine.execute('''alter table vaers_data alter "TODAYS_DATE" type date using "TODAYS_DATE"::date''',con=engine)
pd.read_sql('''select distinct "TODAYS_DATE" from vaers_data limit 5''',con=engine).head(5)

  TODAYS_DATE
0  2021-03-09
1  2021-07-13
2        None
3  2021-06-26
4  2021-03-19

# Load into data warehouse

### Load Dimensions

In [59]:
%reload_ext sql

In [77]:
engine.execute("drop table if exists time_dim")
engine.execute("drop table if exists vax_dim")
engine.execute("drop table if exists symptom_dim")
engine.execute("drop table if exists sex_dim")
engine.execute("drop table if exists age_group_dim")
engine.execute("drop table if exists address_dim")
engine.execute("drop table if exists vaers_dim")

In [61]:
sex_dim="""
create table sex_dim
as
select distinct "SEX" as SexId,
case when "SEX" ='U' then 'Unknown'
when "SEX"='M' then 'Male' when "SEX"='F' then 'Female' end as SexDesc
from vaers_data;

"""
engine.execute(sex_dim)

In [62]:
age_group_dim="""

create table age_group_dim
(
AgeGroupId char(2) primary key,
AgeRange text,
AgeGroupDesc text
);
"""
age_group_dim_insert="""

insert into age_group_dim(AgeGroupId, AgeRange,AgeGroupDesc)
select distinct
case when "AGE_YRS"<=6 then 'CH' when "AGE_YRS">6 and "AGE_YRS"<=17 then 'TE'
when "AGE_YRS">17 and "AGE_YRS"<=35 then 'YO'
when "AGE_YRS">35 and "AGE_YRS"<=60 then 'MI'
when "AGE_YRS">60 then 'EL'
else 'UN' end as age_group_id,
case when "AGE_YRS"<=6 then '(0,6]'
when "AGE_YRS">6 and "AGE_YRS"<=17 then '(6,17]'
when "AGE_YRS">17 and "AGE_YRS"<=35 then '(17,35]'
when "AGE_YRS">35 and "AGE_YRS"<=60 then '(35,60]'
when "AGE_YRS">60 then '(60,)'
else 'unknown age' end as age_range,
case when "AGE_YRS"<=6 then 'child' when "AGE_YRS">6 and "AGE_YRS"<=17 then 'teenager'
when "AGE_YRS">17 and "AGE_YRS"<=35 then 'youth'
when "AGE_YRS">35 and "AGE_YRS"<=60 then 'middle-aged'
when "AGE_YRS">60 then 'elderly'
else 'unknown age' end as age_group_desc
from vaers_data;

"""
engine.execute(age_group_dim)
engine.execute(age_group_dim_insert)

In [63]:
symptom_dim="""
create table symptom_dim(
SymptomId serial primary key,
SymptomName text
);

"""
symptom_dim_insert ="""
insert into symptom_dim(SymptomName)
select distinct "SYMPTOM1" as symptom_name
from vaers_symptoms where "SYMPTOM1" is not null

union
select distinct "SYMPTOM2" as symptom_name
from vaers_symptoms  where "SYMPTOM2" is not null

union
select distinct "SYMPTOM3" as symptom_name
from vaers_symptoms  where "SYMPTOM3" is not null

union
select distinct "SYMPTOM4" as symptom_name
from vaers_symptoms  where "SYMPTOM4" is not null
union
select distinct "SYMPTOM5" as symptom_name
from vaers_symptoms  where "SYMPTOM5" is not null
;
"""

engine.execute(symptom_dim)
engine.execute(symptom_dim_insert)

In [64]:

vax_dim="""
create table vax_dim(
VaxId serial primary key,
VaxType text,
VaxName text,
VaxManu text
);

"""
vax_dim_insert="""

insert into vax_dim (
VaxType,
VaxName,
VaxManu
)
select distinct "VAX_TYPE" as VaxType,"VAX_NAME" as VaxName, "VAX_MANU" as VaxManu
from vaers_vax;
"""

engine.execute(vax_dim)
engine.execute(vax_dim_insert)

In [65]:
time_dim="""
create table time_dim
as

select distinct to_char("RECVDATE",'YYYY-MM-DD') as TimeID,extract(year from "RECVDATE") as Year, extract(month from "RECVDATE") as Month,
extract(day from "RECVDATE") as Day
from vaers_data where "RECVDATE" is not null
union
select distinct to_char("VAX_DATE",'YYYY-MM-DD') as TimeID,extract(year from "VAX_DATE") as Year, extract(month from "VAX_DATE") as Month,
extract(day from "VAX_DATE") as Day
from vaers_data where "VAX_DATE" is not null

union
select distinct to_char("ONSET_DATE",'YYYY-MM-DD') as TimeID,extract(year from "ONSET_DATE") as Year, extract(month from "ONSET_DATE") as Month,
extract(day from "ONSET_DATE") as Day
from vaers_data where "ONSET_DATE" is not null

union
select distinct to_char("TODAYS_DATE",'YYYY-MM-DD') as TimeID,extract(year from "TODAYS_DATE") as Year, extract(month from "TODAYS_DATE") as Month,
extract(day from "TODAYS_DATE") as Day
from vaers_data where "TODAYS_DATE" is not null
;
"""

engine.execute(time_dim)

In [66]:
state_dim="""
create table address_dim
as
select distinct case when "STATE" is not null then "STATE" else 'U' end as StateId,
case when "STATE" is not null then "STATE" else 'Unknown' end as State
from vaers_data;
"""

engine.execute(state_dim)

In [78]:
vaers_dim="""
create table vaers_dim
(
VearsStateId serial primary key,
Died text,
Recovered text,
LifeThreat text,
Disable text
);

"""
vaers_dim_insert="""
insert into vaers_dim(Died, Recovered,LifeThreat, Disable)
select distinct "DIED", "RECOVD","L_THREAT","DISABLE"
from vaers_data;
"""

engine.execute(vaers_dim)
engine.execute(vaers_dim_insert)

### Load Fact

In [80]:
fact="""
create table vaers_fact
as
select to_char("ONSET_DATE",'YYYY-MM-DD') as TimeId,
sd.symptomid, 
vd."SEX" as SexId,
case when "AGE_YRS"<=6 then 'CH'
when "AGE_YRS">6 and "AGE_YRS"<=17 then 'TE'
when "AGE_YRS">17 and "AGE_YRS"<=35 then 'YO'
when "AGE_YRS">35 and "AGE_YRS"<=60 then 'MI'
when "AGE_YRS">60 then 'EL'
else 'UN' end as agegroupid,
vad.vaxid,
vd."STATE" as StateId,
vasd.VearsStateId,
count(vd."VAERS_ID") as totalnumber,
min(vd."NUMDAYS") as MinOnsetDay,
max(vd."NUMDAYS") as MaxOnsetDay

from vaers_data vd
join vaers_symptoms vs on vd."VAERS_ID"=vs."VAERS_ID"
join symptom_dim sd on sd.symptomname=vs."SYMPTOM1" or sd.symptomname=vs."SYMPTOM2" or sd.symptomname=vs."SYMPTOM3"
or sd.symptomname=vs."SYMPTOM4" or sd.symptomname=vs."SYMPTOM5"
join vaers_vax vv on vv."VAERS_ID"=vd."VAERS_ID"
join vax_dim vad on vad.vaxtype=vv."VAX_TYPE" 
join vaers_dim vasd on vasd.died=vd."DIED" and vasd."disable"=vd."DISABLE" and vasd.lifethreat=vd."L_THREAT" 
and vasd.recovered=vd."RECOVD"
group by 
to_char("ONSET_DATE",'YYYY-MM-DD') ,
sd.symptomid,
vd."SEX",
case when "AGE_YRS"<=6 then 'CH'
when "AGE_YRS">6 and "AGE_YRS"<=17 then 'TE'
when "AGE_YRS">17 and "AGE_YRS"<=35 then 'YO'
when "AGE_YRS">35 and "AGE_YRS"<=60 then 'MI'
when "AGE_YRS">60 then 'EL'
else 'UN' end,
vad.vaxid,
vd."STATE",
vasd.vearsstateid

"""

engine.execute(fact)

# OLAP Analysis

## Business Q1: What are the symptoms at different ages after getting the COVID-19 vaccine? Which symptoms are the most 5?

In [82]:
pd.read_sql("""select agd.agegroupdesc, sd.symptomname,  sum(vf.totalnumber) as total_number
from vaers_fact vf 
join symptom_dim sd on sd.symptomid=vf.symptomid
join age_group_dim agd on agd.agegroupid=vf.agegroupid
join vax_dim vd on vd.vaxid=vf.vaxid
where vd.vaxtype='COVID19'
group by agd.agegroupdesc, sd.symptomname
order by total_number desc limit 5;
""",con=engine)

  agegroupdesc symptomname  total_number
0  middle-aged    Headache       85940.0
1  middle-aged     Pyrexia       66560.0
2  middle-aged        Pain       64385.0
3  middle-aged     Fatigue       60755.0
4  middle-aged      Chills       57300.0

## Bussiness Q2: Looking at the vaccines developed by different companies for COVID-19, which company developed the vaccines that produced the most adverse reactions? Which company's vaccine produced the fewest adverse reactions?

In [84]:
pd.read_sql('''
select 'most' as vaers, vaxmanu,symptomname, total_number 
from
(
select vd.vaxmanu, sd.symptomname,  sum(vf.totalnumber) as total_number, dense_rank() over(order by sum(vf.totalnumber) desc) as rank
from vaers_fact vf 
join symptom_dim sd on sd.symptomid=vf.symptomid
join vax_dim vd on vd.vaxid=vf.vaxid
where vd.vaxtype='COVID19'
group by vd.vaxmanu, sd.symptomname
) t1 where rank=1
union
select 'least' as vaers, vaxmanu, symptomname, total_number 
from
(
select vd.vaxmanu, sd.symptomname,  sum(vf.totalnumber) as total_number,dense_rank() over(order by sum(vf.totalnumber)) as rank
from vaers_fact vf 
join symptom_dim sd on sd.symptomid=vf.symptomid
join vax_dim vd on vd.vaxid=vf.vaxid
where vd.vaxtype='COVID19'
group by vd.vaxmanu, sd.symptomname
) t2
where rank=1 order by total_number desc

''',con=engine)

,vaers,vaxmanu,symptomname,total_number
0,most,PFIZER\BIONTECH,Headache,68782.0
1,least,JANSSEN,Pain management,1.0
2,least,MODERNA,Therapeutic aspiration,1.0
3,least,UNKNOWN MANUFACTURER,Dysmetria,1.0
4,least,UNKNOWN MANUFACTURER,Thermometry abnormal,1.0
...,...,...,...,...
5507,least,JANSSEN,Keratolysis exfoliativa acquired,1.0
5508,least,MODERNA,Plasma cell myeloma recurrent,1.0
5509,least,JANSSEN,Extradural haematoma,1.0
5510,least,JANSSEN,Stroke in evolution,1.0
5511,least,MODERNA,Ventricular tachyarrhythmia,1.0

## Bussiness Q3: What is the mortality rate after vaccination against COVID-19 in different states?

In [86]:
pd.read_sql("""

select t2.state, round(t1.died_number *100/t2.total_number,2) ||'%' as died_percent
from 
(

select ad.state, sum(vf.totalnumber) as died_number
from vaers_fact vf 
join address_dim ad on ad.stateid=vf.stateid
join vaers_dim vd on vd.vearsstateid=vf.vearsstateid
join vax_dim vad on vad.vaxid=vf.vaxid
where vd.died='Y' and vad.vaxtype='COVID19'
group by ad.state
) t1 join
(
select ad.state,  sum(vf.totalnumber) as total_number
from vaers_fact vf 
join address_dim ad on ad.stateid=vf.stateid
join vax_dim vad on vad.vaxid=vf.vaxid
where vad.vaxtype='COVID19'
group by ad.state
) t2 on t1.state=t2.state;

""",con=engine)

   state died_percent
0     AK        1.21%
1     AL        1.31%
2     AR        1.66%
3     AZ        0.67%
4     CA        0.71%
5     CO        0.88%
6     CT        0.66%
7     DC        0.95%
8     DE        0.86%
9     FL        0.83%
10    GA        0.92%
11    GU        2.94%
12    HI        1.06%
13    IA        1.33%
14    ID        0.67%
15    IL        1.32%
16    IN        0.41%
17    KS        1.66%
18    KY        2.79%
19    LA        0.92%
20    MA        0.70%
21    MD        0.72%
22    ME        0.70%
23    MI        1.17%
24    MN        1.53%
25    MO        1.10%
26    MS        1.59%
27    MT        0.93%
28    NC        0.78%
29    ND        1.32%
30    NE        1.42%
31    NH        1.33%
32    NJ        0.77%
33    NM        1.54%
34    NV        1.07%
35    NY        0.72%
36    OH        0.95%
37    OK        0.23%
38    OR        0.73%
39    PA        0.91%
40    PR        7.05%
41    RI        1.25%
42    SC        0.46%
43    SD        1.36%
44    TN        1.39%
45    TX        0.65%
46    UT        0.44%
47    VA        0.73%
48    VT        0.77%
49    WA        0.69%
50    WI        0.93%
51    WV        2.08%
52    WY        1.26%

## Bussiness Q4: Please find recovery rates and highest onset days after Covid-19 vaccination for men and women by age group.

In [87]:
pd.read_sql(
"""

select t2.agegroupdesc, t2.sexdesc, round(t1.recovered_number *100/t2.total_number,2) ||'%' as died_percent
from 
(
select agd.agegroupdesc,sd.sexdesc, sum(vf.totalnumber) as recovered_number
from vaers_fact vf 
join age_group_dim agd on agd.agegroupid=vf.agegroupid
join sex_dim sd on sd.sexid=vf.sexid
join vaers_dim vd on vd.vearsstateid=vf.vearsstateid
join vax_dim vad on vad.vaxid=vf.vaxid
where vd.recovered='Y' and vad.vaxtype='COVID19'
group by agd.agegroupdesc,sd.sexdesc
) t1
join
(
select agd.agegroupdesc,sd.sexdesc, sum(vf.totalnumber) as total_number
from vaers_fact vf 
join age_group_dim agd on agd.agegroupid=vf.agegroupid
join sex_dim sd on sd.sexid=vf.sexid
join vaers_dim vd on vd.vearsstateid=vf.vearsstateid
join vax_dim vad on vad.vaxid=vf.vaxid
where vad.vaxtype='COVID19'
group by agd.agegroupdesc,sd.sexdesc
) t2 on t1.agegroupdesc=t2.agegroupdesc and t1.sexdesc=t2.sexdesc

""",
    con=engine
)

   agegroupdesc  sexdesc died_percent
0         child   Female       45.80%
1         child     Male       41.00%
2         child  Unknown       40.00%
3       elderly   Female       38.49%
4       elderly     Male       35.71%
5       elderly  Unknown       22.94%
6   middle-aged   Female       37.86%
7   middle-aged     Male       38.57%
8   middle-aged  Unknown       62.05%
9      teenager   Female       49.70%
10     teenager     Male       48.47%
11     teenager  Unknown       34.69%
12        youth   Female       40.72%
13        youth     Male       47.88%
14        youth  Unknown       34.85%

## Bussiness Q5: Which year has the greatest number of deaths and life threat at risk from vaccinations?

In [90]:
pd.read_sql("""

select 'died' as vaers,td.year, vad.vaxtype, sum(vf.totalnumber) as total_number
from vaers_fact vf 
join time_dim td on td.timeid=vf.timeid
join vaers_dim vd on vd.vearsstateid=vf.vearsstateid
join vax_dim vad on vad.vaxid=vf.vaxid
where vd.died='Y'
group by td.year, vad.vaxtype
union
select 'lifethreat' as vaers,td.year, vad.vaxtype, sum(vf.totalnumber) as total_number
from vaers_fact vf 
join time_dim td on td.timeid=vf.timeid
join vaers_dim vd on vd.vearsstateid=vf.vearsstateid
join vax_dim vad on vad.vaxid=vf.vaxid
where vd.lifethreat='Y'
group by td.year, vad.vaxtype
order by total_number desc
""",con=engine)

         vaers    year     vaxtype  total_number
0   lifethreat  2021.0     COVID19       43645.0
1         died  2021.0     COVID19       36010.0
2         died  2021.0         UNK         561.0
3         died  2020.0     COVID19         505.0
4   lifethreat  2021.0         UNK         387.0
5   lifethreat  2020.0     COVID19         365.0
6         died  2020.0      VARZOS          27.0
7   lifethreat  2019.0         UNK          24.0
8   lifethreat  2012.0         UNK          21.0
9   lifethreat  2021.0      VARZOS          21.0
10        died  2020.0        FLU4          18.0
11        died  2021.0      VARZOS          18.0
12  lifethreat  2020.0      VARZOS          18.0
13        died  2021.0        FLU4          18.0
14        died  2018.0      VARZOS          15.0
15        died  2019.0         HEP          12.0
16  lifethreat  2020.0         UNK          12.0
17  lifethreat  2020.0        FLU4          12.0
18        died  2021.0        MENB          10.0
19        died  2019.0      VARZOS           9.0
20  lifethreat  2017.0        HIBV           8.0
21        died  2000.0         MMR           8.0
22  lifethreat  2018.0        HEPA           8.0
23        died  2021.0         PPV           8.0
24  lifethreat  1957.0         UNK           6.0
25  lifethreat  2021.0        MENB           6.0
26  lifethreat  2021.0        ANTH           6.0
27  lifethreat  2021.0       PNC13           5.0
28        died  2020.0       FLUC4           5.0
29  lifethreat  2014.0         HEP           4.0
30        died  2019.0         UNK           3.0
31        died  2021.0        TDAP           3.0
32  lifethreat  2021.0        JEV1           2.0
33        died  2021.0  DTAPIPVHIB           2.0
34  lifethreat  2021.0         RV1           2.0
35  lifethreat  2021.0        HPV9           1.0

In [ ]:
# %sql postgresql://postgres:psql@localhost:5433/final_proj